.yv-header {
	.yv-sticky-header-content	{
		border-bottom: solid 1px #ddd;
		height: 70px;
		padding: 12.5px 16px;
		left: 0;
		width: 100%;
		background-color: #fff;
		display: flex;
		align-items: center;

		.yv-header-search {
			input {
				border: solid 1px #ddd;
				border-radius: 5px;
				margin:0;
			}
		}

		.yv-header-right {
			transition: opacity 0.5s ease-in-out;
			opacity: 0;
			display: flex;
	    flex-direction: row;

			&.ready {
				opacity: 1;
			}

			.search {
				margin-right: 15px;
				border: none;
				&.open {
					@media @small-only {
						position: absolute;
				    left: 0;
				    top: 0;
				    height: 100%;
						padding: 5px;
						background: white;
						* {
							background: white;
						}
						border: @thin-grey-border;
					}
				}
			}
		}
	}

	&.yv-header-scroll {
		.yv-sticky-header-content {
		  overflow-x: scroll;
			overflow-y: hidden;
		  padding: 10px 15px 5px 15px;
		  border-bottom: none;
		}

		.yv-sectioned-heading {
		  min-width: 400px;
		  background-color: #eee;
		  border-radius: 5px;
		  padding: 8px 15px;
		}

		.small-header {
			background: @light-grey;
			border-radius: 10px;
			border: @thin-grey-border;
			.search {
				padding: 10px 2px;
				margin-right: 33px;
				background: @light-grey;
				* {
					background: @light-grey;
				}
			}

		}
	}

	&.yv-header-scroll-lock {
		.yv-sticky-header-content {
			overflow: visible;
		}
	}
	.explore-icon {
		width: 17px;
		height: 17px;
		margin-top: -20px !important;
	}
}

.yv-profile-menu-container {
	top: 70px;
	right: 0;
}

@import './ProfileMenu.less';
