.yv-header {
	border-bottom: solid 1px #ddd;
	height: 70px;
	padding: 12.5px 16px;
	position: fixed;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 99;
	display: flex;
	align-items: center;

	.yv-header-search {
		input {
			border: solid 1px #ddd;
			border-radius: 5px;
			margin:0;
		}
	}

	.yv-header-right {
		transition: opacity 0.5s ease-in-out;
		opacity: 0;

		&.ready {
			opacity: 1;
		}
	}
}

.yv-profile-menu-container {
	top: 45px;
	right: -32px;
}

@import './ProfileMenu.less';
