.yv-header {
	.yv-sticky-header-content	{
		border-bottom: solid 1px #ddd;
		height: 70px;
		padding: 12.5px 16px;
		left: 0;
		width: 100%;
		background-color: #fff;
		display: flex;
		align-items: center;

		.yv-header-search {
			input {
				border: solid 1px #ddd;
				border-radius: 5px;
				margin:0;
			}
		}

		.yv-header-right {
			transition: opacity 0.5s ease-in-out;
			opacity: 0;
			display: flex;
	    flex-direction: row;

			&.ready {
				opacity: 1;
			}

			.search {
				margin-right: 15px;
				&.open {
					@media @small-only {
						position: absolute;
				    left: 0;
				    top: 0;
				    height: 100%;
					}
				}
			}
		}
	}

	&.yv-header-scroll {
		.yv-sticky-header-content {
		  margin-top: 0;
		  overflow-x: scroll;
			overflow-y: hidden;
		  padding: 5px;
		  border-bottom: none;
		}

		.yv-sectioned-heading {
		  min-width: 400px;
		  background-color: #eee;
		  border-radius: 5px;
		  padding: 8px 15px;
		}
	}

	&.yv-header-scroll-lock {
		.yv-sticky-header-content {
			overflow: visible;
		}
	}
	.explore-icon {
		width: 18px;
		height: 18px;
		margin-top: -20px !important;
	}
}

.yv-profile-menu-container {
	top: 70px;
	// right: -32px;
}

@import './ProfileMenu.less';
