.yv-profile-menu {
	width: 243px;
	border: solid 1px #ddd;

	.card {
		padding: 16px;
	}

	.yv-profile-avatar-name {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.yv-profile-name {
		font-size: 14px;
    margin-left: 15px;
    text-overflow: ellipsis;
    width: auto;
    overflow: hidden;
		color: #444;
		font-weight: bold;
	}

	.yv-profile-user-links {
		display: flex;
    margin-top: 15px;
    flex-wrap: wrap;

		a {
			font-size: 12px;
	    color: #606061;
	    flex: 1 0 50%;
			line-height: 35px;

			&:hover {
				color: #6ab750;
			}
		}
	}

	.yv-profile-footer {
		border-top: solid 1px #ddd;
		display: flex;
		justify-content: center;
		margin-top: 15px;

		a {
			font-size: 12px;
			color: #6ab750;
			margin-top: 16px;

			&:hover {
	    	color: #606061;
			}
		}
	}
}
