:ruby
  is_home_url       = current_page?(moments_path)

- if current_auth
  %nav.sign_in
    %a{href: user_path(current_auth.username), title: t("users.go to your profile")}
      %span
        %img{src: current_user.user_avatar_url["px_24x24"]}
        %span.user_name=current_auth.username

  %ul.nav_user
    %li.highlights
      %a{href: highlights_user_path(current_auth.username), title: t("highlights.title") }
    %li.bookmarks
      %a{href: bookmarks_user_path(current_auth.username), title: t("bookmarks.title")}
    %li.notes
      %a{href: notes_user_path(current_auth.username), title: t("notes title")}
    %li.auth
      %a#header_profile_trigger{:href => '#'}
        =t("more")

      #header_profile_menu
        %span.arrow
        %ol
          %li.header_profile_menu_activity
            %a{href: user_path(current_auth.username)}
              =t("users.profile.tab activity")
          %li.header_profile_menu_friends
            %a{href: user_friends_path(user_id: current_auth.username)}
              =t("users.profile.tab friends")
          - #%li
          - #  %a{href: badges_user_path(current_auth.username)}
          - #    =t("users.profile.tab badges")
          %li.header_profile_menu_settings
            %a{href: "/settings"}
              =t("settings")
          %li.header_profile_menu_signout
            %a{href: sign_out_path}
              =t("sign out")

  .user_options
    %a.friend-requests-btn.popover-link{href: "#", class: is_home_url ? 'home-url' : '', title: t("friendships.requests title") }
      =t("friendships.requests title")
      %span.friend-request-count.badge
    - if current_user.enable_friendships?
      = render partial: "shared/header/friends"
    - else
      = render partial: "shared/header/update_profile"

    %a.notifications-btn.popover-link{href: "#", class: is_home_url ? 'home-url' : '', title: t("notifications.title") }
      =t("notifications.title")
      %span.notifications-count.badge
    = render partial: "shared/header/notifications"

