%div.header-popover.notifications
  %span.arrow
  %h4
    = t("notifications.title")
  %span.clear
  .popover-data-container
    %ul.notifications-list
      %li.notifications-item
        %p.loading-indicator
          = t("ui.loading indicator text")
  .view-all
    %a.text-link.wide{href:"/notifications"}
      = t("notifications.view all")

%script#notifications-tmpl{type:"text/x-handlebars-template"}
  :plain
    <ul class="notifications-list">
      {{#each notifications}}
      <li class="notifications-item">
        <a href="{{attributes.action_url}}">
          <p>{{attributes.moment_title}}</p>
        </a>
      </li>
      {{else}}
      <li class="notifications-item notifications-empty">
        <p>#{t("notifications.none")}</p>
      </li>
      {{/each}}
    </ul>