- # handlebars templates are in /shared/js_templates
%div.header-popover.notifications
  %span.arrow
  %h4
    = t("notifications.title")
  %span.clear
  .popover-data-container
    %ul.notifications-list
      %li.notifications-item
        %p.loading-indicator
          = t("ui.loading indicator text")
