%div.header-popover.notifications

%script#notifications-tmpl{type:"text/x-handlebars-template"}
  :plain
    <span class="arrow"></span>
    <h4>Notifications</h4>
    <span class="clear"></span>
    <ul class="notifications-list">
      {{#each notifications}}
      <li class="notifications-item">  
        <p>{{attributes.moment_title}}</p>
      </li>
      {{/each}}
    </ul>
    <div class="view-all">
      <a href="/notifications" class="text-link wide">View all Notifications</a>
    </div>