-# Friends and notification popovers
%div.header-popover.friend-requests
  %span.arrow
  %h4 Friend Requests
  %span.clear
  .popover-data-container
    %ul
      %li
        %p.loading-indicator Loading ...
    .view-all
      %a.text-link.wide{href:"/notifications"}
        View all Notifications

%script#friend-requests-tmpl{type:"text/x-handlebars-template"}
  :plain
    <ul>
      {{#each incoming}}
      <li>  
        <div class="list-item">
          <div class="item-content">
            <img class="round-avatar" src="{{avatars.collection.1.url}}" height="48" width="48" />
            <a href="/users/{{username}}" class="text-link">{{name}}</a>
            <p>wants to be your friend</p>
          </div>
          <div class="item-actions">
            
            <form accept-charset="UTF-8" action="/friendships?user_id={{id}}" method="post">
              <input name="utf8" type="hidden" value="✓" />
              <input name="authenticity_token" type="hidden" value="#{form_authenticity_token}" />
              <button type="submit" class="action_button_green action-add">Add</button>
            </form>

            <form accept-charset="UTF-8" action="/friendships/{{id}}" method="post">
              <input name="utf8" type="hidden" value="✓" />
              <input name="_method" type="hidden" value="DELETE" />
              <input name="authenticity_token" type="hidden" value="#{form_authenticity_token}" />
              <button type="submit" class="action_button_grey action-add">Ignore</button>
            </form>

          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="view-all">
      <a href="/friendships/requests" class="text-link wide">View all requests</a>
    </div>