- # handlebars templates are in /shared/js_templates
%div.header-popover.friend-requests
  %span.arrow
  %h4
    = t("friendships.requests title")
  %span.clear
  .popover-data-container
    %ul
      %li
        %p.loading-indicator
          = t("ui.loading indicator text")