<for(ampComponent in input.ampComponents)>
  $ const attrs = {
    async: true,
    [`custom-${ampComponent.type}`]: ampComponent.name,
    src: `https://cdn.ampproject.org/v0/${ampComponent.name}-0.1.js`
  }
  <script ...attrs ></script>
</for>
