<nav>
  <ul class="list pl0">
    <li>
      <a role="button" tabindex="0" on="tap: app-language-list.show" class="dib w-100 tc bg-white pl3 pr3 pt2 pb2 br2 ba mid-gray b--black-20 f7 f6-m link nowrap dim pointer">
        English (US) <dropdown-arrow></dropdown-arrow>
      </a>
    </li>
  </ul>
</nav>
