<amp-state id="bible">
  <script type="application/json">
    {
      "language": "${input.language}",
      "book": "${input.book}",
      "languageFilter": "",
      "versionFilter": "",
      "bookFilter": ""
    }
  </script>
</amp-state>
