<nav toolbar="(min-width: 60em)" toolbar-target="footer-logo" class="mt1-l ml2-l pa2-l h-100-l">
  <ul class="list pl0 mt4 mb4 h-100-l">
    <li class="h-100-l">
      <div class="flex items-center justify-center justify-start-l h-100-l">
        <youversion-logo></youversion-logo>
      </div>
    </li>
  </ul>
</nav>
