$ const getCanonicalUrl = require('../../utils/seo').getCanonicalUrl
$ function getLinkUrl(host, locale, path) {
  return `${host}${getCanonicalUrl(input.pageType, input.versionId, input.versionAbbr, input.usfm, locale)}`
}
<link rel="canonical" href="${input.canonicalUrl}">
<link rel="amphtml" href="${input.canonicalUrl}">
<for(locale in input.locales)>
  <link
    rel="alternate"
    hreflang="${locale}"
    href="${getLinkUrl(input.host, locale, input.path)}"
  />
</for>
