<footer class="site-footer bg-white pa3 fixed bottom-0 left-0 w-100 bt b--black-20 z-1 flex items-center">
  <div class="flex items-center w-100">
    <youversion-logo />
  </div>
  <div class="flex">
    <footer-links></footer-links>
  </div>
</footer>
