.yv-faux-footer {
	height: 75px;
	margin-top: 30px;
}

.yv-close-x {
	position: absolute;
	right: 0;
	top: 0;
	padding: 15px !important;
}

.yv-lang-toggle {
  color: #444;
  font-size: 11px;
  margin-right: 10px;
	border: solid 1px #444;
	padding: 3px 10px;
	border-radius: 5px;

	@media @medium-only, @small-only {
		margin-right: 0 !important;
		margin-bottom: 20px;
	}
}

.yv-footer {
	overflow: hidden;

	.yv-social-card {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 450px;

		@media @medium-only, @small-only {
			width: 100%;
			max-width:500px;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}

		a {
			font-size: 14px;
			color: #BBB;
			display: flex;
	    flex-direction: column;
	    justify-content: flex-end;
	    align-items: center;

			svg {
				margin-bottom: 10px;

				@media @medium-only, @small-only {
					margin-top: 10px;
				}
			}
		}
	}

	.yv-footer-wrapper {
		padding: 12.5px 16px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid #DDD;
		box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
		background-color: white;
		transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
		z-index: 51;

		@media @medium-only, @small-only {
			flex-wrap: wrap;
		}

		@media @small-only {
			padding-bottom: 65px;
		}

		&.yv-footer-fixed {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			transform: translateY(0);

			@media @medium-only, @small-only {
				transform: none;
				position: static;
				bottom: auto;
			}
		}

		&.yv-footer-hidden {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			transform: translateY(110%);

			@media @medium-only, @small-only {
				transform: none;
				position: static;
				bottom: auto;
			}
		}

		>.left {
			width: 27%;
			text-align: left;
			display: flex;
			justify-content: flex-start;

			@media @medium-only, @small-only {
				width: 100%;
				justify-content: center;
				text-align: center;
				padding: 20px 0;
			}
		}

		>.center {
			width: 46%;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media @medium-only, @small-only {
				width: 100%;
			}
		}

		>.right {
			width: 27%;
			text-align: right;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			@media @medium-only, @small-only {
				justify-content: center;
				text-align: center;
				width: 100%;
				padding-top: 20px;
				flex-wrap: wrap;
			}
		}

		.bible-icon {
			height: 48px;
			width: 48px;

			&.first-icon {
				@media @medium-only, @small-only {
					margin-right: 10px;
				}
			}
		}

		.green-links {
			a {
				color: @green;
				&:hover {
					text-decoration: underline;
				}

				@media @medium-only, @small-only {
					padding: 5px 5px;
				}
			}
		}

		.gray-links {
			margin-top: 5px;
			a {
				color: #BBB;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		ul {
			list-style: none;
			display: flex;
			justify-content: center;
			font-size: 11px;

			@media @medium-only, @small-only {
				flex-wrap: wrap;
			}

			li {
				margin-right: 12px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
