#react-app-Footer {
	.yv-close-x {
		position: absolute;
		right: 0;
		top: 0;
		padding: 15px !important;
		z-index: 100;
	}

	.green-links {
		a {
			color: @green;
			&:hover {
				text-decoration: underline;
			}

			@media @medium-only, @small-only {
				padding: 5px 5px;
			}
		}
	}

	.gray-links {
		margin-top: 5px;
		a {
			color: #BBB;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		font-size: 11px;
		margin-left: 0;

		li {
			margin-right: 12px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.yv-footer {
	height: 66px;

	.yv-lang-toggle, .yv-link-toggle {
	  color: #777;
	  font-size: 11px;
		border: solid 1px #CCC;
		padding: 3px 10px;
		border-radius: 5px;
		display: inline-block;

		.dropdown-arrow {
			margin-left: 5px;
			padding-top: 4px;
		}
	}

	.yv-left {
		.yv-lang-toggle {
			margin-right: 7px;
		}
	}

	.yv-sticky-header-content {
		padding: 12.5px 16px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid #DDD;
		background-color: white;
		z-index: 51 !important;

		.yv-social-card {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 450px;

			@media @medium-only, @small-only {
				width: 100%;
				max-width:500px;
				flex-wrap: wrap;
				justify-content: space-evenly;
			}

			a {
				font-size: 14px;
				color: #BBB;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;

				svg {
					margin-bottom: 10px;

					@media @medium-only, @small-only {
						margin-top: 10px;
					}
				}
			}
		}

		.bible-icon {
			height: 40px;
			width: 40px;

			&.first-icon {
				margin: 0 7px;
			}
		}
	}
}
