body.modal-open {
	overflow:hidden;
}

.yv-lang-selector {
	width: 100%;

	h2 {
		color: #444;
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
	}

	.card {
		padding-bottom: 85px;
	}

	ul {
		display: block !important;
	}
}
