.yv-link-card {
  .card {
    padding-bottom: 70px;
  }

  .title {
    text-align: center;
    padding: 15px 0;
  }

  .yv-icon-button-group {
    flex-wrap: wrap;
    margin: auto;

    @media @small-only {
      max-width: 272px;
    }

    .yv-icon-button {
      @media @small-only {
        margin: 10px 0;
      }
    }
  }

  ul {
    font-size: 14px;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    li {
      padding: 10px 0;
      margin-right: 0 !important;
      text-align: center;
    }
  }
}
