.yv-inbox-wrapper {
	.yv-notifications-list {
		.yv-notification {
			border-bottom: @thin-grey-border;
		}
	}
}

#react-app-Notifications {
	.yv-notification {
		.card;
		padding: 17px 10px 17px 15px !important;
		margin-bottom: 10px;
	}
}

.yv-notifications-list {
	.yv-notification:hover {
		.heading {
			color: @green;
		}
	}
	.yv-notification {
		padding: 10px 10px 10px 15px;
		.heading {
			color: black;
			font-size: 15px;
		}
	}
}
