.inbox-wrapper {
	.notifications-list {
		.notification {
			border-bottom: @thin-grey-border;
		}
	}
}

.notifications-list {
	.notification {
		padding: 10px 10px 10px 15px;
		.heading {
			color: black;
			font-size: 15px;
		}
	}
}
