.yv-inbox-wrapper {
	.notifications-list {
		.notification {
			border-bottom: @thin-grey-border;
		}
	}
}

#react-app-Notifications {
	.notification {
		.card;
		padding: 17px 10px 17px 15px !important;
		margin-bottom: 10px;
	}
}

.notifications-list {
	.notification:hover {
		.heading {
			color: @green;
		}
	}
	.notification {
		padding: 10px 10px 10px 15px;
		.heading {
			color: black;
			font-size: 15px;
		}
	}
}
