.edit_controls

  font-size: 12px
  margin-top: 0
  line-height: 1em
  color: #999

  span
    padding: 0 10px
    border-left: 1px solid #ddd

  span:first-child
    border-left: none
    padding-left: 0

  span.hidden
    opacity: 0

  span.date
    opacity: 1.0

  a
    text-transform: capitalize
    color: #999

.bookmarks-labels-wrap
  clear: both
  background: #fff
  +round
  font-size: 12px
  line-height: 24px
  overflow: hidden
  +border-radius(0)
  margin: 0
  border-bottom: 5px solid #dedddb
  padding: 10px 15px 15px

  .labels-heading
    line-height: inherit
    padding: 5px 0
    font-size: 15px
    margin: 0 10px 0 0

.bookmarks-labels
  overflow: auto
  margin: 0

  .label
    margin: 0 5px 5px 0
    float: left

    .moment-bm-labels-link
      background-color: #ccc

    a
      color: #fff
      padding: 0 7px
      background-color: #0084c8
      +border-radius(3px)
      font-size: 15px
      height: 30px
      line-height: 28px
      display: block

  .label:first-child
    margin-left: 0


// bookmark styles
// -------------------------------------------------------

.note p.references
  font-size: 13px

// Hoverable edit controls that display edit / delete+confirm links
.edit_controls
  font-size: 12px
  span.hidden
    opacity: 1.0

  a
    text-transform: capitalize
    text-decoration: underline

.split_pane
  padding-top: 0

  .content
    width: auto
    margin-bottom: 0

    > ul
      margin-left: 0

    li:first-child
      padding-top: 0

    ul ul
      margin: 0 !important

    .bookmark
      background: none
      overflow: hidden

    li p
      margin-bottom: 0

    li
      .content
        line-height: 1.25em !important
