#main article.bookmarks
  padding: 0

  .big_list
    margin: 0

  .li_bookmark
    background: none

  li p:last-child
    margin-bottom: 0

.bookmark_edit
  font-size: 12px
  margin-top: -10px

.bookmark_edit p a
  text-transform: capitalize

.created_as_date
  color: #888
  font-size: 12px