// Note: Styles for the "Donate Now" button are combined
// with the sidebar button styles, in _sidebar.sass

#donate_now_wrap
  margin-bottom: 15px
  text-align: right

  .intl
    text-align: center
    display: block
    font-weight: bold

    &:link
      text-decoration: none
    &:hover
      text-decoration: underline

#main .donate
  article
    padding-bottom: 0
    padding-top: 16px
    h1
      line-height: 1em

  .callout
    background: none
    padding-left: 0

  .intl
    padding-top: 8px

  .action_button_green
    .icon_arrow
      background-image: none
      padding: 0

  .emphasis + label,
  input + label,
  select + label
    display: block

  input.address
    width: 100%

//  label
//    margin-top: 16px

  label[for="tr_x_email_customer"]
    margin-top: 0

  div
    button[action="submit"]
      margin-top: 2em
      margin-bottom: 2em

  select#tr_x_state
    margin-top: 0