@media only screen and (max-width: 990px)
  /* Style adjustments for viewports 990px and under go here
  // `Dynamic Menus
  //----------------------------------------------------------------------------------------------------

  .dynamic_menu
    position: absolute
    top: 98px
    font-size: 13px

    .scroll
      background: image-url("menu_scroll.png")
      border: 1px solid #555
      border-right: 0
      overflow-x: hidden
      overflow-y: scroll

    .scroll::-webkit-scrollbar
      background: #222
      width: 15px

    .scroll::-webkit-scrollbar-thumb
      background: #999
      border: 5px solid #222

    .scroll::-webkit-scrollbar-thumb:hover
      background: #ccc


  .menu_arrow
    left: 48%

  .dynamic_menu tr:hover a,
  #menu_book li:hover,
  #menu_chapter li:hover
    background-color: #1f1f1f !important
    background-image: none !important
    text-shadow: none !important


  // `Accordion.
  //----------------------------------------------------------------------------------------------------

  .dynamic_menu .accordion dt
    cursor: pointer

  .dynamic_menu .accordion dt:hover
    background: #2f2f2f

  .dynamic_menu .open_modal dt
    background: image-url("icon_open_modal.png") no-repeat 95% center #1f1f1f

  .dynamic_menu .open_modal dt:hover
    background: image-url("icon_open_modal.png") no-repeat 95% center #2e2e2e

  #menu_bookmark header ul.reference_tokens
    background: none

  #menu_bookmark header ul.reference_tokens > a
    border: none !important

  #menu_bookmark header span
    font-weight: bold
    margin: 0 0 5px 0
    display: block
  #menu_bookmark header .close
    top: 15px

  .dynamic_menu.version_select
    width: 415px

  #menu_version td.audio a div
    background:
      image: image-url("icon_listen.png")
      repeat: no-repeat
      position: 100% -46px
