#menu_book_chapter
  background: #fff
  border: 0px
  width: 100%
  padding: 0px
  position: fixed
  top: 0px
  left: 0
  z-index: 1005

#menu_book_chapter .browse
  background: none
  padding: 0px

#menu_book_chapter .menu_arrow,
.version_select .menu_arrow
  display: none

.version_select
  position: fixed
  top: 0px
  border-radius: 0px
  border: 0px
  padding: 0px
  background: #202020
  width: 100% !important


.version_select .browse
  padding: 0px

.version_select .scroll,
#menu_book_chapter .scroll
  border: 0px
  background: none
  overflow-y: scroll

.version_select th div,
.version_select td div
  word-wrap: normal
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  width: 40%

.version_select tr
  width 100%

.version_select th
  min-width: 6em

  a
    padding: 10px
.version_select td
  width: 80%

  a
    display: block
    width: 100%
    padding: 10px

.version_select tr.other_lang,
.version_select tr.other_lang ~ tr
  display: none

.version_select #see_all
  display: table-row

.version_select #see_all a
  color: $blue
  font-size: 18px
  border: 0px
  background-color: #0C0C0C !important
  margin-left: 20px

.version_select #see_all a:hover
  background-color: #0C0C0C !important

.dynamic_menu .scroll::-webkit-scrollbar-thumb
  background: none

.dynamic_menu tr:hover a,
#menu_book li:hover,
#menu_chapter li:hover
  background-color: #1f1f1f !important
  background-image: none !important
  text-shadow: none !important

.dynamic_menu tr:hover th a
  color: #A6C2CC

.hide_list
  display: none

#invalid_chapter button
  display: none

.version_select .scroll .loading
  display: none

#menu_book_chapter .scroll::-webkit-scrollbar,
.version_select .scroll::-webkit-scrollbar
  display: none

.dynamic_menu.version_select th a
  min-width: 4em