// `Main
//----------------------------------------------------------------------------------------------------

.embedded_reader .verse > strong:first-child
  background: none
  border: none
  color: $body_text