#footer
  font-size: 11px
  padding: 18px 18px 8px
  background-color: #F2F1EF
  border-top: 1px solid #CBC9CF
  color: #888
  a
    color: #888
  a:hover
    color: $blue_light
  .separator
    padding: 0 5px
  p
    margin-bottom: 10px

