@media only screen and (max-width: 990px)
  /* Style adjustments for viewports 990px and under go here

  // `Flash Messages
  //----------------------------------------------------------------------------------------------------

  .flash_error,
  .flash_notice
    margin: 0px
    position: relative
    width: 100%

  .flash_notice
    width: 100%
    top: 47px
    left: 0px !important
    position: absolute !important
    border-radius: 0px !important
    margin: 0px !important
    opacity: 1 !important

  // `Form Overrides
  //----------------------------------------------------------------------------------------------------

  button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"]
    +border-radius(5px)
    +box-shadow(inset rgba(#fff, 0.3) 0 3px 0 0, inset rgba(#000, 0.1) 0 -3px 0 0, #B9B9C8 0 1px 3px 0)
    border: 1px solid #666
    display: inline-block
    font:
      size: 15px
      weight: bold
    line-height: 43px
    height: 44px
    text-align: center
    text-shadow: rgba(#000, 0.5) 0 -1px 0
    padding: 0
    color: #fff
    background: #81a950
    background-image: none
    width: 100%

  button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  button:focus,
  input[type="button"]:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  button:active,
  input[type="button"]:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  button.hover
    background-image: none
    background-color: #6A833C

  textarea,
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"]
    border-color: #bbb
    +background-image(linear-gradient(#eee, #fff))
    height: 44px
    width: 100%
    font-size: 15px

  select
    padding: 8px 10px
    font-size: 15px
    width: 100%

  // `Action Buttons
  //----------------------------------------------------------------------------------------------------

  .float_right
    .action_button_blue,
    .action_button_green,
    .action_button_red,
    .action_button_grey
      padding: 0px 20px

  .float_left
    .action_button_blue,
    .action_button_green,
    .action_button_red,
    .action_button_grey
      padding: 0px 20px

  .action_button_blue,
  .action_button_green,
  .action_button_red,
  .action_button_grey
    +border-radius(5px)
    +box-shadow(inset rgba(#fff, 0.3) 0 3px 0 0, inset rgba(#000, 0.1) 0 -3px 0 0, #B9B9C8 0 1px 3px 0)
    display: block
    line-height: 43px
    text-shadow: rgba(#000, 0.5) 0 -1px 0
    padding: 0
    height: 44px
    width: 100%

  .action_button_blue,
  .action_button_green,
  .action_button_blue:hover,
  .action_button_green:hover,
  .action_button_grey,
  .action_button_red,
  .action_button_grey:hover,
  .action_button_red:hover
    color: #fff
    text-decoration: none

  .action_button_green
    +background-image(linear-gradient(#81a950, #679037))
    background-color: #81a950

  .action_button_green:hover,
  .action_button_green:focus,
  .action_button_green:active
    +background-image(linear-gradient(#5d832f, #436916))
    background-color: #5d832f

  .action_button_green:focus,
  .action_button_green:active
    color: #9cae87

  .action_button_green,
  .action_button_green:hover,
  .action_button_green:focus,
  .action_button_green:active
    border-color: #607346

  .action_button_blue
    background-color: #0077b4

  .action_button_blue:hover,
  .action_button_blue:focus,
  .action_button_blue:active
    background-color: #006091

  .action_button_blue:focus,
  .action_button_blue:active
    color: #87abbe

  .action_button_blue,
  .action_button_blue:hover,
  .action_button_blue:active,
  .action_button_blue:focus
    border-color: #0077b4

  .action_button_grey,
  input[type="submit"].action_button_grey
    background: #ddd
    border-color: #adadad
    color: #666
    text-shadow: rgba(#fff, 0.5) 0 1px 0

  .action_button_grey:hover,
  .action_button_grey:focus,
  .action_button_grey:active,
  input[type="submit"].action_button_grey:hover,
  input[type="submit"].action_button_grey:focus,
  input[type="submit"].action_button_grey:active
    background-color: #bbb

  .action_button_red
    background: #cc0000

  .action_button_red:hover,
  .action_button_red:focus,
  .action_button_red:active
    background-color: #B20000

  input[type="submit"].action_button_red
    background: #cc0000

  input[type="submit"].action_button_red:hover,
  input[type="submit"].action_button_red:focus,
  input[type="submit"].action_button_red:active
    background-color: #B20000

  .action_button_green:focus,
  .action_button_green:active,
  .action_button_blue:focus,
  .action_button_blue:active,
  .action_button_grey:focus,
  .action_button_grey:active,
  .action_button_red:focus,
  .action_button_red:active
    +box-shadow(inset rgba(#000, 0.5) 0 5px 10px 0)

  // Small action buttons
  //----------------------------------------------------------------------------------------------------

  .sm_action_button_blue,
  .sm_action_button_green
    +border-radius(16px)
    +box-shadow(inset rgba(#fff, 0.3) 0 1px 0 0, #fff 0 1px 0 0, #eeedeb 0 0 0 4px)
    border: 1px solid #666
    display: inline-block
    font:
      size: 10px
      weight: bold
    line-height: 1.3
    text-align: center
    text-shadow: rgba(#000, 0.5) 0 1px 0
    padding: 3px 10px

  .sm_action_button_blue,
  .sm_action_button_green,
  .sm_action_button_blue:hover,
  .sm_action_button_green:hover
    color: #fff !important
    text-decoration: none

  .sm_action_button_green
    +background-image(linear-gradient(#81a950, #679037))
    background-color: #81a950 !important

  .sm_action_button_green:hover,
  .sm_action_button_green:focus,
  .sm_action_button_green:active
    +background-image(linear-gradient(#5d832f, #436916))
    background-color: #5d832f !important

  .sm_action_button_green:focus,
  .sm_action_button_green:active
    color: #9cae87 !important

  .sm_action_button_green,
  .sm_action_button_green:hover,
  .sm_action_button_green:focus,
  .sm_action_button_green:active
    border-color: #607346 !important

  .sm_action_button_blue
    +background-image(linear-gradient(#1a90cd, #0077b4))
    background-color: #0077b4 !important

  .sm_action_button_blue:hover,
  .sm_action_button_blue:focus,
  .sm_action_button_blue:active
    +background-image(linear-gradient(#1a7aab, #006091))
    background-color: #006091 !important

  .sm_action_button_blue:focus,
  .sm_action_button_blue:active
    color: #87abbe !important

  .sm_action_button_blue,
  .sm_action_button_blue:hover,
  .sm_action_button_blue:active,
  .sm_action_button_blue:focus
    border-color: #0077b4 !important
    
  //
  // Icons inside buttons:
  //

  .action_button_green .icon_plus,
  .action_button_green .icon_magnify,
  .action_button_green .icon_arrow
    background:
      repeat: no-repeat
      position: left center
    padding: 10px 0 10px 40px

  .action_button_green .icon_plus
    background-image: image-url("icon_plus.png")

  .action_button_green .icon_magnify
    background-image: image-url("icon_magnify.png")

  .action_button_green .icon_arrow
    background-image: image-url("icon_arrow.png")


  // `Image Input.
  //----------------------------------------------------------------------------------------------------

  input[type="image"]:active
    position: relative
    top: 1px

  input[type="image"] + a
    line-height: 29px

  // `Date Input
  //

  input[type="date"]
    width: 100%

  // `Embedded Text Field
  //

  .text_field_embed
    position: relative
    display: block

  .text_field_embed button
    position: absolute
    right: 8px
    top: 6px
  .text_field_embed + .text_field_embed
    margin: 10px 0
  .secret
    margin: 0
    display: none

  // `Header buttons
  //----------------------------------------------------------------------------------------------------

  .save_btn,
  .cancel_btn
    display: block
    div
      height: 28px
      border-radius: 3px
      border: 1px solid #050504
      margin-top: 7px
      line-height: 26px
      padding: 0 8px
      font-size: 13px
      font-weight: bold
      color: #FFF

  .save_btn
    padding-right: 12px
    float: right
    div
      +box-shadow(inset rgba(#000, 0.25) 0 -1px 0 0, inset 0 1px 0 #C7D8B0)
      background: #91B164
      text-shadow: #718457 0 -1px 0

  .cancel_btn
    padding-left: 12px
    float: left
    div
      +box-shadow(inset 0 1px 0 #4E4D4D)
      +background-image(linear-gradient(#302F2F, #050504))
      text-shadow: #000 0 -1px 0

