// `Previous & Next verse arrows
//----------------------------------------------------------------------------------------------------

.full_screen .nav_prev
  left: 25px

.full_screen .nav_next
  right: 40px



// `Re-position drop-down menus
//----------------------------------------------------------------------------------------------------

.full_screen #menu_bookmark .menu_arrow
  left: auto
  right: 10px
