// `Global HTML
//----------------------------------------------------------------------------------------------------

#main article p
  font-size: 15px
body
  background: #efefef
h3
  font-size: 18px
h4
  font-size: 17px

article > h1, article .inner > h1
  display: none

article h1.keep
  font-size: 24px
  display: block
  margin-top: .75em

#container
  padding: 0px

body
  min-width: 0px

#main article
  min-height: 0px !important

#sidebar,
.split_pane .sidebar,
#nav_primary,
header nav.sign_in,
#logo
  display: none !important