article > form.share .character_count
  float: left
  background: #fff
  color: #a20000
  +round
  box-shadow: 0px 1px 0px rgba(#CCC, .5)
  padding: 2px 5px
  margin-top: 5px
  font-size: 11px

#modal_window,
#modal_overlay
  display: block

#modal_window
  border-radius: 0px !important
  background: #f1f1f1
  height: 800px
  width: 100% !important
  position: absolute
  top: -46px
  left: 0px
  z-index: 100000

  header
    box-shadow: none
    border-radius: inherit
    background: #111 image-url("modal_header.png") repeat-x left bottom
    color: #fff
    overflow: visible
    padding: 0 !important
    border: none

    #modal_logo
      background: image-url("yv_logo.png") no-repeat 0 14px
      width: 150px
      height: 50px
      display: block
      margin-left: 90px

    #modal_download
      background: #DDD
      position: relative

      a.action_button_blue
        padding: 6px 10px !important
        width: auto
        margin-left: 90px
        color: #FFF
        font-size: 13px
        font-weight: normal
        letter-spacing: 0
        border-radius: 8px
        -webkit-border-radius: 8px
        -moz-border-radius: 8px

      span.icon
        width: 60px
        height: 65px
        display: block
        position: absolute
        top: -30px
        left: 15px
        background:
          image: image-url("ad_bible_app.png")
          position: -50px 0px

    #modal_ref
      font-size: 26px
      position: absolute
      top: 120px
      color: #303030
      margin-left: 20px

    #modal_version
      color: #909090
      position: absolute
      top: 144px
      font-weight: normal
      margin-left: 20px

  // end #modal_window header

  section
    background: none
    margin-right: 0px
    padding: 10px 0px

  .big
    width: 90%
    margin-bottom: 25px
    padding: 130px 5% 0%
    color: #111
    font:
      size: 22px
      weight: 200
    line-height: 1.4em

  #read_chapter
    margin-left: 15px

    a
      color: #888
      display: inline !important
      padding: 6px 22px !important
      background: rgb(250,250,250)
      margin: 0 auto
      font-size: 13px
      font-weight: normal
      text-decoration: none
      text-shadow: none !important
      border: 1px solid #DDD
      border-radius: 20px
      -webkit-border-radius: 20px
      -moz-border-radius: 20px

    a:active
      color: #555
      background: rgb(200,200,200)

  aside,
  .close,
  .separator,
  .verse .label
    display: none

  .verse .content
    border: 0px

  .action_button_green:focus,
  .action_button_green:active,
  .action_button_blue:focus,
  .action_button_blue:active
    +box-shadow(rgba(#000, 0.2) 0 0 0 4px, inset rgba(#000, 0.5) 0 5px 10px 0)

// Share Tab styles
.tabs ul li a
  color: $gray_medium
  font-weight: bold
  margin: 0 auto
  background: image-url("tab_deselected.png") #eae9ec bottom center repeat-x
  float: left
  width: 140px
  +round-top
  padding: 12px 0px
  margin: 0 10px 0 0
  font-size: 13px


.tabs ul li.selected_tab a
  background: image-url("tab_selected.png") #eae9ec top center repeat-x
  color: $blue

.tabs ul li a span
  display: block
  width: 45px
  margin: 0 auto
  padding-left: 20px

#share_tab a span
  background: image-url("share_tab_icon.png") left -30px no-repeat

.selected_tab a #share_tab a span
  background: image-url("share_tab_icon.png") left 5px no-repeat

#link_tab a span
  background: image-url("link_tab_icon.png") left -30px no-repeat

.selected_tab a #link_tab a span
  background: image-url("share_tab_icon.png") left 5px no-repeat


#share_tab_content .share_services
  float: left
  width: 100px
#share_tab_content .share_services span
  display: block
#share_tab_content .share_message
  float: right
  width: 300px

.share_message textarea
  height: 100px

#share_tab_content .share_message span
  float: left
  margin-top: 5px

#share_tab_content .share_message .character_count
  float: right
  background: #fff
  color: #a20000
  +round
  box-shadow: 0px 1px 0px rgba(#222, .5)
  padding: 2px 5px
  margin-top: 5px
  font-size: 11px
.tabs ul
  margin: 0px
  padding: 0px
.tabs ul li
  list-style: none
  margin:
    right: 10px
    left: 0px

.share_action
  float: right
.share_action a
  float: right
.share_action a .action_button_green
  float: right
  padding:
    left: 15px !important
    right: 15px !important
.action_cancel
  padding: 5px 0px 0px 0px
  margin-right: 10px
  color: #676767
  text-decoration: underline

.share_services span .faux_checkbox
  float: left
  padding-right: 5px

.share_verse_twitter
  background: image-url("share_twitter_logo.png")
  text-indent: -30000px
  width: 65px
  height: 13px
  display: block
  float: left
  margin-top: 8px

.share_verse_facebook
  background: image-url("share_facebook_logo.png")
  text-indent: -30000px
  width: 65px
  height: 13px
  display: block
  float: left
  margin-top: 8px
