#nav_mobile
  margin-bottom: -20px
  li
    list-style-type: none
    background: #2a2a2a
    width: 100%
    margin-left: 0px
    border-bottom: 1px solid #040404
    border-top: 1px solid #393939
    height: 42px

    a
      color: #fff
      text-decoration: none
      display: block
      height: 42px
      line-height: 42px
      font-weight: bold

#nav_mobile a.icon span
  margin-left: 56px
  span
    margin-left: 0

#nav_mobile a.icon
  background:
    repeat: no-repeat

#nav_mobile_today a.icon
  background:
    image: image-url("m_nav_sprite.png")
    position: 12px 5px

#nav_mobile_bible a.icon
  background:
    image: image-url("m_nav_sprite.png")
    position: 12px -52px

#nav_mobile_plans a.icon
  background:
    image: image-url("m_nav_sprite.png")
    position: 12px -163px

#nav_mobile_notes a.icon
  background:
    image: image-url("m_nav_sprite.png")
    position: 12px -220px

#nav_mobile_bookmarks a.icon
  background:
    image: image-url("m_nav_sprite.png")
    position: 12px -108px

#nav_mobile_friends a.icon
  background:
    image: image-url("m_nav_sprite.png")
    position: 12px -272px

#nav_mobile_live a.icon
  background:
    image: image-url("m_nav_sprite.png")
    position: 12px -330px

#nav_mobile_mobile a.icon
  background:
    image: image-url("m_nav_sprite.png")
    position: 12px -387px

#nav_mobile_profile a.icon
  background:
    image: image-url("m_nav_sprite.png")
    position: 12px -554px
