/* About page */

.partners_content .partners_box
  margin: 0 0 24px 0
  div
    margin: 0
    padding: 0
    text-align: center
    img
      border: 1px solid #F4F4F4
      width: 100%

/* Press page */

#main article.press
  .press_resources
  ul
    margin-top: 0
    li
      margin: 0
      padding: 0
      background: none
      padding-top: 20px
      h4
        line-height: 20px
        margin-bottom: 4px
      a
        font-weight: bold
        text-decoration: none
      p
        line-height: 20px
        margin: 0
    li:first-child
      padding-top: 0
  img[alt="Press_image"]
    width: 100%

/* Mobile page */

#main article.mobile
  font-size: 13px
  line-height: 1.7

#mobile_content
  overflow: hidden
  margin-bottom: 10px
  h1
    line-height: 1.18em
  section.main
    p
      margin-bottom: 10px
  .multilingual
    float: right
    text-align: center
    padding: 0 10px
    width: 50%
    border-left: 1px solid #e1e1e1
    margin-left: 15px
    p
      font-size: 13px
      line-height: 1.4
    h3
      font-size: 12px
      margin: 0 0 5px 0

#mobile_downloads h3
  font-size: 15px

#mobile_downloads ul
  list-style: none
  width: 50%

#mobile_downloads
  .left_column
    float: left
    width: 50%
  .right_column
    float: left
    padding-left: 10px
    width: 46%

#mobile_downloads
  .left_column
    float: left
    width: 50%
  .right_column
    float: left
    padding-left: 10px
    width: 46%

#mobile_downloads ul li
  background: none
  padding: 0
  margin: 10px 0

#mobile_downloads ul li a
  font-weight: bold
  color: $green

#mobile_downloads a.cta
  background: image-url("mobile_download.png") 14px center no-repeat #81a951 !important
  background: -moz-linear-gradient(top,  #81a951 0%, #679037 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#81a951), color-stop(100%,#679037))
  background: -webkit-linear-gradient(top,  #81a951 0%,#679037 100%)
  background: -o-linear-gradient(top,  #81a951 0%,#679037 100%)
  background: -ms-linear-gradient(top,  #81a951 0%,#679037 100%)
  background: linear-gradient(top,  #81a951 0%,#679037 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81a951', endColorstr='#679037',GradientType=0 )
  display: block
  padding: 15px 15px 12px 54px
  border-radius: 4px
  border: 1px #607346 solid
  box-shadow: inset 0px 1px 0px rgba(#fff, .3)
  overflow: hidden
  clear: both
a.cta h3
  margin-bottom: 0
a.cta h4
  margin: 0px
  padding: 0px
  font-size: 16px
  text-shadow: 0px 1px 0px rgba(0,0,0,.2)
  color: #fff
  float: left
a.cta span
  text-shadow: 0px 1px 0px rgba(0,0,0,.2)
  margin: 0px
  padding: 0px
  font-size: 13px
  color: #fff
  float: left

#dl_iphone
  background: image-url("mobile_dl_icons.png") 0px 0px no-repeat !important

#dl_android
  background: image-url("mobile_dl_icons.png") 0px -50px no-repeat !important

#dl_blackberry
  background: image-url("mobile_dl_icons.png") 0px -100px no-repeat !important

#dl_windows
  background: image-url("mobile_dl_icons.png") 0px -150px no-repeat !important

#dl_windows8
  background: image-url("mobile_dl_icons.png") 0px -150px no-repeat !important

#dl_hppalm
  background: image-url("mobile_dl_icons.png") 0px -200px no-repeat !important

#dl_java
  background: image-url("mobile_dl_icons.png") 0px -250px no-repeat !important

#dl_symbian
  background: image-url("mobile_dl_icons.png") 0px -300px no-repeat !important

#dl_mobile
  background: image-url("mobile_dl_icons.png") 0px -350px no-repeat !important

#dl_amazon
  background: image-url("mobile_dl_icons.png") 0px -400px no-repeat !important

#main section.testimonials h2
  font-size: 18px
  padding: 15px 0 15px 0
  font-family: "Helvetica Neue", Helvetica, Sans-serif

#main section.testimonials ul li
  padding: 5px 20px 10px 55px
  margin: 0
  background: image-url("mobile_quote.png") no-repeat 15px 0px

#main section.testimonials ul li:last-child
  border: 0

#main section.testimonials ul li h3
  font-size: 13px
  margin: 0
  padding: 0

#main section.testimonials ul li p
  margin: 3px 0 0 0


/* ----------------- Reading plans ---------------------- */

#main article.readingplans
  padding: 0

  hr
    margin: 20px 0px
    border-top: 1px solid #e1e1e1

  h1
    font:
      size: 15px
      weight: normal
    color: #666

  form
    .faux_checkbox
      float: left
      margin: 8px 10px 0px 10px


  ul
    margin-bottom: 0

  p
    margin-bottom: 0
    font-size: 15px
    line-height: 1.4em

  .big_list
    margin-top: 0
    li
      padding: 12px 18px
      display: block
      min-height: 85px
    h4
      margin-bottom: 12px

    .plan_list
      h4
        margin-bottom: 4px

    h5
      float: left

  .progress_counter
    width: 100%
    text-align: center
    position: relative
    height: auto
    line-height: auto
    top: -16px

  .progress_wrap
    width: 54%
    height: 55px
    float: left
    margin: 20px 7% 0
    padding: 0

  .progress_percent_complete
    display: none

  .progress_date
    @extend .clearfix
    width: 12%
    float: left
    padding: 10px 2% 0

    p:first-child
      font-size: 12px
      color: #aaa

    p
      text-align: center
      font-size: 13px
      font-weight: bold

    p:first-child, p:last-child
      font-weight: normal

  .plan_search
    padding: 0 20px 20px
    border-bottom: 1px solid #CCC
    margin-top: 10px
    +box-shadow(rgba(#000, 0.08) 0 2px 4px 0)

  .plan_length
    background: image-url("rp_calendar_icon.png") left center no-repeat
    padding-left: 20px
    color: #999
    font-weight: bold

  .plan_about
    display: block
    float: right
    height: 44px
    width: 20%
    background: image-url("icon_small_about.png") top center no-repeat
    text-indent: 100%
    white-space: nowrap
    overflow: hidden

  .about_length
    width: 50%
    background: image-url("rp_about_calendar.gif") 24px center no-repeat

  .about_users
    width: 49.7%
    background: image-url("rp_about_users.png") 24px center no-repeat
    border-left: 1px solid #d9d9d9

  .about_users, .about_length
    float: left
    height: 51px
    border-bottom: 1px solid #d9d9d9
    span, strong
      margin-left: 68px
      display: block
    strong
      font-size: 11px
      color: #999
      margin: 6px 0 -6px 68px

  .about
    padding: 20px 20px 0 20px

  .action_button_green,
  .action_button_grey,
  .action_button_red
    margin-top: 20px

  input[type="submit"].action_button_green,
  input[type="submit"].action_button_grey,
  input[type="submit"].action_button_red
    width: 100%

  .action_button_red.confirm
    margin-bottom: 20px

    div
      text-align: center
      margin: 0 auto
      padding-right: 10px

    h4
      margin-bottom: 0
      margin-top: -4px

  .split_pane_content
    .devo_content
      padding: 0 20px
      p
        margin-bottom: 12px

  table:first-child
    margin-top: 20px

#main article.readingplans.myplans
  .progress_counter
    position: absolute
    text-align: left
    top: 20px

  .progress_wrap
    width: 100%
    margin: 0

#main article.readingplans
  .rp_settings
    clear: both

    div
      padding: 0 20px
      div
        padding: 0

    h5
      margin-bottom: 8px

    .faux_checkbox
      margin-top: 0px

/* ----------------- Single verse page ---------------------- */

#header
  a
    display: block
  a.logo
    height: 44px
    width: 150px
    background: image-url('yv_logo.png') left 11px no-repeat
    overflow: hidden
    text-indent: 100%
    white-space: nowrap
    margin-left: 20px
    float: left
  .get_app
    height: 34px
    color: #fff
    text-decoration: underline
    float: right
    margin-right: 20px
    font-size: 13px
    padding-top: 10px
    width: 35%
    text-align: right
    line-height: 1.2em

section.single_verse
  margin: 12px
  border: 1px solid #e1e1e1
  padding: 20px
  text-align: center
  +border-radius(10px)

  h3
    color: #808080
    margin-bottom: 4px

  p
    font-size: 37px
    line-height: 1.3em
    letter-spacing: -.03em

  h3 + p
    font-size: 12px
    color: #808080
    letter-spacing: none
