#plan-index
  .sidebar
    .search
      margin-top: 25px
      margin-left: 10px
      form
        margin-bottom: 20px

        select.language, input.field, input.submit
          width: 200px
          margin-left: 0

        input.submit
          margin-top: 20px
          line-height: 2em
          padding: 4px 15px

  #filter-message
    text-align: center
    margin: 20px

.resource_list
  .subscription
    overflow: hidden

    h3
      margin-left: 10px
      margin-bottom: .5em
      overflow: auto
      position: relative

      .subscription-title
        display: block

      .subscription-privacy
        font-size: 12px
        font-weight: normal
        text-align: right

        a
          color: #aaa
          text-decoration: underline

    .progress_wrap
      margin-bottom: 0


// For plan index page
.resource_list
  .plan
    .length
      display: block
      margin-bottom: 10px
      line-height: 14px
