// `Progress Bars
//----------------------------------------------------------------------------------------------------

.progress_wrap,
.progress_bar_outer,
.progress_bar,
.progress_bar_shadow
  height: 15px

.progress_wrap
  margin-bottom: 18px

.progress_counter
  top: 20px
  font-size: 12px

.progress_bar_shadow
  +box-shadow(inset rgba(#000, 0.6) 0 1px 3px 0)
  position: relative
  top: -15px

// Fixes a bug where the animated progress
// bar would overflow with a hard 90 degree
// right edge, in WebKit and Opera. Booh! :(
.progress_bar_cap
  display: none