#search-show
  h1
    float: left

  .split_pane
    clear: left !important

    .content
      #version_form
        margin-top: 15px
        text-align: center
        clear: both

        select
          width: 90%
          margin: 0 0 20px

  .reference
    padding: 15px 4% 0
    line-height: 1.4em

  #noresults
    margin-top: 1em
    text-align: center