// !Adjusting the article tag on the social pages

#main article.social-requests,
#main article.social-feed,
#main div.social-feed,
#main article.social-detail
  background-color: #dedddb
  border: 0
  padding: 0
  box-shadow: none
  overflow: hidden

#main article.social-feed,
#main div.social-feed
  width: auto

// !-------------------- Feed -------------------------

// !Moment containers

.moment
  margin: 0 15px 15px 0
  width: 100%
  float: none

.moment:nth-child(2n)
  margin-right: 0

.moment-top
  margin-bottom: 1px

.moment-btm


// !Edit / delete in a note

.moment-no
  .moment-content-actions
    position: absolute
    top: auto
    bottom: 0
    right: 8px
    left: auto

  .moment-content-actions-edit
    +border-radius(5px 0 0 0)

  .moment-content-actions-delete
    +border-radius(0 5px 0 0)


// !Share comment like etc.

.moment-actions
  overflow: hidden
  width: 100%
  background: #fff
  +border-radius(0 0 4px 4px)
  margin-bottom: 1px

// !Stuff each moment action has in common

.moment-actions-share,
.moment-actions-comment,
.moment-actions-like,
.moment-actions-time
  float: left
  display: block
  vertical-align: middle
  font-size: 13px
  width: 40px

.moment-actions-share a:hover,
.moment-actions-comment a:hover,
.moment-actions-like a:hover
  opacity: 0.6


.moment-actions-share a,
.moment-actions-comment a,
.moment-actions-like a
  background: image-url("social-actions-sprite.png") no-repeat
  display: block
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  height: 36px

// !Specific stuff for each action

.moment-actions-share a
  background-position: center 10px

.moment-actions-comment a
  background-position: center -129px

// !hide like action for now
.moment-actions-like
  display: none !important

.moment-actions-like a
  background-position: center -36px

.moment-actions-like a.liked
  background-position: center -82px

.moment-actions-time
  width: 48%

// !Comments attached to a moment

.moment-comments
  width: 87%
  padding: 0px 5px 3px

// !Common comments code


// !Specific comments code

#main article .moment-comments-list-text,
.moment-comments-list-text
  font-size: 13px
  width: 80%

.moment-comments-textarea
  width: 80%

// !Moment badge positioning


// !Moment common code


// !Bookmark, reading plan, download, and group moments -- they share the same layout
.moment-hi-text,
.moment-bm-text,
.moment-rp-text,
.moment-grp-text,
.moment-dl-text,
.moment-no-text,
.moment-bdg-text,
.moment-vid-text,
.moment-sys-text
  width: 70%
  line-height: 1.3em
  min-height: 56px

// !Bookmark moment

.moment-verse-wrap
  clear: both
  max-height: 150px
  overflow: hidden

// !Verse of the day moment

#main article .moment-vod-verse,
.moment-vod-verse
  font: 24px "times new roman", times, serif
  width: 90%

.moment-vod-title
  font-size: 20px

.moment-vod-list
  clear: both
  margin: 5px 0 0


// !Note moment

#main article .moment-no-note,
.moment-no-note
  margin: 65px 0 0 0

#main article .moment-no-note-title,
#main article .moment-no-note-text
  font-size: 13px

// !Video moment

.moment-vid-info
  margin: 65px 0 0
  overflow: visible

.moment-vid-info-img
  width: 100%
  float: none

.moment-vid-info-text
  border: 0
  float: none
  height: auto
  width: auto
  display: block
  margin-top: -53px
  background: image-url("videos-thumb-grad1.png") no-repeat center bottom

.moment-vid-info-text-title
  margin-bottom: 0
  line-height: 1.3em

#main article .moment-vid-info-text-credit,
.moment-vid-info-text-credit
  margin: 0
  font-size: 13px

.moment-vid-info-text-title,
.moment-vid-info-text-credit,
.moment-vid-info-text-title a,
.moment-vid-info-text-credit a
  color: #fff
  text-decoration: none
  font-weight: bold
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

// !Badge moment

.moment-bdg-info
  margin: 65px 0 0 0


// !------------------------ Detail page -------------------------

#main article.social-detail

  // !Striping out the width constraints, killing floats

  // !Moment containers

  .moment
    margin: 0 0 15px 0

  // !Share comment like etc.

  // !Comments attached to a moment

  .moment-comments
    width: 87%

  .moment-comments form
    display: block

  .moment-comments-list-text,
  .moment-comments-textarea
    width: 80%

  // !Bookmark, reading plan, download, and group moments -- they share the same layout

  .moment-hi-text,
  .moment-bm-text,
  .moment-rp-text,
  .moment-grp-text,
  .moment-dl-text,
  .moment-no-text,
  .moment-bdg-text,
  .moment-vid-text,
  .moment-sys-text
    width: 70%

  // !Note

  .moment-no

    .moment-no-note-title
      line-height: 1em

    .moment-no-note-text
      background: none
      line-height: 1.36em
      padding: 1px 15px 10px 0
      margin-bottom: 0

    .moment-content-actions
      right: auto


// !Sidebar comment input

.social-sidebar
  position: static
  width: auto

.social-sidebar-input
  padding: 10px

  textarea
    margin-bottom: 10px
    height: auto
