// Adjusting the article tag on the social pages

#main article.social-feed,
#main article.social-detail
  background-color: #444
  padding: 0
  overflow: visible

// -------------------- Feed -------------------------

// Moment containers

.moment
  margin: 0 0 15px 0
  width: auto
  float: none

.moment-top
  margin-bottom: 0
  border-bottom: 1px solid #DEDDDB

// Share comment like etc.

.moment-actions
  width: auto
  margin-bottom: 0
  border-bottom: 1px solid #DEDDDB

// Stuff each moment action has in common


// Specific stuff for each action

.moment-actions-time
  width: 50%

// Comments attached to a moment

.moment-comments
  width: 87%

// Common comments code


// Specific comments code

#main article .moment-comments-list-text,
.moment-comments-list-text
  font-size: 13px
  width: 80%

.moment-comments-input-text
  width: 80%


// Moment badge positioning


// Moment common code


// Bookmark, reading plan, download, and group moments -- they share the same layout

.moment-bm-text,
.moment-rp-text,
.moment-grp-text,
.moment-dl-text,
.moment-no-text,
.moment-bdg-text,
.moment-vid-text
  width: 78%


// Verse of the day moment

#main article .moment-vod-verse,
.moment-vod-verse
  font: italic 24px "times new roman", times, serif


// Note moment

#main article .moment-no-note,
.moment-no-note
  margin: 65px 0 0 0

#main article .moment-no-note-title,
#main article .moment-no-note-text
  font-size: 13px


// Video moment

.moment-vid-info
  margin: 65px 0 0
  overflow: visible

.moment-vid-info-img
  width: 100%
  float: none

.moment-vid-info-text
  border: 0
  float: none
  height: auto
  padding: 5px 15px 0 15px
  width: auto
  display: block
  margin-top: -53px
  background: image-url("videos-thumb-grad1.png") no-repeat center bottom

.moment-vid-info-text-title
  margin-bottom: 0
  line-height: 1.3em

#main article .moment-vid-info-text-credit,
.moment-vid-info-text-credit
  margin: 0
  font-size: 13px

.moment-vid-info-text-title,
.moment-vid-info-text-credit,
.moment-vid-info-text-title a,
.moment-vid-info-text-credit a
  color: #fff
  text-decoration: none
  font-weight: bold
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

// Badge moment

.moment-bdg-info
  display: block
  overflow: hidden
  clear: both
  margin-left: 65px
  border: 1px solid #e1e1e1
  +border-radius(4px)
  padding: 10px

.moment-bdg-info-img
  float: left

.moment-bdg-info-text
  float: left
  padding: 11px 15px 0 15px
  margin-bottom: 0
  font-weight: bold


// ------------------------ Detail page -------------------------

#main article.social-detail

  // Striping out the width constraints, killing floats

  // Moment containers

  .moment
    margin: 0
    width: auto
    float: none

  // Share comment like etc.

  .moment-actions
    width: auto

  // Comments attached to a moment

  .moment-comments
    width: 90%

  .moment-comments-list-text,
  .moment-comments-input-text
    width: 465px

  // Bookmark, reading plan, download, and group moments -- they share the same layout

  .moment-bm-text,
  .moment-rp-text,
  .moment-grp-text,
  .moment-dl-text,
  .moment-no-text,
  .moment-bdg-text,
  .moment-vid-text
    width: 465px

// Sidebar comment input

.social-sidebar
  position: fixed
  width: 299px

.social-sidebar-input
  padding: 10px

  textarea
    margin-bottom: 10px
    height: 200px


// Retina images

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)

  // Retina-specific stuff here

  .moment-actions-share a,
  .moment-actions-comment a,
  .moment-actions-like a
    background: image-url("social-actions-sprite@2x.png") no-repeat

  .moment-actions-time
    background: image-url("social-actions-sprite@2x.png") no-repeat 15px -313px

  .moment-no-note-title,
  .moment-no-note-text
    background: image-url("moment-no-note-text-bg@2x.png") repeat-y left top

  .moment-actions-share a,
  .moment-actions-comment a,
  .moment-actions-like a,
  .moment-actions-time,
  .moment-no-note-title,
  .moment-no-note-text
    background-size: 50%