//
// Split pane view.
//

.split_pane
  border-top: 0px

.split_pane_content
  margin-bottom: 20px
  border: 0px
  width: 100%

  ul
    margin-left: 0px !important
  a
    text-decoration: none

.split_pane_sidebar
  min-height: 100px

.split_pane_sidebar dd
  border-left: 1px solid #ccc
  border-right: 1px solid #ccc

.split_pane_sidebar dt
  font-size: 22px

.split_pane_sidebar dd
  font-size: 13px

.split_pane_sidebar dd a
  font-size: 15px

.split_pane_sidebar .highlighted
  margin-right: 0px

.split_pane_sidebar .highlighted a
  font-size: 16px


//
// -----------------Reading Plans
//

.split_devotional_pane .embedded_reader
  margin-top: 5px !important

dd.split_devotional_pane
  background: #f6f6f6

#main article#plan-index .split_pane_sidebar .categories_menu
  dt
    padding-left: 20px

  dd
    a
      padding-left: 20px

