// `Basic HTML
//----------------------------------------------------------------------------------------------------

body
  font: 15px/1.8 $body_font

h1,
h2
  font:
    weight: 200

h1
  font:
    size: 30px
  letter-spacing: -.04em

h2
  font:
    size: 20px
  letter-spacing: -.04em

h3
  font-size: 18px

h4
  font-size: 17px

.wordsofchrist
  color: #cc0000
