// `Profile - avatar, bio, etc
//----------------------------------------------------------------------------------------------------

.top_section
  // @extend .clearfix
  +background-image(linear-gradient(#fff, #ececec 1px, #e9e9e9))
  background-color: #e9e9e9
  border: none
  font-size: 13px
  padding: 0px

  .profile_header
    padding: 0
    overflow: hidden
    height: auto

    img
      position: relative
      float: left
      margin: 20px 20px 5px
      top: 0
      left: 0

    h1
      margin: 20px 0 10px
      font-size: 33px
      width: 59%
      float: left

    .avatar_huge
      border: 0

  .highlighted span
    border-top: 1px solid #cbc9cf
    margin-top: -1px

  ul, li
    margin-top: 0
    margin-left: 0

  li
    background:
      repeat: no-repeat
      position: left center
    line-height: 2
    padding-left: 26px
    list-style: none

  .profile_info
    padding: 15px 20px
    overflow: visible
    clear: both

    ul.float_left
      float: none !important

    .icon_small_about
      background-position: 0 5px

    div
      position: relative
      top: 0
      left: 0

    .action_button_green,
    .action_button_red
      display: block

    .action_button_red
      text-shadow: none
      padding: 10px 20px

.header_tabs,
.top_section .header_tabs
  +box-shadow(none)
  padding-left: 0
  background-color: #E9E9E9
  overflow: hidden
  border-top: 0

  li
    width: 17%
    list-style: none
    padding: 0
    margin: 0
    text-align: center
    font-size: 12px
    border-top: 1px solid #ccc
    background-color: #E9E9E9

  li:first-child
    width: 15%

  a,
  span
    height: 44px
    width: auto
    display: block
    text-indent: 100%
    overflow: hidden
    white-space: nowrap
    padding: 0
    margin: 0
    background: none

  .highlighted
    li:first-child
      background: none
    a
      background: #fff
    span
      background: none

  .activity span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center 10px

  .notes span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -98px

  .bookmarks span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -152px

  .badges span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -259px

  .badges,
  .activity,
  .notes,
  .bookmarks
    background-repeat: no-repeat
    background-size: auto

.icon_small_user
  background:
    image: image-url("icon_small_user.png")

.icon_small_location
  background:
    image: image-url("icon_small_location.png")

.icon_small_link
  background:
    image: image-url("icon_small_link.png")

.icon_small_about
  background:
    image: image-url("icon_small_about.png")

// `Profile - stuff below the avatar, bio, etc
//----------------------------------------------------------------------------------------------------

#main article.profile
  background: none

  h1
    margin-left: 20px

  form
    padding: 20px

  form select
    min-width: 250px !important
    max-width: 250px !important

.tabs
  margin: 0 auto 10px !important
  padding: 0px 25px !important
  overflow: hidden
  width: 80%

.tabs dd a, .tabs dd a:hover
  border-radius: 0px
  padding: 8px 15px
  font-size: 15px
  background: none
  background-color: #eee

.tabs dd.highlighted a
  +box-shadow(inset #fff 0 1px 0 0, inset rgba(#000, 0.05) 0 -2px 0 0)
  background-color: #fff

  #connection_info
    padding-top: 20px
    border-top: 1px solid #e1e1e1

#main article.profile
  .friends_list
    margin-top: 0 !important
    margin-bottom: 0

  .combo_button
    font-size: 15px
    margin: -5px auto
    width: 90%
    position: relative
    left: 0
    top: 0
    height: 43px
    line-height: 39px

    dd
      background-color: #dedede
      border:
        top: 2px solid #eee
        bottom: 2px solid #ccc
      a
        color: #444 !important

    .highlighted
      background-color: #666
      border:
        top: 3px solid #444
        bottom: 1px solid #555
      a
        color: #fff !important

    .highlighted:hover
      background: #666

  .pagination
    margin-bottom: 5px
    padding: 15px 0 0 20px

// Notifications
//----------------------------------------------------------------------------------------------------

.notifications
  padding: 0 20px

#main .profile .emphasis + label,
#main .profile input + label,
#main .profile select + label
  display: inline-block
