// `Profile - avatar, bio, etc
//----------------------------------------------------------------------------------------------------

.top_section
  // @extend .clearfix
  +background-image(linear-gradient(#fff, #ececec 1px, #e9e9e9))
  background-color: #e9e9e9
  border: none
  font-size: 13px
  padding: 0px

  .profile_header
    padding: 0
    overflow: hidden
    height: auto

    img
      position: relative
      float: left
      margin: 20px 20px 5px
      top: 0
      left: 0

    h1
      margin: 20px 0 10px
      font-size: 33px
      width: 59%
      float: left

    .avatar_huge
      border: 0

  .highlighted span
    border-top: 1px solid #cbc9cf
    margin-top: -1px

  ul, li
    margin-top: 0
    margin-left: 0

  li
    background:
      repeat: no-repeat
      position: left center
    line-height: 2
    padding-left: 26px
    list-style: none

  .profile_info
    padding: 15px 20px
    overflow: visible
    clear: both

    ul.float_left
      float: none !important

    .icon_small_about
      background-position: 0 5px

    div
      position: relative
      top: 0
      left: 0

    .action_button_green,
    .action_button_red
      display: block

    .action_button_red
      text-shadow: none
      padding: 10px 20px

.header_tabs,
.top_section .header_tabs
  +box-shadow(none)
  padding-left: 0
  background-color: #E9E9E9
  overflow: hidden
  border-top: 0

  li
    width: 17%
    list-style: none
    padding: 0
    margin: 0
    text-align: center
    font-size: 12px
    border-top: 1px solid #ccc
    background-color: #E9E9E9

  li:first-child
    width: 15%

  a,
  span
    height: 44px
    width: auto
    display: block
    text-indent: 100%
    overflow: hidden
    white-space: nowrap
    padding: 0
    margin: 0
    background: none

  .highlighted
    li:first-child
      background: none
    a
      background: #fff
    span
      background: none

  .activity span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center 10px

  .friends span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -42px

  .notes span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -98px

  .bookmarks span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -152px

  .likes span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -206px

  .badges span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -259px

  .badges,
  .activity,
  .notes,
  .bookmarks,
  .friends,
  .likes
    background-repeat: no-repeat
    background-size: auto

.icon_small_user
  background:
    image: image-url("icon_small_user.png")

.icon_small_location
  background:
    image: image-url("icon_small_location.png")

.icon_small_link
  background:
    image: image-url("icon_small_link.png")

.icon_small_about
  background:
    image: image-url("icon_small_about.png")

// `Profile - stuff below the avatar, bio, etc
//----------------------------------------------------------------------------------------------------

#main article.profile
  padding: 20px 0 0 0
  background: none

  h1
    margin-left: 20px

  form
    padding: 20px

  form select
    min-width: 250px !important
    max-width: 250px !important

  .big_list
    margin-bottom: 0

    .li_badge,
    .li_social,
    .li_note,
    .li_bookmark
      padding: 12px 20px 12px 44px

    .li_badge,
    .li_social
      background-position: 17px 15px

    .li_bookmark
      background-position: 17px 23px

    .li_note
      background-position: 17px 16px

    li
      p
        margin-bottom: 0

      h5
        margin-bottom: 8px
        line-height: 1.3em

      .gutter_top_half
        margin-top: 0 !important
        font-weight: bold

    .li_bookmark div.float_left,
    .li_badge div.float_left,
    .li_note div.float_left,
    .li_social div.float_left
      float: none !important

    .bookmark_edit
      margin-top: 4px

    .negative_gutter_top_half
      margin-top: 4px

.tabs
  margin: 0 auto 10px !important
  padding: 0px 25px !important
  overflow: hidden
  width: 80%

.tabs dd a, .tabs dd a:hover
  border-radius: 0px
  padding: 8px 15px
  font-size: 15px
  background: none
  background-color: #eee

.tabs dd.highlighted a
  +box-shadow(inset #fff 0 1px 0 0, inset rgba(#000, 0.05) 0 -2px 0 0)
  background-color: #fff

  #connection_info
    padding-top: 20px
    border-top: 1px solid #e1e1e1

#main article.profile
  .friends_list
    margin-top: 0 !important
    margin-bottom: 0

    .big_list
      margin-top: 15px

      .gutter_right_half
        width: 15%
        margin-right: 2% !important
        padding: 5% 0 5% 5%

      .gutter_right_half + div
        width: 78%

      .gutter_top_half
        margin-top: -23px !important

      .mute
        font-size: 12px

      li
        padding: 0

  .combo_button
    font-size: 15px

// Notifications
//----------------------------------------------------------------------------------------------------

.notifications
  padding: 0 20px

#main .profile .emphasis + label,
#main .profile input + label,
#main .profile select + label
  display: inline-block
