// `Profile - avatar, bio, etc
//----------------------------------------------------------------------------------------------------

.top_section
  // @extend .clearfix
  +background-image(linear-gradient(#fff, #ececec 1px, #e9e9e9))
  background-color: #e9e9e9
  border: none
  font-size: 13px
  padding: 0px

  .bio
    margin: 20px 0 20px 20px
    width: 60%

    ul
      margin-bottom: 0

  .highlighted span
    border-top: 1px solid #cbc9cf
    margin-top: -1px

  h1
    margin-bottom: 10px
    font-size: 36px

  ul, li
    margin-top: 0
    margin-left: 0

  li
    background:
      repeat: no-repeat
      position: left center
    line-height: 2
    padding-left: 26px
    list-style: none

  .profile_info
    padding: 15px 30px
    overflow: hidden

.header_tabs,
.top_section .header_tabs
  +box-shadow(none)
  padding-left: 0
  background-color: #E9E9E9
  overflow: hidden
  border-top: 0

  li
    width: 17%
    list-style: none
    padding: 0
    margin: 0
    text-align: center
    font-size: 12px
    border-top: 1px solid #ccc
    background-color: #E9E9E9

  li:first-child
    width: 15%

  a,
  span
    height: 44px
    width: auto
    display: block
    text-indent: 100%
    overflow: hidden
    white-space: nowrap
    padding: 0
    margin: 0
    background: none

  .highlighted
    li:first-child
      background: none
    a
      background: #fff
    span
      background: none

  .activity span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center 10px

  .friends span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -42px

  .notes span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -98px

  .bookmarks span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -152px

  .likes span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -206px

  .badges span
    background: image-url("mobile/profile_tabs_sprite.png") no-repeat center -259px

  .badges,
  .activity,
  .notes,
  .bookmarks,
  .friends,
  .likes
    background-repeat: no-repeat
    background-size: auto

.icon_small_user
  background:
    image: image-url("icon_small_user.png")

.icon_small_location
  background:
    image: image-url("icon_small_location.png")

.icon_small_link
  background:
    image: image-url("icon_small_link.png")

.icon_small_about
  background:
    image: image-url("icon_small_about.png")

// `Profile - stuff below the avatar, bio, etc
//----------------------------------------------------------------------------------------------------

#main article.profile
  padding: 20px 0 0 0
  background: none

  h1
    margin-left: 20px

  form
    padding: 20px

  form select
    min-width: 250px !important
    max-width: 250px !important

  .big_list
    margin-bottom: 0

    .li_badge,
    .li_social,
    .li_note,
    .li_bookmark
      padding: 12px 20px 12px 44px

    .li_badge,
    .li_social
      background-position: 17px 15px

    .li_bookmark
      background-position: 17px 23px

    .li_note
      background-position: 17px 16px

    li
      p
        margin-bottom: 0

      h5
        margin-bottom: 8px
        line-height: 1.3em

      .gutter_top_half
        margin-top: 0 !important
        font-weight: bold

      div
        float: none !important

    .bookmark_edit
      margin-top: 4px

    .negative_gutter_top_half
      margin-top: 4px

.tabs
  margin: 0 auto 10px !important
  padding: 0px 25px !important
  overflow: hidden
  width: 80%

.tabs dd a, .tabs dd a:hover
  border-radius: 0px
  padding: 8px 15px
  font-size: 15px
  background: none
  background-color: #eee

.tabs dd.highlighted a
  +box-shadow(inset #fff 0 1px 0 0, inset rgba(#000, 0.05) 0 -2px 0 0)
  background-color: #fff

  #connection_info
    padding-top: 20px
    border-top: 1px solid #e1e1e1

  .friends_list
    margin-top: 0 !important
    margin-bottom: 0

    li
      background-image: none
      padding: 10px 20px
      border-top: 1px solid #ccc
      overflow: hidden

      p
        margin: 0

      .avatar_box
        width: 20%
        float: left

      .gutter_top_half
        float: left
        width: 80%
        margin-top: 0 !important
        a
          font-weight: bold
          text-decoration: none
    li:first-child
      border-top: 0

  .friends_combo_button
    font-size: 15px
    overflow: hidden
    margin-top: -14px
    a
      color: $body_text
      text-decoration: none
      height: 38px
      display: block
      text-align: center
      font-weight: bold
      line-height: 38px
      float: left
      width: 50%
      border:
        top: 3px solid #eee
        bottom: 3px solid #aaa
      background-color: #ccc
    .highlighted
      background-color: #999
      color: #fff
      height: 40px
      line-height: 40px
      border:
        top: 1px solid #777
        bottom: 3px solid #999

// Notifications
//----------------------------------------------------------------------------------------------------

.notifications
  padding: 0 20px

#main .profile .emphasis + label,
#main .profile input + label,
#main .profile select + label
  display: inline-block
