- @title = @bookmark.title

- content_for :sidebar do
  = render partial: "/comments/sidebar_form", locals: {moment: @bookmark}

%article.social-detail
  = render partial: "moments/bookmark", locals: {moment: @bookmark}