// Current Parameters:
// presenter: Presenter::Sidebar::Subscription

- if controller_name == "subscriptions" && action_name == "show"
  = render partial: "/sidebars/subscriptions/show", locals: {presenter: presenter}

- else
  - url = "/subscriptions/#{presenter.subscription_id}/sidebar"
  .mobile#mobile-sb-subscription{class: ('initial' if presenter.initial_load?)}
    .reader_modal_header
      %nav
        %a.close_btn.subscription_close_btn
  #sb-subscription
    .ajax_me{"data-ajax" => url}
      .widget.widget-notice.widget_last_fixed{style: "width:268px;"}
        %p= t("plans.loading sidebar content")
