.widget
  %h3.hd
    =t("plans.success widget title")
  %div.bd
    %p= t("plans.success blurb")
  %div.ft.link
    = link_to(t("plans.success blog link title"), "http://blog.youversion.com/2012/01/how-to-make-the-most-of-your-youversion-reading-plan/")