- content_for :title do
  =t('sign in')

- content_for :sidebar do
  =render partial: "/sidebars/sessions/new"

:ruby
  licensing_flow = params[:source] && params[:source] == "licenses"
  if licensing_flow
    @main_nav = false
    content_for :header do
      render partial: "shared/header/basic"
    end
  end

%article
  %h1= t("sign in to youversion")
  - if licensing_flow
    %p#license-notice= t("licenses.auth.login notice", signup:t("licenses.auth.signup link text")).html_safe
  = render partial: "sessions/signin"
