- content_for :mobile_left_nav do
  = render partial: 'shared/back_button'

- content_for :title do
  = t("notes.new note")

%article
  %h1= t("notes.new note")
  = render partial: 'form', locals: {note: @moment, results: @results}
