- @title = @note.title

- content_for :sidebar do
  = render partial: "/comments/sidebar_form", locals: {moment: @note}

%article.social-detail

  = render partial: "moments/note", locals: {moment: @note}