body.c_pages.a_about {
  .about_content {
    @media #{$large-up} {
      padding-right: 520px;
      background: image-url("bg-about.png") no-repeat top right;
    }
  }
  .partners_content {
    .partners_box {
      float: left;
      width: 235px;
      margin: 0 45px 30px 0;
    }

    .partners_box div img {
      border: 1px solid #f4f4f4;
      width: 235px;
      height: 140px;
    }

    .partners_box div:last-child {
      margin-top: 10px;
      text-align: center;
    }
  }
}
