#menu_audio_player
  .mejs-container
    color: $body_text
    margin-bottom: 15px
    text-shadow: none

  .mejs-mediaelement
    overflow: hidden
    width: 0
    height: 0

  .mejs-controls
    +background(linear-gradient(#eee, #ddd))
    +border-radius(16px)
    margin: 0 0 10px 50px
    padding: 0 16px
    height: 32px
    position: relative

  .mejs-button button,
  .mejs-button button:active,
  .mejs-button button:focus
    +box-shadow(none)
    background: none
    border: 0
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

  .mejs-time,
  .mejs-button
    position: absolute
    top: 0

  .mejs-time
    line-height: 32px

  .mejs-currenttime-container
    left: 13px

  .mejs-duration-container
    right: 13px

  .mejs-playpause-button
    background: image-url("mejs-playpause-button.png") no-repeat
    width: 34px
    height: 34px
    left: -45px

  .mejs-pause
    background-position: 0 -50px

  .mejs-volume-button
    background: red
    position: absolute
    width: 16px
    height: 16px
    right: -45px

  .mejs-time-rail
    @extend .clearfix
    +box-shadow(#fff 0 1px 0 0)
    border-right: 1px solid #aaa
    height: 14px
    margin-top: -7px
    position: absolute
    top: 50%
    left: 50px
    width: 191px

  .mejs-time-rail span
    display: block
    position: absolute
    height: 12px
    cursor: pointer
    max-width: 190px

  .mejs-controls
    width: 270px

  .mejs-controls .mejs-time-rail .mejs-time-total
    +box-shadow(inset rgba(#000, 0.25) 0 1px 1px 0)
    +background-image(linear-gradient(#fff, #eee))
    background-color: #fff
    border: 1px solid #aaa
      right-width: 0

  .mejs-controls .mejs-time-rail .mejs-time-loaded
    +opacity(0.1)

  .mejs-controls .mejs-time-rail .mejs-time-loaded,
  .mejs-controls .mejs-time-rail .mejs-time-current
    background: #369 image-url("mejs-time-current.png") repeat-x
    width: 0

  .mejs-controls .mejs-time-rail .mejs-time-float
    display: none
    margin-left: -20px
    position: absolute
    top: -30px


  .mejs-controls .mejs-time-rail .mejs-time-float-current
    +round
    background: #fff
    border: 1px solid #000
    color: #111
    width: 41px
    height: 20px
    line-height: 20px
    text-align: center
    left: 0

  .mejs-controls .mejs-time-rail .mejs-time-float-corner
    border: solid 5px
      color: #000 transparent transparent transparent
    color: clear
    font-size: 0
    line-height: 0
    width: 0
    height: 0
    position: absolute
    top: 22px
    left: 17px

  .mejs-controls .mejs-volume-button
    display: none

  .me-plugin
    position: absolute

