// `Main
//----------------------------------------------------------------------------------------------------

.embedded_reader .verse > .label
  background: none
  border: none
  color: $body_text

.embedded_reader .note
  display: none

.embedded_reader .verse > strong:first-child
  background: none
  border: none
  color: $body_text