// `Previous & Next verse arrows

.full_screen

  .reader-prev
    left: 25px

  .reader-next
    right: 40px

  // `Re-position drop-down menus
  #menu_bookmark .menu_arrow
    left: auto
    right: 10px
