// `Bulleted Lists => For "content" type lists.
//----------------------------------------------------------------------------------------------------

ul ul,
ul ol,
ol ul,
ol ol
  margin-bottom: 0

#main article ul,
#main article ol
  margin-top: -10px

#main article li
  padding-top: 10px

#main article ul li
  background:
    image: url(../images/main_article_ul_li_arrow.png)
    repeat: no-repeat
    position: 10px 17px
  margin-left: 0
  padding-left: 30px
  list-style: none

#main article li ul,
#main article li ol
  margin-top: 0

#main article li ul li
  background:
    image: url(../images/main_article_ul_li_bullet.png)
    position: 10px 20px