#nav_primary
  -webkit-font-smoothing: subpixel-antialiased
  background: url(../images/nav_primary.png) no-repeat
  padding-top: 12px
  white-space: nowrap
  width: 60px
  position: fixed
  top: 82px
  margin-left: -70px

#nav_primary nav
  background: url(../images/nav_primary.png) no-repeat right bottom
  padding-bottom: 11px

#nav_primary ul
  background: #333 url(../images/nav_primary_ul.png) repeat-y
  margin: 0

#nav_primary li
  margin: 0
  list-style: none

#nav_primary .highlighted
  background: url(../images/nav_primary_highlighted.png) no-repeat left center
  -webkit-background-size: 100% 100%
  margin-right: -5px
  padding-right: 5px

#nav_primary span
  background:
    repeat: no-repeat
    position: center 5px
  border-top: 1px solid rgba(#fff, 0.15)
  border-bottom: 1px solid rgba(#000, 0.5)
  display: block
  font-size: 11px
  line-height: 1
  overflow: hidden
  text-align: center
  text-shadow: #000 0 1px 0
  padding-top: 40px
  padding-bottom: 7px

#nav_primary a
  background: url(../images/nav_primary_a.png) no-repeat -99999px -99999px
  -webkit-background-size: 100% 100%
  color: #bbb
  display: block
  text-decoration: none

#nav_primary a:hover
  background:
    position: center center
  color: #fff

#nav_primary_bible span
  background:
    image: url(../images/nav_bible.png)
#nav_primary_bible span:hover
  background:
    image: url(../images/nav_bible_active.png)

#nav_primary_plans span
  background:
    image: url(../images/nav_plans.png)

#nav_primary_notes span
  background:
    image: url(../images/nav_notes.png)

#nav_primary_bookmarks span
  background:
    image: url(../images/nav_bookmarks.png)

#nav_primary_friends span
  background:
    image: url(../images/nav_friends.png)

#nav_primary_groups span
  background:
    image: url(../images/nav_groups.png)

#nav_primary_mobile span
  background:
    image: url(../images/nav_mobile.png)
