/* About page */

.about_content
  padding-right: 520px
  background: url(../images/bg-about.png) no-repeat top right

#main article .partner
  width: 50%
  float: left
  margin: 0
  margin-bottom: 1em
  padding: 0

.partner h4
  margin-bottom: 0
