/* About page */

.about_content
  padding-right: 520px
  background: url(../images/bg-about.png) no-repeat top right

#main article .partner
  width: 50%
  float: left
  margin: 0
  margin-bottom: 1em
  padding: 0

.partner h4
  margin-bottom: 0

#main article.press
  ul.press_resources
    list-style: none
    li
      list-style: none
      margin: 0
      padding: 0
      background: none
      margin-bottom: 20px
      a
        float: right
      h4
        line-height: 35px
        margin-bottom: 0px
