.color_picker_holder 
	display: none
.colorpicker
	width: 212px
	height: 227px
	overflow: hidden
	position: absolute
	background: url(../images/color_picker/colorpicker_background.png) no-repeat
	font-family: Arial, Helvetica, sans-serif
	display: none
	z-index: 3

.colorpicker_color 
	width: 150px
	height: 150px
	left: 14px
	top: 21px
	border-radius: 3px
	position: absolute
	background: #f00
	overflow: hidden
	cursor: crosshair

.colorpicker_color div 
	position: absolute
	top: 0
	left: 0
	width: 150px
	height: 150px
	background: url(../images/color_picker/colorpicker_overlay.png)

.colorpicker_color div div 
	position: absolute
	top: 0
	left: 0
	width: 11px
	height: 11px
	overflow: hidden
	background: url(../images/color_picker/colorpicker_select.gif)
	margin: -5px 0 0 -5px

.colorpicker_hue 
	position: absolute
	top: 23px
	left: 172px
	width: 35px
	height: 150px
	cursor: n-resize

.colorpicker_hue div 
	position: absolute
	width: 30px
	height: 9px
	overflow: hidden
	background: url(../images/color_picker/colorpicker_indic.gif) left top no-repeat
	margin: -4px 0 0 0
	left: 0px

.colorpicker_new_color 
	display: none

.colorpicker_current_color 
	display: none


.colorpicker input 


.colorpicker_hex 
	position: absolute
	width: 80px
	height: 10px
	left: 15px
	top: 185px

.colorpicker_hex input 
	box-shadow: none
	background: #353535
	color: #6e6e6e
	border: 1px #000 solid
	height: 31px
	
.colorpicker_hex input:focus
	box-shadow: none
	color: #bdbdbd

.colorpicker_field 
	display: none

.colorpicker_field span 
	position: absolute
	width: 12px
	height: 22px
	overflow: hidden
	top: 0
	right: 0
	cursor: n-resize
	display: none

.colorpicker_submit 
	position: absolute
	right: 15px
	top: 185px
	overflow: hidden
	+background-image(linear-gradient(#f4f4f4, #d4d4d4))
	font-size: 13px
	color: #0084cb
	font-weight: bold
	text-shadow: 0px 1px 0px #fff
	border: 1px #000 solid
	+round
	width: 90px
	height: 25px
	vertical-align: middle
	text-align: center
	padding: 3px 0 0 0 

.colorpicker_submit:active
	+background-image(linear-gradient(#d4d4d4, #f4f4f4))

.colorpicker_hex.colorpicker_focus 
	background-position: bottom

.colorpicker_submit.colorpicker_focus 
	background-position: bottom

.colorpicker_slider 
	background-position: bottom

