// `Sidebar
//----------------------------------------------------------------------------------------------------

#sidebar
  @extend .clearfix
  float: left
  font-size: 11px
  width: 300px
  margin-right: -100%
  position: relative
  left: 10px

//
// Overrides => Call to action.
//

#sidebar .action_button_blue,
#sidebar .action_button_green,
#donate_now_wrap .action_button_green
  +border-radius(4px)
  +box-shadow(#fff 0 -1px 0 0)
  font-size: 17px
  margin-top: 1px

#sidebar .action_button_blue:active,
#sidebar .action_button_green:active,
#sidebar .action_button_blue:focus,
#sidebar .action_button_green:focus,
#donate_now_wrap .action_button_green:active,
#donate_now_wrap .action_button_green:focus
  color: #fff
  position: relative
  top: 1px

#sidebar a.action_button_blue,
#sidebar a.action_button_green,
#donate_now_wrap a.action_button_green
  display: block

#sidebar button.action_button_blue,
#sidebar button.action_button_green,
#donate_now_wrap button.action_button_green
  min-width: 100%

#sidebar .action_button_note
  +round
  margin-top: 2px
  padding-bottom: 5px
  text-align: center

#sidebar .action_button_note i
  color: #555
  font-size: 13px

#sidebar .action_button_note a,
#sidebar .action_button_note button
  margin: -2px -1px 5px