//
// Split pane view.
//

.split_pane
  border-top: 1px solid #ccc
  padding-top: 30px

.split_pane_sidebar,
.split_pane_content
  float: left

.split_pane_sidebar
  background: url(../images/split_pane_sidebar.png) no-repeat top right
  min-height: 533px
  width: 30%

.split_pane_content
  border-left: 1px solid #ccc
  margin-left: -1px
  margin-bottom: 20px
  width: 70%

.split_pane_content > *:last-child
  margin-bottom: 0 !important

#main .split_pane_content > ul
  margin-left: 40px

#main .split_pane_content .big_list li:first-child
  border-top: 0
  padding-top: 10px

//
// Split pane - Menu.
//

.split_pane_sidebar dl
  border-right: 1px solid #ccc
  line-height: 1

.split_pane_sidebar dt,
.split_pane_sidebar dd
  border-bottom: 1px solid #ccc

.split_pane_sidebar dt,
.split_pane_sidebar dd a
  padding: 10px

.split_pane_sidebar dt
  font-weight: bold
  padding-bottom: 15px

.split_pane_sidebar dd
  font-size: 13px

.split_pane_sidebar dd a
  color: $body_text
  display: block
  text-decoration: none

.split_pane_sidebar dd a:hover
  background:
    color: rgba(#000, 0.05)

.split_pane_sidebar .highlighted
  background: #fff url(../images/split_pane_sidebar_highlighted.png) no-repeat
  font-weight: bold
  margin-right: -1px
  position: relative
  z-index: 1

.split_pane_sidebar .highlighted a,
.split_pane_sidebar .highlighted a:hover
  background: url(../images/split_pane_sidebar_highlighted_a.png) no-repeat right center
  color: $blue
  padding-left: 11px