// `Buttons + Drop-down
//----------------------------------------------------------------------------------------------------

.drop_down_arrow,
.drop_down_select,
.button
  +box-shadow(#fff 0 1px 0 0)
  +background-image(linear-gradient(#fff, #dddcda))
  background-color: #eeedeb
  display: block
  line-height: 21px
  position: relative
  text-decoration: none

.select_wrap,
.drop_down_arrow,
.drop_down_select,
.button
  +round
  border: 1px solid #aaa

.select_wrap
  +background-image(linear-gradient(#fff, #dddcda))
  +box-shadow(#fff 0 1px 0 0)
  display: inline-block
  vertical-align: top
  height: 21px
  position: relative
  top: -3px

.select_wrap span
  +border-right-radius(3px)
  background: url(../images/select_wrap_span.png) no-repeat right center
  display: inline-block
  overflow: hidden
  padding-right: 21px

.select_wrap select
  +border-radius(0)
  background: none
  border: 0
  font-size: 12px
  padding: 2px 0 0 5px
  height: 21px
  vertical-align: top
  text-shadow: #fff 0 1px 0
  width: 150%

.select_wrap optgroup,
.select_wrap option
  text-shadow: none

.select_wrap select:active,
.select_wrap select:focus
  +box-shadow(none)

@media (-webkit-min-device-pixel-ratio: 0)
  .select_wrap select
    padding-right: 20px

.button,
.drop_down_arrow,
.drop_down_select,
.button:hover,
.drop_down_arrow:hover,
.drop_down_select:hover
  color: $body_text

.drop_down_select
  padding-right: 23px
  position: relative

.button b,
.drop_down_select b
  display: block
  font-size: 12px !important
  padding: 0 10px
  line-height: 21px
  height: 21px

.button b
  background:
    position: 10px center
    repeat: no-repeat
  padding-left: 30px

.button sup
  +border-radius(8px)
  +box-shadow(rgba($blue_dark, 0.8) 0 0 0 1px)
  +box-sizing(border-box)
  +background-image(linear-gradient($blue_light, $blue))
  background-color: $blue
  color: #fff
  font:
    size: 11px
    weight: bold
  padding: 0 5px
  text-align: center
  text-shadow: rgba(#000, 0.5) 0 -1px 0
  line-height: 16px
  height: 16px
  z-index: 1
  position: absolute
  top: -9px
  right: -4px

.drop_down_select b
  border-right: 1px solid #aaa

.drop_down_select span
  +border-right-radius(2px)
  background-color: rgba(#000, 0.08)
  border-left: 1px solid rgba(#fff, 0.5)
  position: absolute
  top: 0
  right: 0

.button span,
.drop_down_arrow span,
.drop_down_select span
  background:
    repeat: no-repeat
  color: transparent
  display: block
  font-size: 0
  overflow: hidden
  text-indent: -99999px
  text-shadow: none
  height: 21px

.button span
  background:
    position: center center
  width: 24px

.drop_down_arrow span,
.drop_down_select span
  background:
    image: url(../images/drop_down_arrow.png)

.drop_down_arrow span
  background-position: 0 0
  width: 21px

.drop_down_select span
  background-position: -42px 0
  width: 22px

.button:hover,
.drop_down_arrow:hover,
.drop_down_select:hover
  +box-shadow(inset #fff 0 1px 0 0, #fff 0 1px 0 0)
  +background-image(linear-gradient(#f1efec, #e0dedb))
  background-color: #e0dedb

.button:active,
.button:focus
  +glow
  +box-shadow(inset rgba(#000, 0.25) 0 1px 1px 0, #fff 0 1px 0 0)

.li_active .dynamic_menu_trigger,
.dynamic_menu_trigger:active,
.dynamic_menu_trigger:focus
  +glow
  +background-image(linear-gradient(#444, #222))
  background-color: #222
  border-color: #111

.li_active .drop_down_arrow span,
.drop_down_arrow:active span,
.drop_down_arrow:focus span
  background-position: -21px 0

.li_active .drop_down_select span,
.drop_down_select:active span,
.drop_down_select:focus span
  background-color: transparent
  background-position: -63px 0
  border-color: #555

.li_active .dynamic_menu_trigger b,
.dynamic_menu_trigger:active b,
.dynamic_menu_trigger:focus b
  border-color: #111
  color: #fff
  text-shadow: #000 0 -1px 0

//
// Clear selected verses button.
//

#clear_selected_verses
  +border-right-radius(0)
  float: left

#clear_selected_verses + .button
  +border-left-radius(0)
  border-left: 0
  float: left

#clear_selected_verses + .button:after
  content: ''
  background: #fff
  color: transparent
  font-size: 0
  overflow: hidden
  width: 1px
  position: absolute
  top: 0
  left: 0
  bottom: 0

#clear_selected_verses + .button:active:after,
.li_active #clear_selected_verses + .button:after
  background: rgba(#fff, 0.4)

// `Icons
//----------------------------------------------------------------------------------------------------

.icon_x
  background:
    image: url(../images/icon_x.png)

.icon_listen
  background:
    image: url(../images/icon_listen.png)

.icon_parallel
  background:
    image: url(../images/icon_parallel.png)
    position: center 3px !important
  .parallel_mode &
    background:
      position: center -47px !important

.icon_full_screen
  background:
    image: url(../images/icon_full_screen.png)
    position: 3px 4px !important
  .full_screen &
    background:
      position: 4px -47px !important
    width: 25px

.icon_share
  background:
    image: url(../images/icon_share.png)
    position: 10px 4px !important
  &:active,
  &:focus,
  .li_active &
    background:
      position: 10px -47px !important

.icon_settings
  background:
    image: url(../images/icon_settings.png)
    position: center 3px !important
  &:active,
  &:focus,
  .li_active &
    background:
      position: center -47px !important
