// `Font Family
//----------------------------------------------------------------------------------------------------

.user_setting_font_helvetica,
*[data-setting-font="user_setting_font_helvetica"]
  font-family: $body_font

.user_setting_font_georgia,
*[data-setting-font="user_setting_font_georgia"]
  font-family: Georgia, 'Times New Roman', Times, serif

.user_setting_font_baskerville,
*[data-setting-font="user_setting_font_baskerville"]
  font-family: Baskerville, 'Times New Roman', Times, serif
  -webkit-font-smoothing: subpixel-antialiased

.user_setting_font_verdana,
*[data-setting-font="user_setting_font_verdana"]
  font-family: Verdana, sans-serif

// `Text Size
//----------------------------------------------------------------------------------------------------

.user_setting_size_small,
*[data-setting-size="user_setting_size_small"]
  font-size: $text_size

.user_setting_size_medium,
*[data-setting-size="user_setting_size_medium"]
  font-size: 17px

.user_setting_size_large,
*[data-setting-size="user_setting_size_large"]
  font-size: 20px

// `Dynamic Menu
//----------------------------------------------------------------------------------------------------

.dynamic_menu label[class^="user_setting_font_"]
  font-size: 15px