// Note: Styles for the "Donate Now" button are combined
// with the sidebar button styles, in _sidebar.sass

#donate_now_wrap
  float: right
  margin-bottom: 15px
  text-align: right
  width: 210px

#main article
  background:
    image: url(../images/phone_and_hands.jpg)
    position: right bottom
    repeat: no-repeat
  overflow: hidden
  padding-bottom: 0
  height: 450px

#main article h1
  font:
    size: 42px
  line-height: 1.3

#main article p
  font-size: 13px