tmp/*
.DS_Store
*.DS_Store
log/*
.idea/*
bin/*
*.swp
*.swo
*~
/.sass-cache/
.bundle/*
tags
.tddium*
.tddium
coverage
.powder
.powrc
dump.rdb
.project
custom_plan.rb
zeus.json
db/*.sqlite3
*.orig
.zeus.sock

.env
