@media only screen and (max-width: 600px)

  body
    background-image: none

  article
    width: auto
    margin: 0

  // ---- Intro

  .intro-logo
    background-image: cover

  .intro-starts
    letter-spacing: .85em
    padding-left: .85em
    font-size: 26px
    margin-top: 2%

  .intro-100m
    font: 240px 'BebasNeueRegular', arial, sans-serif
    margin-top: .5%

  .intro-copy
    font-size: 20px
    width: auto
    margin: 30% auto 0

  // ---- Share buttons

  .share-copy
    font-size: 21px
    letter-spacing: .7em
    margin-top: 3%
    padding-left: .7em

  .share-fb, .share-tw, .share-em
    float: none
    margin: 3% 0 0 5%
    padding: 1% 0
    font-size: 21px
    text-shadow: 0px -2px 0px rgba(0, 0, 0, .3)

  .share-fb
    background: #3A5998 image-url("campaigns/100m/fb.png") no-repeat 70px 10px
    padding-left: 10%
    width: 20%

  .share-tw
    background: #00ACED image-url("campaigns/100m/twitter.png") no-repeat 85px 12px
    padding-left: 10%
    width: 20%

  .share-em
    background: #AAAAAA image-url("campaigns/100m/email.png") no-repeat 84px 12px
    padding-left: 10%
    width: 20%

  // ---- Ticker

  .ticker
    margin-top: 6%
    background: image-url("campaigns/100m/ticker-commas.png") no-repeat center 100px

  .ticker-group-1,
  .ticker-group-2,
  .ticker-group-3
    width: 30%
    margin-left: 5%

  .ticker-1,
  .ticker-2,
  .ticker-3,
  .ticker-4,
  .ticker-5,
  .ticker-6,
  .ticker-7,
  .ticker-8,
  .ticker-9
    width: 33%
    font-size: 20px
    background: image-url("campaigns/100m/ticker-boxes.png") no-repeat center 4px
    margin-left: .5%

  .ticker-divider
    margin-top: -10%

  // ---- Counter

  .counter
    clear: both
    margin: 15% auto 0
    width: 70%

  .counter-days,
  .counter-hrs,
  .counter-min,
  .counter-sec
    width: 25%

  .counter-days
    border-left: 0

  .counter-bigtxt
    font-size: 24px

  // ---- Video

  .video
    margin-top: 7%

  .video-box
    float: none
    width: auto

  .video-copy
    width: auto
    padding-left: 3%
    font-size: 17px
    float: none

    p
      margin-bottom: 1%
      line-height: 1.8em

  // ---- Footer

  footer
    margin: 1% 0
