:ruby
  links = [{path: edit_user_path(current_user.username), string: t('users.edit profile')},
           {path: edit_notifications_path(token: params[:token]), string: t('users.edit notifications')},
           {path: user_email_path(current_user.username), string: t('users.edit email')},
           {path: user_password_path(current_user.username), string: t('users.edit password')},
           {path: user_avatar_path(current_user.username), string: t('users.edit picture')},
           {path: vod_subscriptions_path(token: params[:token]), string: t('users.vod_subscriptions')},
           {path: delete_account_user_path(current_user.username), string: t('users.edit account_existence')},
           {path: user_download_path(current_user.username), string: t('gdpr.data')}] if current_user.present?

#widget-user-settings.widget
  %h3.hd
    %span
      = t('users.settings')
  %ul.side-nav
    - links.each do |l|
      %li{class: current_page?(l[:path]) ? 'active' : '' }
        = link_to_unless_current l[:string], l[:path], { "target" => "_self" } do
          %a.active= l[:string]
