$gray: #888888;
$lightGray: #dddddd;
$darkGray: #777777;
$black: #444444;

$green: #6ab750;
$red: #CC0000;
$blue: #0099CC;
$dark_grey: #666;

$gray_dark_1: #1e1e1f;
$gray_dark_2: #424143;
$gray_dark_3: #646367;
$gray_medium: #807f83;
$gray_light: #eeedeb;
$blue: #0084c8;
$red: #c90000;
$blue_light: lighten($blue, 15%);
$blue_dark: darken($blue, 15%);

$mute: #888888;

$success-color: $green;

$side-nav-link-color-active: $green;