$rem-base: 14px;
$body_font: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
$fa_body_font: Tahoma, "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
$font-family-sans-serif: "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;

$body-font-color: $black;
$body-font-family: $font-family-sans-serif;

$text_size: 14px;
$paragraph-font-size: rem-calc(14);
$paragraph-margin-bottom: rem-calc(0);

$h1-font-size: rem-calc(38);
$h2-font-size: rem-calc(21);

$h1-font-reduction: rem-calc(10) !default;
$h2-font-reduction: rem-calc(1) !default;

$body_text: #444444;
$label_text: #666666;

$reader_line_height: 2em;

$side-nav-font-size: $text-size;

$form-label-font-size: $text-size;
$form-label-font-weight: bold;

$input-font-size: rem-calc(14);