$font-family-sans-serif: "Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;

$body-font-color: $black;
$body-font-family: $font-family-sans-serif;

$h1-font-size: rem-calc(38);
$h2-font-size: rem-calc(21);

$h1-font-reduction: rem-calc(10) !default;
$h2-font-reduction: rem-calc(1) !default;


$body_font: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
$fa_body_font: Tahoma, "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
$text_size: 14px;


$body_text: #444444;
$label_text: #666666;

$reader_line_height: 2em;

h1 {
  font-weight: 100;
}

h1, h2 {
  -webkit-font-smoothing: subpixel-antialiased;
}

h5.bookLabel {
	padding: 0.4375rem 0.875rem;
}

.small-title {
	font-size: 15px;
	font-weight: bold;
}

.blue-text {
	color: $blue !important;
}
