#menu_book_chapter.dynamic_menu
  .spinner_wrapper{style: "display: none;"}
    #book_chapter_spinner.dynamic_menu_spinner
  .search
    %input{type: "text", placeholder: t('filter book')}
  .browse
    %span.menu_arrow
      &nbsp;
    #menu_book
      %header
        =t("book")
      .scroll
        %ul
          - @version.books.each do |book_usfm, book_info|
            %li{"data-meta" => truncate(book_info.to_meta, length: 40, separator: " ")}
              %a{:href => '#', "data-book" => book_usfm.downcase}=  truncate(book_info.human, length: 40, separator: " ")
    #menu_chapter
      %header
        =t("chapter")
      .scroll
        %ol#chapter_selector
