#menu_book_chapter.dynamic_menu
  .spinner_wrapper{style: "display: none;"}
    #book_chapter_spinner.dynamic_menu_spinner
  %span.menu_arrow
    &nbsp;
  #menu_book
    %header
      =t("book")
    .scroll
      %ul
        - @version.books.each do |k, v|
          %li
            %a{:href => '#', "data-book" => k, "data-version" => @version.osis, "data-chapters" => @version.books[k].chapters}=  v.human
  #menu_chapter
    %header
      =t("chapter")
    .scroll
      %ol#chapter_selector
