#menu_book_chapter.dynamic_menu
  .spinner_wrapper{style: "display: none;"}
    #book_chapter_spinner.dynamic_menu_spinner
  %span.menu_arrow
    &nbsp;
  #menu_book
    %header
      =t("book")
    .scroll
      %ul
        - @version.books.each do |book_usfm, book_info|
          %li
            %a{:href => '#', "data-book" => book_usfm, "data-version" => @version.to_param, "data-abbrev" => @version.abbreviation, "data-chapters" => @version.books[book_usfm].chapters.map(&:human), "data-chapter-refs" => @version.books[book_usfm].chapters.map(&:usfm)}=  book_info.human
  #menu_chapter
    %header
      =t("chapter")
    .scroll
      %ol#chapter_selector
