%ul#book_selector
	- @version.books.each do |k, v|
		%li{class: k == @reference[:book] ? "selected" : ""}= link_to_unless_current v.human, bible_path(@reference.merge(book: k))
%ul#chapter_selector{class: @reference[:book]}
	- @version.books[@reference[:book]].chapter.each do |k, v|
		%li{class: k == @reference[:chapter].to_s ? "selected" : ""}= link_to_unless_current k, bible_path(@reference.merge(chapter: k))
