-# !Notification chunk
.notify
  %p.notify-copy
    Thanks for signing up!
  %p.notify-note
    You'll be the first to know when the Bible App for Kids is ready to download.
  = render "campaigns/kids/share"