%li
  %a= link_to YouVersion::Resource.i18nize(item.name), plan_path(item.slug)
  %p.small= YouVersion::Resource.i18nize(item.about)
  
  / {"id"=>"20",
  /   "name"=>{"default"=>"One-2-One", "en"=>"One-2-One"},
  /   "total_days"=>"25",
  /   "locked_timeline"=>false,
  /   "copyright"=>
  /    {"default"=>"This reading plan is provided by Every Nation.",
  /     "en"=>"This reading plan is provided by Every Nation."},
  /   "about"=>
  /    {"default"=>
  /      "One-2-One was written as a simple tool to aid in personal follow-up and 
  /     "en"=>
  /      "One-2-One was written as a simple tool to aid in personal follow-up and 
  /   "version"=>nil,
  /   "created"=>"2009-12-17 18:20:42+00",
  /   "slug"=>"one-2-one",
  /   "formatted_length"=>{"default"=>"25 Days", "en"=>"25 Days"},
  /   "default_start"=>nil,
  /   "type"=>"devotional",
  /   "publisher_url"=>nil,
  /   "system_status"=>"1",
  /   "copyright_html"=>{"default"=>nil},
  /   "about_html"=>{"default"=>nil},
  /   "short_url"=>"http://dev.read.ly/r/K"},