- user = users_list_item

%li.user
  - if user.avatars.present? and user.avatars.md_avatar.present?
    %p.float_left.gutter_right_half
      = image_tag(user.avatars.md_avatar.url, size:"48x48", style:"margin-top:2px" )
  %p.float_left
    = link_to user.name || user.username, user
    %br
    %span.mute= user.location || user.country