- item = users_list_item

%li.user
  - u = User.new(item)
  - if u.user_avatar_url
    %p.float_left.gutter_right_half
      %img{src: u.user_avatar_url.px_48x48, style:"margin-top:2px"}
  %p.float_left
    = link_to u.name || u.username, u
    %br
    %span.mute= u.location || u.country