- user = users_list_item

%li.user.clearfix
  - if user.avatars.present? and user.avatars.md_avatar.present?
    %p.left
      = image_tag(user.avatars.md_avatar.url, size:"48x48", style:"margin-top:2px" )
  %p.left.name
    = link_to user.name || user.username, user
    %br
    %span.mute= user.location || user.country