body.c_users.a_new,
body.c_users.a_create
{
  #user_password {
    float: $default-float;
  }
  #pwd-message {
    float: $default-float;
    color: #7c7c7c;
    width: 100%;
    font-size: rem-calc(11);
    margin-top: -20px;
    padding-bottom: 10px;
  }

  form
  {
    label{
      padding: 0 0 5px;
      font-size: rem-calc(17);
      font-weight: bold;
    }
  }

  .widget
  {
    h6 {
      font-size: rem-calc(15);
      font-weight: bold;
    }

    img {
      min-height: 22px;
      min-width: 22px;
    }
  }

  @media #{$medium-up} {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    button {
      width: 65%;
    }
  }
  .terms {
    clear: both;
    margin-bottom: 20px;
    font-size: rem-calc(11);
  }
  @media #{$small-only} {
    .alt-path {
      display: block;
    }
  }
}
