<!DOCTYPE html>
<html>
	<head>
		<link href="https://www.bible.com/assets/application-0523b1103a0155d0473a21fce304cdc3.css" media="screen" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/style.min.css" />		
	</head>
	<body>
		<div id="current-ui-view">
			<div id="react-app"><%- appString %></div>
		</div>
		<script src="/javascripts/app.js"></script>		
	</body>
</html>