.audio-popup {

	.modal {
		margin-left: -250px;
		padding: 0px 15px 25px 15px;
	}

	.audio-popup-modal {
		background-color: white;
		width: 310px;
		border-radius: @default-radius @default-radius 0px 0px;
		border: @thin-grey-border;

		.header {
			width: 100%;
			background-color: @light-grey;
			border-bottom: @thin-grey-border;
			max-height: 30px;
			border-radius: @default-radius @default-radius 0px 0px;
			font-size: 11px;
		}

		.body {
			padding: 15px;
			display: inline-flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: stretch;
			height: 295px;
		}
	}
}