- href = link_params ? url_for(link_params.merge(version: version.osis)) : "#"
%tr
  %th
    %a.spinner_trigger{"data-version" => version.osis, :href => href}= version.osis_human
  %td{class: version.audio? ? "audio" : ""}
    %a.spinner_trigger{"data-version" => version.osis, :href => href}
      %div= version.title