- versions.each do |v|
  %tr{"data-version" => v.id, "data-abbrev" => v.abbreviation.downcase, "data-meta" => v.to_meta}
    %th
      %a{:href => "#"}= v.human
    %td{class: v.audio_version? ? "audio" : ""}
      %a{:href => "#"}
        %div= v.title