- alt ||= nil
%tr
  %th
    %a.spinner_trigger{class: alt ? "alt_version_link" : "", "data-version" => version.osis, :href => @reference ? bible_path(@reference.merge(version: version.osis)) : url_for(@params.merge(version: version.osis))}= version.osis_human
  %td{class: version.audio? ? "audio" : ""}
    %a.spinner_trigger{class: alt ? "alt_version_link" : "", "data-version" => version.osis, :href => @reference ? bible_path(@reference.merge(version: version.osis)) : url_for(@params.merge(version: version.osis))}
      %div= version.title