%tr
  %th
    %a.spinner_trigger{"data-version" => version.to_param, :href => "#"}= version.human
  %td{class: version.audio_version? ? "audio" : ""}
    %a.spinner_trigger{"data-version" => version.to_param, :href => "#"}
      %div= version.title