- plan_url = url_for(@link_params) if @link_params

.dynamic_menu.version_select{class: @force_style.present? ? 'static dynamic_menu_reverse' : '',style: @force_style, id: "menu_version", "data-plan-url" => plan_url, "data-link-needs-param" => @add_version_param.to_s}
  .spinner_wrapper{style: "display: none;"}
    #version_spinner.dynamic_menu_spinner
  .search
    %input{type: "text", placeholder: t('versions.filter')}
  .browse
    %span.menu_arrow
      &nbsp;
    .scroll
      %table
        - if @recent_versions.present?
          %tr.cat
            %th{:colspan => '2'}= t('recent versions')
          = render partial: 'items', locals: {versions: @recent_versions}
      .loading{'data-error-text' => t('versions.load error')}
        = t('versions.loading')