.dynamic_menu.version_select{style: @force_style, id: @is_alt ? "menu_alt_version" : "menu_version", "data-reference" => bible_path(@ref.merge({version: nil, verse: nil}))}
  .spinner_wrapper{style: "display: none;"}
    #version_spinner.dynamic_menu_spinner
  %span.menu_arrow
    &nbsp;
  .scroll
    %table
      - if !@recent_versions.empty?
        %tr
          %th{:colspan => '2'}= t('recent versions')
        - @recent_versions.each do |v|
          = render partial: 'item', locals: {version: v, link_params: @link_params}
      = render_cell :version_selector, :all_versions, version: @version, reference: @ref, is_alt: @is_alt, force_style: @force_style, link_params: @link_params

