%ul#version_selector
	- @versions.each do |k, v|
		%li.language
			= @languages[k]
			%ul
				- v.each do |k, v|
					%li.version{class: k == @reference[:version] ? "selected" : ""}
						=link_to_unless_current "#{v.title} (#{v.osis.upcase})", bible_path(@reference.merge(version: v.osis))
