%ul#version_selector
	- @versions.each do |k, v|
		%li.language
			= @languages[k]
			%ul
				- v.each do |k, v|
					- if @reference
						%li.version{class: k == @reference[:version] ? "selected" : ""}
							= link_to_unless_current(v, bible_path(@reference.merge(version: v.osis)))
					- else
						%li.version
							= link_to_unless_current v, version_path(v)
