.yv-button {
	display: inline-block;
	background-color: white;
	padding: 6px 12px;
	color: @font-grey;
	border: @thin-grey-border;
	border-radius: 4px;
	font-size: 12px;
	text-align: center;

	&:hover {
		border-color: @green;
		color: @green;
	}
}
.yv-button.green {
	border-color: @green;
	color: @green;
}
