.yv-button-group {
	display: flex;
	flex-direction: row;

	> .yv-button {
		margin-right: 7.5px;
		margin-left: 7.5px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
