.yv-button {
	display: inline-block;
	background-color: white;
	padding: 6px 15px;
	color: @font-grey;
	border: @thin-grey-border;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	.yv-text-wrap;

	&:hover {
		border-color: @green;
		color: @green;
	}
}
.yv-button.green {
	border-color: @green;
	color: @green;
}
