.yv-button {
	display: inline-block;
	background-color: white;
	padding: 6px 12px;
	color: #a2a2a2;
	border: solid 1px #ddd;
	border-radius: 4px;
	font-size: 12px;
	text-align: center;

	&:hover {
		border-color: #6ab750;
		color: #6ab750;
	}
}
