.confirmation-dialog {
	.prompt {
		font-weight: bold;
	}
	.actions {
		width: 100%;
		button {
			background: white;
			margin: 0;
			font-size: 15px;
			padding: 5px 20px;
		}
		button:hover {
			background: white;
		}
	}
}
