.confirmation-dialog {
	.prompt-wrapper {
		width: 100%;
		margin-bottom: 25px;
		.prompt {
			font-weight: bold;
			margin-bottom: 15px;
			width: 100%;
		}
	}
	.actions {
		width: 100%;
		button {
			background: white;
			margin: 0;
			font-size: 15px;
			padding: 5px 20px;
		}
		button:hover {
			background: white;
		}
	}
}
