.yv-icon-button {
	display: flex;
	flex-direction: column;

	&:hover {
		opacity: 0.35;
	}

	&:active {
		opacity: 1;
	}

	.yv-icon-button-svg {
		display: flex;

		svg {
			margin: auto;
		}
	}

	.yv-icon-button-label {
		text-align: center;
    font-size: 14px;
		line-height: 14px;
		margin-top: 5px;
	}
}
