.popup-menu-container {
	// display: inline-block;
	// float: right;

	.popup-menu {
		ul {
			position: absolute;
			margin-left: -130px;
			width: 150px;
			.yv-drop-shadow;
			z-index: 100;
		}
	}
}

.yv-menu {
	ul {
		background-color: white;
		opacity: 0.9;
		border-radius: 5px;
		display: inherit;
		margin: 0;
		list-style: none;
		padding:0;
		width: 100%;
		text-align: left;
		background-color: white;
		li {
			padding: 5px 10px;
			color: @dark_grey;
			text-align: center;
			&:hover {
				color: @green;
				cursor: pointer;
				background-color: @light-grey;
			}
		}
	}
}
