.popup-menu-container {
	.popup-menu {
		ul {
			position: absolute;
			margin: -75px 0 0 -175px;
			max-width: 225px;
			.yv-drop-shadow;
			z-index: 100;
		}
	}
}

.yv-menu {
	ul {
		background-color: white;
		opacity: 0.95;
		border-radius: 5px;
		display: inherit;
		margin: 0;
		list-style: none;
		padding:0;
		width: 100%;
		text-align: left;
		background-color: white;
		li {
			padding: 6px 10px;
			border-radius: 5px;
			color: @dark_grey;
			text-align: center;
			border-bottom: 1px solid @light-grey;
			&:hover {
				color: @green;
				cursor: pointer;
				background-color: @light-grey;
			}
		}
	}
}
