.popup-menu-container {
	margin-left: 15px;
	margin-top: 1px;
	display: 'inline-block';
	float: 'right';

	.popup-menu {
		ul {
			position: absolute;
			right: 16px;
			width: 150px;
			.yv-drop-shadow;
			z-index: 100;
		}
	}
}

.plan-overview .header .popup-menu ul {
	top: 24px;
}

.yv-menu {
	border: @thin-grey-border;
	background-color: white;

	ul {
		display: inherit;
		margin: 0;
		list-style: none;
		padding:0;
		width: 100%;
		text-align: left;
		background-color: white;
		li {
			background: white;
			padding: 5px 10px;
			color: @dark_grey;
			&:hover {
				background-color: @light-grey;
				// color: @blue;
			}
		}
	}
}
