.yv-sectioned-layout {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	min-height: 30px;

	.yv-left {
		display: flex;
		align-items: center;
	}

	.yv-center {
		position: absolute;
    left: 50%;
    transform: translate(-50%,0);
		display: flex;
		align-items: center;
		width: max-content;
		width: -moz-max-content;
		width: -webkit-max-content;
	}

	.yv-right {
		display: flex;
		align-items: center;
    margin-left: auto;
	}
}
