.user-container {
	display: inline-flex;
	.avatar-container {
		.vertical-center;
	}
	.avatar {
		border-radius: 100%;
	}
	.content {
		.vertical-center;
		flex-wrap: wrap;
		padding: 0 10px;
	}
	.heading {
		width: 100%;
	}
	.subheading {
		font-size: 10px;
		color: @font-grey;
		line-height: initial;
	}
}

.friend-list {
	.user-container {
		width: 100%;
	}
}

.avatar-placeholder {
	border-radius: 100%;
	background: white;
}
