- content_for :sidebar do
  .widget.social-sidebar
    %h3.hd
      = t('press page.contact header')
    .social-sidebar-input
      %textarea
        Write a comment...
      %button.action_button_green
        Post