.verse-action-footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	border-top: solid 1px #ddd;
	width: 100%;
	left: 0px;
	z-index: 1;
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transform: 	translate(0, 110%);
	 -moz-transform: 		translate(0, 110%);
	  -ms-transform: 		translate(0, 110%);
	      transform: 		translate(0, 110%);

	&.open {
		-webkit-transform: 	translate(0, 0);
		 -moz-transform: 		translate(0, 0);
		  -ms-transform: 		translate(0, 0);
		      transform: 		translate(0, 0);
	}

	&.closed {
	}

	.close-button {
		position: fixed;
		right: 50px;
		font-size: 13px;
	}

	.verse-selection {
		font-size: 11px;
		color: @dark_grey;
		transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	.button-bar {
		border: none;

		.button-bar-button {
			border: none;

			.button-bar-button-content {
				padding: 15px 5px;
			}

			&.selected {
				background-color: transparent;
			}

			.yv-green-link {
				font-size: 13px;
				padding: 3px 8px;
				border-radius: 4px;
				transition: background-color 0.2s ease-in-out;
				&:hover {
					color: #6ab750;
					background-color: #6ab750;
					color: white;
				}
			}
		}
	}

}

.color-list {

	.carousel-standard {
		margin: 0 auto 0 auto;
		min-width: 200px;
		max-width: 300px;
		min-height: 38px;
		.slick-arrow-right-container, .slick-arrow-left-container {
			height: 32px;
			width: 55px;
			z-index: 1;
		}
		.slick-arrow-left-container {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+70,0+100 */
			background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
		.slick-arrow-right-container {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+30 */
			background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
	}

	.color {
		width: 26px;
		height: 26px;
		border-radius: 26px;
		transform: scale(0.85);
		transition: transform 0.15s ease-in-out;
		display: inline-flex;
		margin: 5px 5px 5px 0;
	}
	.color:hover {
		cursor: pointer;
		transform: scale(1);
	}
	.custom-color-icon, .ellipsis-icon-container {
		display: flex;
		.yv-flex-center-all;
	}
	.custom-color-icon {
		border: @thin-grey-border;
	}
	.ellipsis-icon-container {
		padding-top: 1px;
	}

	.custom-color-picker {
		display: flex;
		align-items: center;
	}
	.slider {
		display: inline-block;
	}
	.buttons {
		display: inline-flex;
		flex-direction: column;
		.yv-flex-center-all;
		.color {
			width: 31px;
			height: 31px;
			margin: 0 0 8px 0;
		}
	}

}








// CREATE BOOKMARK/CREATE NOTE
.verse-action-create {
	padding: 25px 0 25px 0;
	background-color: @light-grey;

	.heading {
		display: inline-flex;
		width: 100%;
		margin-bottom: 25px;
		.cancel {
			text-align: left;
		}
		.title {
			text-align: center;
		}
		.save {
			text-align: right;
			.solid-button {
				margin-bottom: 0;
			}
		}
	}
	.color-list {
		padding: 20px 10px 20px 10px;
	}
	.colors-div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
		.color-trigger-button {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 1px;
			.color {
				width: 25px;
				height: 25px;
				border-radius: 25px;
				display: inline-flex;
			}
		}

		.modal {
			margin-left: -55px;
			margin-top: 50px;
		}
	}
	.labels {
		width: 100%;
	}
}

// NOTE
.note-create {
	.user-status-dropdown {
		display: flex;
		justify-content: flex-end;
	}
	.select-field {
		margin-top: 15px;
		margin-bottom: 15px;

		.selected, li {
			min-width: 100px;
			font-size: 12px !important;
			padding-left: 10px;
		}
		li {
			background-color: @light-grey;
		}

	}

	.note-editor {

		textarea {
			margin: 0;
			border: none;
			resize: none;
		}
	}
}

.va-share {
	position: relative;
}

.va-share-panel-wrapper {
	position: absolute;
	bottom: 130%;
	left: 0;
	overflow: hidden;
}

.va-share-panel {
	transform: translateY(110%);
	transition: transform 0.5s cubic-bezier(0.42,1,.16,.93);
  padding: 35px 10px 10px;
  background-color: white;
  border: solid 1px @dark_grey;
  border-radius: 5px 5px 0 0;
  width: 244px;

  .va-share-header {
		background-color: @light-grey;
		position: absolute;
		top: 0;
		padding: 5px;
		width: 100%;
		left: 0;
		font-size: 12px;
		text-align: center;
		letter-spacing: 1px;
		font-weight: bold;
		border-radius: 5px 5px 0 0;
  }

	.at-share-btn {
		border-radius: 50% !important;
	}

	&.va-share-open {
		transform: translateY(0%);
	}
}