

.color-list:hover {

}
.color-list {
	display: inline-flex;
	align-items: center;
	overflow-x: hidden;

	.color {
		width: 26px;
		height: 26px;
		border-radius: 26px;
		transform: scale(0.85);
		transition: transform 0.15s ease-in-out;
		display: inline-flex;
		margin: 5px;
	}
	.color:hover, .selected-color {
		cursor: pointer;
		transform: scale(1);
	}

}








// CREATE BOOKMARK/CREATE NOTE
.verse-action-create {
	padding: 25px 0 25px 0;
	background-color: @light-grey;

	.heading {
		display: inline-flex;
		width: 100%;
		margin-bottom: 25px;
		.cancel {
			text-align: left;
		}
		.title {
			text-align: center;
		}
		.save {
			text-align: right;
			.solid-button {
				margin-bottom: 0;
			}
		}
	}
}



// NOTE
.note-create {
	.user-status-dropdown {
		display: flex;
		justify-content: flex-end;
	}
	.select-field {
		margin-top: 15px;
		margin-bottom: 15px;

		.selected, li {
			min-width: 100px;
			font-size: 12px !important;
			padding-left: 10px;
		}
		li {
			background-color: @light-grey;
		}

	}

	.note-editor {

		textarea {
			margin: 0;
			border: none;
			resize: none;
		}
	}
}