.verse-action-footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	border-top: solid 1px #ddd;
	width: 100%;
	left: 0px;
	z-index: 1;
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
	transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	-webkit-transform: 	translate(0, 110%);
	 -moz-transform: 		translate(0, 110%);
	  -ms-transform: 		translate(0, 110%);
	      transform: 		translate(0, 110%);

	&.open {
		-webkit-transform: 	translate(0, 0);
		 -moz-transform: 		translate(0, 0);
		  -ms-transform: 		translate(0, 0);
		      transform: 		translate(0, 0);
	}

	&.closed {
	}

	.close-button {
		position: fixed;
		right: 50px;
		font-size: 13px;
	}

	.verse-selection {
		font-size: 11px;
		color: @dark_grey;
		transition: opacity 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	.button-bar {
		border: none;

		.button-bar-button {
			border: none;

			.button-bar-button-content {
				padding: 15px 5px;
			}

			&.selected {
				background-color: transparent;
			}

			.yv-green-link {
				font-size: 13px;
				padding: 3px 8px;
				border-radius: 4px;
				transition: background-color 0.2s ease-in-out;
				&:hover {
					color: #6ab750;
					background-color: #6ab750;
					color: white;
				}
			}
		}
	}

}

.color-list:hover {

}
.color-list {
	display: inline-flex;
	align-items: center;
	overflow-x: hidden;
}

.color {
	width: 26px;
	height: 26px;
	border-radius: 26px;
	transform: scale(0.85);
	transition: transform 0.15s ease-in-out;
}
.color:hover {
	cursor: pointer;
	transform: scale(1);
}

.va-share {
	position: relative;
}

.va-share-panel-wrapper {
	position: absolute;
	bottom: 130%;
	left: 0;
	overflow: hidden;
}

.va-share-panel {
	transform: translateY(110%);
	transition: transform 0.5s cubic-bezier(0.42,1,.16,.93);
  padding: 35px 10px 10px;
  background-color: white;
  border: solid 1px @dark_grey;
  border-radius: 5px 5px 0 0;
  width: 244px;

  .va-share-header {
		background-color: @light-grey;
		position: absolute;
		top: 0;
		padding: 5px;
		width: 100%;
		left: 0;
		font-size: 12px;
		text-align: center;
		letter-spacing: 1px;
		font-weight: bold;
		border-radius: 5px 5px 0 0;
  }

	.at-share-btn {
		border-radius: 50% !important;
	}

	&.va-share-open {
		transform: translateY(0%);
	}
}
