.moment
  .moment-top
    .moment-bdg
      %span.moment-icon
        &nbsp;
      %div{id: list_item.id}
        %a{href: "#"}
          %img{src: list_item.image_url.px_48x48, width: 48, height: 48}
        %div
          %span.moment-time
            = api_dt_time_ago(list_item.earned_dt)
          %h2.moment-bdg-text
            = list_item.name
          %p.moment-bdg-info
            = list_item.description