.modal
  .window,
  .overlay
    display: none

#modal_overlay
  background: rgba(#000, 0.8) image-url("modal_overlay.png")
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 6

#modal_window
  +round
  +box-shadow(rgba(#000, 0.75) 0 0px 20px 0)
  background: #bfbec1 image-url("modal_window.png")
  border: none
  overflow: visible
  text-shadow: rgba(#fff, 0.7) 0 1px 0
  position: fixed
  top: 50%
  left: 50%
  z-index: 7
  width: 900px

  .gplus
    margin-top: 10px

  header
    +box-shadow(inset rgba(#fff, 0.1) 0 1px 0 0, rgba(#000, 0.5) 0 2px 5px 0)
    +border-top-radius(3px)
    -webkit-font-smoothing: subpixel-antialiased
    background: #111 image-url("modal_header.png") repeat-x left bottom
    color: #fff
    overflow: hidden
    padding: 0 25px
    position: relative
    text-shadow: none
    line-height: 50px
    height: 50px
    z-index: 1
    border: none

    b
      font-size: 18px

    a
      color: #999
      &:hover
        color: #fff

  .separator
    background: image-url("modal_header_separator.png") repeat-y center top
    color: transparent
    display: inline-block
    overflow: hidden
    padding: 0 10px
    text-indent: -99999px
    width: 1px
    height: 30px
    position: relative
    top: 10px

  .close
    background: image-url("close_modal.png") no-repeat
    color: transparent
    cursor: default
    font-size: 0
    margin-top: -15px
    overflow: hidden
    text-indent: -99999px
    position: absolute
    top: 50%
    right: 15px
    width: 27px
    height: 28px
    cursor: pointer

  .close:hover
    background-position: left bottom

  hr
    border-top-color: rgba(#000, 0.25)
    border-bottom: 1px solid rgba(#fff, 0.5)
    margin-bottom: 35px

  .big
    color: #111
    font:
      size: 35px
      weight: 200
    line-height: 1.2
    margin-bottom: 25px

  .action_button_blue,
  .action_button_green
    +box-shadow(inset rgba(#fff, 0.3) 0 1px 0 0, rgba(#000, 0.2) 0 0 0 4px)
    margin-left: 4px
    padding:
      left: 30px
      right: 30px

  section
    background: image-url("modal_section.png") no-repeat right top
    margin-left: 140px
    padding: 30px 50px 20px

  aside
    +round_bottom_right
    background: #eae9ee
    padding: 20px 20px 0
    position: absolute
    top: 50px
    left: 0
    right: auto
    bottom: 0
    width: 100px


  .action_button_green:focus,
  .action_button_green:active,
  .action_button_blue:focus,
  .action_button_blue:active
    +box-shadow(rgba(#000, 0.2) 0 0 0 4px, inset rgba(#000, 0.5) 0 5px 10px 0)

// End #modal_window


// Share Tab styles
.tabs ul li a
  color: $gray_medium
  font-weight: bold
  margin: 0 auto
  background: image-url("tab_deselected.png") #eae9ec bottom center repeat-x
  float: left
  width: 140px
  +round-top
  padding: 12px 0px
  margin: 0 10px 0 0
  font-size: 13px


.tabs ul li.selected_tab a
  background: image-url("tab_selected.png") #eae9ec top center repeat-x
  color: $blue

.tabs ul li a span
  display: block
  width: 45px
  margin: 0 auto
  padding-left: 20px

#share_tab a span
  background: image-url("share_tab_icon.png") left -30px no-repeat

.selected_tab a #share_tab a span
  background: image-url("share_tab_icon.png") left 5px no-repeat

#link_tab a span
  background: image-url("link_tab_icon.png") left -30px no-repeat

.selected_tab a #link_tab a span
  background: image-url("share_tab_icon.png") left 5px no-repeat

#share_tab_content .share_services
  float: left
  width: 100px

#share_tab_content .share_services span
  display: block

#share_tab_content .share_message
  float: right
  width: 300px

#share_tab_content .share_message span
  float: left
  margin-top: 5px

#share_tab_content .share_message .character_count
  float: right
  background: #fff
  color: #a20000
  +round
  box-shadow: 0px 1px 0px rgba(#222, .5)
  padding: 2px 5px
  margin-top: 5px
  font-size: 11px
.tabs ul
  margin: 0px
  padding: 0px
.tabs ul li
  list-style: none
  margin:
    right: 10px
    left: 0px

.share_action
  float: right
.share_action a
  float: right
.share_action a .action_button_green
  float: right
  padding:
    left: 15px !important
    right: 15px !important
.action_cancel
  padding: 5px 0px 0px 0px
  margin-right: 10px
  color: #676767
  text-decoration: underline

.share_services span .faux_checkbox
  float: left
  padding-right: 5px

.share_verse_twitter
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  display: block

.share_verse_facebook
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  display: block

