// `Widgets
//----------------------------------------------------------------------------------------------------
.widget.simple
  .bd
    border: none
    margin: 0
  p
    margin: 0

.widget.simple.app
  z-index: 2

.widget-button
  margin: 0 0 10px

.widget
  color: #333
  z-index: 1
  padding: 0
  margin: 0 0 10px
  position: relative
  border: 0
  background: #EEEDEB
  +round

  a
    text-decoration: none

  h3
    margin: 0
    font-size: 14px

  h3 em
    float: right
    font-style: normal

  ul
    margin-bottom: 0

  li
    margin: 0
    padding: 10px 20px
    border-bottom: 1px solid #DEDDDB
    list-style: none
    background: #fff

  li:first-child
    border-top: 0

  .separator
    background: image-url("separator.png") repeat-y center top
    color: transparent
    overflow: hidden
    padding: 0 5px 2px
    text-indent: -99999px

  .more_arrow
    color: #555
    padding: 5px 25px 5px 0
    background: image-url("more_arrow.png") no-repeat right center

  .more_arrow:hover
    color: inherit
    text-decoration: none

  .hd
    font-size: 14px
    font-weight: bold
    line-height: 18px
    padding: 10px 35px 10px 15px
    position: relative
    border-bottom: 1px solid #DEDDDB
    background-color: #EEEDEB
    +round_top
    +box-shadow(inset #fff 0 1px 0 0)

    a, a:link
      color: #444

    a:hover
      color: #666

    a.count
      position: absolute
      top: 8px
      right: 8px
      background-color: #eeedeb
      border: 1px solid #aaa
      color: $body_text
      display: inline-block
      font-size: 11px
      line-height: 1
      padding: 2px 10px 3px
      text-decoration: none
      +border-radius(9px)

    a.count:hover
      background:
        color: #fff
        image: none

    a.count:active
      background:
        color: #eee
        image: none

  .bd
    padding: 20px
    font-weight: normal
    +border-radius(3px)
    background-color: #fff

    p
      margin: 0

    ul
      border: none !important
      border-radius: none !important
      font-weight: normal
      list-style: square outside none
      margin: 0 0 0 20px

    li
      list-style: square outside none
      border: none
      padding: 0
      margin: 0
      padding: 7px 0

  .bd.nopad
    padding: 0

  .ft
    padding: 10px 15px

  .ft.link
    padding: 0
    a
      display: block
      padding: 8px 20px 8px 30px
      text-decoration: none
      border-top: 1px solid #DEDDDB
      background: image-url("main_article_ul_li_arrow.png") no-repeat 15px center

    a, a:hover
      color: $body_text

    a:hover,
    a.selected
      background-color: rgba(#fff, 0.4)


  .menu
    margin-bottom: 0 !important
    background: #fff

    li
      padding: 0

    li.active
      background: #d1d1d1
      border-top: none

    a,
    span
      display: block
      font-size: 13px
      line-height: 1
      padding: 10px 20px 10px 30px
      text-decoration: none
      background:
        image: image-url("main_article_ul_li_arrow.png")
        repeat: no-repeat
        position: 15px center

    a, a:hover
      color: $body_text

    a:hover
      background-color: rgba(#000, 0.1)
    a.selected
      background-color: rgba(#000, 0.2)
      &:hover
        cursor: default

    p
      padding: 0
      overflow: hidden
      margin: 10px 20px 10px 20px

  // Basic ul.menu
  // links don't have > arrow icon or extra left padding.
  .menu.basic
    a, span
      background: none !important
      padding: 10px 15px

.widget ul li:last-child
  border-bottom: 0
  +border-radius(0 0 4px 4px)

.widget table
  width: 100%
  margin: 0
  border-collapse: separate
  background: image-url("shadow.png") repeat-x

.widget th,
.widget td
  padding: 10px 15px

.widget th
  width: 1%

.widget th
  background:
    color: #d5d4d6
    image: image-url("widget_th.png")
    repeat: no-repeat

.widget tbody th
  background:
    position: right top

.widget tfoot th
  background:
    position: right bottom

.widget td
  border-top: 1px solid #fff
  border-bottom: 1px solid #ccc

.widget td p
  margin: 0
  padding-top: 10px

.widget td p.small
  padding-top: 0

.widget tbody tr:first-child td
  border-top: 0

.widget tbody:last-child tr:last-child td
  border-bottom-width: 0

.widget tfoot td
  border-bottom: 0

.widget tfoot + tbody:last-child tr:last-child td
  border-bottom-width: 1px

.widget th img
  display: block
  margin: 0 auto

.widget-notice
  +round_top
  +round_bottom
  +box-shadow(inset #fff 0 1px 0 0)
  background-color: #EEEDEB
  padding: 10px 15px
  margin-bottom: 10px

  .exit
    display: block
    float: right

  p
    margin-bottom: 0

#widget-signup,
#widget-signin
  background: #0084c8

  h3
    color: #024162
    padding-top: 8px
    max-width: 170px

  .action_button_grey
    float: right
    margin-top: -23px
    padding: 7px 10px

#widget-user-settings
  .hd span
    display: block
    padding-left: 21px
    background: image-url("header_icon_gear.png") no-repeat left center

#widget-user-badges
  .hd span
    display: block
    padding-left: 21px
    background: image-url("header_icon_badge.png") no-repeat left center

#widget-reader-help
  .hd span
    display: block
    padding-left: 21px
    background: image-url("icon_help.png") no-repeat left center

#widget-bookmarks
  .hd span
    display: block
    background: image-url("header_icon_bookmark.png") no-repeat left center
    padding-left: 21px

  .ft
    text-align: right


  .tag
    color: #555
    font-style: italic

    a
      color: inherit
      text-decoration: none

    a:hover
      text-decoration: underline

  .tag:after
    content: ','
    margin-left: -2px

  .tag:last-child:after
    content: ''

#widget-notes
  .hd span
    background: image-url("widgets-sprite.png") no-repeat 0 1px
    padding-left: 25px

#widget-download
  .bafk-icon
    width: 58px
    height: 58px
    float: right

  .bd.bafk
    background:
      image: image-url("ad_bafk_platforms.svg")
      position: 96% 84%
      repeat: no-repeat
      size: 90px 25px

  .bd
    background:
      image: image-url("ad_bible_platforms.png")
      position: 180px 120px
      repeat: no-repeat
    @extend .clearfix

    h3
      margin-bottom: 1.3em
    p
      margin-bottom: 10px
      padding-right: 75px

    .action_button_green
      padding: 7px 10px
      font-size: 15px
      float: left

  .sms
    padding: 0 15px 15px 15px
    background-color: #fff
    .sms_container
      clear: both
      margin: 0

    .smsButton
      display: block

      li
        list-style: none
        padding: 0

#widget-devotional
  h2
    margin: .5em 0 1em 0
    padding: 0
    font-size: 16px
    font-weight: bold

  p
    margin-bottom: 20px

// !Reading plan widget --------------

#widget-plan-controls

  .hd
    .settings
      display: block
      width: 15px
      height: 15px
      opacity: .5
      background:
        image: image-url("icon_settings.png")
      position: absolute
      top: 10px
      right: 10px

      span
        display: block
        text-indent: 100%
        white-space: nowrap
        overflow: hidden

    .settings:hover
      opacity: .8

  #calendar
    position: relative
    overflow: hidden
    border-bottom: 1px solid #dedddb
    clear: both

    div, span, a
      box-sizing: border-box

    .calendar-prev,
    .calendar-next
      float: left
      height: 80px

      a
        display: block
        width: 30px
        height: 80px

        .calendar-arrows
          height: 20px
          display: block
          width: 20px
          margin: 30px 0 0
          background: image-url("pagination_arrows.png") no-repeat

        .calendar-arrow-txt
          font-size: 12px
          color: #9F9EA2
          line-height: 1em
          display: block

      a.disabled
        opacity: .2

    .calendar-prev
      text-align: center
      border-right: 1px solid #dedddb

      a .calendar-arrows
        background-position: -25px 0

    .calendar-next
      text-align: center
      border-left: 1px solid #dedddb

      a .calendar-arrows
        background-position: -45px 0

  #calendar
    .calendar-cal
      float: left
      width: 238px
      overflow-x: scroll
      overflow-y: hidden

      span, a
        display: block

      .calendar-cal-month
        float: left
        overflow: hidden
        height: 80px

        .calendar-cal-month-name
          text-align: center
          font-size: 13px
          color: #999
          border-bottom: 1px solid #dedddb
          border-left: 1px solid #dedddb

          span
            height: 20px
            line-height: 21px

        .calendar-cal-days
          overflow: hidden

          .calendar-cal-day
            float: left
            width: 34px
            height: 59px
            border-left: 1px solid #dedddb
            padding: 6px 0 0
            text-align: center
            font:
              size: 15px
              weight: normal
            color: #444
            background: image-url("cal_bullet@2x.png") no-repeat center 38px
            background-size: 8px 8px

          .calendar-cal-day.selected
            background-color: #dedddb
            border-bottom: 3px solid #333

          .calendar-cal-day.current
            font-weight: bold
            color: #ff0000

          .calendar-cal-day.read
            background: image-url("cal_check@2x.png") no-repeat center 38px
            background-size: 11px 8px


      .calendar-cal-month:first-child
        .calendar-cal-month-name
          border-left: none

        .calendar-cal-day:first-child
          border-left: none

  .calendar-links
    clear: both
    padding: 0 15px
    height: 32px
    line-height: 31px
    overflow: hidden

.scripture-links
  .menu
    background: transparent
    li.content_target
      position: relative
    form
      margin: 0
      margin-top: 4px
      padding: 0
      width: 30px
      position: absolute
      right: 10px
      top: 0

html[data-locale="en"]
  #widget-plan-controls
    #calendar
      .calendar-prev,
      .calendar-next
        a
          .calendar-arrow-txt
            font-size: 11px
            padding: 3px 20px 0


// !Reading plan sample calendar widget

#widget-plan-controls
  #calendar.rp-sample

    a,
    h4,
    span,
    div
      box-sizing: border-box

    .calendar-prev,
    .calendar-day,
    .calendar-next
      float: left
      height: auto

      a
        width: 69px
        height: 70px
        padding: 9px 0 0

        .calendar-arrows
          height: 21px
          display: block
          width: 21px
          margin: 0 auto 5px
          background: image-url("pagination-arrows-rp.png") no-repeat
          background-size: 84px 21px

        .calendar-arrow-txt
          padding: 10px 0 0

      h4
        width: 160px
        height: 70px
        margin: 0
        text-align: center
        padding: 25px 0 0

    .calendar-prev
      a
        .calendar-arrows
          background-position: -21px 0

    .calendar-next
      a
        .calendar-arrows
          background-position: -42px 0


// --- Custom widgets ------

#widget-100m-ad
  width: 300px
  height: 270px
  position: relative
  margin-bottom: 10px

  img
    display: block
    position: absolute
    top: 0
    left: 0

  h2
    width: 300px
    position: absolute
    top: 18px
    text-align: center
    color: #FECC0E
    text-transform: uppercase
    letter-spacing: .35em
    font-size: 12px
    font-weight: normal

    em
      letter-spacing: normal
      display: block
      color: #435971
      font:
        size: 40px
        style: normal
        weight: normal
        family: 'Fjalla One', Helvetica, sans-serif
      line-height: 1em
      margin-top: 12px

  .cta-100m
    position: absolute
    top: 200px
    left: 20px
    width: 260px
    text-align: center

    span
      color: #fff
      font-size: 14px
      display: block
      margin-bottom: 6px

  .action_button_green
    background-color: #5d832f
    border-color: #000 !important
    margin-top: 10px
    box-shadow: inset rgba(255, 255, 255, 0.3) 0 2px 0 0, inset rgba(0, 0, 0, 0.15) 0 -2px 0 0

// !Featured/My plans widget

.featured-plans,
.my-plans

  h3.hd
    background: image-url("widgets-sprite.png") no-repeat 15px -69px
    padding: 10px 10px 10px 40px

  .plans-list
    background-color: #fff

    li
      padding: 15px
      border-top: 1px solid #eee
      border-bottom: none

      h3
        line-height: 1.2em
        margin: 0 0 5px

      p
        line-height: 1.4em
        margin: 0

      span
        display: inline-block
        margin: 0 0 0 10px
        color: #777

    li:first-child
      border: none

// !Find friends widget

.widget-find-friends

  h3.hd
    background: image-url("widgets-sprite.png") no-repeat 15px -27px
    padding: 10px 10px 10px 40px

  .bd
    padding: 10px

  .sb-user-search-query
    width: 80%
    height: 32px

  .sb-user-search-submit
    margin: 0 0 0 4px


// !Comm notes widget

.comm-notes

  li
    padding: 10px 55px 10px 15px
    position: relative

    img
      width: 36px
      +border-radius(18px)
      position: absolute
      top: 13px
      right: 10px

    p
      margin: 0


// !User settings widget

#widget-user-settings
  margin: 159px 0 0


// !Friends completed/reading widget in reading plans

.rp-reading,
.rp-friends-completed
  background: none

  .rp-widget-avatars
    box-sizing: border-box
    background-color: #fff
    padding: 10px 10px 5px
    overflow: hidden
    height: 55px
    &.open
      height: 100%
    a
      width: 40px
      height: 40px
      +border-radius(40px)
      overflow: hidden
      float: left
      margin: 0 0 8px 8px
      display: block

      img
        width: 40px

    a:first-child,
    a:nth-child(7n)
      margin-left: 0

  .rp-view-all
    clear: both
    +border-radius(0 0 5px 5px)
    background-color: #fff

    hr
      border: 0
      border-top: 1px solid #dedddb
      height: 1px
      background: #fff
      margin: 0

    a
      display: block
      height: 30px
      width: 41px
      text-indent: 100%
      overflow: hidden
      white-space: nowrap
      margin: -17px auto 0
      &.hidden
        display: none
      &.open
        background: #fff image-url("arrows-down@2x.png") no-repeat center center
        background-size: 12px 11px
      &.close
        background: #fff image-url("arrows-up@2x.png") no-repeat center center
        background-size: 12px 11px

.rp-all-completed
  background: #dedddb image-url("rp_about_users.png") no-repeat center top
  margin: 30px 0 0

  span
    display: block
    text-align: center
    font-size: 15px
    padding: 25px 0 0
    margin: 0 0 30px

.sms_container
  width: 100%
  margin: 30px 0

  .sms_wrap
    margin: 0 auto
    display: table
    width: 380px

  .sms_success
    display: none

  .sms_info
    margin-top: 20px
    width: 235px

  .sms_error
    display: none

  .smsInput
    display: block
    width: 220px
    padding: 7px
    text-indent: 2%
    float: left
    margin: 0 10px 0 0
    border-radius: 4px
    border: 1px solid #ddd
    font-size: 14px
    font-family: Helvetica,sans-serif
    outline: 0!important
    height: 36px
    color: #333

  .smsButton
    clear: both
    background-color: #aaa
    border: 0
    border-radius: 4px
    color: #FFF
    cursor: pointer
    display: inline-block
    font-weight: 700
    height: 36px
    line-height: 36px
    padding: 0 10px
    text-align: center
    text-decoration: none
    vertical-align: top
    white-space: nowrap
    font-size: 13px
    margin: 0
    font-family: Helvetica,sans-serif
    outline: 0!important

  .smsError
    font-family: Helvetica
    color: #cf6969
    margin-top: 5px
    margin-left: 0
    font-size: 14px

  .smsButton:hover
    background-color: #666

  .intl-tel-input .country-list
    text-align: left
    color: #333
    width: 365px

  .poweredDiv
    font-family: Helvetica
    color: #bbb
    font-size: 11px
    letter-spacing: 1px
    margin-top: 5px
  .poweredLink
    font-family: Helvetica
    color: #bbb
    text-decoration: underline

  .intl-tel-input
    position: relative
    display: inline-block

  .intl-tel-input *
    box-sizing: border-box
    -moz-box-sizing: border-box

  .intl-tel-input .hide
    display: none

  .intl-tel-input .v-hide
    visibility: hidden

  .intl-tel-input input,
  .intl-tel-input input[type=tel],
  .intl-tel-input input[type=text]
    position: relative
    z-index: 0
    margin-top: 0!important
    margin-bottom: 0!important
    padding-left: 48px
    margin-left: 0
    transition: background-color 100ms ease-out

  .intl-tel-input input.iti-invalid-key
    transition: background-color 0
    background-color: #FFC7C7

  .intl-tel-input .flag-dropdown
    position: absolute
    top: 0
    bottom: 0
    padding: 1px

  .intl-tel-input .flag-dropdown:hover
    cursor: pointer
  .intl-tel-input .flag-dropdown:hover .selected-flag
    background-color: rgba(0,0,0,.05)

  .intl-tel-input input[disabled]+.flag-dropdown:hover,
  .intl-tel-input input[readonly]+.flag-dropdown:hover
    cursor:default
  .intl-tel-input input[disabled]+.flag-dropdown:hover .selected-flag,
  .intl-tel-input input[readonly]+.flag-dropdown:hover .selected-flag
    background-color: transparent

  .intl-tel-input .selected-flag
    z-index: 1
    position: relative
    width: 42px
    height: 100%
    padding: 0 0 0 5px

  .intl-tel-input .selected-flag .iti-flag
    position: absolute
    top: 0
    bottom: 0
    margin: auto

  .intl-tel-input .selected-flag .arrow
    position: absolute
    top: 50%
    margin-top: -2px
    right: 4px
    width: 0
    height: 0
    border-left: 3px solid transparent
    border-right: 3px solid transparent
    border-top: 4px solid #555

  .intl-tel-input .selected-flag .arrow.up
    border-top: none
    border-bottom: 4px solid #555
  .intl-tel-input .country-list
    list-style: none
    position: absolute
    z-index: 2
    padding: 0
    margin: 0 0 0 -1px
    box-shadow: 1px 1px 4px rgba(0,0,0,.2)
    background-color: #fff
    border: 1px solid #CCC
    white-space: nowrap
    max-height: 200px
    overflow-y: scroll
  .intl-tel-input .country-list .flag
    display: inline-block
    width: 23px

  .intl-tel-input .country-list .divider
    padding: 0 0 5px 0
    margin-bottom: 5px
    border-bottom: 1px solid #CCC
  .intl-tel-input .country-list .country
    padding: 5px 10px !important
    margin: 0 !important
  .intl-tel-input .country-list .country .dial-code
    color: #999
  .intl-tel-input .country-list .country.highlight
    background-color: rgba(0,0,0,.05)
  .intl-tel-input .country-list .country-name,
  .intl-tel-input .country-list .dial-code,
  .intl-tel-input .country-list .flag
    vertical-align: middle
  .intl-tel-input .country-list .country-name,
  .intl-tel-input .country-list .flag
    margin-right: 6px
  .intl-tel-input select
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 42px
    height: 100%
    opacity: 0

  .iti-flag.ad
    background-position: -1px -1px
  .iti-flag.ae
    background-position: -26px -1px
  .iti-flag.af
    background-position: -51px -1px
  .iti-flag.ag
    background-position: -76px -1px
  .iti-flag.ai
    background-position: -101px -1px
  .iti-flag.al
    background-position: -126px -1px
  .iti-flag.am
    background-position: -151px -1px
  .iti-flag.an
    background-position: -176px -1px
  .iti-flag.ao
    background-position: -201px -1px
  .iti-flag.aq
    background-position: -198px 0
  .iti-flag.ar
    background-position: -251px -1px
  .iti-flag.as
    background-position: -276px -1px
  .iti-flag.at
    background-position: -301px -1px
  .iti-flag.au
    background-position: -326px -1px
  .iti-flag.aw
    background-position: -351px -1px
  .iti-flag.ax
    background-position: -351px -1px
  .iti-flag.az
    background-position: -401px -1px
  .iti-flag.ba
    background-position: -1301px -1px
  .iti-flag.bb
    background-position: -451px -1px
  .iti-flag.bd
    background-position: -476px -1px !important
    padding: 0 !important
    border-radius: 0 !important
  .iti-flag.be
    background-position: -501px -1px
  .iti-flag.bf
    background-position: -526px -1px
  .iti-flag.bg
    background-position: -551px -1px
  .iti-flag.bh
    background-position: -576px -1px
  .iti-flag.bi
    background-position: -601px -1px
  .iti-flag.bj
    background-position: -626px -1px
  .iti-flag.bl
    background-position: -651px -1px
  .iti-flag.bm
    background-position: -676px -1px
  .iti-flag.bn
    background-position: -701px -1px
  .iti-flag.bo
    background-position: -726px -1px
  .iti-flag.bq
    background-position: -176px -1px
  .iti-flag.br
    background-position: -776px -1px
  .iti-flag.bs
    background-position: -801px -1px
  .iti-flag.bt
    background-position: -826px -1px
  .iti-flag.bv
    background-position: -746px 0
  .iti-flag.bw
    background-position: -876px -1px
  .iti-flag.by
    background-position: -901px -1px
  .iti-flag.bz
    background-position: -926px -1px
  .iti-flag.ca
    background-position: -951px -1px
  .iti-flag.cc
    background-position: -856px 0
  .iti-flag.cd
    background-position: -976px -1px
  .iti-flag.cf
    background-position: -1001px -1px
  .iti-flag.cg
    background-position: -1026px -1px
  .iti-flag.ch
    background-position: -1051px -1px
    background-color: #fff
    box-shadow: none
  .iti-flag.ci
    background-position: -1076px -1px
  .iti-flag.ck
    background-position: -1101px -1px
  .iti-flag.cl
    background-position: -1126px -1px
  .iti-flag.cm
    background-position: -1151px -1px
  .iti-flag.cn
    background-position: -1176px -1px
  .iti-flag.co
    background-position: -1201px -1px
  .iti-flag.cp
    background-position: -1093px 0
  .iti-flag.cr
    background-position: -1226px -1px
  .iti-flag.cu
    background-position: -1251px -1px
  .iti-flag.cv
    background-position: -1276px -1px
  .iti-flag.cw
    background-position: -1301px -1px
  .iti-flag.cx
    background-position: -1203px 0
  .iti-flag.cy
    background-position: -1351px -1px
  .iti-flag.cz
    background-position: -1376px -1px
  .iti-flag.de
    background-position: -1401px -1px
  .iti-flag.dg
    background-position: -1291px 0
  .iti-flag.dj
    background-position: -1426px -1px
  .iti-flag.dk
    background-position: -1451px -1px
  .iti-flag.dm
    background-position: -1476px -1px
  .iti-flag.do
    background-position: -1501px -1px
  .iti-flag.dz
    background-position: -1526px -1px
  .iti-flag.ea
    background-position: -1423px 0
  .iti-flag.ec
    background-position: -1551px -1px
  .iti-flag.ee
    background-position: -1576px -1px
  .iti-flag.eg
    background-position: -1601px -1px
  .iti-flag.eh
    background-position: -1511px 0
  .iti-flag.er
    background-position: -1651px -1px
  .iti-flag.es
    background-position: -1676px -1px
  .iti-flag.et
    background-position: -1701px -1px
  .iti-flag.eu
    background-position: -1599px 0
  .iti-flag.fi
    background-position: -1726px -1px
  .iti-flag.fj
    background-position: -1751px -1px
  .iti-flag.fk
    background-position: -1776px -1px
  .iti-flag.fm
    background-position: -1801px -1px
  .iti-flag.fo
    background-position: -1826px -1px
  .iti-flag.fr
    background-position: -651px -1px
  .iti-flag.ga
    background-position: -1851px -1px
  .iti-flag.gb
    background-position: -1876px -1px
  .iti-flag.gd
    background-position: -1901px -1px
  .iti-flag.ge
    background-position: -1926px -1px
  .iti-flag.gf
    background-position: -1951px -1px
  .iti-flag.gg
    background-position: -1863px 0
  .iti-flag.gh
    background-position: -2001px -1px
  .iti-flag.gi
    background-position: -2026px -1px
  .iti-flag.gl
    background-position: -1px -20px
  .iti-flag.gm
    background-position: -26px -20px
  .iti-flag.gn
    background-position: -51px -20px
  .iti-flag.gp
    background-position: -651px -1px
  .iti-flag.gq
    background-position: -76px -20px
  .iti-flag.gr
    background-position: -101px -20px
  .iti-flag.gs
    background-position: -2061px 0
  .iti-flag.gt
    background-position: -151px -20px
  .iti-flag.gu
    background-position: -176px -20px
  .iti-flag.gw
    background-position: -201px -20px
  .iti-flag.gy
    background-position: -226px -20px
  .iti-flag.hk
    background-position: -251px -20px
  .iti-flag.hm
    background-position: -2193px 0
  .iti-flag.hn
    background-position: -276px -20px
  .iti-flag.hr
    background-position: -301px -20px
  .iti-flag.ht
    background-position: -326px -20px
  .iti-flag.hu
    background-position: -351px -20px
  .iti-flag.ic
    background-position: -2303px 0
  .iti-flag.id
    background-position: -376px -20px
  .iti-flag.ie
    background-position: -401px -20px
  .iti-flag.il
    background-position: -426px -20px
  .iti-flag.im
    background-position: -2391px 0
  .iti-flag.in
    background-position: -476px -20px
  .iti-flag.io
    background-position: -501px -20px
  .iti-flag.iq
    background-position: -526px -20px
  .iti-flag.ir
    background-position: -551px -20px
  .iti-flag.is
    background-position: -576px -20px
  .iti-flag.it
    background-position: -601px -20px
  .iti-flag.je
    background-position: -2545px 0
  .iti-flag.jm
    background-position: -651px -20px
  .iti-flag.jo
    background-position: -676px -20px
  .iti-flag.jp
    background-position: -701px -20px
  .iti-flag.ke
    background-position: -726px -20px
  .iti-flag.kg
    background-position: -751px -20px
  .iti-flag.kh
    background-position: -776px -20px
  .iti-flag.ki
    background-position: -801px -20px
  .iti-flag.km
    background-position: -826px -20px
  .iti-flag.kn
    background-position: -851px -20px
  .iti-flag.kp
    background-position: -876px -20px
  .iti-flag.kr
    background-position: -901px -20px
  .iti-flag.kw
    background-position: -926px -20px
  .iti-flag.ky
    background-position: -951px -20px
  .iti-flag.kz
    background-position: -976px -20px
  .iti-flag.la
    background-position: -1001px -20px
  .iti-flag.lb
    background-position: -1026px -20px
  .iti-flag.lc
    background-position: -1051px -20px
  .iti-flag.li
    background-position: -1076px -20px
  .iti-flag.lk
    background-position: -1101px -20px
  .iti-flag.lr
    background-position: -1126px -20px
  .iti-flag.ls
    background-position: -1151px -20px
  .iti-flag.lt
    background-position: -1176px -20px
  .iti-flag.lu
    background-position: -1201px -20px
  .iti-flag.lv
    background-position: -1226px -20px
  .iti-flag.ly
    background-position: -1251px -20px
  .iti-flag.ma
    background-position: -1276px -20px
  .iti-flag.mc
    background-position: -376px -20px
  .iti-flag.md
    background-position: -1301px -20px
  .iti-flag.me
    background-position: -1326px -20px
  .iti-flag.mf
    background-position: -651px -1px
  .iti-flag.mg
    background-position: -1351px -20px
  .iti-flag.mh
    background-position: -1376px -20px
  .iti-flag.mk
    background-position: -1401px -20px
  .iti-flag.ml
    background-position: -1426px -20px
  .iti-flag.mm
    background-position: -1451px -20px
  .iti-flag.mn
    background-position: -1476px -20px
  .iti-flag.mo
    background-position: -1501px -20px
  .iti-flag.mp
    background-position: -1526px -20px
  .iti-flag.mq
    background-position: -651px -1px
  .iti-flag.mr
    background-position: -1651px -20px
  .iti-flag.ms
    background-position: -1576px -20px
  .iti-flag.mt
    background-position: -1601px -20px
  .iti-flag.mu
    background-position: -1626px -20px
  .iti-flag.mv
    background-position: -1651px -20px
  .iti-flag.mw
    background-position: -1676px -20px
  .iti-flag.mx
    background-position: -1701px -20px
  .iti-flag.my
    background-position: -1726px -20px
  .iti-flag.mz
    background-position: -1751px -20px
  .iti-flag.na
    background-position: -1776px -20px
  .iti-flag.nc
    background-position: -651px -1px
  .iti-flag.ne
    background-position: -1801px -20px
  .iti-flag.nf
    background-position: -1826px -20px
  .iti-flag.ng
    background-position: -1851px -20px
  .iti-flag.ni
    background-position: -1876px -20px
  .iti-flag.nl
    background-position: -751px -1px
  .iti-flag.no
    background-position: -851px -1px
  .iti-flag.np
    background-position: -1901px -20px
    background-color: #fff
    box-shadow: none
  .iti-flag.nr
    background-position: -1926px -20px
  .iti-flag.nu
    background-position: -1951px -20px
  .iti-flag.nz
    background-position: -1976px -20px
  .iti-flag.om
    background-position: -2001px -20px
  .iti-flag.pa
    background-position: -2026px -20px
  .iti-flag.pe
    background-position: -1px -39px
  .iti-flag.pf
    background-position: -1px -39px
  .iti-flag.pg
    background-position: -51px -39px
  .iti-flag.ph
    background-position: -76px -39px
  .iti-flag.pk
    background-position: -101px -39px
  .iti-flag.pl
    background-position: -126px -39px
  .iti-flag.pm
    background-position: -651px -1px
  .iti-flag.pn
    background-position: -4075px 0
  .iti-flag.pr
    background-position: -176px -39px
  .iti-flag.ps
    background-position: -201px -39px
  .iti-flag.pt
    background-position: -226px -39px
  .iti-flag.pw
    background-position: -251px -39px
  .iti-flag.py
    background-position: -276px -39px
  .iti-flag.qa
    background-position: -301px -39px
  .iti-flag.re
    background-position: -651px -1px
  .iti-flag.ro
    background-position: -326px -39px
  .iti-flag.rs
    background-position: -351px -39px
  .iti-flag.ru
    background-position: -376px -39px
  .iti-flag.rw
    background-position: -401px -39px
  .iti-flag.sa
    background-position: -426px -39px
  .iti-flag.sb
    background-position: -451px -39px
  .iti-flag.sc
    background-position: -476px -39px
  .iti-flag.sd
    background-position: -501px -39px
  .iti-flag.se
    background-position: -526px -39px
  .iti-flag.sg
    background-position: -551px -39px
  .iti-flag.sh
    background-position: -576px -39px
  .iti-flag.si
    background-position: -601px -39px
  .iti-flag.sj
    background-position: -4515px 0
  .iti-flag.sk
    background-position: -626px -39px
  .iti-flag.sl
    background-position: -651px -39px
  .iti-flag.sm
    background-position: -676px -39px
  .iti-flag.sn
    background-position: -701px -39px
  .iti-flag.so
    background-position: -726px -39px
  .iti-flag.sr
    background-position: -751px -39px
  .iti-flag.ss
    background-position: -776px -39px
  .iti-flag.st
    background-position: -801px -39px
  .iti-flag.sv
    background-position: -826px -39px
  .iti-flag.sx
    background-position: -851px -39px
  .iti-flag.sy
    background-position: -876px -39px
  .iti-flag.sz
    background-position: -901px -39px
  .iti-flag.ta
    background-position: -4801px 0
  .iti-flag.tc
    background-position: -926px -39px
  .iti-flag.td
    background-position: -951px -39px
  .iti-flag.tf
    background-position: -4867px 0
  .iti-flag.tg
    background-position: -1001px -39px
  .iti-flag.th
    background-position: -1026px -39px
  .iti-flag.tj
    background-position: -1051px -39px
  .iti-flag.tk
    background-position: -1076px -39px
  .iti-flag.tl
    background-position: -1101px -39px
  .iti-flag.tm
    background-position: -1126px -39px
  .iti-flag.tn
    background-position: -1151px -39px
  .iti-flag.to
    background-position: -1176px -39px
  .iti-flag.tr
    background-position: -1201px -39px
  .iti-flag.tt
    background-position: -1226px -39px
  .iti-flag.tv
    background-position: -1251px -39px
  .iti-flag.tw
    background-position: -1276px -39px
  .iti-flag.tz
    background-position: -1301px -39px
  .iti-flag.ua
    background-position: -1326px -39px
  .iti-flag.ug
    background-position: -1351px -39px
  .iti-flag.um
    background-position: -5219px 0
  .iti-flag.us
    background-position: 674px -39px
  .iti-flag.uy
    background-position: -1401px -39px
  .iti-flag.uz
    background-position: -1426px -39px
  .iti-flag.va
    background-position: -1451px -39px
    background-color: #fff
    box-shadow: none
  .iti-flag.vc
    background-position: -1476px -39px
  .iti-flag.ve
    background-position: -1501px -39px
  .iti-flag.vg
    background-position: -1526px -39px
  .iti-flag.vi
    background-position: -1551px -39px
  .iti-flag.vn
    background-position: -1576px -39px
  .iti-flag.vu
    background-position: -1601px -39px
  .iti-flag.wf
    background-position: -651px -1px
  .iti-flag.ws
    background-position: -1626px -39px
  .iti-flag.xk
    background-position: -5500px 0
  .iti-flag.ye
    background-position: -1651px -39px
  .iti-flag.yt
    background-position: -5544px 0
  .iti-flag.za
    background-position: -1676px -39px
  .iti-flag.zm
    background-position: -1701px -39px
  .iti-flag.zw
    background-position: -1726px -39px
  .iti-flag
    width: 23px
    height: 16px
    box-shadow: 0 0 1px 0 #888
    background-image: image-url("yv-flags.png") !important
    background-color: #DBDBDB
    background-position: 100% 100%
    background-size: 2050px 59px