// `Wrapper + Container
//----------------------------------------------------------------------------------------------------

#wrapper
  @extend .clearfix
  margin: 0 auto
  padding: 82px 10px 0
  width: 980px

#container
  @extend .clearfix
  // Primary nav width.
  padding-left: 70px
  // Sidebar width.
  padding-right: 310px

#container.no_primary_nav
  padding-left: 0

#container.no_sidebar
  padding-right: 0

#container.no_sidebar #main
  margin-right: 0

.mobile-add
  display: none

.mobile-remove
  display: inline-block