@import compass
@import ie7_and_ie8.sass

#header_profile_trigger
  zoom: 1

#header_profile_trigger img
  margin:
    top: 0
    left: 0
    right: 0
  position: relative
  top: 2px

#header_profile_menu
  width: 148px

#header_search_input:focus
  background-position: 0 -30px
  color: #1e1e1f
  text-shadow: #fff 0 -1px 0

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"]
  height: auto
  padding: 2px 3px 1px

.widget .menu li
  float: left
  width: 100%

#modal_window .separator
  height: auto
  position: static
  zoom: 1