// Local parameters
// presenter: Presenter::Sidebar::UsersNew

.widget.simple#widget-signin
  %div.bd
    %h3
      = t("have an account")
    = link_to t("sign in"), sign_in_path(redirect: params[:redirect], source: params[:source]), class: "action_button_grey"


.widget.simple
  %h3.hd
    =t("registration.benefits title")
  %div.bd
    %p= t("registration.benefits blurb")