/* !Plans nav */

.plans-nav-box {
  overflow: hidden;

  a.icon {
    @media #{$small-only} {
      width: 50%;
      text-align: center;
      border: 1px solid $green;
      border-left: 0;
      height: 38px;
      line-height: 37px;

      &:first-child {
        -webkit-border-radius:  5px 0 0 5px;
        -moz-border-radius:     5px 0 0 5px;
        border-radius:          5px 0 0 5px;
        border-left: 1px solid $green;
      }

      &:last-child {
        -webkit-border-radius:  0 5px 5px 0;
        -moz-border-radius:     0 5px 5px 0;
        border-radius:          0 5px 5px 0;
      }
    }
  }

  a.icon {
    @media #{$medium-only} {
      line-height: 43px;
      margin: 0 3%;
      font-size: 0.867em;
    }

    @media #{$small-only} {
      color: $green;
      margin: 0;
    }
  }
}

a.icon.active {
  @media #{$small-only} {
    background-color: $green;
    color: $white;
  }
}

.plans-nav-box {
  a.icon.plans-nav-all {
    @media #{$small-only} {
      background-color: transparent;
      color: $black;
      width: 100%;
      border: 0;
      font-weight: bold;
    }
  }
}

html[dir="rtl"] body.c_subscriptions {
  @media #{$small-only} {
    .plans-nav-box a {
      border-right: 0;
      border-left: 1px solid $green;

      &:first-child {
        border-right: 1px solid $green;
        -webkit-border-radius:  0 5px 5px 0;
        -moz-border-radius:     0 5px 5px 0;
        border-radius:          0 5px 5px 0;
      }

      &:last-child {
        -webkit-border-radius:  5px 0 0 5px;
        -moz-border-radius:     5px 0 0 5px;
        border-radius:          5px 0 0 5px;
      }
    }
  }
}


/* !Plans content */

.c_subscriptions article .columns:first-child {
  @media #{$small-only} {
    padding: 0;
  }
}

.c_subscriptions .resource_list {
  @media #{$small-only} {
    margin: 0;
  }
}

//.a_index .columns {
//  @media #{$small-only} {
//    padding: 0;
//  }
//
//  [class*="block-grid-"] {
//    margin: 0;
//  }
//}
//
//.a_index [class*="block-grid-"] > li {
//  @media #{$small-only} {
//    padding: 15px;
//    border-top: 1px solid $lightGray;
//
//    &:first-child {
//      border-top: 0;
//    }
//  }
//}

.subscription {
  @media #{$small-only} {
    overflow: hidden;
    clear: both;
  }
}

.search_thumbnail {
  @media #{$small-only} {
    width: 25%;
    overflow: hidden;
    float: $default-float;

    img {
      width: auto;
    }
  }
}

.subscription-info {
  @media #{$small-only} {
    width: 75%;
    padding: 0 0 0 10px;
    float: $default-float;

    a {
      display: block;
    }
  }
}

.subscription-privacy {
  font-size: 0.813em;

  @media #{$small-only} {
    a {
      display: inline-block;
    }
  }
}

.progress_wrap {
  font-size: 0.813em;
  color: $gray;
}

.plan-title {
  font-size: 18px;
  color: $anchor-font-color;
  padding-top: 10px;
  margin: 0;

  &:hover {
    color: $anchor-font-color-hover;
  }

  @media #{$small-only} {
    padding: 0;
    margin: 0;
    font-size: 0.938em;
  }
}

.plan-length {
  color: $gray;
  font-size: 0.813em;
  display: block;
  padding: 5px 0 0 20px;
  background: url("/assets/icon-calendar.svg") no-repeat left 5px;
  background-size: 13px;
}

img.radius {
  -webkit-border-radius: $global-radius;
  -moz-border-radius: $global-radius;
  border-radius: $global-radius;
}

.cat-box {
  overflow: hidden;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  li {
    border-left: solid 1px $lightGray;
    padding: 0 30px;

    @media #{$medium-only} {
      width: 25%;
      padding: 0 10px;
      clear: none;
    }

    @media #{$small-only} {
      width: auto;
      float: none;
      overflow: hidden;
      border-top: 1px solid $lightGray;
      border-left: 0;
      padding: 0;

      &:last-child {
        border-bottom: 1px solid $lightGray;
      }
    }

    &:first-child {
      border: none;
    }

    a {
      display: block;
      height: 120px;
      overflow: hidden;

      @media #{$medium-only} {
        height: 100px;
      }

      @media #{$small-only} {
        height: auto;
        padding: 10px 3%;
      }

      img {
        max-height: 44px;

        @media #{$small-only} {
          display: block;
          float: $default-float;
          height: 24px;
        }
      }

      label {
        color: #666;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.2em;
        text-align:center;
        margin: 10px 0 0 0;

        @media #{$medium-only} {
          font-size: 13px;
        }

        @media #{$small-only} {
          float: $default-float;
          width: 75%;
          text-align: left;
          margin: 5px 0 0;
          padding: 0 0 0 15px;
        }
      }

      &:hover {
        img {
          opacity: .5;
        }
      }
    }
  }
}

.featured-title {
  margin: 50px 0 30px;
}

.medium-block-grid-5 > li {
  @media #{$medium-only} {
    clear: none;
  }
}

.list-box {
  .list-box-card {
    display: table;
    width: 100%;
    border: 1px solid #ddd;
    -webkit-border-radius:  5px;
    -moz-border-radius:     5px;
    border-radius:          5px;
    margin: 10px 0 0;

    &:first-child {
      margin: 30px 0 0;
    }

    div {
      display: table-cell;
      vertical-align: top;
      padding: 15px 15px 15px 0;

      &:first-child {
        width: 105px;
        padding: 15px 15px 13px;
      }

      img {
        width: 75px;
        -webkit-border-radius:  5px;
        -moz-border-radius:     5px;
        border-radius:          5px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

ul.plan-results {
  li {
    list-style: none;
  }
}

#footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid rem-calc(1) $lightGray;
  z-index: 100;
}


/* !Plan detail view */

.rp-hero-img {
  -webkit-border-radius:  5px 5px 0 0;
  -moz-border-radius:     5px 5px 0 0;
  border-radius:          5px 5px 0 0;
  width: 100%;
}

.rp-plan-box {
  border: 1px solid $lightGray;
  padding: 0 30px 30px;
  -webkit-border-radius:  0 0 5px 5px;
  -moz-border-radius:     0 0 5px 5px;
  border-radius:          0 0 5px 5px;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .keep {
    margin: 0;
    padding: 30px 0 0 0;
  }
}

.rp-plan-info {
  margin: 10px 0 20px;
  background: image-url("icon-calendar.svg") no-repeat left center;
  background-size: 13px 15px;
  padding: 0 0 0 20px;
}

.detail-text {
  line-height: 1.3em;
  padding: 0 0 15px;
}

.c_plans.a_show, .c_plans.a_sample {
  .widget {
    @media #{$small-only} {
      margin: 20px 0 0;
    }
  }

  .rp-subscription-info {
    overflow: hidden;

    .solid-button {
      display: block;
      float: $default-float;
      width: 49%;

      @media #{$medium-only} {
        float: none;
        width: auto;
      }

      @media #{$small-only} {
        float: none;
        width: auto;
      }

      &:first-child {
        margin: 0 2% 0 0;

        @media #{$medium-only} {
          margin: 0 0 10px;
        }

        @media #{$small-only} {
          margin: 0 0 10px;
        }
      }
    }

    .plan-privacy-buttons {
      clear: both;
      padding: 15px 0 0;

      .detail-text + a {
        margin: 0 2% 0 0;

        @media #{$medium-only} {
          margin: 0 0 10px;
        }

        @media #{$small-only} {
          margin: 0 0 10px;
        }
      }
    }
  }
}


/* !Plan day view */

.c_subscriptions.a_show {
  .reader-left {
    @media #{$medium-only} {
      width: 50%;
    }

    @media #{$small-only} {
      width: auto;
      float: none;
    }
  }

  .reader-right {
    @media #{$medium-only} {
      width: 50%;
    }

    @media #{$small-only} {
      width: auto;
      float: none;
    }
  }

  .columns:last-child {
    @media #{$small-only} {
      float: none;
    }
  }
}

.plan-day-progress {
  font-size: 0.813em;
  color: #666;
  padding: 0 0 5px;

  @media #{$medium-only} {
    font-size: 1em;
  }

  @media #{$small-only} {
    font-size: 1em;
  }
}

.plan-detail-title {
  font-size: 0.938em;
  color: $black;
  font-weight: bold;

  &+div a {
    display: block;
    font-size: 0.813em;
    line-height: 1.5em;
  }
}

.calendar-container {
  margin: 20px 0 0;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  @media #{$small-only} {
    display: none;
  }
}

.calendar-container {
  table {
    width: 100%;
  }

  caption {
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
    border: solid 1px $lightGray;
    border-bottom: 0;

    a {
      display: inline-block;
      width: 10%;
    }

    a:first-child {
      background: url("icon-reader-arrow.svg") no-repeat center center;
      background-size: 8px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      -webkit-transform:  rotate(-180deg);
      -moz-transform:     rotate(-180deg);
      -ms-transform:      rotate(-180deg);
      -o-transform:       rotate(-180deg);
      transform:          rotate(-180deg);
      float: $default-float;
    }

    a:last-child {
      background: url("icon-reader-arrow.svg") no-repeat center center;
      background-size: 8px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      float: $opposite-direction;
    }

    span {
      display: inline-block;
      width: 80%;
    }
  }

  th, td {
    font-size: 14px;
  }

  th {
    font-weight: normal;
    padding: 0;
    text-align: center;
    height: 30px;
    border-top: 0;
    border-right: 1px solid $lightGray;

    &:nth-child(7) {
      border-right: 0;
    }
  }

  td {
    font-weight: normal;
    padding: 3px 0 0;
    height: 47px;
    text-align: center;
    border-right: 1px solid $lightGray;
    border-top: 1px solid $lightGray;
    vertical-align: top;
    color: $gray;

    &:nth-child(7) {
      border-right: 0;
    }

    &.active-day {
      background-color: $white;
    }

    &.inactive-day {
      background-color: $white;
    }

    &.disabled {
      background-color: #ededed;
    }

    .calendar-day-icon {
      width: 10px;
      height: 16px;
      display: block;
      margin: 0 auto;
    }

    &.today {
      font-weight: bold;
      a {
        color: $green;

        &:hover {
          color: $green;
        }
      }
    }

    a {
      color: $darkGray;
    }

    a:hover,
    a:focus {
      color: $black;
    }
  }
}

.plan-day-verse-list {
  list-style: decimal-leading-zero;
  margin-left: 0;
}

.plan-day-verse {
  height: 25px;
  line-height: 39px;
  font-size: 0.813em;
  color: #666;
  padding: 0;
  margin: 0 0 0 27px;

  @media #{$medium-only} {
    font-size: 1em;
  }

  @media #{$small-only} {
    font-size: 1em;
    margin: 0 0 0 32px;
  }

  a {
    color: $black;
  }

  &.completed a {
    color: $gray;
  }
}

.plan-day-verse.completed {
  color: #bbb;
}

.rp-image-settings {
  width: 80px;
  height: 80px;
  border-radius: $global-radius;
  float:left;

  @if ($text-direction == 'rtl') {
    margin-left: 15px;
  } @else {
    margin-right: 15px;
  }
}

.widget {
  &.scripture-links {
    li {
      a {
        &.active {
          color: $green !important;
          font-weight:bold;
          text-decoration: none !important;
        }

        &.completed, &.complete {
          text-decoration: line-through;
          color: $gray;
        }
      }
    }

    .solid-button {
      display: none;
      margin: 20px 0 0;

      @media #{$medium-only} {
        display: block;
      }

      @media #{$small-only} {
        display: block;
      }
    }
  }
}

.day-controls-box {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
  border-top: 1px solid $lightGray;

  @media #{$medium-only} {
    position: relative;
    bottom: auto;
    background-color: transparent;
    border-top: 0;
    z-index: auto;
  }

  @media #{$small-only} {
    position: relative;
    bottom: auto;
    background-color: transparent;
    border-top: 0;
    z-index: auto;
  }

  .button-group {
    width: 25%;
    margin: 0 auto;
    overflow: hidden;

    @media #{$medium-only} {
      width: 50%;
    }

    @media #{$small-only} {
      width: auto;
    }

    & > li {
      width: 50%;
      display: block;
      float: left;
      margin: 0;

      a {
        display: block;
        width: auto;
        margin: 5px 0;
      }
    }
  }

  li:first-child a {
    -webkit-border-radius:  5px 0 0 5px;
    -moz-border-radius:     5px 0 0 5px;
    border-radius:          5px 0 0 5px;
  }

  li:last-child a {
    -webkit-border-radius:  0 5px 5px 0;
    -moz-border-radius:     0 5px 5px 0;
    border-radius:          0 5px 5px 0;
  }

  @media #{$small-only} {
    .solid-button {
      width: 100%;
    }
  }
}

.c_subscriptions .none {
  padding: 50px 0 0;
  font: 1.5em arial, sans-serif;
  text-align: center;
}


/* !Plan sample view */

.c_plans.a_sample {
  .bcv-button-box {
    .prev,
    .next {
      display: none;
    }
  }

  #widget-plan-controls {
    .small-title {
      margin: 0 0 15px;

      a {
        color: $black;
      }
    }
  }

  .calendar-prev,
  .calendar-next {
    a {
      display: block;
      font-size: 0.813em;
    }
  }

  .calendar-day {
    h4 {
      font-size: 0.813em;
    }
  }
}

.c_plans.a_sample {
  h3.hd {
    margin-top: 25px;
    border-bottom: solid 1px $lightGray;
  }

  .bd {
    p {
      margin-top: 10px;
    }

    .video-container {
      iframe {
        height: 300px;
      }
    }
  }

  .scripture-links {
    font-size: 0.938em;

    h3 {
      font-size: 0.938em;
      font-weight: bold;
      border-top: 1px solid $lightGray;
      padding: 15px 0 10px;
      margin: 5px 0 0;
    }

    li {
      list-style: decimal;

      a {
        color: $black;
      }
    }
  }

  .rp-subscription-info {
    .solid-button {
      display: block;
    }
  }

  .plan-privacy-buttons + .solid-button {
    display: none;
  }
}


/* !Plan settings */

.rp-settings-nav {
  border-top: 1px solid $lightGray;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

   .columns {
    padding: 0;
  }

  a.icon:first-child {
    margin: 0 1% 0 0;
  }
}


.rp-title-settings {
  font-size: 3em;
  margin: 0 0 30px;
}

.rp-title-settings ~ .row {
  margin: 0;
  border-bottom: 1px solid $lightGray;

  &:last-child {
    border-bottom: 0;
  }
}

.plan-settings {
  .plan-settings-privacy-box,
  .plan-settings-email-box,
  .plan-settings-catchup-box,
  .plan-settings-doover-box,
  .plan-settings-stop-box {
    .columns {
      padding: 0;
    }
  }
}

.plan-settings {
  .plan-settings-privacy-box,
  .plan-settings-email-box,
  .plan-settings-catchup-box,
  .plan-settings-doover-box,
  .plan-settings-stop-box {
    div:nth-child(2) {
      text-align: right;

      @media #{$small-only} {
        text-align: left;
      }
    }

    .solid-button {
      margin: 15px 0 0;
    }
  }
}

html[dir="rtl"] .plan-settings {
  .plan-settings-privacy-box,
  .plan-settings-email-box,
  .plan-settings-catchup-box,
  .plan-settings-doover-box,
  .plan-settings-stop-box {
    div:nth-child(2) {
      text-align: left;

      @media #{$small-only} {
        text-align: right;
      }
    }
  }
}

.a_edit input[type="submit"] {
  -webkit-border-radius:  5px;
  -moz-border-radius:     5px;
  border-radius:          5px;
}

#plan-index ul.paginate {
  margin: 30px 0 0;
  overflow: hidden;

  li {
    list-style-type: none;
    display: inline-block;
    overflow: hidden;

    &.prev {
      float: $default-float;
    }

    &.next {
      float: $opposite-direction;
    }
  }
}

.c_subscriptions.a_calendar {
  .plan-calendar-list {
    float: left;
    margin: 0 0 15px 15px;
  }

  .active-day {
    a {
      display: block;
      text-align: center;
    }

    img {
      width: 10px;
      display: block;
      margin: 3px auto 0;
    }
  }
}


/* !All plans list views */

.allplans-list-box {
  label {
    padding: 0 0 5px;
  }

  .highlighted a {
    color: $black;
  }

  .breadcrumbs-item a {
    padding: 4px 0;
    display: block;
  }

  .breadcrumbs-item {
    @media #{$small-only} {
      border-bottom: 1px solid $lightGray;
    }
  }
}


/* !My plans */

.c_subscriptions.a_index {
  .resource_list {
    @media #{$small-only} {
      margin: 5px 0 0;

      .subscription {
        border-bottom: 1px solid $lightGray;
        padding: 10px;
      }
    }
  }
}