%ul.notifications-list
  - notifications.each do |notification|
    %li.notifications-item
      %p
        %span.activity-timestamp
          = DateTime.parse(notification.created_dt).to_s :short
        %span.activity-title
          = notification.moment_title
