%ul.notifications-list
  - notifications.each do |notification|
    %li.notifications-item
      %p
        = notification.moment_title
        %span.activity-timestamp
          = DateTime.parse(notification.created_dt).to_s :short