- if notifications.blank?
  %p
    = t("notifications.none")

- else
  %dl.notifications-list
    - notifications.each do |notification|
      %dt.notifications-item
        - if notification.avatars
          %img.avatar{width: "48px", height: "48px", src: notification.avatars.md_avatar.url}
        %a.activity-title{href: notification.action_url}
          = notification.moment_title
      %dd.activity-timestamp
        = api_dt_time_ago(notification.created_dt)