- if @users.empty?
  %p= @empty_message.html_safe
- else
  %ul.resource_list
    - @users.each do |u|
      %li
        - if u.user_avatar_url
          .float_left.gutter_right_half
            %img{src: u.user_avatar_url.px_48x48}
        %p.gutter_top_half.float_left
          = link_to u.name || u.username, u
          - if u.name
            %br
            %b= u.username
