:ruby
  links = [{path: "/settings/profile", string: t('users.edit profile')},
           {path: "/settings/notifications", string: t('users.edit notifications')},
           {path: "/settings/update_email", string: t('users.edit email')},
           {path: "/settings/password", string: t('users.edit password')},
           # removed for now until we're comfortable turning on image uploads for mobile web.
           # {path: "/settings/picture", string: t('users.edit picture')},
           # removed for 3.1 Social launch - will make a comeback
           # {path: "/settings/connections", string: t('users.edit connections')},
           {path: "/settings/devices", string: t('users.edit devices')},
           {path: "/settings/delete_account", string: t('users.edit account_existence')}]

.mobile
  %h3.hd       
    = t('users.settings')
  .mobile-menu-wrap    
    %dl.tabs
      - links.each do |l|
        %dd
          = link_to l[:string], l[:path]

  :javascript 
    $('h3.hd').click(function () {
      $('.mobile-menu-wrap').toggleClass("show");
      if ($('.mobile-menu-wrap').hasClass("show")) {
        $('.mobile-menu-wrap').slideDown("slow");
      } else {
        $('.mobile-menu-wrap').slideUp("slow");
      }
    });
