:ruby

  # Local parameters
  # :selected - the link to select for menu heading
  # valid values are: :edit,:notifications,:email,:password,:devices,:account

  links = {
    edit:           {path: "/settings/profile", string: t('users.edit profile')},
    notifications:  {path: "/settings/notifications", string: t('users.edit notifications')},
    email:          {path: "/settings/update_email", string: t('users.edit email')},
    password:       {path: "/settings/password", string: t('users.edit password')},
    # removed for now until we're comfortable turning on image uploads for mobile web.
    # picture: {path: "/settings/picture", string: t('users.edit picture')},
    connections: {path: "/settings/connections", string: t('users.edit connections')},
    devices: {path: "/settings/devices", string: t('users.edit devices')},
    account: {path: "/settings/delete_account", string: t('users.edit account_existence')},
    vod_subscriptions: {path: "/settings/vod_subscriptions", string: t('users.vod_subscriptions')}

  }


.mobile
  %h3.hd
    = links.delete(selected)[:string]
  .mobile-menu-wrap    
    %dl.tabs
      - links.each do |link_key,link_vals|
        %dd
          = link_to link_vals[:string], link_vals[:path]

  %hr.menu-separator

  :javascript 
    $('h3.hd').click(function () {
      $(this).toggleClass("open");
      $('.mobile-menu-wrap').toggleClass("show");

      if ($('.mobile-menu-wrap').hasClass("show")) {
        $('.mobile-menu-wrap').slideDown("slow");
      } else {
        $('.mobile-menu-wrap').slideUp("slow");
      }
    });
