%ul.header_tabs
  %li.activity{class: ("highlighted" if selected == :recent_activity)}
    %a{href: user_path(@user)}
      %span= t('users.recent activity')
  %li.notes{class: ("highlighted" if selected == :notes)}
    %a{href: user_notes_path(@user)}
      %span= t('notes title')
  %li.bookmarks{class: ("highlighted" if selected == :bookmarks)}
    %a{href: user_bookmarks_path(@user)}
      %span= t('bookmarks.title')
  %li.badges{class: ("highlighted" if selected == :badges)}
    %a{href: user_badges_path(@user)}
      %span= t('badges title')
