- @title = @me ? t('users.my badges') : t('badges.user badges', user: @user.name || @user.username)
- content_for :title do
  = @title

- if @badges.present?
  .profile-badges-list
    = render partial: "badges/list_item", collection: @badges, locals: {display: :icon}
  = render partial: 'shared/pagination', locals: {resource_list: @badges}

- else
  .profile-blank-slate.slate-badges
    - if current_user_is? @user
      %h2
        You haven’t earned any badges yet
    - else
      %h2
        This person hasn’t earned any badges yet

    = #t('no badges found yourself')