- content_for :sidebar do
  = render '/shared/widget_ad_bible_app'
- content_for :user_main do
  - if @badges.empty?
    %p= t('no badges found yourself')
  - else
    %ul.big_list
      = render partial: "badges/list_item", collection: @badges, locals: {display: :icon}
    = render partial: 'shared/pagination', locals: {resource_list: @badges}
