- content_for :user_main do
  - if @bookmarks.empty?
    -# User has no bookmarks
    %p.profile-bookmarks-none
      = t('bookmarks.other user not found', username: @user.username)

  -# User has bookmarks
  .profile-bookmarks-list
    = render partial: 'bookmarks/list_item', collection: @bookmarks, locals: {display: :icon}
  = render partial: 'shared/pagination', locals: {resource_list: @bookmarks}
