- @title = "#{t('users.connected accounts')} | #{@user.name || @user.username}"

%p{style: "padding: 0 20px; margin-bottom: 24px; line-height: 1.3em"}
  = t('connection marketing')
= render partial: "connections_tabs"