- @title = "#{t('users.connected accounts')} | #{@user.name || @user.username}"

%p Connect to:
%ul
  %li= link_to "Twitter", new_connection_path("twitter", redirect: connections_path(show: "twitter"))
  %li= link_to "Facebook", new_connection_path("facebook", redirect: connections_path(show: "facebook"))

