- @sidebar = false
- @title = @me ? t('users.my friends') : t('users.user friends', user: @user.name || @user.username)
- content_for :title do
  = @title

.profile-friends

  - if current_user_is? @user

    .friends-count
      %p.friends-count-have
        You have 42 friends
      %span.friends-count-canhave
        You can have as many as 150
      %span.friends-count-help
        Too many friends is bad for your health. Show some restraint, man!

      %a{href: "#", class: "friends-count-find action_button_blue"}
        Find friends

  -# Friend list

  - unless @friends.blank?

    %ul.friend-directory

      - @friends.each do |friend|
        - avatar = friend.avatars.lg_avatar
        %li.friend-details
          = image_tag avatar.url, class: "friend-details-avatar"
          %a{href: user_path(friend.to_param), class: "friend-details-name", title: "Visit this person's profile"}
            = friend.name
          - if current_user_is? @user
            %a{href: "#", class: "friend-details-delete", title: "Remove this person from your friend list"}
              Remove this person