- @sidebar = false

.profile-friends

  - if current_user_is? @user

    .friends-count
      %p.friends-count-have
        You have 42 friends
      %span.friends-count-canhave
        You can have as many as 150
      #js-friends-count-help.friends-count-help
      %span.tooltip 
        Too many friends is bad for your health. Show some restraint, man!
        :javascript
          $('#js-friends-count-help').click(function (event) {
              event.preventDefault();
              $(this).next().toggleClass("show");
          });     
          $('#js-friends-count-help').hover(function () {
              $(this).next().addClass("show");
          }, function() {
              $(this).next().removeClass("show");
          });        


      %a{href: "#", class: "friends-count-find action_button_blue"}
        Find friends
      %a{href: "/friendships/requests", class: "friends-view-requests action_button_grey"}
        Friend Requests

  -# Friend list

  - unless @friends.blank?

    %ul.friend-directory

      - @friends.each do |friend|
        - avatar = friend.avatars.lg_avatar
        %li.friend-details
          = image_tag avatar.url, class: "friend-details-avatar"
          %a{href: user_path(friend.to_param), class: "friend-details-name", title: "Visit this person's profile"}
            = friend.name
          - if current_user_is? @user
            %a{href: "#", class: "friend-details-delete", title: "Remove this person from your friend list"}
              Remove this person