- @sidebar = false
-# needs i18n keys added
- @title = @me ? "My Highlights" : (@user.name || @user.username) << "'s Highlights"
- content_for :title do 
  = @title

- if @highlights.present?
  .social-feed-wrap
    .social-feed
      = render partial: "moments/cards", locals: {moments: @highlights, comments_displayed: false}

  = render partial: "shared/moments_load_more", locals: {resource: "highlights", url_params: ["user_id=#{@user.username}"]}
- else
  .profile-blank-slate.slate-highlights
    - if current_user_is? @user
      %p You haven't created any highlights
    - else
      %p They haven't created any highlights