- @sidebar = false
-# needs i18n keys added
- @title = @me ? "My Highlights" : (@user.name || @user.username) << "'s Highlights"
- content_for :title do 
  = @title

.social-feed-wrap
  .social-feed
    = render partial: "moments/cards", locals: {moments: @highlights, comments_displayed: false}

= render partial: "shared/moments_load_more", locals: {resource: "highlights", url_params: ["user_id=#{@user.username}"]}
