- @sidebar = false
-# needs i18n keys added
- @title = @me ? "My Highlights" : (@user.name || @user.username) << "'s Highlights"
- content_for :title do
  = @title

- if @highlights.present?
  .social-feed-wrap
    .social-feed
      = render partial: "moments/cards", locals: {moments: @highlights, comments_displayed: false}

  = render partial: "shared/moments_load_more", locals: {resource: "highlights", url_params: ["user_id=#{@user.username}"]}
- else
  .profile-blank-slate.slate-highlights
    - if current_user_is? @user
      %h2
        Highlight meaningful verses
      %p
        While reading the Bible, select a verse and highlight it. Return here to view, edit, or delete your highlight.
    - else
      %h2
        This person has no highlights