%article
  %h1= t("users.sign up for an account")
  -if @blurb
    %hr
    %p= @blurb
    %hr
  %p= link_to "Sign up with Facebook", auth_connect_path(:facebook, redirect: facebook_sign_up_path), class: "action_button_blue"
  = render 'create_form'
