- @sidebar = false
- @title = @me ? t('users.my notes') : t('users.user notes', user: @user.name || @user.username)
- content_for :title do
  = @title


- if @notes.present?
  .social-feed-wrap
    .social-feed
      = render partial: "moments/cards", locals: {moments: @notes,comments_displayed: false}

  = render partial: "shared/moments_load_more", locals: {resource: "notes", url_params: ["user_id=#{@user.username}"]}
- else
  .profile-blank-slate.slate-notes
    - if current_user_is? @user
      %h2
        You don’t have any notes yet
      %p
        As you’re reading the Bible, when you feel God’s small, still voice speaking you can quickly add those thoughts here. Your notes will be marked as <em>private</em> by default. If you’d like to share a note with your friends, simply open it and change it to <em>public</em>.
    - else
      %h2
        This person doesn’t have any notes yet