- @sidebar = false
- @title = @me ? t('users.my notes') : t('users.user notes', user: @user.name || @user.username)
- content_for :title do
  = @title


.social-feed-wrap{"data-username" => @user.username, "data-kind" => "note"}
  :javascript
    $(document).ready(function(){
      var feed = new Moments.UserFeed();
    });

- unless true
  .profile-blank-slate.slate-notes
    - if current_user_is? @user
      %h2
        = t("notes.blank slate.heading")
      %p
        = raw t("notes.blank slate.description")
    - else
      %h2
        = t("notes.none user", username: @user.name)