- @title = @me ? t('users.my profile') : t('users.other user profile', username: @user.name || @user.username)
- content_for :title do 
  = @title

.social-feed-wrap
  .social-feed
    = render partial: "moments/cards", locals: {moments: @moments, comments_displayed: false}

= render partial: "shared/moments_load_more", locals: {resource: "users", url_params: ["user_id=#{@user.username}"]}