- content_for :title do
  = @me ? t('users.my profile') : t('users.other user profile', username: @user.name || @user.username)

.social-feed
  = render partial: "moments/cards", locals: {moments: @moments, comments_displayed: false}