- @title = @me ? t('users.my profile') : t('users.other user profile', username: @user.name || @user.username)
- content_for :title do
  = @title

- if @moments.present?
  .social-feed-wrap
    .social-feed
      = render partial: "moments/cards", locals: {moments: @moments, comments_displayed: false}

  = render partial: "shared/moments_load_more", locals: {resource: "users", url_params: ["user_id=#{@user.username}"]}

- else
  .profile-blank-slate.slate-activity
    - if current_user_is? @user
      %h2
        Move along, nothing to see here (yet)
      %p
        Start engaging with the Bible, or your friends, and this page will display a history of what you’ve been up to.
    - else
      %h2
        Move along, nothing to see here (yet)