.moment
  .moment-psa
    %p.moment-psa-text
      See your friends’ moments in the Bible.
    = image_tag "social-psa-profiles.png", class: "psa-friends-img"
    %br
    <a href="#" class="moment-psa-btn action_button_blue">Find friends</a>