.moment
  .moment-psa
    %p.moment-psa-text
      = t("moments.cta.friends text")
    = image_tag "social-psa-profiles.png", class: "psa-friends-img"
    %br
    = link_to(t("moments.cta.friends button"), "#", class: "moment-psa-btn action_button_blue")