.moment
  .moment-psa
    %p.moment-psa-text
      Share verses with social networks.
    = image_tag "social-share-icons.png", class: "psa-social-img"
    %br
    <a href="#" class="moment-psa-btn action_button_blue">Enable sharing</a>