body.c_videos.a_index {
  .video {
    margin-bottom: 30px;
    box-shadow: 1px -1px 7px #a9a9a9;
    img {
      width: 100%;
      border: 1px solid #e4e4e4;
    }
    h2.info {
      padding: 0 10px;
      overflow: hidden;
      font-size: rem-calc(14);
      min-height: 30px;
      @media #{$large-up} {
        font-size: rem-calc(16);
      }
    }
    .publisher {
      padding-left: 22px;
      background: image-url("icon_small_about.png") no-repeat 0px center;
      color: #777;
    }
  }
}

body.c_videos.a_series {
  #title-bar {
    position: relative;
    padding: 20px;
    padding-bottom: 0;
  }
  h1 {
    @media #{$medium-up} {
      padding-top: 250px;
      color: #fff;
      margin-bottom: 0;
    }
  }
  .hero {
    min-height: 368px;
  }
  #episodes {
    padding-top: 0px;
    margin: auto;
    @media #{$medium-only} {
      padding-top: 30px;
      width: 95%;
    }
    @media #{$large-up} {
      padding-top: 30px;
      width: 90%;
    }

    .title {
      font-size: 15px;
      color: #fff;
      text-shadow: 0 0 3px #000;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      height: 30px;
      padding: 0px 15px;
      position: absolute;
      bottom: 12px;
      font-weight: bold;
    }
    a {
      display: block;
      margin: 0;
      text-decoration: none;
      position: relative;
      img {
        display: block;
        width: 100%;
        @media #{$medium-only} {
          margin-bottom: 15px;
        }
        @media #{$large-up} {
          margin-bottom: 30px;
        }
      }
      .info {
        padding: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: image-url("videos-thumb-grad.png") no-repeat 0px 0px;
        background-size: cover;
        margin-bottom: 1px;
        @media #{$medium-up} {
          position: absolute;
          box-shadow: 2px -1px 7px #ddd;
        }
      }
      .info:hover {
        @media #{$medium-up} {
          background: image-url("videos-thumb-grad-play.png") no-repeat 0px 0px;
          background-size: 100% 100%;
          box-shadow: 2px -1px 7px #a9a9a9;
        }
      }
    }
    .runtime {
      color: #fff;
      font-size: 12px;
      display: block;
      padding: 0 15px;
      position: absolute;
      bottom: 10px;
      text-shadow: 0 0 3px #000;
      font-weight: bold;
    }
  }
  h2.publisher {
    display: inline-block;
    margin-top: -10px;
    padding-left: 22px;
    background: image-url("icon_small_about.png") no-repeat 0px center;
    a {
      font-size: 15px;
      font-weight: normal;
      @media #{$medium-up} {
        color: #fff;
      }
    }
  }
  .mobile-hero {
    padding: 10px;
  }
  .share-panel {
      display: block;
      position: absolute;
      right: 20px;
      bottom: 20px;
      z-index: 1;
  }
  #at15s {
    display: none !important;
  }
}

body.c_videos.a_show {
  #player-container {
    position: relative;
  }
  .video-js .vjs-tech {
    position: relative;
  }
  h2.publisher {
    padding-left: 22px;
    background: image-url("icon_small_about.png") no-repeat 0px center;
    margin: -15px 0 0px 0;
    a {
      font-size: 15px;
      font-weight: normal;
    }
  }
  #player-container {
    margin: 20px 0;
  }
  .share-panel {
    float: right;
  }
  #details {
    ul {
      margin: 0;
      li {
        list-style: none;
        padding: 0;
        display: inline-block;
        margin-right: 5px;
        font-weight: bold;
      }
    }
    .refs {
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 5px;
      margin-bottom: 10px;
      font-size: 12px;
      span {
        display: block;
        color: #666;
        text-transform: uppercase;
      }
    }
  }
  #other {
    .pub-banner {
      padding-top: 20px;
      @media #{$medium-up} {
        border-top: 1px solid #e1e1e1;
      }
    }
  }
}

html[dir="rtl"] body.c_videos.a_show {
  .share-panel {
    float: left;
  }
  h2.publisher {
    padding-right: 22px;
    background: image-url("icon_small_about.png") no-repeat right center;
  }
}

html[dir="rtl"] body.c_videos.a_series {
  .share-panel {
    left: 20px;
    right: auto;
  }
  h2.publisher {
    padding-right: 22px;
    background: image-url("icon_small_about.png") no-repeat right center;
  }
}