- @sidebar = false
%article#videos
  %h1 Video Home/Index page

  %p The red border comes from _videos.sass - do all your video related css work in this file.

  %ul
    %li
      =link_to("Video detail",video_path(id:"test"))
    %li
      =link_to("Video category",category_videos_path())