- @sidebar = false

%article
  %h1 Publisher info page
  %ul
    %li
      =link_to("Video home/index page",videos_path)
    %li
      =link_to("Video detail page",video_path(id: "test"))
    %li
      =link_to("Video category",category_videos_path())
    %li
      =link_to("Video category",publisher_video_path(id: "test"))

