- html_attributes(id: "video-series",classes:"videos")

- @sidebar = false

%article
  #title-bar
    %h1= @video.title
    %span.publisher
      =link_to(@video.credits, publisher_video_path(id: @video.id))
    %span.share
      =link_to("Share","#")

  .inner
    %ul#episodes
      - @video.videos.each do |vid|
        - thumb = vid.small_image
        %li
          =link_to(video_path(vid), class: "video-name", title: "vid.title") do
            = image_tag(thumb.url)
            .info
              %h3.title= vid.title
              %span.runtime= vid.runtime.gsub(/^0:[0]*/,"")

  .pub-logo
    %a
      Publisher image can go here