- html_attributes(id:"video-show",classes:"videos")

- @sidebar = false

%article
  #title-bar
    %h1= @video.title

    %span.publisher
      by
      =link_to(@video.credits, publisher_video_path(id: @video.id))

    %span.share
      =link_to("Share","#")

  #video

  .inner

    #details
      %div.refs
        - if @video.references
          %span
            Related Scripture

          %ul.reference_tokens
            - @video.references.each do |ref|
              %li
                %a= ref.human
      %p.description= @video.description

    #other
      .videos-list
        %h5 Other videos in this series

        %ul
          %li
            =link_to(publisher_video_path(id: "test")) do
              Part 2 - Description would go here
          %li
            =link_to(publisher_video_path(id: "test")) do
              Part 3 - Description would go here
          %li
            =link_to(publisher_video_path(id: "test")) do
              Part 4 - Description would go here