%p.action_button_note
  %a.action_button_green{:href => '#'}
    %span.icon_magnify
      =t("user.follow user" :user => "jturmel") -#TODOcb: get user correctly?
  %i
    =t("user.user does not follow you" :user => "jturmel") -#TODOcb: get user correctly and complete this logic?