:ruby
  facebook_signin_button_id = "facebookSigninButton"

:javascript

  function fbapiStatusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);

    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      console.log("Logged into your app and Facebook.");
      document.getElementById('facebook-sign-in-token').value = response.authResponse.accessToken;
      document.getElementById('facebook-sign-in-id').value = response.authResponse.userID;
      document.getElementById('facebook-sign-in-form').submit();


    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      console.log("The person is logged into Facebook, but not your app.");

    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      console.log("The person is not logged into Facebook, so we're not sure if they are logged into this app or not.");

    }
  }

  function fbapiUpdateLoginButton(response) {
    var loginButton = document.getElementById("#{facebook_signin_button_id}");
    FB.api('/me', function(response) {
      console.log('me-response', response);
      document.getElementById('fbName').innerHTML = response.name;
      FB.api('/' + response.id + '/picture?height=96&width=96', function(response) {
        document.getElementById('fbAvatar').src = response.data.url;
        console.log('pic', response);
      })
    })
  }

  function fbapiOpenLoginModal() {
    console.log("Clicked Login button");
    FB.getLoginStatus(function(response) {
      console.log("response", response);
      //FB.login(fbapiStatusChangeCallback);
    });
  }

  function fbapiStartApp() {
    console.log("Starting FB API");

    var loginButton = document.getElementById("#{facebook_signin_button_id}");

    FB.getLoginStatus(function(response) {
      console.log("response", response);

      if (response.status === 'connected') {
        document.getElementById('facebook-sign-in-token').value = response.authResponse.accessToken;
        document.getElementById('facebook-sign-in-id').value = response.authResponse.userID;
        loginButton.onclick = function() {
          document.getElementById('facebook-sign-in-form').submit();
        }

      } else if (response.status === 'not_authorized') {
        loginButton.onclick = function() {
          FB.login(fbapiStatusChangeCallback)
        }

      } else {
        loginButton.onclick = function() {
          FB.login(fbapiStatusChangeCallback)
        }

      }
      //fbapiUpdateLoginButton(response);
    });
  }

#fbAuthProfile
  %img#fbAvatar
  %p#fbName

.tpAuthSigninButton{ "id" =>  "#{facebook_signin_button_id}" }
  %span.icon
  %span.buttonText
    -if is_continue
      =t('users.continue facebook')
    -else
      =t('users.sign up facebook')

%form#facebook-sign-in-form{ action: "#{form_action}", method: "POST" }
  %input#facebook-sign-in-token{ type: "hidden", name: "tp_token" }
  %input#facebook-sign-in-id{ type: "hidden", name: "tp_id" }
  %input{ type: "hidden", name: "tp_source", value: "Facebook" }

  -#%input#facebook-sign-in-name{ type: "hidden", name: "tp_name" }
