%footer#footer{:role => "contentinfo"}
  %p.float_left
    &copy;
    = Date.today.year
    %a{:href => 'http://www.lifechurch.tv'}=t("lifechurch short url")
    %span.separator
      |
    %a{:href => about_path}=t("about")
    %span.separator
      |
    %a{:href => 'http://blog.youversion.com/jobs'}=t("jobs")
    %span.separator
      |
    %a{:href => privacy_path}=t("privacy policy")
    %span.separator
      |
    %a{:href => terms_path}=t("terms")
    %span.separator
      |
    %a{:href => 'press_path'}=t("press")
    %span.separator
      |
    %a{:href => 'http://support.youversion.com'}=t("support")
    %span.separator
      |
    %a{:href => donate_path}=t("donate title")
  %p.float_right
    %label{:for => 'choose_language'}
      =t("choose language field")
      &nbsp;
    %label.select_wrap{:for => 'choose_language'}
      %span
        %select{:id => 'choose_language', :name => 'choose_language'}
          - I18n.available_locales.each do |loc|
            -#%option{value: url_for(params.merge({locale: loc})), selected: loc == I18n.locale}= t("language name", locale: loc)
            %option{value: l10n_path, selected: loc == I18n.locale}= t("language name", locale: loc)
