-# google analytics legacy used for Jesus Film video analytics only
-# 'UA-38522090-4' is JF g.a. acct
:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38522090-4']);
  _gaq.push(['_setDomainName', '#{@site.ga_domain}']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();