%header#header{:role => 'banner'}
  %a#yv_logo{:href => '/'}
    =t("youversion")
  %nav
    %ul
      %li
        - if current_auth
          %a#header_profile_trigger{:href => '#'}
            %span
              %img{:src => current_avatar}
              =current_auth.username
          %ol#header_profile_menu
            %li
              %a{:href => '#'}
                =t("settings")
            %li
              %a{:href => '#'}
                =t("profile")
            %li
              %a{:href => sign_out_path}
                =t("sign out")
        - else
          %p= link_to t("sign in"), sign_in_path



      %li
        %a{:href => '#'}
          %span
            =t("find friends")
  %form#header_search_form
    %input#header_search_input{:type => 'search', :placeholder => t("search placeholder")}
    %input#header_search_button{:type => 'submit', :value => t("search")}
