%meta{:charset => 'utf-8'}
%meta{'http-equiv' => 'x-ua-compatible', :content => 'ie=edge, chrome=1'}
%title
  = @title
  = "|" if @title
  =t("youversion")
  

%script{:src => '/javascripts/mediaelement-and-player.min.js'}
<!--[if lt IE 9]>
%script{:src => '/javascripts/html5.js'}
<![endif]-->

%link{:rel => 'stylesheet', :href => '/stylesheets/application.css'}

<!--[if IE 9]>
%link{:rel => 'stylesheet', :href => '/stylesheets/ie9.css'}
<![endif]-->

<!--[if IE 8]>
%link{:rel => 'stylesheet', :href => '/stylesheets/ie8.css'}
<![endif]-->

<!--[if IE 7]>
%link{:rel => 'stylesheet', :href => '/stylesheets/ie7.css'}
<![endif]-->

- if content_for? :stylesheets
  = yield :stylesheets
