%div#overlay_header
  %a.slideDown.close_btn{:href => '#'}
    Close
  %h1#page_title= link_to(t('highlight'), '#')
  %span.right_btn_slice
  %nav.right_nav
    %a.save_btn{:href => '#'}= t('save')
      
.inner_content
  %form{:action => current_auth ? highlights_path : sign_up_path, method: current_auth ? "POST" : "GET"}
    - if current_auth.nil?
      %input{type: 'hidden', name: 'redirect', value: "/bible"}
      %input{type: 'hidden', name: 'source', value: "highlight"}
    %input{:class => "individual_verses_selected_input", name: "highlight[references]", type: "hidden"}
    %input{:class => "verses_selected_highlight_ids_input", name: "highlight[ids]", type: "hidden"}
    %div{:class => "color_picker_list divider"}
      %a{:class => "color_picker", :href =>"#"}
      %a{:class => "color_picker_holder", :href =>"#"}
      %button{:type => "submit", :name => "remove", :value => "true", :class => "color color_picker_clear", :id => "clear_highlights"}
      %span
      - if current_auth
        %span.ajax_me{"data-ajax" => highlight_colors_path}
          = render partial: "users/highlight_color_swatches"
      - else
        %span
          = render partial: "users/highlight_color_swatches"
  
