%script{:src => '/javascripts/jquery.js'}
%script{:src => '/javascripts/wysiwyg/jquery.wysiwyg.js'}
%script{:src => '/javascripts/wysiwyg/wysiwyg.image.js'}
%script{:src => '/javascripts/wysiwyg/wysiwyg.link.js'}
%script{:src => '/javascripts/spin.min.js'}
%script{:src => '/javascripts/ZeroClipboard.js'}
%script{:src => '/javascripts/application.js'}
%script{:src => '/javascripts/rails.js'}
- #  %script{:src => 'http://include.reinvigorate.net/re_.js'}
%script{:src => '/javascripts/analytics.js'}
%script{:src => '/javascripts/ga.js'}
%script{:src => '/javascripts/uservoice.js'}
%script{:src => '/javascripts/color_picker/colorpicker.js'}
%script{:src => '/javascripts/charCount.js'}
%script{:src => '/javascripts/mediaelement-and-player.min.js'}


- if content_for? :javascripts
  = yield :javascripts
