#menu_bookmark.dynamic_menu
  %header
    %a.close{:href => '#'} Close
    %span
      Currently Selected:
    %ul.reference_tokens
      %li
        %a{:href => "#"}
          Luke 2:15
      %li
        %a{:href => "#"}
          John 4:25
      %div#add_reference_token
        %a{:href => '#'}
          ADD
        %input{:type => 'text'}
        %ul#add_reference_token_helper
          %li
            %a{:href => '#'}
              Genesis
          %li
            %a{:href => '#'}
              Exodus
          %li
            %a{:href => '#'}
              Leviticus
          %li
            %a{:href => '#'}
              Numbers
  %span.menu_arrow
    &nbsp;
  %dl.accordion
    %dt
      Highlight
    %dd
      %form{:action => highlights_path, method: "POST"}
        %input{:class => "verses_selected_input", name: "highlight[reference]", type: "hidden"}
        %div{:class => "color_picker_list"}
          %a{:class => "color_picker", :href =>"#"}
          %a{:class => "color_picker_holder", :href =>"#"}
          %a{:class => "color_picker_clear", :href =>"#"}
          %button{:type => "submit", :name => "highlight[color]", :value => "f3a9a9", :class => "color", :id => "highlight_f3a9a9", :href => "#", :style => "background-color:#f3a9a9"}
          %button{:type => "submit", :name => "highlight[color]", :value => "f6f0b4", :class => "color", :id => "highlight_f6f0b4", :href => "#", :style => "background-color:#f6f0b4"}
          %button{:type => "submit", :name => "highlight[color]", :value => "a8ed9d", :class => "color", :id => "highlight_a8ed9d", :href => "#", :style => "background-color:#a8ed9d"}
        %div{:class => "clear"}
    %dt
      Bookmark
    %dd
      %form{:action => bookmarks_path, method: "POST"}
        %p
          %label{:for => 'bookmark_title'}
            Title
          %br
          %input{:type => 'text', :id => 'bookmark_title', :name => 'bookmark[title]'}
        %p
          %label{:for => 'bookmark_tags'}
            Labels
          %br
          %input{:type => 'text', :id => 'bookmark_labels', :name => 'bookmark[labels]'}
          %input{:class => "verses_selected_input", name: "bookmark[reference]", type: "hidden"}
          / %span
          /   %b
          /     Color
          /   (optional) 
          / %div{:class => "color_picker_list"}
          /   %a{:class => "color_picker", :href =>"#"}
          /   %a{:class => "color_picker_holder", :href =>"#"}
          /   %a{:class => "color_picker_clear", :href =>"#"}
          /     <span class='selected'></span>
          /   %a{:class => "color", :href => "#", :style => "background-color:#f3a9a9"}
          /   %a{:class => "color", :href => "#", :style => "background-color:#f6f0b4"}
          /   %a{:class => "color", :href => "#", :style => "background-color:#a8ed9d"}
          /   %a{:class => "color", :href => "#", :style => "background-color:#f3a9a9"}
        %div{:class => "clear"}
        %p
          %input{:type => 'image', :src => '/images/save_bookmark.png'}
    %dt
      Share
    %dd
      %form.clearfix
        %div.share_message
          %textarea{style: "margin-bottom: 8px"}
          %div.float_right
            %b#short_link
            = t("link will be added")

          %div.clearfix{style: "margin-bottom: 8px"}
          %div.share_action      
            %input{:type => 'image', :src => '/images/save_bookmark.png'}
          %div.share_services
            %span.float_left{style: "width: 60%"}
              %input#checkbox_share_twitter{:type => "checkbox", :name => "share_verse_social", :checked => 'checked'}
              %label{:for => 'share_verse_twitter', :class => "share_verse_twitter", :value => "Twitter"}
                Twitter
            
            %span.float_left{style: "width: 60%"}
              %input#checkbox_share_facebook{:type => "checkbox", :name => "share_verse_social"}
              %label{:for => 'share_verse_facebook', :class => "share_verse_facebook"}
                Facebook
            %span.float_left{style: "width: 60%"}
              %input#checkbox_share_google{:type => "checkbox", :name => "share_verse_social"}
              %label{:for => 'share_verse_google', :class => "share_verse_google"}
                Google +
          %div.clearfix{style: "margin-bottom: 15px"}
    %dt
      Link
    %dd
      %span.text_field_embed
        %input#copy_link_input.width_100{:value => "", :style => "margin-bottom: 15px;", :type => "text"}
        %button#copy_link
          Copy
    %a.open_modal{:href => "#"}
      %dt
        New Note

