#menu_audio_player.dynamic_menu
  %span.menu_arrow
    &nbsp;
  %dl
    %dt
      %a.close{:href => '#'} Close
      = @reference.audio ? @reference.audio.title : t("no audio bible")
    %dd
      %audio#audio_player{:src => @reference.audio ? @reference.audio.url : "", :type => 'audio/mp3', :controls => 'controls'}
