#menu_audio_player.dynamic_menu
  %span.menu_arrow
    &nbsp;
  %dl
    %dt
      %a.close{:href => '#'}= t("audio.close player menu")
      = @reference.audio ? @reference.audio.title : t("audio.none")
    %dd
      %audio#audio_player{:src => @reference.audio ? @reference.audio.url : "", :type => 'audio/mpeg', :controls => 'controls'}
