#menu_audio_player.dynamic_menu
  %span.menu_arrow
    &nbsp;
  %dl
    %dt
      %a.close{:href => '#'} Close
      NIV Listener's Bible
    %dd
      %audio#audio_player{:src => '/mp3/test.mp3', :type => 'audio/mp3', :controls => 'controls'}
    %dt
      %a.float_right.negative_gutter_top_quarter{:href => '#'}
        %img{:src => '/images/icon_info.png'}
      %small
        Copyright 2011 ACME Corporation
