#menu_settings.dynamic_menu
  %span.menu_arrow
    &nbsp;
  %header
    %a.close{:href => '#'} Close
    Your Settings
  %form.dynamic_menu_inner{:action => ''}
    %fieldset.clearfix
      %p.gutter_bottom_half
        %b
          Font:
      %span.float_left.width_50
        %input.radio_user_setting{'data-setting-font' => 'user_setting_font_helvetica', :type => 'radio', :name => 'user_setting_font', :id => 'radio_helvetica', :value => 'Helvetica', :checked => 'checked'}
        %label.user_setting_font_helvetica{:for => 'radio_helvetica'}
          Helvetica
      %span.float_left.width_50
        %input.radio_user_setting{'data-setting-font' => 'user_setting_font_georgia', :type => 'radio', :name => 'user_setting_font', :id => 'radio_georgia', :value => 'Georgia'}
        %label.user_setting_font_georgia{:for => 'radio_georgia'}
          Georgia
      %span.float_left.width_50
        %input.radio_user_setting{'data-setting-font' => 'user_setting_font_baskerville', :type => 'radio', :name => 'user_setting_font', :id => 'radio_baskerville', :value => 'Baskerville'}
        %label.user_setting_font_baskerville{:for => 'radio_baskerville'}
          Baskerville
      %span.float_left.width_50
        %input.radio_user_setting{'data-setting-font' => 'user_setting_font_verdana', :type => 'radio', :name => 'user_setting_font', :id => 'radio_verdana', :value => 'Verdana'}
        %label.user_setting_font_verdana{:for => 'radio_verdana'}
          Verdana
    %fieldset.clearfix
      %p.gutter_bottom_half
        %b
          Size:
      %span.float_left.width_33
        %input.radio_user_setting{'data-setting-size' => 'user_setting_size_small', :type => 'radio', :name => 'user_setting_size', :id => 'user_setting_size_small', :checked => 'checked'}
        %label{:for => 'user_setting_size_small'}
          Small
      %span.float_left.width_33
        %input.radio_user_setting{'data-setting-size' => 'user_setting_size_medium', :type => 'radio', :name => 'user_setting_size', :id => 'user_setting_size_medium'}
        %label{:for => 'user_setting_size_medium'}
          Medium
      %span.float_left.width_33
        %input.radio_user_setting{'data-setting-size' => 'user_setting_size_large', :type => 'radio', :name => 'user_setting_size', :id => 'user_setting_size_large'}
        %label{:for => 'user_setting_size_large'}
          Large
    %fieldset.clearfix
      %p.gutter_bottom_half
        %b
          Highlights:
      %span.float_left.width_33
        %input.radio_user_setting{:type => 'radio', :name => 'user_setting_highlights', :id => 'user_setting_highlights_on', :checked => 'checked'}
        %label{:for => 'user_setting_highlights_on'}
          On
      %span.float_left.width_33
        %input.radio_user_setting{'data-setting-size' => 'user_setting_highlights_off', :type => 'radio', :name => 'user_setting_size', :id => 'user_setting_highlights_off'}
        %label{:for => 'user_setting_highlights_off'}
          Off
    %fieldset
      %input.float_right{:type => 'image', :alt => 'Save Settings', :src => '/images/save_settings.png'}
      %a.float_left{:href => '#'} Full Settings