#nav_primary{:role => "navigation"}
  %nav
    %ul
      %li#nav_primary_bible{class: @nav == :bible ? "highlighted" : ""}
        %a{:href => '/bible'}
          %span Bible
      - if current_auth
        %li#nav_primary_bookmarks{class: @nav == :bookmarks ? "highlighted" : ""}
          %a{:href => user_bookmarks_path(current_auth.user_id)}
            %span Book-<br>marks
      %li#nav_primary_plans
        %a{:href => '/reading-plans'}
          %span Plans
      %li#nav_primary_notes{class: @nav == :notes ? "highlighted" : ""}
        %a{:href => current_auth ? user_notes_path(current_auth.user_id) : notes_path}
          %span Notes
      %li#nav_primary_friends
        %a{:href => '/friends'}
          %span Friends
      %li#nav_primary_groups
        %a{:href => '/groups'}
          %span Groups
      %li#nav_primary_mobile
        %a{:href => '/mobile'}
          %span Mobile
