#nav_mobile.mobile{:role => "navigation"}
  %nav
    %ul
      %li#nav_mobile_bible{class: @nav == :bible ? "highlighted" : ""}
        %a.icon{:href => '/bible'}
          %span= t('bible')
      %li#nav_mobile_plans{class: @nav == :plans ? "highlighted" : ""}
        %a.icon{:href => current_auth ? user_subscriptions_path(current_auth.username) : plans_path}
          %span=t("plans.title")
      %li#nav_mobile_bookmarks{class: @nav == :bookmarks ? "highlighted" : ""}
        %a.icon{:href => current_auth ? user_bookmarks_path(current_auth.username) : sign_up_path(source: "bookmark", redirect: "/bookmarks")}
          %span= t('bookmarks.title')
      %li#nav_mobile_notes{class: @nav == :notes ? "highlighted" : ""}
        %a.icon{:href => current_auth ? user_notes_path(current_auth.username) : notes_path}
          %span=t("notes title")
      - if current_auth
        %li#nav_mobile_friends
          %a.icon{:href => current_auth ? user_following_path(current_auth.username) : sign_up_path(source: "friends", redirect: "/friends")}
            %span=t("friends")
        %li#nav_mobile_profile
          %a.icon{:href => user_path(current_auth.username)}
            %span=t("Profile")
      %li#nav_mobile_mobile
        %a.icon{:href => '/mobile'}
          %span=t("mobile apps")
  %nav
    %ul
      - if current_auth
        %li#nav_mobile_sign_out
          %a{:href => sign_out_path}
            =t("sign out")
      - else
        %li#nav_mobile_sign_in
          %a{:href => sign_in_path(redirect: params[:redirect])}
            =t("sign in")
        %li#nav_mobile_sign_up
          %a{:href => sign_up_path(redirect: params[:redirect])}
            =t("sign up")