#nav_primary{:role => "navigation"}
  %nav
    %ul
      %li#nav_primary_bible.highlighted
        %a{:href => '#'}
          %span Bible
      %li#nav_primary_plans
        %a{:href => '#'}
          %span Plans
      %li#nav_primary_notes
        %a{:href => '#'}
          %span Notes
      %li#nav_primary_friends
        %a{:href => '#'}
          %span Friends
      %li#nav_primary_groups
        %a{:href => '#'}
          %span Groups
      %li#nav_primary_mobile
        %a{:href => '#'}
          %span Mobile