%ul.pagination
  %li.pagination_first
    %a{:href => '#'}=t("first page")
  %li.pagination_previous
    %a{:href => '#'}=t("previous page")
  %li
    %a{:href => '#'} 1
  %li.highlighted
    %a{:href => '#'} 2
  %li
    %a{:href => '#'} 3
  %li
    %a{:href => '#'} 4
  %li
    %a{:href => '#'} 5
  %li
    %a{:href => '#'} 6
  %li.pagination_next
    %a{:href => '#'}=t("next page")
  %li.pagination_last
    %a{:href => '#'}=t("last page")