%ul.pagination
  %li.pagination_first
    %a{:href => '#'} First Page
  %li.pagination_previous
    %a{:href => '#'} Previous Page
  %li
    %a{:href => '#'} 1
  %li.highlighted
    %a{:href => '#'} 2
  %li
    %a{:href => '#'} 3
  %li
    %a{:href => '#'} 4
  %li
    %a{:href => '#'} 5
  %li
    %a{:href => '#'} 6
  %li.pagination_next
    %a{:href => '#'} Next Page
  %li.pagination_last
    %a{:href => '#'} Last Page