%section.top_section
  %a{:href => '#'}= image_tag "andy_avatar.png", class: "avatar_huge"
  %div
    %h1
      Andy Knight
    %ul
      %li.icon_small_user
        %b
          aknight
      %li.icon_small_location
        Atlanta, GA
      %li.icon_small_link
        %a{:href => '#'} http://www.example.com/
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.