%section.top_section
  %a{:href => '#'}
    %img.avatar_huge{:src => './images/josh_avatar.png'}
  %div
    %h1
      Josh Turmel
    %ul
      %li.icon_small_user
        %b
          jturmel
      %li.icon_small_location
        Oklahoma City, OK
      %li.icon_small_link
        %a{:href => '#'} http://www.example.com/
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.