.widget
  %header
    %a.count{:href => '#'} 157
    %span.header_icon_note
      Community Notes
  %section
    %table
      %tfoot
        %tr
          %th
            &nbsp;
          %td.align_right
            %a.more_arrow{:href => '#'} See all 62 notes
      %tbody
        %tr
          %th
            %a{:href => '#'}
              %img.avatar_small{:src => './images/andy_avatar.png'}
          %td
            %a{:href => '#'} Boy Jesus: a very cool thought
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        %tr
          %th
            %a{:href => '#'}
              %img.avatar_small{:src => './images/andy_avatar.png'}
          %td
            %a{:href => '#'} Boy Jesus: a very cool thought
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.