.widget
  %header
    %a.count{:href => '#'} 29
    %span.header_icon_check
      Notes I Like
  %section
    %table
      %tfoot
        %tr
          %th
            &nbsp;
          %td.align_right
            %a.more_arrow{:href => '#'} All 29 Notes I Like
      %tbody
        - 2.times do
          %tr
            %th
              %a{:href => '#'}= image_tag "andy_avatar.png", class: "avatar_small"
            %td
              %a{:href => '#'} Boy Jesus: a very cool thought
          %tr
            %th
              %a{:href => '#'}= image_tag "andy_avatar.png", class: "avatar_small"
            %td
              %a{:href => '#'} This is the title of a really long note that actually breaks two lines
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua&hellip;