.widget
  %header
    %span.header_icon_gear
      Settings
  %ul.widget_menu
    %li
      %a{:href => profile_path} Edit Profile
    %li
      %a{:href => password_path} Change Password
    %li
      %a{:href => picture_path} Picture
    %li
      %a{:href => notifications_path} Notifications
    %li
      %a{:href => connections_path} Connections
    %li
      %a{:href => devices_path} Devices
