- links = [{path: "/settings/profile", string: t('users.edit profile')},
           {path: "/settings/update_email", string: t('users.edit email')},
           {path: "/settings/password", string: t('users.edit password')},
           {path: "/settings/picture", string: t('users.edit picture')},
           {path: "/settings/notifications", string: t('users.edit notifications')},
           {path: "/settings/connections", string: t('users.edit connections')},
           {path: "/settings/devices", string: t('users.edit devices')},
           {path: "/settings/delete_account", string: t('users.edit account_existence')}]
.widget
  %header
    %span.header_icon_gear
      = t('users.settings')
  %ul.widget_menu
    - links.each do |l|
      %li
        = link_to_unless_current l[:string], l[:path] do
          %a.selected= l[:string]
