.widget
  %header
    %span.header_icon_badge
      My Badges
  %section
    %table
      %tbody
        %tr
          %th
            %img{:height => '48', :width => '48', :src => './images/badges/completed-3-reading-plans_48x48.png'}
          %td
            The badge's description goes here
        %tr
          %th
            %img{:height => '48', :width => '48', :src => './images/badges/created-10-highlights_48x48.png'}
          %td
            The badge's description goes here, and can line-wrap if it gets too long
        %tr
          %th
            %img{:height => '48', :width => '48', :src => './images/badges/created-100-bookmarks_48x48.png'}
          %td
            The badge's description goes here
        %tr
          %th
            %img{:height => '48', :width => '48', :src => './images/badges/created-first-bookmark_48x48.png'}
          %td
            The badge's description goes here
        %tr
          %th
            %img{:height => '48', :width => '48', :src => './images/badges/created-first-note_48x48.png'}
          %td
            The badge's description goes here
        %tr
          %th
            %img{:height => '48', :width => '48', :src => './images/badges/shared-a-reading-plan_48x48.png'}
          %td
            The badge's description goes here