.widget
  %header
    %a.count{:href => '#'} 157
    %span.header_icon_bookmark
      Bookmarks
  %ul
    %li
      %a{:href => '#'} Mark 12:2
      %span.separator
        |
      %span.tag
        %a{:href => '#'} Love
      %span.tag
        %a{:href => '#'} Jesus
      %span.tag
        %a{:href => '#'} Scripture
    %li
      %a{:href => '#'} Mark 12:2
      %span.separator
        |
      %span.tag
        %a{:href => '#'} Scripture
      %span.tag
        %a{:href => '#'} Love
      %span.tag
        %a{:href => '#'} Jesus
    %li
      %a{:href => '#'} Luke 1:2
      %span.separator
        |
      %span.tag
        %a{:href => '#'} Love
      %span.tag
        %a{:href => '#'} Scripture
      %span.tag
        %a{:href => '#'} Jesus
    %li
      %a{:href => '#'} Mark 12:2
      %span.separator
        |
      %span.tag
        %a{:href => '#'} Love
      %span.tag
        %a{:href => '#'} Jesus
      %span.tag
        %a{:href => '#'} Scripture
    %li
      %a{:href => '#'} Mark 12:2
      %span.separator
        |
      %span.tag
        %a{:href => '#'} Scripture
      %span.tag
        %a{:href => '#'} Love
      %span.tag
        %a{:href => '#'} Jesus
    %li.align_right
      %a.more_arrow{:href => '#'} Show all 157 bookmarks