.widget
  %aside.ad_bible_app
    %p
      %b
        Download the Free Bible App
    %p
      More than 100 versions in many<br />
      different languages, in the palm<br />
      of your hand.
    %p
      %a.more_arrow{:href => '#'} Download Now