.widget
  %header
    %span.header_icon_gear
      Settings
  %ul.widget_menu
    %li
      %a{:href => '#'} Edit Profile
    %li
      %a{:href => '#'} Change Password
    %li
      %a{:href => '#'} Picture
    %li
      %a{:href => '#'} Notifications
    %li
      %a{:href => '#'} Connections
    %li
      %a{:href => '#'} Devices