.widget
  %header
    Reading Plans
  %ul
    %li
      %a{:href => '#'} One Year Bible
      %span.separator
        |
      %span.mute
        A 365 day reading plan
    %li
      %a{:href => '#'} Group Study
      %span.separator
        |
      %span.mute
        A weekly study for 2+ people
    %li
      %a{:href => '#'} Epistles
      %span.separator
        |
      %span.mute
        Delving into the writings of Paul