.widget
  %header
    Versions
  %ul
    %li
      %abbr{:title => 'Today\'s New Super Awesome Version'}
        TNSAV
      %span.separator
        |
      %a{:href => '#'} Today's New Super Awesome Version
    %li
      %abbr{:title => 'Global Crazy Cool Version'}
        GCCV
      %span.separator
        |
      %a{:href => '#'} Global Crazy Cool Version
    %li
      %abbr{:title => 'Pig Latin Translation'}
        PLT
      %span.separator
        |
      %a{:href => '#'} Pig Latin Translation