#widget-user-badges.widget
  %h3.hd
    %span
      = current_user_is?(@user) ? t('users.my badges') : t('badges.user badges', user: (@user.first_name || @user.username))
  %table
    %tbody
      - @user.badges.first(4).each do |b|
        %tr
          %th
            %img{:height => '48', :width => '48', :src => b.image_url["px_48x48"]}
          %td
            %b= b.name
            %br
            = b.description
  %div.ft.align_right
    %a.more_arrow{:href => user_badges_path(@user.username)}
      = t('see users badges', username: @user.username)