- if i18n_kids_whitelist.include? I18n.locale
  #widget-download.widget.simple
    %div.bd.bafk
      %h3= t("download bafk ad.title")
      %img.bafk-icon{src: image_path("BibleAppForKids-icon.png")}
      %p
        = t('download bafk ad.description copy')
      %a.action_button_green{href: kids_page_path}
        = t("download bafk ad.download")