.widget.widget-find-friends
  %h3.hd
    Find Friends
  .bd
    - # Sidebar User Search
    %form.sb-user-search{action: search_path(category: :users), method: "GET"}
    %input.sb-user-search-query{type: "text", name: "q", placeholder: "Search by name"}
    %input.sb-user-search-submit{type: "submit", value: "Go"}