-@title = "Timeout Error"

%article
  %h1 Traffic Jam!
  %hr
  %div{style:"margin-top: 50px"}
    %p Unfortunately your request has timed-out. You can try again by reloading the page, we're very sorry for the inconvenience!
    %p We're working hard to widen the roads in hopes that soon you will never see this page again!
    %br
    %p.small.mute= "#{@error.class}"
