- @main_nav = false
- @sidebar = false
- @title = 'Bible'

= cache "bdc_welcome", expires_in: 5.minutes do
  %article
    %h1 Bible.com has joined the YouVersion family!
    %p
      Now, Bible.com features a free online Bible from YouVersion. The simple, ad-free Bible experience loved by millions is available right here at Bible.com.
    %p
      It’s a new way to experience the unchanging truth of the Bible.
      = link_to('Read the Bible Now', bible_path)

    %ul
      %li
        %h2 Now the Bible is an app!
        %p
          Download the free YouVersion Bible App on your mobile device and you’ll have your Bible with you no matter where you go.
          = link_to('Download the Bible App', mobile_path)
      %li
        %h2 Read the Bible.
        %p Take your choice from hundreds of Bible versions and languages. Compare two versions side by side. You can even choose your font and display size. Make your online Bible experience just the way you like it.
      %li
        %h2 Study the Bible.
        %p Highlight in your favorite color, bookmark your favorite Bible verses, and make notes about what you’re learning. Not only are you spending time in God’s Word, you’re building a history of your interaction with the Bible.
      %li
        %h2 Subscribe to Bible Plans.
        %p Cover the whole Bible, focus on a topic, or read a devotional from a gifted teacher. Choose your plan and each day you’ll find a Bible selection waiting for you.
      %li
        %h2 Take the Bible with you.
        %p When you use the Bible App, all of your notes, bookmarks, highlights, plans, and more from Bible.com will be synced with your mobile device. You’ll have access to it all, no matter if you’re reading the Bible on your phone, tablet, or computer.



