- @main_nav = true
- @sidebar = false
- @title = 'Page not found'

%article.error
  %h2= t('app errors.404 message').html_safe
  %hr
  %p= t('app errors.404 explanation', support_url: external_url(:support), reader_path: bible_path).html_safe