- @main_nav = true
- @sidebar = false
- @title = 'Page not found'

%article.error
  %h2= t('app errors.404 message').html_safe
  %hr
  / sending requested path until tr8n teams update string, delete param once completed
  %p= t('app errors.404 explanation', requested_path: params[:path], support_url: 'http://support.youversion.com', reader_path: "http://bible.com/bible").html_safe