- @main_nav = true
- @sidebar = false
- @title = 'Page not found'

%article.error
  %h2= page_not_found_messages.sample.html_safe
  %hr
  %p= t('app errors.404 explanation', requested_path: params[:path], support_url: external_url(:support), reader_path: bible_path).html_safe
