-@title = "Localization"

=render partial: "/sidebars/pages/l10n"

%article
  %h1 Preview Localization
  %hr
  %div{style:"text-align: center; margin-top: 70px"}
    %p Sorry, the new YouVersion.com preview is currently English-only.
    %p Please check back as we'll be adding language support as it becomes available.