.lookinside {
	margin-top: -70px;
	width: 100%;
	height: 100%;
	background-color: #142842;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0 200px 0;


	.lookinside-title {
		padding-bottom: 50px;
		text-align: center;

		h1 {
			margin: 0 0 20px 0;
		}
	}
	.lookinside-title * {
		color: white;
	}

	.reading-plan {
		.title {
			margin: 20px 0 20px 0;
		}
	}

	.buttons {
		justify-content: center;
		width: 100%;
		margin-top: 40px;
		.plans {
			border-radius: 200px;
			border: 1px solid #142842;
			background-color: white;
			color: #142842;
			font-size: 12px;
			padding: 10px 20px;
			margin-right: 40px;
			margin-bottom: 0;
		}
		.plans:hover {
			// border: 1px solid #142842;
			// background-color: #142842;
			// color: white;
			box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.25);
		}
		.read {
			border-radius: 200px;
			border: 1px solid #142842;
			background-color: #142842;
			color: white;
			font-size: 12px;
			padding: 10px 20px;
			margin-bottom: 0;
		}
		.read:hover {
			// border: 1px solid #142842;
			// background-color: white;
			// color: #142842;
			box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.25);
		}
	}
}
