.moment
  .moment-psa
    %p.moment-psa-text
      = t("moments.cta.sharing text")
    = image_tag "social-share-icons.png", class: "psa-social-img"
    %br
    = link_to(t("moments.cta.sharing button"), "#", class: "moment-psa-btn action_button_blue")