
.plan-nav-header, .plan-nav-header::after {
	height: 70px;
	border-bottom: @thin-grey-border;
}

.nav-content {
	display: flex;
	align-items: center;
	padding: 15px;

	.nav-img {
		width: 40px;
    height: 40px;
    margin-right: 15px;
	}
	.plan-info {
		display: inline-flex;
		flex-wrap: wrap;
		@media @medium-up {
			width: 100%;
		}
		@media @small-only {
			width: 80%;
		}

		.nav-length {
			width: 100%;
			font-size: 0.71429rem;
	    color: @font-grey;
	    text-align: left;
	    line-height: normal;
		}
		.nav-title {
			width: 100%;
			color: initial;
	    font-size: 0.78571rem;
	    text-align: left;
		}
		a, .nav-title {
			.yv-text-ellipsis;
		}
	}
}

.devo-content {
	.devo-header {
		margin-bottom: 20px;
	}

	.devotional p,
	.devotional blockquote,
	.devotional h1,
	.devotional h2,
	.devotional .video-container {
		margin-bottom: 20px;
		font-size: 16px;
	}
}

.plan-reader-content {
	@media @medium-up {
		margin-top: 60px;
	}
	@media @small-only {
		margin-top: 30px;
	}

	@media @small-only {
		.buttons {
			width: 100%;
			justify-content: center;
		}
	}
}

.pill-heading {
	border: @thin-grey-border;
	border-radius: @default-radius;
	padding: 4px 10px 4px 10px;
	min-width: 0;
	margin: 0;
	display: inline;
}
.plan-reader-heading {
	z-index: 0;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	@media @medium-up {
		margin-bottom: 25px;
	}

	.ref-heading {
		color: @font-grey;
		font-weight: bolder;
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;

		>span {
			margin-right: 10px;
		}
	}

	.pill-heading {
		font-size: 10px;
		font-weight: normal;
		color: @font-grey;
		padding: 0px 8px 0px 8px;
	}
	.trigger-button {
		z-index: 0;
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 8px;
	}
	.open {
		border: none;
		background-color: initial;
	}
	.modal {
		.absolute-horizontal-center;
		margin-left: 0 !important;
		z-index: 7;
		position: fixed;

		@media @small-only {
			top: 69px !important;
		}
		@media @medium-only {
			top: 113px !important;
		}
		@media @large-up {
			top: 139px !important;
		}
	}

}



.rp-completed-view {
	.completed-header {
		flex-wrap: wrap;
		margin-bottom: 15px;
		.plan-length-header {
			color: @font-grey;
			width: 100%;
	    font-size: 0.813em;
		}
	}
	.stacked-container {
		margin-bottom: 50px;
	}
	.content {
		flex-wrap: wrap;

		.checkmark-container {
			padding: 1px 0 0 1px;
			.checkmark-right {
				padding: 0 !important;
			}
		}
		img {
			margin: -45px 0 -40px 0;
		}
	}
	button {
		width: 10.71429rem;
	}

	.carousels {
		margin-top: 50px;
		flex-wrap: wrap;
	}

	.va-share-panel-wrapper {
		bottom: 75px !important;
	}
	.va-share-panel {
		padding: 5px !important;
		border: none !important;
		background: none !important;
		transition: none !important;
		.va-share-header {
			display: none !important;
		}
	}
}

.no-bullets {
	list-style: none;
}
.plan-pieces {
	margin-left: 0;
	li, li * {
		color: black !important;
	}
}
