:ruby
  facebook_signin_button_id = "facebookSigninButton"
  google_signin_button_id = "googleSigninButton"
  default_signup_button_id = "default-signup-button"

-content_for :javascripts do
  %script{:type => "text/javascript", :src  => "https://cdn.polyfill.io/v2/polyfill.js?features=fetch"}
  :javascript
    window.GDPR_REQUIRED;
    function check_gdpr_required() {
      return new Promise(function(resolve, reject) {
        if (typeof window.GDPR_REQUIRED !== 'undefined') {
          resolve(true /*window.GDPR_REQUIRED*/);
          return;
        }

        fetch('https://geoip.youversionapi.com/', { headers: { 'Authorization': 'Basic eW91dmVyc2lvbjpacWtSWDhhd0NraGZBSHcwbFY4aDQ3ZUZFRVhuYkVHaUE=' }})
          .then(function(response) {
            if (!response.ok) {
              throw new Error('Not-OK Response: ' + response.statusText);
            } else {
              return response.json();
            }
          })
          .then(function(myJson) {
            if (typeof myJson === 'object' && typeof myJson.gdpr !== 'undefined') {
              window.GDPR_REQUIRED = myJson.gdpr;
              resolve(true /*myJson.gdpr*/);
            } else {
              throw new Error('No `gdpr` attribute in respone. ' + JSON.stringify(myJson));
            }
          })
          .catch(function(error) {
            reject(error);
          })
      })
    }

.fixed.w-100.h-100.left-0.top-0.flex.items-center.justify-center.bg-light-gray
  .w-30.h-100.pv5
    .h-100.w-100.relative
      .h-50.w-100.bg-white.pa4.br2.shadow-2.relative.overflow-scroll
        %p Here's a summary of what you can expect to find in our Privacy Policy and Terms of Use, which cover all YouVersion-branded products and services
        %h5.b.mt3 Making your experience personal
        %p.mt3 When you create a YouVersion account or use any one of our applications or sites, the information we collect is for the purpose of offering a more personalized Bible experience.
        %h5.b.mt3 Making your experience personal
        %p.mt3 When you create a YouVersion account or use any one of our applications or sites, the information we collect is for the purpose of offering a more personalized Bible experience.
        %h5.b.mt3 Making your experience personal
        %p.mt3 When you create a YouVersion account or use any one of our applications or sites, the information we collect is for the purpose of offering a more personalized Bible experience.
      .pa4.w-100.relative
        .cf
          .w-80.fl
            .p I agree to let YouVersion send me emails to deepen my Bible engagement
          .w-20.fl
            .input{:type => 'checkbox'}
        .cf
          .w-80.fl
            .p I agree to let YouVersion send me emails to deepen my Bible engagement
          .w-20.fl
            .input{:type => 'checkbox'}            
