-#= javascript_include_tag "/assets/angular/angular.min.js"
-#= javascript_include_tag "/assets/angular/app"

-#- unless ENV['RACK_ENV'] =~ /production/i
-#  = javascript_include_tag "https://jira.lifechurch.tv/s/b17eb5e5f8f998659004f0ac03143e6e-T/en_US1dmgn3/71006/01b32b66f1a9832636b5f267a1988181/2.0.11/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=c48f3ab5"

-if (true) #controller_name != 'subscriptions' || action_name == 'show' || action_name == 'update' || action_name == 'mark_complete')
  -# firebase sdk for server push
  %script{:type => "text/javascript", :src  => "https://www.gstatic.com/firebasejs/4.3.1/firebase.js"}
  :javascript
    if($('#choose_language').length) {
      var language_menu   = new LanguageMenu("#choose_language");
    }

    (function() {
      var at = document.createElement('script'); at.type = 'text/javascript'; at.async = true;
      at.src = '//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54d2b9d73051838d&async=1';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(at, s);
    })();

    var addthis_config = {
      ui_language: "#{I18n.locale[0..1]}",
      services_exclude : 'print,google,favorites',
      services_expanded : '2tag,a97abi,adifni,amenme,aim,aolmail,azadegi,baidu,blogger,buffer,delicious,digg,evernote,fabulously40,facebook,gg,gmail,govn,googleplus,hootsuite,hotmail,iwiw,ketnooi,linkedin,mymailru,live,myspace,nujij,oyyla,pinterest_share,qzone,reddit,sinaweibo,stumbleupon,tumblr,twitter,viadeo,vk,werkenntwen,whatsapp,wordpress,yahoomail'
    }
    addthis_config.data_track_clickback = false;
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAcHq_2VULF9ab8JKAPD-nBpOwlqlAjI5w",
      authDomain: "youversion-base.firebaseapp.com",
      databaseURL: "https://youversion-base.firebaseio.com",
      projectId: "youversion-base",
      storageBucket: "youversion-base.appspot.com",
      messagingSenderId: "201895780642"
    };
    firebase.initializeApp(config);

    /*
    (function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
        _fbq.push(['addPixelId', '653608201382494']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    */
  -#twitter remarketing
  -# %script{:type => "text/javascript", :src  => "//platform.twitter.com/oct.js"}
  -# %script{:type => "text/javascript"}
    -# twttr.conversion.trackPid('l4p73');

%noscript
  %img{src: "https://www.facebook.com/tr?id=653608201382494&amp;ev=NoScript", height: "1", width: "1", style: "display:none;"}
  -# %img{src: "https://analytics.twitter.com/i/adsct?txn_id=l4p73&p_id=Twitter", height: "1", width: "1", style: "display:none;"}
  -# %img{src: "//t.co/i/adsct?txn_id=l4p73&p_id=Twitter", height: "1", width: "1", style: "display:none;"}
