- @title = 'Publisher'
- @sidebar = false

%article
  %h1= t("bible versions")
  %ul
    - @versions_by_lang.each do |lang, versions|
      %li
        = versions.first.language.human
        %ul
          - versions.each do |version|
            %li= link_to version.title , version_path(version)