- @title = 'Publisher'
- @sidebar = false

%article
  %h1= t("bible versions")
  %ul
    - @versions_by_lang.each do |lang, versions|
      %li
        = lang[:human]
        %ul
          - versions.each do |id, version|
            %li= link_to version.title , version_path(version)