- @sidebar = false

%div#notify-item
	%div.item-content
		%img.round-avatar{src: '/assets/round-avatar-FPO.png'}
		=link_to "Jane Doe", '#', class: 'text-link'
		%p wants to be your friend
		%span.timestamp
			2 days ago

	%div.item-actions
		=link_to "Add", '#', class: 'action_button_blue action-add'
		=link_to "Ignore", '#', class: 'action_button_grey action-ignore'

%div#notify-item
	%div.item-content
		%img.round-avatar{src: '/assets/round-avatar-FPO.png'}
		=link_to "Jane Doe", '#', class: 'text-link'
		%p wants to be your friend
		%span.timestamp
			2 days ago

	%div.item-actions
		=link_to "Add", '#', class: 'action_button_blue action-add'
		=link_to "Ignore", '#', class: 'action_button_grey action-ignore'

%div#notify-item
	%div.item-content
		%img.round-avatar{src: '/assets/round-avatar-FPO.png'}
		=link_to "Jane Doe", '#', class: 'text-link'
		%p wants to be your friend
		%span.timestamp
			2 days ago

	%div.item-actions
		=link_to "Add", '#', class: 'action_button_blue action-add'
		=link_to "Ignore", '#', class: 'action_button_grey action-ignore'

  