- @title = "Plan Calendar and Progress"
- subscription = @presenter.subscription

.row
  .columns.medium-8
    =render partial: "editHeader"
    .row.pad-row
      .columns.small-8
        = render partial: 'subscriptions/calendar', locals: { subscription: @subscription, showAll: true }
  .columns.medium-4
    = render partial: "/sidebars/plans/show", locals: {presenter: self.sidebar_presenter}