- @title        = @presenter.subscription_name
- @version      = @presenter.version             # reader needs a @version
- @reference    = @presenter.reference           # reader needs a @reference

%article= @presenter.reading.devotional.html_safe