- @title = @subscription.name
- @sidebar = false

%article
  = render partial: "plan_day_header"

  .split_pane{:style => "padding-top:15px"}
    - if @reading.devotional
      = render partial: "pane_devotional"
    - else
      =render partial: "pane_no_devotional"

- content_for :javascripts do
  %script
    :plain

      jQuery(document).ready(function() {
        var menu = new VersionMenu({menu:"#menu_version",trigger:"#menu_version_trigger"});
      });
