- @title        = @presenter.subscription_name

- if @presenter.reference
  = render partial: "/references/reader", locals: {presenter: @presenter}

- else
  %article
    %h2= t('plans.no verses')
    %p= t('plans.no content')