- unless colors.nil?
- colors.each_with_index do |c,i| #room for 10 highlights in menu, 10th will be hidden by JS if clear is there
  %button{type:"submit", name:"highlight[color]", value: c, class: "color", id: "highlight_#{i}", style: "background-color:##{c}"}
