
.moment-card {
	display: flex;
	flex-wrap: wrap;

	.avatar-container {
		margin-right: 15px;
	}

	.aside-col {
		flex: 0;
	}
	.main-col {
		flex: 1;
	}
	.moment-header {
		width: 100%;
		height: 38px;
		display: inline-flex;
		align-items: center;
		.title {
			font-size: 19px;
		}
		.dt {
			font-size: 11px;
			color: @font-grey;
		}
	}

	.content {
		padding: 10px 0;
	}
	.moment-footer {
		width: 100%;
		display: inline-flex;
		align-items: center;
		margin-top: 15px;
	}
}
