.yv-moment-card {
	.aside-col {
		flex: 0;
	}
	.main-col {
		flex: 1;
	}
	.yv-moment-header {
		width: 100%;
		height: 38px;
		display: inline-flex;
		align-items: center;
		margin-bottom: 10px;
		.flex-wrap;
		a {
			color: black;
		}
		.title {
			font-size: 18px;
			line-height: 1.2;
		}
		.dt {
			font-size: 11px;
			color: @font-grey;
		}
	}

	.yv-moment-content {
		padding: 10px 0 10px 0;
	}
	.yv-moment-footer {
		width: 100%;
		display: inline-flex;
		align-items: center;
		margin-top: 15px;
	}
}

.yv-comment-moment {
	.yv-moment-content {
		padding: 10px 53px;
	}
}
