
.moment {
	display: flex;
	.aside-col {
		flex: 0;
	}
	.main-col {
		flex: 1;
	}
	.moment-header {
		height: 38px;
		display: inline-flex;
		align-items: center;
		.dt {
			font-size: 11px;
			color: @font-grey;
		}
	}
}
