.card {
	padding: 35px 45px 35px 45px;
	background: white;
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.07);
	border-radius: 2px;

}

.verse-card {

	.note { display: none !important; }

	.verse {
		display: inline-block;

		.xmark-container:hover {
			cursor: pointer;
		}

	}
	.verse ~ .delete {
		display: inline-flex;
		align-items: center;
		.xmark-container {
			margin-left: auto;
			margin-right: 4px;
		}
	}


	.heading {
		font-weight: bold;
		font-size: 16px;
		color: black;
		margin-bottom: 20px;
		margin-top: 10px;
		letter-spacing: 1px;
	}
	h2 {
		letter-spacing: 0.9px;
		text-transform: none;
	}

	.verse-content {
		display: inline-flex;
		padding-right: 25px;
		margin-bottom: 20px;
		color: @font-grey;

		.note {
			display: none !important
		}
	}

	.card-footer {
		display: inline-flex;
		width: 100%;
	}

}