.hide-modal {
	pointer-events: none;
	.element-to-translate {
		.dropdown-transform-hide;
	}
}

.modal {
	position: absolute;
	overflow: hidden;
	padding: 0px 15px 25px 15px;
	z-index: 10;
	margin-left: -15px;

	.element-to-translate {
		.yv-drop-shadow;
		.dropdown-transform-show;
	}
}