#site-footer {
  margin-bottom: 30px;

  #languages label {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .floating-icon {
    width: 200px;
    margin-top: -51px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 5px;
    margin-bottom: 30px;
  }
}