#site-footer {
  margin-bottom: 30px;
  border-top: 1px solid #ddd;

  .footer-logo {
    display: block;
    background-color: #fff;
    padding: 0 15px;
    margin: -14px auto 30px;
    width: 200px;
  }

  #languages label {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  .floating-icon {
    width: 200px;
    margin-top: -51px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 5px;
    margin-bottom: 30px;
  }

  .footer-label {
    border-bottom: 1px solid #ddd;
    padding: 0 0 5px;
    text-transform: uppercase;
    font-size: 0.688em;
    font-weight: bold;
  }

  @media #{$small-only} {
    div.columns {
      margin: 0 0 15px;
    }

    a {
      padding: 0;
    }
  }

  li a {
    padding: 0;
  }
}