body {
  font-family: arial, helvetica, sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 2.375em;
  line-height: 1.2em;
  letter-spacing: rem-calc(-.5)
}

h1, h2 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "proxima-nova", "helvetica neue", arial, sans-serif;
}

h5.bookLabel {
  padding: 0.4375rem 0.875rem;
}

.small-title {
  font-size: 15px;
  font-weight: bold;
}

.blue-text {
  color: $blue !important;
}

.icon_listen {
  background: image-url("icon_listen.png");
  background-position: center 3px !important;
}

md-menu-content.padded {
  padding:20px;
}