@media (min-width: 640px) {
  #mode {
    background-color: green;
  }
}
@media (min-width: 1024px) {
  #mode {
    background-color: blue;
  }
}
@media (min-width: 1440px) {
  #mode {
    background-color: purple;
  }
}
@media (min-width: 1920px) {
  #mode {
    background-color: gold;
  }
}

body {
	@media #{$medium-up} {
	  margin-top: rem-calc(130);
	}  
}

#current-ui-view {
	padding-bottom: 100px;
}

:focus {
	outline: 0;
}

.fixed {
	@media #{$small-only} {
		bottom: 0;
		top: auto;        
	}

	.t-border {
		@media #{$medium-up} {
			border-top: none !important;
		}          
		@media #{$small-only} {
			border-bottom: none !important;
		}
	}



	&.after-header {
		@media #{$medium-up} {
			margin-top: rem-calc(73);
		}

		bottom: auto !important;
		top: 0 !important;
	}
}

.fixed.header {
	box-shadow: 1px -1px 10px #888;
}

.row {
	&.full {
		max-width: 100%;
		@media #{$large-up} {
			padding-left: rem-calc(30);
			padding-right: rem-calc(30);
		}

		@media #{$small-up} {
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);
		} 
	}

	&.b-border {
		border-bottom: solid rem-calc(1) $lightGray;
	}

	&.t-border {
		border-top: solid rem-calc(1) $lightGray;
	}
}

.white {
	background-color: #ffffff;
}

.gray {
	background-color: $gray_light;
}

.inline {
	display: inline !important;
}

.pad-head {
  margin-top: rem-calc(20) !important;
}

.pad-row-top {
	padding-top: rem-calc(20) !important;
}

.pad-row {
	padding-top: rem-calc(20) !important;
	padding-bottom: rem-calc(20) !important;
}

.pad-all {
	padding: 20px;
}

.round {
	border-radius: $global-radius;
}

.hidden {
  display: none !important;
}

.vertical-middle {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex; 

	justify-content: center;
	-webkit-justify-content: center;

	flex-direction: column;
	-webkit-flex-direction: column;
	
	align-content: center;
	-webkit-align-content: center;	
}

html[dir="ltr"] {
   .columns {
     &.l-border {
       border-left: solid rem-calc(1) $gray_light;
     }

     &.r-border {
       border-right: solid rem-calc(1) $gray_light;
     }
   }
 }
html[dir="rtl"] {
  .columns {
    &.l-border {
      border-right: solid rem-calc(1) $gray_light;
    }

    &.r-border {
      border-left: solid rem-calc(1) $gray_light;
    }
  }
}
