@media (min-width: 640px) {
  #mode {
    background-color: green;
  }
}
@media (min-width: 1024px) {
  #mode {
    background-color: blue;
  }
}
@media (min-width: 1440px) {
  #mode {
    background-color: purple;
  }
}
@media (min-width: 1920px) {
  #mode {
    background-color: gold;
  }
}

#current-ui-view {
	padding-bottom: 100px;
    @media #{$medium-up} {
      margin-top: 155px;
    }
}

:focus {
	outline: 0;
}

.fixed {
	@media #{$small-only} {
		bottom: 0;
		top: auto;
	}

	.t-border {
		@media #{$medium-up} {
			border-top: none !important;
		}
		@media #{$small-only} {
			border-bottom: none !important;
		}
	}



	&.after-header {
		@media #{$medium-up} {
			margin-top: rem-calc(73);
		}

		bottom: auto !important;
		top: 0 !important;
	}
}

.row {
	&.full {
		max-width: 100%;
	}

	&.b-border {
		border-bottom: 1px solid $lightGray;
	}

	&.t-border {
		border-top: 1px solid $lightGray;
	}
}

.white {
	background-color: #ffffff;
}

.gray {
	background-color: $gray_light;
}

.inline {
	display: inline !important;
}

.pad-head {
  overflow: hidden;

  div {
    margin-top: rem-calc(17);

    @media #{$medium-only} {
      margin-top: auto !important;
    }
  }
}

.pad-row-top {
	padding-top: rem-calc(20) !important;
}

.pad-row {
	padding-top: rem-calc(20) !important;
	padding-bottom: rem-calc(20) !important;
}

.pad-row-small {
	padding-top: rem-calc(10) !important;
	padding-bottom: rem-calc(10) !important;
}

.pad-all {
	padding: 20px;
}

.round {
	border-radius: $global-radius;
}

.hidden {
  display: none !important;
}

.vertical-middle {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;

	justify-content: center;
	-webkit-justify-content: center;

	flex-direction: column;
	-webkit-flex-direction: column;

	align-content: center;
	-webkit-align-content: center;
}

.mobile-full {
		@media #{$small-only} {
			width: 100%;
			display: block;
		}
}

html[dir="ltr"] {
   .columns {
     &.l-border {
       border-left: solid rem-calc(1) $gray_light;
     }

     &.r-border {
       border-right: solid rem-calc(1) $gray_light;
     }
   }
 }

html[dir="rtl"] {
  .columns {
    &.l-border {
      border-right: solid rem-calc(1) $gray_light;
    }

    &.r-border {
      border-left: solid rem-calc(1) $gray_light;
    }
  }

  .text-left {
    text-align: right !important;
  }

  .text-right {
    text-align: left !important;
  }
}
