{
	"presets": [
		"env",
		"react"
	],
  "plugins": [
    [
	    "react-intl", {
	        "messagesDir": "./locales",
	        "enforceDescriptions": true
	    },
		],
		"transform-object-rest-spread",
		"transform-function-bind",
		"transform-object-assign",
		"transform-class-properties"
  ]
}
