%div.widget.notes.ajax_me{"data-ajax" => "/bible/#{@reference}/notes"}

  %header
    %span.header_icon_note= @title 
  %section
    %table
      %tbody
        %tr
          %th
          %td
            %p= "Loading community notes..."    

