%div.widget.notes.ajax_me{"data-ajax" => "#{bible_path(@reference)}/notes"}

  %header
    %span.header_icon_note= @title
  %section
    %table
      %tbody
        %tr
          %th
          %td
            %p= t('notes.loading community')

