// Variables necessary for templates and partials to render properly
- @version        = @presenter.version
- @alt_version    = @presenter.alt_version
- @reference      = @presenter.reference
- @alt_reference  = @presenter.alt_reference

- @title = @presenter.title
- @is_reader = true
- @canonical = bible_url(@reference)
- @html_classes = []
- @html_classes << "full_screen" if client_settings.reader_full_screen.present?
- @html_classes << "full_screen" << "parallel_mode" if client_settings.reader_parallel_mode.present?

- if @presenter.modal_verse.present?
  - content_for :additional_meta do
    %meta{name: "twitter:card",         content: "summary"}
    %meta{name: "twitter:url",          content: "#{request.protocol}#{request.host_with_port}#{request.fullpath}"}
    %meta{name: "twitter:title" ,       content: @title}
    %meta{name: "twitter:description",  content: truncate(@presenter.modal_verse.content(as: :plaintext), length: 200, separator: " ")}
    %meta{name: "twitter:site",         content: "@YouVersion"}

- if current_auth && client_settings.subscription_state?
  - content_for :mobile_subscription_nav do
    %a.subscription_btn{:href => 'javascript:void(0);'}

= render partial: 'reader', locals: {presenter: @presenter}
