// Local parameters
// presenter: Presenter::Sidebar::Version
- version = presenter.version
- related = presenter.related

.widget-button
  = link_to t("versions.read title"), bible_path((@returnTo || last_read || default_reference).merge(version: version)), class: 'action_button_blue'

- if version.publisher.name.present? || version.publisher.id.blank?
  - pub_name = version.publisher.name || t('versions.public domain')
  .widget
    %h3.hd
      =t("versions.publisher widget title")
    %ul.menu
      %li
        - if version.publisher.url.present?
          = link_to pub_name, version.publisher.url
        -else
          %p= pub_name

- if related.present?
  .widget
    %h3.hd
      =t("versions.other versions")
    %ul.menu
      - related.each do |v|
        %li
          = link_to v, v
