- # handlebars templates are in /assets/js/templates/menus
%div.header-popover.notifications{"data-str-view-all"=>t("notifications.view all"), "data-str-none"=>t("notifications.no new"), "data-str-no-notifications"=>t("notifications.none")}
  %span.arrow
  %h4
    = t("notifications.title")
  %span.clear
  .popover-data-container
    %ul.notifications-list
      %li.notifications-item
        %p.loading-indicator
          = t("ui.loading indicator text")
