
// BIBLE HEADER
.reader-header {
	background: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	height: 70px;
	padding: 0 15px;
	width: 100%;

	.trigger-button {
		margin-left: 15px;
		width: 36px;
		height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.audio-popup {
		@media @small-only {
			width: 25%;
			display: flex;
			justify-content: flex-end;
		}
	}

	@media @large-up {
		.version-picker-container, .chapter-picker-container {
			margin-right: 45px;
		}
	}
	@media @medium-only {
		.version-picker-container, .chapter-picker-container {
			margin-right: 15px;
		}
	}
	@media @small-only {
		.reader-settings {
			.trigger-button {
				margin-left: 5px !important;
			}
		}
		.chapter-picker-container {
			margin-right: 15px;
			input {
			}
		}
		input {
			font-size: 12.5px;
			padding: 0 0 0 4px !important;
		}
	}

	.chapter-picker-container, .version-picker-container {
		display: inline-flex;
		.picker-label { flex: 1 1 auto; }
		@media @small-only {
			width: 100%;
			input {
				width: 100%;
			}
		}
		@media @medium-only {
			input {
				font-size: 14px;
				max-width: 150px;
			}
		}
		.modal {
			top: 122px;
		}
	}

	.version-picker-container {
		.picker-label input {
			min-width: 50px;
			@media @medium-only {
				font-size: 14px;
				max-width: 150px;
			}
		}
	}
}
.yv-sticky-header-hidden {
	.reader-header {
		border-bottom: solid 1px #ddd;
	}
}

html[dir="rtl"] {
	.reader-header {
		@media @large-up {
			.version-picker-container, .chapter-picker-container {
				margin-left: 45px;
				margin-right: 0 !important;
			}
		}
		@media @medium-only {
			.version-picker-container, .chapter-picker-container {
				margin-left: 35px;
				margin-right: 0 !important;
			}
		}
	}
}
