// Locals
// plan - instance of Plan

.widget
  %h3.hd
    =t("plans.publisher")
  %div.bd
    %p= plan.copyright.html_safe
  - unless plan.publisher_url.nil?
    %div.ft.link
      = link_to(t("plans.about publisher"), plan.publisher_url)