!!! 5
%html
  %head
    = stylesheet_link_tag "campaigns/100m"

  %body

    %article

      -# BA headline and logo
      .intro
        %h1.intro-logo
          YouVersion: The Bible app
        %h2.intro-starts
          It starts with
        %h2.intro-100m
          100 million
        %p.intro-copy
          Can the Bible App reach 100 million installs before our 5th anniversary on July 10th? Only with your help!

      -# Share buttons
      .share
        %p.share-copy
          Share with your friends
        .share-btns
          %a.share-fb{:href => '#'}
            Facebook
          %a.share-tw{:href => '#'}
            Twitter
          %a.share-em{:href => '#'}
            Email

      -# App ticker
      .ticker
        -# Each cluster of three numbers is grouped
        %span.ticker-group-1
          %span.ticker-1
            0
          %span.ticker-2
            0
          %span.ticker-3
            0
        %span.ticker-group-2
          %span.ticker-4
            0
          %span.ticker-5
            0
          %span.ticker-6
            0
        %span.ticker-group-3
          %span.ticker-7
            0
          %span.ticker-8
            0
          %span.ticker-9
            0
      .ticker-divider
        = image_tag "campaigns/100m/ticker-divider.png"

      -# Day counter
      .counter
        %span.counter-days
          %span.counter-bigtxt
            42
          %span.counter-smtxt
            days

        %span.counter-hrs
          %span.counter-bigtxt
            12
          %span.counter-smtxt
            hours

        %span.counter-min
          %span.counter-bigtxt
            35
          %span.counter-smtxt
            minutes

        %span.counter-sec
          %span.counter-bigtxt
            18
          %span.counter-smtxt
            seconds

      -# Video
      .video
        .video-box
          %iframe{width:"640",height:"360",src:"http://www.youtube.com/embed/gGclEW8E7GU?list=PL0429142BE6C7A21B", frameborder:"0", allowfullscreen:"true"}
        .video-copy
          %p
            July 10 is going to be a big day. Not only is it the 5th anniversary of the Bible App, it also marks 5 years since the launch of Apple’s iTunes Store.
          %p
            But even bigger? With your help, it’s the day the Bible App will reach 100 million downloads.
          %p
            We’ve learned God uses milestones like this to fuel even greater growth.
          %p
            Let’s make history together.

      %footer
        %p
          Learn more about the Bible app at <a href="#">bible.com</a>