#widget-100m-ad
  = image_tag "campaigns/100m/ad.png", size: "300x270", alt: t("campaigns.100m.sidebar.button")
  .cta-100m
    %span
      = t("campaigns.100m.sidebar.tagline")
    %a{href: "http://bible.com/100million", class:"action_button_green"}
      = t("campaigns.100m.sidebar.button")