.edit_controls

  font-size: 12px
  margin-top: 0
  line-height: 1em
  color: #999

  span
    padding: 0 10px
    border-left: 1px solid #ddd

  span:first-child
    border-left: none
    padding-left: 0

  span.hidden
    opacity: 0

  span.date
    opacity: 1.0

  a
    text-transform: capitalize
    color: #999

.bookmarks-labels-wrap
  margin: 0 0 15px
  clear: both
  background: #fff
  +round
  font-size: 12px
  line-height: 24px
  overflow: hidden

  .labels-heading
    font-size: inherit
    line-height: inherit
    float: left
    margin: 0 10px 0 4px
    padding: 5px 10px
    border-right: 2px solid #ddd

.bookmarks-labels
  overflow: auto
  margin: 0

  .label
    margin: 4px 0 4px 4px
    float: left
    padding: 0 5px
    position: static
    +border-radius(4px)
    border: 1px solid #ddd
    .moment-bm-labels-link
      background-color: #ccc
    .label-count
      color: #fff
      padding: 0 3px 1px
      background-color: #b5b5b5
      +border-radius(3px)
      font-size: 12px
    a
      color: #aaa
    &.selected
      padding: 0 5px 2px
      +border-radius(4px)
      background-color: #6AB750
      border: none
      a
        color: #fff
      .label-count
        background-color: #599943

  .label:first-child
    margin-left: 0

  .all-label
    border: none
    margin-top: 5px
    a
      color: #0084c8

  .all-label.selected
    display: none
    padding-bottom: 0px


// Mobile bookmark styles
// -------------------------------------------------------
.mobile-client

  .note p.references
    font-size: 13px

  // Hoverable edit controls that display edit / delete+confirm links
  .edit_controls
    font-size: 12px
    span.hidden
      opacity: 1.0

    a
      text-transform: capitalize
      text-decoration: underline

  .split_pane
    padding-top: 0

    .content
      width: auto
      margin-bottom: 0

      > ul
        margin-left: 0

      li:first-child
        padding-top: 0

      ul ul
        margin: 0 !important

      .bookmark
        background: none
        overflow: hidden

      li p
        margin-bottom: 0

      li
        .content
          line-height: 1.25em !important

  .bookmarks-labels-wrap
    +border-radius(0)
    margin: 0
    border-bottom: 5px solid #dedddb

    .labels-heading
      float: none
      font-size: 15px
      margin: 0 10px 5px 4px

    .label
      margin: 2px 2px 0

      a
        color: #fff
        padding: 0 7px
        background-color: #0084c8
        +border-radius(3px)
        font-size: 15px
        height: 30px
        line-height: 28px
        display: block