// `Dynamic Menus
//----------------------------------------------------------------------------------------------------

.dynamic_menu
  @extend .clearfix
  +round
  +box-shadow(rgba(#000, 0.75) 0 2px 5px 0)
  -webkit-font-smoothing: subpixel-antialiased
  background:
    color: #434343
  border: 1px solid #555
  display: none
  font-size: 11px
  padding: 5px
  text-shadow: #000 0 1px 0
  width: 375px
  position: fixed
  z-index: 2
  top: 120px

  header
    background:
      color: transparent !important
      image: none !important
    padding: 5px !important
    border: none !important
    text-shadow: none !important
    box-shadow: none !important
    -webkit-box-shadow: none !important
    -moz-box-shadow: none !important

.spinner_wrapper
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  padding: 0
  background-color: rgba(0,0,0,0.8)
  z-index: 6
  .dynamic_menu_spinner
    position: absolute
    width: 0
    height: 0
    top: 50%
    left: 50%

.menu_arrow
  background: image-url("menu_arrow.png") no-repeat
  font-size: 0
  overflow: hidden
  text-indent: -99999px
  width: 15px
  height: 8px
  position: absolute
  top: -8px
  left: 10px

  // Reposition if the menu would've
  // otherwise been off-screen, because
  // we're reversing it via JavaScript.
  .dynamic_menu_reverse &
    left: auto
    right: 10px

.dynamic_menu_inner,
.dynamic_menu .scroll
  background: image-url("menu_scroll.png")
  border: 1px solid #555

.dynamic_menu .scroll
  border-right: 0
  border-left: 0
  height: 450px
  overflow-x: hidden
  overflow-y: scroll

.dynamic_menu .scroll::-webkit-scrollbar
  background: #222
  width: 15px

.dynamic_menu .scroll::-webkit-scrollbar-thumb
  background: #999
  border: 5px solid #222

.dynamic_menu .scroll::-webkit-scrollbar-thumb:hover
  background: #ccc

.dynamic_menu .scroll
  font-size: 13px

.dynamic_menu .loading
  text-align: center
  color: #cbc9cf
  margin: 20px 10px

.dynamic_menu table,
.dynamic_menu ul,
.dynamic_menu ol
  background:
    color: #1f1f1f
  a,
  a:hover
    text-decoration: none

.dynamic_menu ul,
.dynamic_menu ol,
.dynamic_menu li
  list-style: none
  margin: 0

.dynamic_menu ul a
  display: block
  padding: 5px 10px

.dynamic_menu,
.dynamic_menu a
  color: #fff

.dynamic_menu header
  font-size: 13px
  padding: 2px 5px 5px

#menu_book_chapter header
  padding: 0 0 7px 5px

.dynamic_menu th[colspan="2"],
#menu_book_chapter header
  font:
    size: 20px
    weight: normal
  line-height: 1

.dynamic_menu .search input,
  width: 100%

.dynamic_menu table
  border-collapse: separate
  cursor: default
  margin: 0
  width: 100%
  @media only screen and (max-width: 768px)
    table-layout: fixed  

  @media only screen and (max-width: 768px)
    table-layout: fixed

.dynamic_menu th
  text-align: right
  white-space: nowrap
  width: 1%

.dynamic_menu th[colspan="2"]
  background: #0c0c0c
  color: #fff
  padding: 7px 10px 10px
  text-align: left
  width: 100%

.dynamic_menu th a,
.dynamic_menu td a
  display: block
  padding: 5px 10px

.dynamic_menu th a
  color: #a6c2cc

.dynamic_menu tr:hover th a
  color: #b5dcea

.dynamic_menu ul a,
.dynamic_menu th a,
.dynamic_menu td a,
.dynamic_menu th[colspan="2"]
  border-top: 1px solid #2a2a2a
  border-bottom: 1px solid #000

.dynamic_menu ul li:first-child a,
.dynamic_menu tr:first-child th[colspan="2"],
.dynamic_menu tr:first-child th a,
.dynamic_menu tr:first-child td a
  border-top: 0

.dynamic_menu ul li:last-child a,
.dynamic_menu tr:last-child th[colspan="2"],
.dynamic_menu tr:last-child th a,
.dynamic_menu tr:last-child td a
  border-bottom: 0

.dynamic_menu fieldset
  margin-bottom: 0

// `Book & Chapter Menu
//----------------------------------------------------------------------------------------------------

#menu_book_chapter .browse
  @extend .clearfix
  background:
    image: image-url("menu_book_chapter.png")
    repeat: repeat-y
    position: center top

.dynamic_menu .browse
  padding-top: 5px


#menu_book_chapter ul,
#menu_book_chapter ol
  width: 162px

#menu_book
  float: left

#menu_chapter
  float: right

#menu_book .li_active a, #menu_book .li_active a:visited
  background: image-url("menu_book_highlighted_a.png") no-repeat right center

#menu_chapter ol
  background:
    image: image-url("menu_chapter_ol.png")

#menu_chapter li
  float: left
  text-align: center
  line-height: 26px
  width: 27px
  height: 27px

#menu_chapter a
  background:
    image: image-url("menu_chapter_a_hover.png")
    repeat: no-repeat
    position: -99999px -99999px
  display: block

#menu_chapter li.info a
  background:
    image: image-url("nav_icons_mobile.png")
    repeat: no-repeat
    position: 6px -129px
  text-indent: 100%
  white-space: nowrap
  overflow: hidden


#menu_chapter .li_active a
  background:
    color: rgba(#fff, 0.1)

.dynamic_menu tr:hover a,
#menu_book li:hover,
#menu_chapter li:hover,
.dynamic_menu .first-match
  background-color: $blue-dark
  +background-image(linear-gradient($blue_light, $blue_dark))
  text-shadow: rgba(#000, 0.5) 0 -1px 0

#menu_chapter a:hover
  background:
    position: 0 0

// `Accordion.
//----------------------------------------------------------------------------------------------------

.dynamic_menu label
  font-weight: normal

.dynamic_menu input[type="text"],
.dynamic_menu textarea
  +box-shadow(inset rgba(#000, 0.5) 0 1px 2px 0, inset rgba(#fff, 0.05) 0 -1px 0 0, rgba(#fff, 0.1) 0 1px 0 0)
  background: #494949 !important
  border: 1px solid #000
  color: #cbc9cf
  text-shadow: rgba(#000, 0.5) 0 -1px 0
  width: 100%
  height: auto

.dynamic_menu dl
  @extend .clearfix
  background: image-url("menu_scroll.png")
  border: 1px solid #555 !important
  margin: 0
  text-shadow: #000 0 1px 0

.dynamic_menu fieldset,
.dynamic_menu dt
  +box-shadow(inset #0c0c0c 0 -1px 0 0)
  background: #1f1f1f
  border-top: 1px solid #2a2a2a
  font-size: 12px
  line-height: 1
  padding: 10px 15px !important

.dynamic_menu header,
.dynamic_menu dt
  position: relative
  border-bottom: none !important
  font-weight: normal !important

.dynamic_menu header .close,
.dynamic_menu dt .close
  background: image-url("close.png") no-repeat
  color: transparent
  cursor: default
  font-size: 0
  margin-top: -11px
  overflow: hidden
  text-decoration: none
  text-indent: -99999px
  width: 21px
  height: 21px
  position: absolute
  top: 50%
  right: 10px

.dynamic_menu header .close
  right: 5px
  cursor: pointer

.dynamic_menu dd
  +box-shadow(inset #000 0 0 5px 0)
  border-top: 1px solid #2a2a2a
  border-bottom: none !important
  font-weight: normal !important
  display: none
  padding: 15px 15px 1px

.dynamic_menu dt:first-child + dd
  display: block

.dynamic_menu dl p
  margin-bottom: 15px

.dynamic_menu .open_modal
  text-decoration: none

.dynamic_menu #new_note_modal
  background: image-url("icon_open_modal.png") no-repeat 95% center #1f1f1f

.dynamic_menu #new_note_modal:hover
  background: image-url("icon_open_modal.png") no-repeat 95% center #2e2e2e


// !Reader verse actions

#menu_verse_actions
  display: none
  position: relative
  background-color: #323232
  margin-top: 34px
  position: fixed
  top: 82px
  z-index: 1

  .verse-actions-success-message
    background:
      color: #d9e4c9
    border-color: #91b164
    color: #4b7518
    margin: 0
    padding: 8px


#menu_verse_actions .references
  padding: 0px 5px

#menu_verse_actions .references .reference_tokens > li
  margin-top: 7px

#menu_verse_actions .references .reference_tokens > li a
  border-radius: 4px

#menu_verse_actions .references ul
  margin: 0

#menu_verse_actions .panel-tabs
  background-color: #333
  border-top: 1px solid #000
  height: 49px

#menu_verse_actions dd,
#menu_verse_actions .tab-panel
  overflow: inherit !important
  display: none

#menu_verse_actions dt,
#menu_verse_actions .tab-trigger
  cursor: pointer
  float: left
  width: 83px
  height: 49px
  background-color: #323232
  border-left: 1px solid #444
  border-top: 1px solid #444
  border-right: 1px solid #000
  background:
    image: image-url("verse_task_sprite.png")
    repeat: no-repeat
  text-indent: -2000px
  overflow: hidden
  white-space: no-wrap

#menu_verse_actions dt.clear-selected,
#menu_verse_actions .tab-trigger.clear-selected
  width: 88px

#menu_verse_actions dt.highlight,
#menu_verse_actions .tab-trigger.highlight
  background-position: 30px 10px

#menu_verse_actions dt.comment,
#menu_verse_actions .tab-trigger.comment
  background-position: -47px 10px

#menu_verse_actions dt.bookmark,
#menu_verse_actions .tab-trigger.bookmark
  background-position: -138px 10px

#menu_verse_actions dt.note,
#menu_verse_actions .tab-trigger.note
  background-position: -223px 10px

#menu_verse_actions dt.share,
#menu_verse_actions .tab-trigger.share
  background-position: -304px 10px

#menu_verse_actions dt.clear-selected,
#menu_verse_actions .tab-trigger.clear-selected
  background-position: -387px 10px

#menu_verse_actions dt.link,
#menu_verse_actions .tab-trigger.link
  background-position: -473px 10px

#menu_verse_actions dt.related,
#menu_verse_actions .tab-trigger.related
  background-position: -557px 10px
  position: relative
  +opacity(1)
  height: 43px

#menu_verse_actions dt.related.disabled,
#menu_verse_actions .tab-trigger.related.disabled
  background-position-y: 10px !important
  +opacity(0.3)
  cursor: default

#menu_verse_actions dt.related .count,
#menu_verse_actions .tab-trigger.related .count
  text-align: center
  text-indent: 0
  position: absolute
  left: 0
  top: 13px
  width: 83px
  font-size: 11px

#menu_verse_actions dt.active,
#menu_verse_actions dt:hover,
#menu_verse_actions .tab-trigger.active,
#menu_verse_actions .tab-trigger.hover
  background-position-y: -70px

#menu_verse_actions dt .arrow,
#menu_verse_actions .tab-trigger .arrow
  display: none

#menu_verse_actions dt.active .arrow,
#menu_verse_actions .tab-trigger.active .arrow
  display: block
  height: 8px
  width: 16px
  background:
    image: image-url('active_arrow_down.png')
    repeat: no-repeat
  position: relative
  top: 16px
  left: 41px
  z-index: 1

#menu_verse_actions .pane
  width: 568px
  background-color: #fff
  border: 1px solid #cbc9cf
  border-top: none
  padding: 15px

#menu_verse_actions .pane form
  padding: 10px

.dynamic_menu.version_select
  width: 415px

.dynamic_menu.version_select th a
  min-width: 7em


#menu_version td.audio a div
  background:
    image: image-url("icon_listen.png")
    repeat: no-repeat
    position: 100% -46px


// !Reader verse actions: bookmark

#menu_verse_actions #bookmark-pane

  .pane input[type="text"]
    width: 300px

.ui-menu .ui-menu-item
  font:
    family: arial, sans-serif
    size: 15px

  a
    color: #444
  a:hover
    background: none
    background-color: #e6e6e6
    border: 1px solid #e6e6e6
    +border-radius(0)



// !Reader verse actions: share

#menu_verse_actions #share-pane

  .pane
    .share_errors
      color: red
      font-weight: bold

  .share_message textarea
    margin-bottom: 8px
    line-height: 18px

  .share_services
    overflow: hidden
    margin-top: 10px
    display: table
    width: 558px

  .share_logo,
  .share_checkbox,
  .share_character_count
    display: table-cell
    height: 32px
    vertical-align: center

  .share_logo
    width: 42px

  .share_logo_fb,
  .share_logo_twitter
    display: block
    height: 32px
    width: 32px

  .share_logo_fb
    background: image-url("reader-share-sprite.png") no-repeat 0 0

  .share_logo_twitter
    background: image-url("reader-share-sprite.png") no-repeat 0 -43px

  .share_checkbox
    width: 46px

  .share_character_count
    width: 465px
    overflow: hidden
    padding: 0 0 0 15px

  .share_action
    clear: both
    margin-top: 8px
    float: none
    margin-bottom: 20px
    & button
      color: #ffffff
      font-size: 15px
      font-weight: 500
      letter-spacing: 0.30px
      &:active
        color: white
      &:focus
        color: white
        position: relative
        top: 1px

#menu_verse_actions #share-pane .share_services
  &::selection
    background: transparent
    cursor: default
  .share_slider
    display: block
    cursor: default
    &::selection
      background: transparent
      cursor: default
    &::-moz-selection
      background: transparent
      cursor: default
    .slider
      display: block
      width: 32px
      border-radius: 12px
      border: 1px solid #c7c7c7
      height: 22px
      background: image-url("reader-share-sprite.png") no-repeat 0 -84px
      background-color: #c7c7c7
      -webkit-transition: background-color 200ms, border-color 200ms
      -moz-transition: background-color 200ms, border-color 200ms
      -o-transition: background-color 200ms, border-color 200ms
      transition: background-color 200ms, border-color 200ms

      &.network_active
        border: 1px solid #59b200
        background: image-url("reader-share-sprite.png") no-repeat 0 -126px
        background-color: #59b200


  span:first-child
    margin-left: 0



#menu_verse_actions #share-pane .character_count
  background-color: #efefef
  border: 0
  color: black
  font-size: 12px
  font-weight: bold
  margin-top: 2px
  padding: 1px 4px 0
  height: 22px
  display: inline-block
  border-radius: 4px
  &.exceeded
    background-color: red
  &.warning
    background-color: yellow

#menu_verse_actions #share-pane .share_services .share_slider .translation_missing
  border: 0


// !Reader verse actions: note

#menu_verse_actions #note-pane .pane label
  display: block

#menu_verse_actions #note-pane .pane input#note_title
  width: 300px
  margin-bottom: 20px

#menu_verse_actions #note-pane .title
  float: left
  margin-right: 25px

#menu_verse_actions #note-pane .save
  margin-top: 10px

#menu_verse_actions #link-pane #copy_link_input
  width: 400px

#menu_verse_actions #link-pane #copy_link_container
  position: absolute
  left: 400px
  top: 0px

#menu_verse_actions #link-pane #copy_link
  margin-top: 0px
  width: 100px
  height: 33px

#menu_verse_actions #need-account h4
  text-align: center
  color: #666
  margin-top: 25px

#menu_verse_actions #get-started-buttons
  margin-bottom: 10px

#menu_verse_actions #get-started-buttons .or
  margin: 0 9px