// `Main
//----------------------------------------------------------------------------------------------------

.embedded_reader .verse > .label
  background: none
  border: none
  color: $body_text

.note
  display: none