.widget ul li.last-child
  border-bottom: 0

.dynamic_menu ul li.last-child a,
.dynamic_menu tr.last-child th[colspan="2"],
.dynamic_menu tr.last-child th a,
.dynamic_menu tr.last-child td a
  border-bottom: 0

#header_profile_trigger
  width: 120px

#header_search_input
  padding-top: 6px
  height: 24px

.select_wrap
  border: 0

.select_wrap span
  background-image: none
  display: inline
  padding-right: 0

.select_wrap select
  background: #fff
  border: 1px solid #aaa
  padding: 0
  width: auto

.progress_bar_cap
  display: none

.widget tbody tr.last-child td,
.widget_menu ul li.last-child
  border-bottom: 0

#modal_window
  border: 1px solid #1e1e20

#modal_window hr
  border-top-color: #999

#modal_overlay
  background: image-url("modal_overlay_ie7_ie8.png")

#menu_chapter .li_active a
  background: 
    color: #333