#main
  .pagination
    border-top: 1px solid #ccc
    clear: both
    font:
      size: 13px
      weight: bold
    margin-bottom: 20px
    padding-top: 15px

    li
      background: none
      margin: 0
      padding: 0
      float: left
      padding: 1px
      margin: 0 5px 0 0

    a
      color: #fff
      display: block
      margin: -1px
      padding: 0 8px
      text-decoration: none
      line-height: 24px
      height: 25px
      background: #aaa
      +border-radius(4px)
      +box-shadow(#777 0 2px 0 0)

    a:hover
      background-color: #888

  .pagination.labels
    float: right
    border-top: none
    margin: 0
    padding: 0
    .pagination_pages
      line-height: 25px

// Hack for Firefox.
@-moz-document url-prefix()
  #main .pagination a
    line-height: 29px