#plan-index
  .sidebar
    .search
      margin-top: 25px
      margin-left: 10px
      form
        margin-bottom: 20px

        select.language, input.field, input.submit
          width: 200px
          margin-left: 0

        input.submit
          margin-top: 20px
          line-height: 2em
          padding: 4px 15px

  #filter-message
    text-align: center
    margin: 20px

.resource_list
  .subscription
    overflow: hidden

    .subscription-info
      position: relative

    h3
      margin-left: 10px
      overflow: hidden
      position: relative

    .subscription-title
      display: block
      float: left
      width: 70%

    .subscription-privacy
      font-size: 12px
      font-weight: normal
      position: absolute
      bottom: -3px
      right: 10px
      width: 29%
      text-align: right
      display: block

      a
        color: #aaa
        text-decoration: underline

    .progress_wrap
      margin-bottom: 0


// For plan index page
.resource_list
  .plan
    .length
      display: block
      margin-bottom: 10px
      line-height: 14px


// Plan about page

#main article.reading_plan_index
  background-size: 600px
  background-repeat: no-repeat

  a,
  p,
  span,
  div
    box-sizing: border-box

  h1.keep
    padding: 30px 30px 20px
    margin-top: 333px
    margin: 0
    border-bottom: 1px solid #deddbd

  p
    padding: 15px 30px

  .rp-plan-info
    background: image-url("icon_calendar@2x.png") no-repeat 30px center
    background-size: 13px 15px
    border-bottom: 1px solid #dedddb
    padding: 5px 55px

    p
      margin: 0
      padding: 0

  .rp-plan-about
    padding: 20px 30px

    .rp-plan-about-buttons
      overflow: hidden

      .action_button_green,
      .action_button_dark_grey
        width: 265px
        float: left

    .action_button_green
      margin: 0 10px 0 0

    p
      padding: 0
      margin: 15px 0 0
      clear: both

  .plan-privacy-buttons
    display: none
    overflow: hidden
    clear: both
    width: 265px

    .detail-text
      text-align: center
      margin-bottom: 15px
      font-weight: bold
      line-height: 1.4em

    .button-private,
    .button-public
      width: 125px

    .button-private
      float: right

    .button-public
      float: left
