#plan-index
  .sidebar
    .search
      margin-top: 25px
      margin-left: 10px
      form
        margin-bottom: 20px

        select.language, input.field, input.submit
          width: 200px
          margin-left: 0

        input.submit
          margin-top: 20px
          line-height: 2em

  #filter-message
    text-align: center
    margin: 20px

.resource_list
  .subscription
    overflow: hidden
    h3
      margin-left: 10px
      margin-bottom: .5em
    .progress_wrap
      margin-bottom: 0


// For plan index page
.resource_list
  .plan
    .length
      display: block
      margin-bottom: 10px
      line-height: 14px


// Mobile styles ---------------------------------
html.mobile-client

  #sidebar
    #action-start.widget
      padding: 15px
      margin-bottom: 0

  #sb-devotional
    margin: 15px
    ul
      border: 1px solid #ccc
      border-top: none

  #sb-subscription

    .content_target b
      display: block
      margin-bottom: .3em

    .widget-notice
      display: none

    .subscription
      margin-top: 0 !important
