#plan-index
  .sidebar
    .search
      margin-top: 25px
      margin-left: 10px
      form
        margin-bottom: 20px

        select.language, input.field, input.submit
          width: 200px
          margin-left: 0

        input.submit
          margin-top: 20px
          line-height: 2em
          padding: 4px 15px

  #filter-message
    text-align: center
    margin: 20px

.resource_list
  .subscription
    overflow: hidden

    .subscription-info
      position: relative

    h3
      margin-left: 10px
      overflow: hidden
      position: relative

    .subscription-title
      display: block
      float: left
      width: 70%

    .subscription-privacy
      font-size: 12px
      font-weight: normal
      position: absolute
      bottom: -3px
      right: 10px
      width: 29%
      text-align: right
      display: block

      a
        color: #aaa
        text-decoration: underline

    .progress_wrap
      margin-bottom: 0


// For plan index page
.resource_list
  .plan
    .length
      display: block
      margin-bottom: 10px
      line-height: 14px


// Plan about page

#main article.reading_plan_index
  background-size: 600px
  background-repeat: no-repeat

  h1.keep
    margin-top: 333px