// Common resource list styles

.resource_list
  margin-bottom: 0
  clear: both

  h3
    font-size: 18px
    margin-bottom: .75em

  li:first-child
    border-top: 0

  li
    overflow: auto
    background: none
    border-top: 1px solid #ddd
    padding: 30px 0

    p
      margin: 0

.mobile-client
  .resource_list
    a
      text-decoration: none
      line-height: 1.3em

    a.action_button_grey, a.action_button_green, a.action_button_red
      line-height: 40px

    h5
      float: left

    .li_social
      background:
        image: image-url("big_list_social.png")
        position: 0 22px
    .li_badge
      background:
        image: image-url("big_list_badge.png")
        position: 0 19px
    .user
      overflow: hidden
      img
        float: left
        margin-right: 10px
      &>div
        float: left
    li[class^="li_"]
      background:
        repeat: no-repeat


  #main article.profile
    // Delete friends list stuff once we pull the implementation soon.
    .friends_list
      .resource_list
        margin-top: 15px

        .gutter_right_half
          width: 15%
          margin-right: 2% !important
          padding: 5% 0 5% 5%

        .gutter_right_half + div
          width: 78%

        .gutter_top_half
          margin-top: -23px !important

        .mute
          font-size: 12px
          margin-top: 6px
    // END Delete friends list

    .resource_list

      .li_badge,
      .li_social
        background-position: 17px 15px

      .bookmark
        background-position: 17px 23px

      .note
        background-position: 17px 16px

// end mobile-client

// For bookmarks
.resource_list
  .bookmark

    h4
      font-size: 14px
      font-weight: normal
      margin-bottom: .25em

    .labels
      font-size: 13px

    ul.references

      li
        padding: 0 !important
        border: none !important
        margin-bottom: 1.4em

      li:last-child
        margin-bottom: 0

// For notes
.resource_list
  .note
    p
      margin-bottom: 1em

    p.references
      font-size: 13px
      color: #999
      margin-bottom: 0


// This just needs to turn into a button class that can be added appropriately.
// Also seen in pages.sass -> #main .profile_header form button
#main article.profile .resource_list li form button
  border-radius: 4px
  padding: 4px 20px !important
  font-size: 15px
  text-shadow: none


// UNSURE What this was targeting here.  #main .main_reader?? should only be targeting the reader
// and as far as I know we never display a resource_list (big_list).  Should be able to yank all of this entirely.

// For chunks of content that could be grouped as simple <p> and <hr/>,
// but semantically make sense as a bigger list: Activity Stream, etc.
//

#main .main_reader

  .resource_list
    background: none
    margin: 0
    padding: 0


    li
      @extend .clearfix
      border-top: 1px solid #ccc
      padding-top: 20px
      background: none
      margin: 0
      padding: 0

    li[class^="li_"]
      background:
        repeat: no-repeat
      padding-left: 26px

    .bookmark
      background:
        image: image-url("big_list_bookmark.png")
        position: 0 20px

    .note
      background:
        image: image-url("big_list_note.png")
        position: 0 21px

    .li_social
      background:
        image: image-url("big_list_social.png")
        position: 0 22px

    .li_badge
      background:
        image: image-url("big_list_badge.png")
        position: 0 19px

    .user
      overflow: hidden
      img
        float: left
        margin-right: 10px
      &>div
        float: left


// -------------------Friends page
// getting yanked soon

.friends_list .resource_list
  li
    padding: 15px 0

  div
    width: 480px

  .gutter_right_half
    margin: 0
    width: 48px

  .gutter_top_half
    margin-top: -4px !important
    margin-bottom: -4px

  a
    font-weight: bold
    font-size: 16px
    letter-spacing: -.05em

  button
    margin-top: 6px

  p
    margin-bottom: 0
