#search-show
  h1
    float: left

  .split_pane
    clear: left !important

    .content
      .search
        form
          margin-top: 15px
          text-align: center
          clear: both

          select
            margin-right: 5px
            margin-top: 10px
            margin-bottom: 25px
            width: 550px

  #suggestion
    float: left
    margin-left: 20px
    margin-top: 13px
    font-size: 12px

  #categories
    dt em
      display: block
      font-size: 12px
      font-weight: normal

  #noresults
    margin-top: 1em
    text-align: center