// `Sidebar
//----------------------------------------------------------------------------------------------------

#sidebar
  @extend .clearfix
  font-size: 12px
  width: 300px
  position: fixed
  margin-left: 610px

#sidebar-scroll
  +border-radius(4px)

//
// Overrides => Call to action.
//

#sidebar .action_button_green,
#donate_now_wrap .action_button_green
  +border-radius(4px)
  font-size: 17px
  margin-top: 1px
  border: 0

#sidebar .action_button_blue
  border: 0

#sidebar .action_button_blue:active,
#sidebar .action_button_green:active,
#sidebar .action_button_blue:focus,
#sidebar .action_button_green:focus,
#donate_now_wrap .action_button_green:active,
#donate_now_wrap .action_button_green:focus
  color: #fff
  position: relative
  top: 1px

#sidebar a.action_button_blue,
#sidebar a.action_button_green,
#sidebar a.action_button_grey,
#donate_now_wrap a.action_button_green
  display: block

#sidebar button.action_button_blue,
#sidebar button.action_button_green,
#donate_now_wrap button.action_button_green
  min-width: 100%

.plan-privacy-buttons
  display: none
  background: #FFF
  overflow: auto
  padding: 15px

  .detail-text
    text-align: center
    margin-bottom: 15px
    font-weight: bold

  .button-private,
  .button-public
    width: 32%

  .button-private
    float: right

  .button-public
    float: left