// `Sidebar
//----------------------------------------------------------------------------------------------------

#sidebar
  @extend .clearfix
  float: left
  font-size: 12px
  width: 300px
  margin-right: -100%
  position: relative
  margin-left: 10px

#sidebar.fixed
  position: fixed
  margin-left: 610px
  margin-right: 0
  float: none

#sidebar-scroll
  +border-radius(4px)

//
// Overrides => Call to action.
//

#sidebar .action_button_green,
#donate_now_wrap .action_button_green
  +border-radius(4px)
  font-size: 17px
  margin-top: 1px
  border: 0

#sidebar .action_button_blue
  border: 0

#sidebar .action_button_blue:active,
#sidebar .action_button_green:active,
#sidebar .action_button_blue:focus,
#sidebar .action_button_green:focus,
#donate_now_wrap .action_button_green:active,
#donate_now_wrap .action_button_green:focus
  color: #fff
  position: relative
  top: 1px

#sidebar a.action_button_blue,
#sidebar a.action_button_green,
#sidebar a.action_button_grey,
#donate_now_wrap a.action_button_green
  display: block

#sidebar button.action_button_blue,
#sidebar button.action_button_green,
#donate_now_wrap button.action_button_green
  min-width: 100%