// !Adjusting the article tag on the social pages
// !TODO refactor article.social-feed <-> div.social-feed
// !we need a container that can contain moment cards that aren't tied to article.social-feed
// !as user profile already defines an article where we can't easily get to it.

#main article.social-requests,
#main article.social-feed,
#main div.social-feed,
#main article.social-detail
  background-color: transparent
  border: 0
  padding: 0
  box-shadow: none
  padding-left: 5px
  position: relative

#main article.social-feed,
#main div.social-feed
  width: 905px
  margin: 0


// !Toggle comments

#toggle_comments
  padding: 3px 10px
  cursor: pointer
  position: absolute
  right: 45%
  top: 135px
  background-color: #aaa
  border-radius: 4px
  color: #fff

#toggle_comments:after
  content: 'hide comments'

#toggle_comments.closed:after
  content: 'show comments'


// !-------------------- Feed -------------------------

// !Moment containers
body.transition .moment
  -webkit-transition: all 0.3s ease-out
  -moz-transition: all 0.3s ease-out
  -o-transition: all 0.3s ease-out
  transition: all 0.3s ease-out

.moment
  margin: 0 15px 15px 0
  width: 445px

.moment:nth-child(2n)
  margin-right: 0

.moment-top
  margin-bottom: 1px

.moment-btm


// !Edit and delete controls

.moment-content-actions
  margin-top: 10px

.moment-content-actions-edit,
.moment-content-actions-delete
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  display: inline-block
  width: 27px
  padding: 0 0 1px

.moment-content-actions-edit
  background: #DEDDDB image-url("edit-delete-sprite.png") no-repeat 7px 5px
  +border-radius(5px 0 0 5px)

.moment-content-actions-delete
  background: #DEDDDB image-url("edit-delete-sprite.png") no-repeat -58px 5px
  +border-radius(0 5px 5px 0)

.moment-content-actions-edit:hover
  background-position: 7px -30px

.moment-content-actions-delete:hover
  background-position: -58px -30px

// !Edit / delete in a note

.moment-no
  .moment-content-actions
    position: absolute
    top: 88px
    left: 22px

  .moment-content-actions-edit
    +border-radius(5px 0 0 5px)

  .moment-content-actions-delete
    +border-radius(0)


// !Share comment like etc.

.moment-actions
  overflow: hidden

  background: #fff
  +border-radius(0 0 4px 4px)
  margin-bottom: 1px
  padding-left: 7px

// !Stuff each moment action has in common

.moment-actions-share,
.moment-actions-comment,
.moment-actions-like,
.moment-actions-time
  float: left
  display: block
  vertical-align: middle
  font-size: 13px
  line-height: 0
  width: 40px

.moment-actions-share a:hover,
.moment-actions-comment a:hover,
.moment-actions-like a:hover
  opacity: 0.6


.moment-actions-share a,
.moment-actions-comment a,
.moment-actions-like a
  background: image-url("social-actions-sprite.png") no-repeat
  display: block
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  height: 36px


.moment-actions-authed
  display: block
  float: right
  padding-right: 20px
  font-size: 12px
  line-height: 34px

.moment-actions-authed a
  color: #777

// !Specific stuff for each action

.moment-actions-share
  display: none !important

.moment-actions-share a
  background-position: center 10px

.moment-actions-comment a
  background-position: center -129px

// !hide like action for now
.moment-actions-like
  display: none !important

.moment-actions-like a
  background-position: center -36px

.moment-actions-like a.liked
  background-position: center -82px

.moment-actions-time
  padding: 0 0 0 40px
  font-size: 11px
  height: 36px
  line-height: 34px
  background: image-url("social-actions-sprite.png") no-repeat 12px -313px
  width: auto

// !Comments attached to a moment

.moment-comments
  width: 385px
  margin: 0 auto
  background-color: #fff
  padding: 9px 10px 8px
  clear: both

// !Common comments code

.moment-comments-likes,
.moment-comments-more,
.moment-comments-list-comment,
.moment-comments-input
  display: block
  background-color: #EEEDEB
  margin-bottom: 2px

.moment-comments-list-avatar,
.moment-comments-input-avatar
  +border-radius(24px)
  padding: 3px
  box-shadow: 0 1px 2px #bbb
  float: left
  background-color: #fff

  img
    +border-radius(32px)
    width: 32px
    height: 32px

// !Specific comments code

.moment-comments-likes,
.moment-comments-more
  background: #EEEDEB image-url("social-actions-sprite.png") no-repeat
  font-size: 13px

.moment-comments-likes,
.moment-comments-more
  background: #EEEDEB image-url("social-actions-sprite.png") no-repeat
  font-size: 13px

.moment-comments-likes
  padding-left: 35px
  background-position: 10px -41px

.moment-comments-more
  padding-left: 35px
  background-position: 10px -134px

.moment-comments-list
  margin-bottom: 0

.moment-comments-list-comment
  overflow: hidden
  clear: both
  margin-bottom: 2px
  padding: 10px

.moment-comments-list-text
  font-size: 13px
  line-height: 1.3em
  float: left
  padding-left: 10px
  width: 315px
  margin-bottom: 0

.moment-comments-input
  overflow: hidden
  padding: 10px

.moment-comments-textarea
  float: left
  width: 315px
  margin-left: 10px
  padding: 7px 10px
  +box-shadow(none)


// !Moment badge positioning

.moment-img,
  position: absolute
  top: 0
  right: 0

// !Moment common code

.moment-avatar
  +border-radius(54px)
  padding: 3px
  box-shadow: 0 1px 2px #bbb
  float: left
  background-color: #fff

  img
    height: 48px
    width: 48px
    +border-radius(48px)

.moment-bm,
.moment-rp,
.moment-grp,
.moment-dl,
.moment-bdg,
.moment-vid,
.moment-no,
.moment-vod,
.moment-sys,
.moment-fr
  position: relative
  padding: 15px
  overflow: hidden
  background: #fff
  +border-radius(4px 4px 0 0)

// !Bookmark, reading plan, download, and group moments -- they share the same layout

.moment-bm-text,
.moment-rp-text,
.moment-grp-text,
.moment-dl-text,
.moment-no-text,
.moment-bdg-text,
.moment-vid-text,
.moment-sys-text,
.moment-fr-text
  font-size: 16px
  float: left
  width: 300px
  padding: 5px 0 0 10px
  line-height: 1.4em
  margin-bottom: 15px

.moment-dl-text
  b
    display: block


// Moments that have verses (currently bookmark and highlight)
.moment-verse-wrap
  clear: both
  max-height: 250px
  overflow: hidden

.moment-verse
  font: 18px "times new roman", times, serif
  margin: 4px 0
  padding: 10px 15px
  clear: both
  background-color: #F5F4F3
  +border-radius(5px)

  .verse > .label
    display: none !important

.moment-verse-links
  padding: 1px 7px
  background-color: #0084C8
  text-decoration: none
  font-weight: bold
  color: #fff
  font-size: 12px
  display: block
  margin: 0 20px 0 0
  +border-radius(4px)
  float: left

// !Verse of the day moment

.moment-vod
  overflow: hidden

.moment-vod-calendar
  float: left
  height: 48px
  width: 48px
  background: image-url("social-vod-icon.png") no-repeat left center
  margin-bottom: 12px

.moment-vod-calendar-date
  font-size: 24px
  font-weight: bold
  text-align: center

.moment-vod-calendar-img
  margin-top: -34px

.moment-vod-title
  float: left
  color: #666
  height: 48px
  line-height: 46px
  padding-left: 10px
  margin-bottom: 0
  font-size: 24px
  font-weight: bold
  letter-spacing: -.02em

.moment-vod-verse
  font: 24px "times new roman", times, serif
  letter-spacing: -.05em
  margin: 0 0 15px
  background-color: #F5F4F3
  +border-radius(5px)
  padding: 15px
  clear: both

.moment-vod-list
  overflow: hidden
  margin-bottom: 0
  float: left

  li
    float: left
    background-color: #bbb
    display: block
    padding: 1px 7px
    margin-left: 5px
    color: #fff
    font:
      weight: bold
      size: 12px
    +border-radius(4px)

  li:first-child
    margin-left: 0

  li.moment-vod-list-on
    background-color: #555


// !Note moment

.moment-no
  padding-bottom: 0

.moment-no-note
  clear: both
  display: block
  margin-left: 65px
  margin-top: 70px
  background: #FEF7DC
  border: 1px solid #F5E5B0
  border-bottom: 0
  font-size: 13px

.moment-no-note-title
  background: image-url("moment-no-note-title-bg.png") repeat-y left top
  font:
    weight: bold
  padding: 7px 15px 8px 40px
  margin-bottom: 0
  line-height: 1.3em

.moment-no-note-text
  background: image-url("moment-no-note-text-bg.png") repeat-y left top
  line-height: 1.36em
  padding: 1px 15px 10px 40px
  margin-bottom: 0


// !Video moment

.moment-vid-info
  display: block
  overflow: hidden
  clear: both
  margin-left: 65px

.moment-vid-info-img
  float: left
  width: 160px

.moment-vid-info-text
  border: 1px solid #e1e1e1
  +border-radius(0 4px 4px 0)
  float: left
  height: 83px
  padding: 5px 15px 0 15px
  width: 155px

.moment-vid-info-text-title
  font-size: 16px
  margin-bottom: 0
  line-height: 1.3em

.moment-vid-info-text-credit
  margin: 10px 0 0 0

// !Badge moment

.moment-bdg-info
  display: block
  overflow: hidden
  clear: both
  margin-left: 65px
  border: 1px solid #e1e1e1
  +border-radius(4px)
  padding: 10px

.moment-bdg-info-img
  float: left

.moment-bdg-info-text
  float: left
  padding: 11px 15px 0 15px
  margin-bottom: 0
  font-weight: bold

// !Friends moment

.moment-fr-container
  position: relative
  overflow: hidden
  clear: both

.moment-fr-text b
  display: none

.moment-fr-box
  width: 50%
  text-align: center
  float: left
  margin-bottom: 10px

.moment-fr-avatar
  box-shadow: 0 1px 2px #bbb
  +border-radius(128px)
  position: relative
  z-index: 1

.moment-fr-name
  display: block
  background-color: #EEEDEB
  padding: 5px 8px 7px
  margin: -5px auto 0
  width: 128px
  +border-radius(4px)
  position: relative
  z-index: 2
  line-height: 1.2em

.moment-fr-seemore
  display: block
  text-align: center


// !PSA moment

.moment-psa
  padding: 15px
  background-color: #fff
  border-radius: 4px
  text-align: center

  .action_button_blue
    width: 250px

.moment-psa-text
  font-size: 1.4em
  letter-spacing: -0.02em

.psa-social-img,
.psa-friends-img
  margin: -10px 0 20px 0


.profile-badges-list
  overflow: auto

.profile-badges-list .moment
  float: left



// !------------------------ Detail page -------------------------

#main article.social-detail

  // !Striping out the width constraints, killing floats

  // !Moment containers

  .moment
    margin: 0
    width: auto
    float: none

  // !Share comment like etc.

  .moment-actions
    width: auto

  // !Comments attached to a moment

  .moment-comments
    width: 90%

  .moment-comments form
    display: none

  .moment-comments-list-text,
  .moment-comments-textarea
    width: 465px

  // !Bookmark, reading plan, download, and group moments -- they share the same layout

  .moment-bm-text,
  .moment-rp-text,
  .moment-grp-text,
  .moment-dl-text,
  .moment-no-text,
  .moment-bdg-text,
  .moment-vid-text
    width: 465px

// !Sidebar comment input

.social-sidebar
  width: 299px

.social-sidebar-input
  padding: 10px

  textarea
    margin-bottom: 10px
    height: 200px


.moment-title-link b
  color: #222
