#subscriptions-edit
  h3
    font-size: 18px
  h4
    font-size: 15px

  ul.settings
    border-top: 1px solid #ccc

    li
      overflow: auto
      padding: 25px 0
      border-bottom: 1px solid #ccc

    li p
      margin-bottom: 0

  .wrapper
    overflow: auto
    clear: both

  .controls
    width: 200px
    float: right
    padding: 5px
    text-align: right

    .action_button_green,
      width: 160px
      border-radius: 5px

  .info
    float: left
    width: 300px

  #unsubscribe
    padding-bottom: 0
    border-bottom: none

  #delivery-settings

    div.version, div.time
      overflow: auto
      clear: both

      .info
        width: 140px

      .controls
        width: 350px

    div.time
      clear: both
      margin-top: 20px
      margin-bottom: 10px

    div.version select
      width: 300px

  #accountability-settings
    div.info
      width: 125px
    div.controls
      width: 400px
      padding: 0

      label
        font-size: 12px

    div.partners
      margin-top: 10px
      clear: both

      form
        padding: 5px
        margin: 15px 0

      ul
        padding-top: 10px
        border-top: 1px dotted #ccc
        overflow: auto
        margin: 0

        li
          padding: 8px 0
          border: none
          width: 48%
          float: left

    #add_accountability_partner
      width: 300px

#subscriptions-edit.mobile-client

  input + input
    margin-left: 0

  h3
    display: none

  li .info
    width: 100%

  li .controls
    text-align: center
    margin-bottom: 10px
    padding: 0
    width: 100% !important

    .action_button_green
      width: 100%
      margin: 0

    .action_button_blue
      margin: 0

  #delivery-settings
    div.version, div.time
      .controls
        text-align: left

  #accountability-settings
    .partners
      form input
        width: 100%
        margin-bottom: 10px