// For IE9.
$experimental-support-for-svg: true

$body_font: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif
$text_size: 14px

$gray_dark_1: #1e1e1f
$gray_dark_2: #424143
$gray_dark_3: #646367
$gray_medium: #807f83
$gray_light: #eeedeb
$green: #73a03d
$blue: #0084c8
$red: #c90000
$blue_light: lighten($blue, 15%)
$blue_dark: darken($blue, 15%)
$body_text: #444
$label_text: #666
$radius: 4px
$mute: #888
$reader_line_height: 2em

=round
  +border-radius($radius)

=round_top
  +border-top-radius($radius)

=round_top_none
  +border-top-radius(0)

=round_top_left
  +border-top-left-radius($radius)

=round_bottom
  +border-bottom-radius($radius)

=round_bottom_right
  +border-bottom-right-radius($radius)

=round_none
  +border-radius(0)

=glow
  +box-shadow(inset rgba(#fff, 0.4) 0 1px 0 0, rgba($blue_light, 0.5) 0 0 5px 0)