=gradient($from, $to)
  /* fallback/image non-cover color */
  background-color: $from
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to)
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to))
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to)
  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to)

=video_container
  list-style-type: none
  background: rgb(240,240,240)
  border: 1px solid rgb(220,220,220)
  +round_top
  +round_bottom

=video_container_info
  overflow: auto
  position: relative
  margin-top: 4px

=video_thumbnail_image
  display:block
  width: 100%

=top_right
  display: block
  position: absolute
  top: 0
  right: 0

// ------------Common styles

#video-show,
#video-series,
#videos-index
  article
    padding: 0

    .inner
      overflow: auto
      padding: 20px

#video-show,
#video-series
  #title-bar
    position: relative
    padding: 20px
    padding-bottom: 0

    h1
      margin-bottom: 0

    .publisher
      color: #333
      margin: -10px 0 46px 0
      font-size: 13px

    .share
      +top_right
      top: 30%
      right: 25px

      a
        border: 1px solid #AAA
        font-weight: bold
        text-decoration: none
        color: #fff
        padding: 4px 11px
        display: block
        font-size: 15px
        text-shadow: #000 0 1px 0
        +gradient(#CCC,#AAA)
        +round_bottom
        +round_top



// ------------Landing page

#videos-index

  ul.videos

    li:hover
      +box-shadow(rgba(0,0,0,0.3) 0 2px 8px)

    li.odd
      margin-right: 0px

    li
      float: left
      width: 391px
      padding: 8px
      margin: 0 30px 40px 0
      +video_container

      img
        +video_thumbnail_image

      .info
        +video_container_info

      .publisher
        +top_right
        padding-left: 22px
        background: image-url("icon_small_about.png") no-repeat 0px center
        color: #777

      .count
        font-weight: bold

// ------------Series detail page
#video-series
  // special case we need article to have zero padding for hero image.
  // .inner defined below to add back in the padding where necessary

  #hero
    width: 888px
    display: block
    margin: 10px auto
    +round_top
    +round_bottom

  #episodes

    li:hover
      +box-shadow(rgba(0,0,0,0.3) 0 2px 8px)

    li
      width: 336px
      float: left
      margin-right: 20px
      padding-left: 0
      +video_container

    // #episodes a
    a
      display: block
      padding: 8px
      margin: 0
      text-decoration: none

      // #episodes a img
      img
        +video_thumbnail_image

      // #episodes a .info
      .info
        +video_container_info

        // #episodes a .info .title
        .title
          font-size: 16px
          margin: 6px 0 1px 4px

        // #episodes a .info .runtime
        .runtime
          color: #777
          font-size: 12px
          +top_right

  // overriding #main article ul li styling :-(
  ul li
    background:
      image: none
    padding-left: 0
    padding-top: 0

// -------------- Video detail page
#video-show

  article .inner
    padding-top: 0

  #video
    background: #333
    width: 888px
    height: 500px
    display: block
    margin: 10px auto
    +round_top
    +round_bottom

  #details
    width: 500px
    float: left
    padding: 15px 0
    margin: 0

    .refs
      border-bottom: 1px solid #e1e1e1
      padding-bottom: 8px
      margin-bottom: 8px

      span
        display: block
        color: #666
        text-transform: uppercase
        font-size: 11px

      .reference_tokens
        margin-bottom: 0
      .reference_tokens > li a
        border-radius: 4px

  #other
    padding: 15px 0
    width: 340px
    float: right

  .videos-list
    h5
      display: inline
      padding-right: 10px

    a
      text-decoration: none
      font-weight: bold

    ul
      margin: 10px 0 10px 0

      li
        margin: 1px 0
        padding: 5px 0 5px 40px
        background: #F2F2F2 image-url("more_arrow.png") no-repeat 10px center

      li:first-child
        border-top: none

// Publisher page

#video-publisher
  h1
    margin-bottom: 15px