// `Widgets
//----------------------------------------------------------------------------------------------------
.widget.simple
  .bd
    border: none
    margin: 0
  p
    margin: 0

.widget-button
  margin: 0 0 10px

.widget
  color: #333
  z-index: 1
  padding: 0
  margin: 0 0 10px
  position: relative
  border: 0
  background: #EEEDEB
  +round

  a
    text-decoration: none

  h3
    margin: 0
    font-size: 14px

  h3 em
    float: right
    font-style: normal

  ul
    margin-bottom: 0

  li
    margin: 0
    padding: 10px 20px
    border-bottom: 1px solid #DEDDDB
    list-style: none
    background: #fff

  li:first-child
    border-top: 0

  .separator
    background: image-url("separator.png") repeat-y center top
    color: transparent
    overflow: hidden
    padding: 0 5px 2px
    text-indent: -99999px

  .more_arrow
    color: #555
    padding: 5px 25px 5px 0
    background: image-url("more_arrow.png") no-repeat right center

  .more_arrow:hover
    color: inherit
    text-decoration: none

  .hd
    font-size: 14px
    font-weight: bold
    line-height: 18px
    padding: 10px 35px 10px 15px
    position: relative
    border-bottom: 1px solid #DEDDDB
    background-color: #EEEDEB
    +round_top
    +box-shadow(inset #fff 0 1px 0 0)

    a, a:link
      color: #444

    a:hover
      color: #666

    a.count
      position: absolute
      top: 8px
      right: 8px
      background-color: #eeedeb
      border: 1px solid #aaa
      color: $body_text
      display: inline-block
      font-size: 11px
      line-height: 1
      padding: 2px 10px 3px
      text-decoration: none
      +border-radius(9px)

    a.count:hover
      background:
        color: #fff
        image: none

    a.count:active
      background:
        color: #eee
        image: none

  .bd
    padding: 20px
    font-weight: normal
    +border-radius(3px)
    overflow: hidden
    background-color: #fff

    p
      margin: 0

    ul
      border: none !important
      border-radius: none !important
      font-weight: normal
      list-style: square outside none
      margin: 0 0 0 20px

    li
      list-style: square outside none
      border: none
      padding: 0
      margin: 0
      padding: 7px 0

  .bd.nopad
    padding: 0

  .ft
    padding: 10px 15px

  .ft.link
    padding: 0
    a
      display: block
      padding: 8px 20px 8px 30px
      text-decoration: none
      border-top: 1px solid #DEDDDB
      background: image-url("main_article_ul_li_arrow.png") no-repeat 15px center

    a, a:hover
      color: $body_text

    a:hover,
    a.selected
      background-color: rgba(#fff, 0.4)


  .menu
    margin-bottom: 0 !important
    background: #fff

    li
      padding: 0

    li.active
      background: #d1d1d1
      border-top: none

    a,
    span
      display: block
      font-size: 13px
      line-height: 1
      padding: 10px 20px 10px 30px
      text-decoration: none
      background:
        image: image-url("main_article_ul_li_arrow.png")
        repeat: no-repeat
        position: 15px center

    a, a:hover
      color: $body_text

    a:hover
      background-color: rgba(#000, 0.1)
    a.selected
      background-color: rgba(#000, 0.2)
      &:hover
        cursor: default

    p
      padding: 0
      overflow: hidden
      margin: 10px 20px 10px 20px

  // Basic ul.menu
  // links don't have > arrow icon or extra left padding.
  .menu.basic
    a, span
      background: none !important
      padding: 10px 15px

.widget ul li:last-child
  border-bottom: 0
  +border-radius(0 0 4px 4px)

.widget table
  width: 100%
  margin: 0
  border-collapse: separate
  background: image-url("shadow.png") repeat-x

.widget th,
.widget td
  padding: 10px 15px

.widget th
  width: 1%

.widget th
  background:
    color: #d5d4d6
    image: image-url("widget_th.png")
    repeat: no-repeat

.widget tbody th
  background:
    position: right top

.widget tfoot th
  background:
    position: right bottom

.widget td
  border-top: 1px solid #fff
  border-bottom: 1px solid #ccc

.widget td p
  margin: 0
  padding-top: 10px

.widget td p.small
  padding-top: 0

.widget tbody tr:first-child td
  border-top: 0

.widget tbody:last-child tr:last-child td
  border-bottom-width: 0

.widget tfoot td
  border-bottom: 0

.widget tfoot + tbody:last-child tr:last-child td
  border-bottom-width: 1px

.widget th img
  display: block
  margin: 0 auto

.widget-notice
  +round_top
  +round_bottom
  +box-shadow(inset #fff 0 1px 0 0)
  background-color: #EEEDEB
  padding: 10px 15px
  margin-bottom: 10px

  .exit
    display: block
    float: right

  p
    margin-bottom: 0

#widget-signup,
#widget-signin
  background: #0084c8

  h3
    color: #024162
    padding-top: 8px
    max-width: 170px

  .action_button_grey
    float: right
    margin-top: -23px
    padding: 7px 10px

#widget-user-settings
  .hd span
    display: block
    padding-left: 21px
    background: image-url("header_icon_gear.png") no-repeat left center

#widget-user-badges
  .hd span
    display: block
    padding-left: 21px
    background: image-url("header_icon_badge.png") no-repeat left center

#widget-reader-help
  .hd span
    display: block
    padding-left: 21px
    background: image-url("icon_help.png") no-repeat left center

#widget-bookmarks
  .hd span
    display: block
    background: image-url("header_icon_bookmark.png") no-repeat left center
    padding-left: 21px

  .ft
    text-align: right


  .tag
    color: #555
    font-style: italic

    a
      color: inherit
      text-decoration: none

    a:hover
      text-decoration: underline

  .tag:after
    content: ','
    margin-left: -2px

  .tag:last-child:after
    content: ''

#widget-notes
  .hd span
    background: image-url("widgets-sprite.png") no-repeat 0 1px
    padding-left: 25px

#widget-download
  .bafk-icon
    width: 58px
    height: 58px
    float: right

  .bd.bafk
    background:
      image: image-url("ad_bafk_platforms.svg")
      position: 96% 84%
      repeat: no-repeat
      size: 90px 25px

  .bd
    background:
      image: image-url("ad_bible_platforms.png")
      position: 96% 84%
      repeat: no-repeat

    h3
      margin-bottom: 1.3em
    p
      margin-bottom: 10px
      padding-right: 75px

    .action_button_green
      padding: 7px 10px
      font-size: 15px
      float: left

#widget-devotional
  h2
    margin: .5em 0 1em 0
    padding: 0
    font-size: 16px
    font-weight: bold

  p
    margin-bottom: 20px

// !Reading plan widget --------------

#widget-plan-controls

  .hd
    .settings
      display: block
      width: 15px
      height: 15px
      opacity: .5
      background:
        image: image-url("icon_settings.png")
      position: absolute
      top: 10px
      right: 10px

      span
        display: block
        text-indent: 100%
        white-space: nowrap
        overflow: hidden

    .settings:hover
      opacity: .8

  #calendar
    position: relative
    overflow: hidden
    border-bottom: 1px solid #dedddb
    clear: both

    div, span, a
      box-sizing: border-box

    .calendar-prev,
    .calendar-next
      float: left
      height: 80px

      a
        display: block
        width: 30px
        height: 80px

        .calendar-arrows
          height: 20px
          display: block
          width: 20px
          margin: 30px 0 0
          background: image-url("pagination_arrows.png") no-repeat

        .calendar-arrow-txt
          font-size: 12px
          color: #9F9EA2
          line-height: 1em
          display: block

      a.disabled
        opacity: .2

    .calendar-prev
      text-align: center
      border-right: 1px solid #dedddb

      a .calendar-arrows
        background-position: -25px 0

    .calendar-next
      text-align: center
      border-left: 1px solid #dedddb

      a .calendar-arrows
        background-position: -45px 0

  #calendar
    .calendar-cal
      float: left
      width: 238px
      overflow-x: scroll
      overflow-y: hidden

      span, a
        display: block

      .calendar-cal-month
        float: left
        overflow: hidden
        height: 80px

        .calendar-cal-month-name
          text-align: center
          font-size: 13px
          color: #999
          border-bottom: 1px solid #dedddb
          border-left: 1px solid #dedddb

          span
            height: 20px
            line-height: 21px

        .calendar-cal-days
          overflow: hidden

          .calendar-cal-day
            float: left
            width: 34px
            height: 59px
            border-left: 1px solid #dedddb
            padding: 6px 0 0
            text-align: center
            font:
              size: 15px
              weight: normal
            color: #444
            background: image-url("cal_bullet@2x.png") no-repeat center 38px
            background-size: 8px 8px

          .calendar-cal-day.selected
            background-color: #dedddb
            border-bottom: 3px solid #333

          .calendar-cal-day.current
            font-weight: bold
            color: #ff0000

          .calendar-cal-day.read
            background: image-url("cal_check@2x.png") no-repeat center 38px
            background-size: 11px 8px


      .calendar-cal-month:first-child
        .calendar-cal-month-name
          border-left: none

        .calendar-cal-day:first-child
          border-left: none

  .calendar-links
    clear: both
    padding: 0 15px
    height: 32px
    line-height: 31px
    overflow: hidden

.scripture-links
  .menu
    background: transparent
    li.content_target
      position: relative
    form
      margin: 0
      margin-top: 4px
      padding: 0
      width: 30px
      position: absolute
      right: 10px
      top: 0

html[data-locale="en"]
  #widget-plan-controls
    #calendar
      .calendar-prev,
      .calendar-next
        a
          .calendar-arrow-txt
            font-size: 11px
            padding: 3px 20px 0


// !Reading plan sample calendar widget

#widget-plan-controls
  #calendar.rp-sample

    a,
    h4,
    span,
    div
      box-sizing: border-box

    .calendar-prev,
    .calendar-day,
    .calendar-next
      float: left
      height: auto

      a
        width: 69px
        height: 70px
        padding: 9px 0 0

        .calendar-arrows
          height: 21px
          display: block
          width: 21px
          margin: 0 auto 5px
          background: image-url("pagination-arrows-rp.png") no-repeat
          background-size: 84px 21px

        .calendar-arrow-txt
          padding: 10px 0 0

      h4
        width: 160px
        height: 70px
        margin: 0
        text-align: center
        padding: 25px 0 0

    .calendar-prev
      a
        .calendar-arrows
          background-position: -21px 0

    .calendar-next
      a
        .calendar-arrows
          background-position: -42px 0


// --- Custom widgets ------

#widget-100m-ad
  width: 300px
  height: 270px
  position: relative
  margin-bottom: 10px

  img
    display: block
    position: absolute
    top: 0
    left: 0

  h2
    width: 300px
    position: absolute
    top: 18px
    text-align: center
    color: #FECC0E
    text-transform: uppercase
    letter-spacing: .35em
    font-size: 12px
    font-weight: normal

    em
      letter-spacing: normal
      display: block
      color: #435971
      font:
        size: 40px
        style: normal
        weight: normal
        family: 'Fjalla One', Helvetica, sans-serif
      line-height: 1em
      margin-top: 12px

  .cta-100m
    position: absolute
    top: 200px
    left: 20px
    width: 260px
    text-align: center

    span
      color: #fff
      font-size: 14px
      display: block
      margin-bottom: 6px

  .action_button_green
    background-color: #5d832f
    border-color: #000 !important
    margin-top: 10px
    box-shadow: inset rgba(255, 255, 255, 0.3) 0 2px 0 0, inset rgba(0, 0, 0, 0.15) 0 -2px 0 0

// !Featured/My plans widget

.featured-plans,
.my-plans

  h3.hd
    background: image-url("widgets-sprite.png") no-repeat 15px -69px
    padding: 10px 10px 10px 40px

  .plans-list
    background-color: #fff

    li
      padding: 15px
      border-top: 1px solid #eee
      border-bottom: none

      h3
        line-height: 1.2em
        margin: 0 0 5px

      p
        line-height: 1.4em
        margin: 0

      span
        display: inline-block
        margin: 0 0 0 10px
        color: #777

    li:first-child
      border: none

// !Find friends widget

.widget-find-friends

  h3.hd
    background: image-url("widgets-sprite.png") no-repeat 15px -27px
    padding: 10px 10px 10px 40px

  .bd
    padding: 10px

  .sb-user-search-query
    width: 80%
    height: 32px

  .sb-user-search-submit
    margin: 0 0 0 4px


// !Comm notes widget

.comm-notes

  li
    padding: 10px 55px 10px 15px
    position: relative

    img
      width: 36px
      +border-radius(18px)
      position: absolute
      top: 13px
      right: 10px

    p
      margin: 0


// !User settings widget

#widget-user-settings
  margin: 159px 0 0


// !Friends completed/reading widget in reading plans

.rp-reading,
.rp-friends-completed
  background: none

  .rp-widget-avatars
    box-sizing: border-box
    background-color: #fff
    padding: 10px 10px 5px
    overflow: hidden
    height: 55px
    &.open
      height: 100%
    a
      width: 40px
      height: 40px
      +border-radius(40px)
      overflow: hidden
      float: left
      margin: 0 0 8px 8px
      display: block

      img
        width: 40px

    a:first-child,
    a:nth-child(7n)
      margin-left: 0

  .rp-view-all
    clear: both
    +border-radius(0 0 5px 5px)
    background-color: #fff

    hr
      border: 0
      border-top: 1px solid #dedddb
      height: 1px
      background: #fff
      margin: 0

    a
      display: block
      height: 30px
      width: 41px
      text-indent: 100%
      overflow: hidden
      white-space: nowrap
      margin: -17px auto 0
      &.hidden
        display: none
      &.open
        background: #fff image-url("arrows-down@2x.png") no-repeat center center
        background-size: 12px 11px
      &.close
        background: #fff image-url("arrows-up@2x.png") no-repeat center center
        background-size: 12px 11px

.rp-all-completed
  background: #dedddb image-url("rp_about_users.png") no-repeat center top
  margin: 30px 0 0

  span
    display: block
    text-align: center
    font-size: 15px
    padding: 25px 0 0
    margin: 0 0 30px

.sms_container
  width: 100%
  margin: 30px 0

  .sms_wrap
    margin: 0 auto
    display: table
    width: 380px

  .smsInput
    display: block
    width: 220px
    padding: 7px
    text-indent: 2%
    float: left
    margin: 0 10px 0 0
    border-radius: 4px
    border: 1px solid #ddd
    font-size: 14px
    font-family: Helvetica,sans-serif
    outline: 0!important
    height: 36px
    color: #333

  .smsButton
    clear: both
    background-color: #aaa
    border: 0
    border-radius: 4px
    color: #FFF
    cursor: pointer
    display: inline-block
    font-weight: 700
    height: 36px
    line-height: 36px
    padding: 0 10px
    text-align: center
    text-decoration: none
    vertical-align: top
    white-space: nowrap
    width: 140px
    font-size: 14px
    margin: 0
    font-family: Helvetica,sans-serif
    outline: 0!important

  .smsError
    font-family: Helvetica
    color: #cf6969
    margin-top: 5px
    margin-left: 0
    font-size: 14px

  .smsButton:hover
    background-color: #666

  .intl-tel-input .country-list
    text-align: left
    color: #333

  .poweredDiv
    font-family: Helvetica
    color: #bbb
    font-size: 11px
    letter-spacing: 1px
    margin-top: 5px
  .poweredLink
    font-family: Helvetica
    color: #bbb
    text-decoration: underline

  .intl-tel-input
    position: relative
    display: inline-block

  .intl-tel-input *
    box-sizing: border-box
    -moz-box-sizing: border-box

  .intl-tel-input .hide
    display: none

  .intl-tel-input .v-hide
    visibility: hidden

  .intl-tel-input input,
  .intl-tel-input input[type=tel],
  .intl-tel-input input[type=text]
    position: relative
    z-index: 0
    margin-top: 0!important
    margin-bottom: 0!important
    padding-left: 48px
    margin-left: 0
    transition: background-color 100ms ease-out

  .intl-tel-input input.iti-invalid-key
    transition: background-color 0
    background-color: #FFC7C7

  .intl-tel-input .flag-dropdown
    position: absolute
    top: 0
    bottom: 0
    padding: 1px

  .intl-tel-input .flag-dropdown:hover
    cursor: pointer
  .intl-tel-input .flag-dropdown:hover .selected-flag
    background-color: rgba(0,0,0,.05)

  .intl-tel-input input[disabled]+.flag-dropdown:hover,
  .intl-tel-input input[readonly]+.flag-dropdown:hover
    cursor:default
  .intl-tel-input input[disabled]+.flag-dropdown:hover .selected-flag,
  .intl-tel-input input[readonly]+.flag-dropdown:hover .selected-flag
    background-color: transparent

  .intl-tel-input .selected-flag
    z-index: 1
    position: relative
    width: 42px
    height: 100%
    padding: 0 0 0 5px

  .intl-tel-input .selected-flag .flag-i
    position: absolute
    top: 0
    bottom: 0
    margin: auto

  .intl-tel-input .selected-flag .arrow
    position: absolute
    top: 50%
    margin-top: -2px
    right: 4px
    width: 0
    height: 0
    border-left: 3px solid transparent
    border-right: 3px solid transparent
    border-top: 4px solid #555

  .intl-tel-input .selected-flag .arrow.up
    border-top: none
    border-bottom: 4px solid #555
  .intl-tel-input .country-list
    list-style: none
    position: absolute
    z-index: 2
    padding: 0
    margin: 0 0 0 -1px
    box-shadow: 1px 1px 4px rgba(0,0,0,.2)
    background-color: #fff
    border: 1px solid #CCC
    white-space: nowrap
    max-height: 200px
    overflow-y: scroll
  .intl-tel-input .country-list .flag
    display: inline-block
    width: 23px

  .intl-tel-input .country-list .divider
    padding-bottom: 5px
    margin-bottom: 5px
    border-bottom: 1px solid #CCC
  .intl-tel-input .country-list .country
    padding: 5px 10px
  .intl-tel-input .country-list .country .dial-code
    color: #999
  .intl-tel-input .country-list .country.highlight
    background-color: rgba(0,0,0,.05)
  .intl-tel-input .country-list .country-name,
  .intl-tel-input .country-list .dial-code,
  .intl-tel-input .country-list .flag
    vertical-align: middle
  .intl-tel-input .country-list .country-name,
  .intl-tel-input .country-list .flag
    margin-right: 6px
  .intl-tel-input select
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 42px
    height: 100%
    opacity: 0

  .flag-i.ad
    background-position: -1px -1px
  .flag-i.ae
    background-position: -26px -1px
  .flag-i.af
    background-position: -51px -1px
  .flag-i.ag
    background-position: -76px -1px
  .flag-i.ai
    background-position: -101px -1px
  .flag-i.al
    background-position: -126px -1px
  .flag-i.am
    background-position: -151px -1px
  .flag-i.ao
    background-position: -201px -1px
  .flag-i.aq
    background-position: -198px 0
  .flag-i.ar
    background-position: -251px -1px
  .flag-i.as
    background-position: -276px -1px
  .flag-i.at
    background-position: -301px -1px
  .flag-i.au
    background-position: -326px -1px
  .flag-i.aw
    background-position: -351px -1px
  .flag-i.ax
    background-position: -330px 0
  .flag-i.az
    background-position: -352px 0
  .flag-i.ba
    background-position: -374px 0
  .flag-i.bb
    background-position: -396px 0
  .flag-i.bd
    background-position: -418px 0
  .flag-i.be
    background-position: -440px 0
  .flag-i.bf
    background-position: -460px 0
  .flag-i.bg
    background-position: -482px 0
  .flag-i.bh
    background-position: -504px 0
  .flag-i.bi
    background-position: -526px 0
  .flag-i.bj
    background-position: -548px 0
  .flag-i.bl
    background-position: -570px 0
  .flag-i.bm
    background-position: -592px 0
  .flag-i.bn
    background-position: -614px 0
  .flag-i.bo
    background-position: -636px 0
  .flag-i.bq
    background-position: -658px 0
  .flag-i.br
    background-position: -680px 0
  .flag-i.bs
    background-position: -702px 0
  .flag-i.bt
    background-position: -724px 0
  .flag-i.bv
    background-position: -746px 0
  .flag-i.bw
    background-position: -768px 0
  .flag-i.by
    background-position: -790px 0
  .flag-i.bz
    background-position: -812px 0
  .flag-i.ca
    background-position: -834px 0
  .flag-i.cc
    background-position: -856px 0
  .flag-i.cd
    background-position: -878px 0
  .flag-i.cf
    background-position: -900px 0
  .flag-i.cg
    background-position: -922px 0
  .flag-i.ch
    background-position: -944px 0
  .flag-i.ci
    background-position: -961px 0
  .flag-i.ck
    background-position: -983px 0
  .flag-i.cl
    background-position: -1005px 0
  .flag-i.cm
    background-position: -1027px 0
  .flag-i.cn
    background-position: -1049px 0
  .flag-i.co
    background-position: -1071px 0
  .flag-i.cp
    background-position: -1093px 0
  .flag-i.cr
    background-position: -1115px 0
  .flag-i.cu
    background-position: -1137px 0
  .flag-i.cv
    background-position: -1159px 0
  .flag-i.cw
    background-position: -1181px 0
  .flag-i.cx
    background-position: -1203px 0
  .flag-i.cy
    background-position: -1225px 0
  .flag-i.cz
    background-position: -1247px 0
  .flag-i.de
    background-position: -1269px 0
  .flag-i.dg
    background-position: -1291px 0
  .flag-i.dj
    background-position: -1313px 0
  .flag-i.dk
    background-position: -1335px 0
  .flag-i.dm
    background-position: -1357px 0
  .flag-i.do
    background-position: -1379px 0
  .flag-i.dz
    background-position: -1526px -1px
  .flag-i.ea
    background-position: -1423px 0
  .flag-i.ec
    background-position: -1445px 0
  .flag-i.ee
    background-position: -1467px 0
  .flag-i.eg
    background-position: -1489px 0
  .flag-i.eh
    background-position: -1511px 0
  .flag-i.er
    background-position: -1533px 0
  .flag-i.es
    background-position: -1555px 0
  .flag-i.et
    background-position: -1577px 0
  .flag-i.eu
    background-position: -1599px 0
  .flag-i.fi
    background-position: -1621px 0
  .flag-i.fj
    background-position: -1643px 0
  .flag-i.fk
    background-position: -1665px 0
  .flag-i.fm
    background-position: -1687px 0
  .flag-i.fo
    background-position: -1709px 0
  .flag-i.fr
    background-position: -1731px 0
  .flag-i.ga
    background-position: -1753px 0
  .flag-i.gb
    background-position: -1775px 0
  .flag-i.gd
    background-position: -1797px 0
  .flag-i.ge
    background-position: -1819px 0
  .flag-i.gf
    background-position: -1841px 0
  .flag-i.gg
    background-position: -1863px 0
  .flag-i.gh
    background-position: -1885px 0
  .flag-i.gi
    background-position: -1907px 0
  .flag-i.gl
    background-position: -1929px 0
  .flag-i.gm
    background-position: -1951px 0
  .flag-i.gn
    background-position: -1973px 0
  .flag-i.gp
    background-position: -1995px 0
  .flag-i.gq
    background-position: -2017px 0
  .flag-i.gr
    background-position: -2039px 0
  .flag-i.gs
    background-position: -2061px 0
  .flag-i.gt
    background-position: -2083px 0
  .flag-i.gu
    background-position: -2105px 0
  .flag-i.gw
    background-position: -2127px 0
  .flag-i.gy
    background-position: -2149px 0
  .flag-i.hk
    background-position: -2171px 0
  .flag-i.hm
    background-position: -2193px 0
  .flag-i.hn
    background-position: -2215px 0
  .flag-i.hr
    background-position: -2237px 0
  .flag-i.ht
    background-position: -2259px 0
  .flag-i.hu
    background-position: -2281px 0
  .flag-i.ic
    background-position: -2303px 0
  .flag-i.id
    background-position: -2325px 0
  .flag-i.ie
    background-position: -2347px 0
  .flag-i.il
    background-position: -2369px 0
  .flag-i.im
    background-position: -2391px 0
  .flag-i.in
    background-position: -2413px 0
  .flag-i.io
    background-position: -2435px 0
  .flag-i.iq
    background-position: -2457px 0
  .flag-i.ir
    background-position: -2479px 0
  .flag-i.is
    background-position: -2501px 0
  .flag-i.it
    background-position: -2523px 0
  .flag-i.je
    background-position: -2545px 0
  .flag-i.jm
    background-position: -2567px 0
  .flag-i.jo
    background-position: -2589px 0
  .flag-i.jp
    background-position: -2611px 0
  .flag-i.ke
    background-position: -2633px 0
  .flag-i.kg
    background-position: -2655px 0
  .flag-i.kh
    background-position: -2677px 0
  .flag-i.ki
    background-position: -2699px 0
  .flag-i.km
    background-position: -2721px 0
  .flag-i.kn
    background-position: -2743px 0
  .flag-i.kp
    background-position: -2765px 0
  .flag-i.kr
    background-position: -2787px 0
  .flag-i.kw
    background-position: -2809px 0
  .flag-i.ky
    background-position: -2831px 0
  .flag-i.kz
    background-position: -2853px 0
  .flag-i.la
    background-position: -2875px 0
  .flag-i.lb
    background-position: -2897px 0
  .flag-i.lc
    background-position: -2919px 0
  .flag-i.li
    background-position: -2941px 0
  .flag-i.lk
    background-position: -2963px 0
  .flag-i.lr
    background-position: -2985px 0
  .flag-i.ls
    background-position: -3007px 0
  .flag-i.lt
    background-position: -3029px 0
  .flag-i.lu
    background-position: -3051px 0
  .flag-i.lv
    background-position: -3073px 0
  .flag-i.ly
    background-position: -3095px 0
  .flag-i.ma
    background-position: -3117px 0
  .flag-i.mc
    background-position: -3139px 0
  .flag-i.md
    background-position: -3160px 0
  .flag-i.me
    background-position: -3182px 0
  .flag-i.mf
    background-position: -3204px 0
  .flag-i.mg
    background-position: -3226px 0
  .flag-i.mh
    background-position: -3248px 0
  .flag-i.mk
    background-position: -3270px 0
  .flag-i.ml
    background-position: -3292px 0
  .flag-i.mm
    background-position: -3314px 0
  .flag-i.mn
    background-position: -3336px 0
  .flag-i.mo
    background-position: -3358px 0
  .flag-i.mp
    background-position: -3380px 0
  .flag-i.mq
    background-position: -3402px 0
  .flag-i.mr
    background-position: -3424px 0
  .flag-i.ms
    background-position: -3446px 0
  .flag-i.mt
    background-position: -3468px 0
  .flag-i.mu
    background-position: -3490px 0
  .flag-i.mv
    background-position: -3512px 0
  .flag-i.mw
    background-position: -3534px 0
  .flag-i.mx
    background-position: -3556px 0
  .flag-i.my
    background-position: -3578px 0
  .flag-i.mz
    background-position: -3600px 0
  .flag-i.na
    background-position: -3622px 0
  .flag-i.nc
    background-position: -3644px 0
  .flag-i.ne
    background-position: -3666px 0
  .flag-i.nf
    background-position: -3686px 0
  .flag-i.ng
    background-position: -3708px 0
  .flag-i.ni
    background-position: -3730px 0
  .flag-i.nl
    background-position: -3752px 0
  .flag-i.no
    background-position: -3774px 0
  .flag-i.np
    background-position: -3796px 0
    background-color: transparent
  .flag-i.nr
    background-position: -3811px 0
  .flag-i.nu
    background-position: -3833px 0
  .flag-i.nz
    background-position: -3855px 0
  .flag-i.om
    background-position: -3877px 0
  .flag-i.pa
    background-position: -3899px 0
  .flag-i.pe
    background-position: -3921px 0
  .flag-i.pf
    background-position: -3943px 0
  .flag-i.pg
    background-position: -3965px 0
  .flag-i.ph
    background-position: -3987px 0
  .flag-i.pk
    background-position: -4009px 0
  .flag-i.pl
    background-position: -4031px 0
  .flag-i.pm
    background-position: -4053px 0
  .flag-i.pn
    background-position: -4075px 0
  .flag-i.pr
    background-position: -4097px 0
  .flag-i.ps
    background-position: -4119px 0
  .flag-i.pt
    background-position: -4141px 0
  .flag-i.pw
    background-position: -4163px 0
  .flag-i.py
    background-position: -4185px 0
  .flag-i.qa
    background-position: -4207px 0
  .flag-i.re
    background-position: -4229px 0
  .flag-i.ro
    background-position: -4251px 0
  .flag-i.rs
    background-position: -4273px 0
  .flag-i.ru
    background-position: -4295px 0
  .flag-i.rw
    background-position: -4317px 0
  .flag-i.sa
    background-position: -4339px 0
  .flag-i.sb
    background-position: -4361px 0
  .flag-i.sc
    background-position: -4383px 0
  .flag-i.sd
    background-position: -4405px 0
  .flag-i.se
    background-position: -4427px 0
  .flag-i.sg
    background-position: -4449px 0
  .flag-i.sh
    background-position: -4471px 0
  .flag-i.si
    background-position: -4493px 0
  .flag-i.sj
    background-position: -4515px 0
  .flag-i.sk
    background-position: -4537px 0
  .flag-i.sl
    background-position: -4559px 0
  .flag-i.sm
    background-position: -4581px 0
  .flag-i.sn
    background-position: -4603px 0
  .flag-i.so
    background-position: -4625px 0
  .flag-i.sr
    background-position: -4647px 0
  .flag-i.ss
    background-position: -4669px 0
  .flag-i.st
    background-position: -4691px 0
  .flag-i.sv
    background-position: -4713px 0
  .flag-i.sx
    background-position: -4735px 0
  .flag-i.sy
    background-position: -4757px 0
  .flag-i.sz
    background-position: -4779px 0
  .flag-i.ta
    background-position: -4801px 0
  .flag-i.tc
    background-position: -4823px 0
  .flag-i.td
    background-position: -4845px 0
  .flag-i.tf
    background-position: -4867px 0
  .flag-i.tg
    background-position: -4889px 0
  .flag-i.th
    background-position: -4911px 0
  .flag-i.tj
    background-position: -4933px 0
  .flag-i.tk
    background-position: -4955px 0
  .flag-i.tl
    background-position: -4977px 0
  .flag-i.tm
    background-position: -4999px 0
  .flag-i.tn
    background-position: -5021px 0
  .flag-i.to
    background-position: -5043px 0
  .flag-i.tr
    background-position: -5065px 0
  .flag-i.tt
    background-position: -5087px 0
  .flag-i.tv
    background-position: -5109px 0
  .flag-i.tw
    background-position: -5131px 0
  .flag-i.tz
    background-position: -5153px 0
  .flag-i.ua
    background-position: -5175px 0
  .flag-i.ug
    background-position: -5197px 0
  .flag-i.um
    background-position: -5219px 0
  .flag-i.us
    background-position: 674px -39px
  .flag-i.uy
    background-position: -5263px 0
  .flag-i.uz
    background-position: -5285px 0
  .flag-i.va
    background-position: -5307px 0
  .flag-i.vc
    background-position: -5324px 0
  .flag-i.ve
    background-position: -5346px 0
  .flag-i.vg
    background-position: -5368px 0
  .flag-i.vi
    background-position: -5390px 0
  .flag-i.vn
    background-position: -5412px 0
  .flag-i.vu
    background-position: -5434px 0
  .flag-i.wf
    background-position: -5456px 0
  .flag-i.ws
    background-position: -5478px 0
  .flag-i.xk
    background-position: -5500px 0
  .flag-i.ye
    background-position: -5522px 0
  .flag-i.yt
    background-position: -5544px 0
  .flag-i.za
    background-position: -5566px 0
  .flag-i.zm
    background-position: -5588px 0
  .flag-i.zw
    background-position: -5610px 0
  .flag-i
    width: 23px
    height: 16px
    box-shadow: 0 0 1px 0 #888
    background-image: image-url("yv-flags.png")
    background-color: #DBDBDB
    background-position: 100% 100%
    background-size: 2050px 59px