// `Widgets
//----------------------------------------------------------------------------------------------------
.widget.simple
  .bd
    border: none
    margin: 0
  p
    margin: 0

.widget-button
  margin: 0 0 10px

.widget
  color: #333
  z-index: 1
  padding: 0
  margin: 0 0 10px
  position: relative
  border: 0
  background: #EEEDEB
  +round

  a
    text-decoration: none

  h3
    margin: 0
    font-size: 14px

  h3 em
    float: right
    font-style: normal

  ul
    margin-bottom: 0

  li
    margin: 0
    padding: 10px 20px
    border-bottom: 1px solid #DEDDDB
    list-style: none
    background: #fff

  li:first-child
    border-top: 0

  .separator
    background: image-url("separator.png") repeat-y center top
    color: transparent
    overflow: hidden
    padding: 0 5px 2px
    text-indent: -99999px

  .more_arrow
    color: #555
    padding: 5px 25px 5px 0
    background: image-url("more_arrow.png") no-repeat right center

  .more_arrow:hover
    color: inherit
    text-decoration: none

  .hd
    font-size: 14px
    font-weight: bold
    line-height: 18px
    padding: 10px 35px 10px 15px
    position: relative
    border-bottom: 1px solid #DEDDDB
    background-color: #EEEDEB
    +round_top
    +box-shadow(inset #fff 0 1px 0 0)

    a, a:link
      color: #444

    a:hover
      color: #666

    a.count
      position: absolute
      top: 8px
      right: 8px
      background-color: #eeedeb
      border: 1px solid #aaa
      color: $body_text
      display: inline-block
      font-size: 11px
      line-height: 1
      padding: 2px 10px 3px
      text-decoration: none
      +border-radius(9px)

    a.count:hover
      background:
        color: #fff
        image: none

    a.count:active
      background:
        color: #eee
        image: none

  .bd
    padding: 20px
    font-weight: normal
    +border-radius(3px)
    overflow: hidden
    background-color: #fff

    p
      margin: 0

    ul
      border: none !important
      border-radius: none !important
      font-weight: normal
      list-style: square outside none
      margin: 0 0 0 20px

    li
      list-style: square outside none
      border: none
      padding: 0
      margin: 0
      padding: 7px 0

  .bd.nopad
    padding: 0

  .ft
    padding: 10px 15px

  .ft.link
    padding: 0
    a
      display: block
      padding: 8px 20px 8px 30px
      text-decoration: none
      border-top: 1px solid #DEDDDB
      background: image-url("main_article_ul_li_arrow.png") no-repeat 15px center

    a, a:hover
      color: $body_text

    a:hover,
    a.selected
      background-color: rgba(#fff, 0.4)


  .menu
    margin-bottom: 0 !important
    background: #fff

    li
      padding: 0

    li.active
      background: #d1d1d1
      border-top: none

    a,
    span
      display: block
      font-size: 13px
      line-height: 1
      padding: 10px 20px 10px 30px
      text-decoration: none
      background:
        image: image-url("main_article_ul_li_arrow.png")
        repeat: no-repeat
        position: 15px center

    a, a:hover
      color: $body_text

    a:hover
      background-color: rgba(#000, 0.1)
    a.selected
      background-color: rgba(#000, 0.2)
      &:hover
        cursor: default

    p
      padding: 0
      overflow: hidden
      margin: 10px 20px 10px 20px

  // Basic ul.menu
  // links don't have > arrow icon or extra left padding.
  .menu.basic
    a, span
      background: none !important
      padding: 10px 15px

.widget ul li:last-child
  border-bottom: 0
  +border-radius(0 0 4px 4px)

.widget table
  width: 100%
  margin: 0
  border-collapse: separate
  background: image-url("shadow.png") repeat-x

.widget th,
.widget td
  padding: 10px 15px

.widget th
  width: 1%

.widget th
  background:
    color: #d5d4d6
    image: image-url("widget_th.png")
    repeat: no-repeat

.widget tbody th
  background:
    position: right top

.widget tfoot th
  background:
    position: right bottom

.widget td
  border-top: 1px solid #fff
  border-bottom: 1px solid #ccc

.widget td p
  margin: 0
  padding-top: 10px

.widget td p.small
  padding-top: 0

.widget tbody tr:first-child td
  border-top: 0

.widget tbody:last-child tr:last-child td
  border-bottom-width: 0

.widget tfoot td
  border-bottom: 0

.widget tfoot + tbody:last-child tr:last-child td
  border-bottom-width: 1px

.widget th img
  display: block
  margin: 0 auto

.widget-notice
  +round_top
  +round_bottom
  +box-shadow(inset #fff 0 1px 0 0)
  background-color: #EEEDEB
  padding: 10px 15px
  margin-bottom: 10px

  .exit
    display: block
    float: right

  p
    margin-bottom: 0

#widget-signup,
#widget-signin
  background: #0084c8

  h3
    color: #024162
    padding-top: 8px
    max-width: 170px

  .action_button_grey
    float: right
    margin-top: -23px
    padding: 7px 10px

#widget-user-settings
  .hd span
    display: block
    padding-left: 21px
    background: image-url("header_icon_gear.png") no-repeat left center

#widget-user-badges
  .hd span
    display: block
    padding-left: 21px
    background: image-url("header_icon_badge.png") no-repeat left center

#widget-reader-help
  .hd span
    display: block
    padding-left: 21px
    background: image-url("icon_help.png") no-repeat left center

#widget-bookmarks
  .hd span
    display: block
    background: image-url("header_icon_bookmark.png") no-repeat left center
    padding-left: 21px

  .ft
    text-align: right


  .tag
    color: #555
    font-style: italic

    a
      color: inherit
      text-decoration: none

    a:hover
      text-decoration: underline

  .tag:after
    content: ','
    margin-left: -2px

  .tag:last-child:after
    content: ''

#widget-notes
  .hd span
    background: image-url("widgets-sprite.png") no-repeat 0 1px
    padding-left: 25px

#widget-download
  .bd
    background:
      image: image-url("ad_bible_platforms.png")
      position: 96% 84%
      repeat: no-repeat

    h3
      margin-bottom: 1.3em
    p
      margin-bottom: 10px
      padding-right: 75px

    .action_button_green
      padding: 7px 10px
      font-size: 15px
      float: left

#widget-devotional
  h2
    margin: .5em 0 1em 0
    padding: 0
    font-size: 16px
    font-weight: bold

  p
    margin-bottom: 20px

// !Reading plan widget --------------

#widget-plan-controls

  .hd
    .settings
      display: block
      width: 15px
      height: 15px
      opacity: .5
      background:
        image: image-url("icon_settings.png")
      position: absolute
      top: 10px
      right: 10px

      span
        display: block
        text-indent: 100%
        white-space: nowrap
        overflow: hidden

    .settings:hover
      opacity: .8

  #calendar
    position: relative
    overflow: hidden
    border-bottom: 1px solid #dedddb
    clear: both

    div, span, a
      box-sizing: border-box

    .calendar-prev,
    .calendar-next
      float: left
      height: 80px

      a
        display: block
        width: 30px
        height: 80px

        .calendar-arrows
          height: 20px
          display: block
          width: 20px
          margin: 30px 0 0
          background: image-url("pagination_arrows.png") no-repeat

        .calendar-arrow-txt
          font-size: 12px
          color: #9F9EA2
          line-height: 1em
          display: block

      a.disabled
        opacity: .2

    .calendar-prev
      text-align: center
      border-right: 1px solid #dedddb

      a .calendar-arrows
        background-position: -25px 0

    .calendar-next
      text-align: center
      border-left: 1px solid #dedddb

      a .calendar-arrows
        background-position: -45px 0

  #calendar
    .calendar-cal
      float: left
      width: 238px
      overflow-x: scroll
      overflow-y: hidden

      span, a
        display: block

      .calendar-cal-month
        float: left
        overflow: hidden
        height: 80px

        .calendar-cal-month-name
          text-align: center
          font-size: 13px
          color: #999
          border-bottom: 1px solid #dedddb
          border-left: 1px solid #dedddb

          span
            height: 20px
            line-height: 21px

        .calendar-cal-days
          overflow: hidden

          .calendar-cal-day
            float: left
            width: 34px
            height: 59px
            border-left: 1px solid #dedddb
            padding: 6px 0 0
            text-align: center
            font:
              size: 15px
              weight: normal
            color: #444
            background: image-url("cal-bullet@2x.png") no-repeat center 38px
            background-size: 8px 8px

          .calendar-cal-day.selected
            background-color: #dedddb
            border-bottom: 3px solid #333

          .calendar-cal-day.current
            font-weight: bold
            color: #ff0000

          .calendar-cal-day.read
            background: image-url("cal_check@2x.png") no-repeat center 38px
            background-size: 11px 8px


      .calendar-cal-month:first-child
        .calendar-cal-month-name
          border-left: none

        .calendar-cal-day:first-child
          border-left: none

  .calendar-links
    clear: both
    padding: 0 15px
    height: 32px
    line-height: 31px
    overflow: hidden

.scripture-links
  .menu
    background: transparent
    li.content_target
      position: relative
    form
      margin: 0
      margin-top: 4px
      padding: 0
      width: 30px
      position: absolute
      right: 10px
      top: 0

html[data-locale="en"]
  #widget-plan-controls
    #calendar
      .calendar-prev,
      .calendar-next
        a
          .calendar-arrow-txt
            font-size: 11px
            padding: 3px 20px 0


// !Reading plan sample calendar widget

#widget-plan-controls
  #calendar.rp-sample

    a,
    h4,
    span,
    div
      box-sizing: border-box

    .calendar-prev,
    .calendar-day,
    .calendar-next
      float: left
      height: auto

      a
        width: 69px
        height: 70px
        padding: 9px 0 0

        .calendar-arrows
          height: 21px
          display: block
          width: 21px
          margin: 0 auto 5px
          background: image-url("pagination-arrows-rp.png") no-repeat
          background-size: 84px 21px

        .calendar-arrow-txt
          padding: 10px 0 0

      h4
        width: 160px
        height: 70px
        margin: 0
        text-align: center
        padding: 25px 0 0

    .calendar-prev
      a
        .calendar-arrows
          background-position: -21px 0

    .calendar-next
      a
        .calendar-arrows
          background-position: -42px 0


// --- Custom widgets ------

#widget-100m-ad
  width: 300px
  height: 270px
  position: relative
  margin-bottom: 10px

  img
    display: block
    position: absolute
    top: 0
    left: 0

  h2
    width: 300px
    position: absolute
    top: 18px
    text-align: center
    color: #FECC0E
    text-transform: uppercase
    letter-spacing: .35em
    font-size: 12px
    font-weight: normal

    em
      letter-spacing: normal
      display: block
      color: #435971
      font:
        size: 40px
        style: normal
        weight: normal
        family: 'Fjalla One', Helvetica, sans-serif
      line-height: 1em
      margin-top: 12px

  .cta-100m
    position: absolute
    top: 200px
    left: 20px
    width: 260px
    text-align: center

    span
      color: #fff
      font-size: 14px
      display: block
      margin-bottom: 6px

  .action_button_green
    background-color: #5d832f
    border-color: #000 !important
    margin-top: 10px
    box-shadow: inset rgba(255, 255, 255, 0.3) 0 2px 0 0, inset rgba(0, 0, 0, 0.15) 0 -2px 0 0

// !Featured/My plans widget

.featured-plans,
.my-plans

  h3.hd
    background: image-url("widgets-sprite.png") no-repeat 15px -69px
    padding: 10px 10px 10px 40px

  .plans-list
    background-color: #fff

    li
      padding: 15px
      border-top: 1px solid #eee
      border-bottom: none

      h3
        line-height: 1.2em
        margin: 0 0 5px

      p
        line-height: 1.4em
        margin: 0

      span
        display: inline-block
        margin: 0 0 0 10px
        color: #777

    li:first-child
      border: none

// !Find friends widget

.widget-find-friends

  h3.hd
    background: image-url("widgets-sprite.png") no-repeat 15px -27px
    padding: 10px 10px 10px 40px

  .bd
    padding: 10px

  .sb-user-search-query
    width: 80%
    height: 32px

  .sb-user-search-submit
    margin: 0 0 0 4px


// !Comm notes widget

.comm-notes

  li
    padding: 10px 55px 10px 15px
    position: relative

    img
      width: 36px
      +border-radius(18px)
      position: absolute
      top: 13px
      right: 10px

    p
      margin: 0


// !User settings widget

#widget-user-settings
  margin: 159px 0 0


// !Friends completed/reading widget in reading plans

.rp-reading,
.rp-friends-completed
  background: none

  .rp-widget-avatars
    box-sizing: border-box
    background-color: #fff
    padding: 10px 10px 5px
    overflow: hidden
    height: 55px
    &.open
      height: 100%
    a
      width: 40px
      height: 40px
      +border-radius(40px)
      overflow: hidden
      float: left
      margin: 0 0 8px 8px
      display: block

      img
        width: 40px

    a:first-child,
    a:nth-child(7n)
      margin-left: 0

  .rp-view-all
    clear: both
    +border-radius(0 0 5px 5px)
    background-color: #fff

    hr
      border: 0
      border-top: 1px solid #dedddb
      height: 1px
      background: #fff
      margin: 0

    a
      display: block
      height: 30px
      width: 41px
      text-indent: 100%
      overflow: hidden
      white-space: nowrap
      margin: -17px auto 0
      &.open
        background: #fff image-url("arrows-down@2x.png") no-repeat center center
        background-size: 12px 11px
      &.close
        display: none
        margin: 0 auto

.rp-all-completed
  background: #dedddb image-url("rp_about_users.png") no-repeat center top
  margin: 30px 0 0

  span
    display: block
    text-align: center
    font-size: 15px
    padding: 25px 0 0
    margin: 0 0 30px
