// `Widgets
//----------------------------------------------------------------------------------------------------

.widget.simple
  .bd
    border: none
    margin: 0
  p
    margin: 0

.widget-button
  margin: 0 0 10px

.widget
  color: #333
  z-index: 1
  padding: 0
  margin: 0 0 10px
  position: relative
  border: 0
  background: #EEEDEB
  +round

  h3
    margin: 0
    font-size: 14px

  h3 em
    float: right
    font-style: normal

  ul
    margin-bottom: 0

  li
    margin: 0
    padding: 10px 20px
    border-bottom: 1px solid #DEDDDB
    list-style: none
    background: #fff

  li:first-child
    border-top: 0

  .separator
    background: image-url("separator.png") repeat-y center top
    color: transparent
    overflow: hidden
    padding: 0 5px 2px
    text-indent: -99999px

  .more_arrow
    color: #555
    padding: 5px 25px 5px 0
    background: image-url("more_arrow.png") no-repeat right center

  .more_arrow:hover
    color: inherit
    text-decoration: none

  .hd
    font-size: 14px
    font-weight: bold
    line-height: 24px
    padding: 5px 15px
    position: relative
    border-bottom: 1px solid #DEDDDB
    background-color: #EEEDEB
    +round_top
    +box-shadow(inset #fff 0 1px 0 0)

    a, a:link
      color: #444

    a:hover
      color: #666

    a.count
      position: absolute
      top: 8px
      right: 8px
      background-color: #eeedeb
      border: 1px solid #aaa
      color: $body_text
      display: inline-block
      font-size: 11px
      line-height: 1
      padding: 2px 10px 3px
      text-decoration: none
      +border-radius(9px)

    a.count:hover
      background:
        color: #fff
        image: none

    a.count:active
      background:
        color: #eee
        image: none

  .bd
    padding: 20px
    font-weight: normal
    +border-radius(3px)

    p
      margin: 0

    ul
      border: none !important
      border-radius: none !important
      font-weight: normal
      list-style: square outside none
      margin: 0 0 0 20px

    li
      list-style: square outside none
      border: none
      padding: 0
      margin: 0
      padding: 7px 0

  .bd.nopad
    padding: 0

  .ft
    padding: 10px 15px
    border-top: 1px solid #DEDDDB

  .ft.link
    padding: 0
    a
      display: block
      padding: 8px 20px 8px 30px
      text-decoration: none
      border-top: 1px solid #fff
      background: image-url("main_article_ul_li_arrow.png") no-repeat 15px center

    a, a:hover
      color: $body_text

    a:hover,
    a.selected
      background-color: rgba(#fff, 0.4)


  .menu
    margin-bottom: 0 !important
    background: image-url("shadow.png") repeat-x

    li
      padding: 0

    li.active
      background: #ddd
      border-top: none

    a,
    span
      display: block
      font-size: 13px
      line-height: 1
      padding: 10px 20px 10px 30px
      text-decoration: none
      background:
        image: image-url("main_article_ul_li_arrow.png")
        repeat: no-repeat
        position: 15px center

    a, a:hover
      color: $body_text

    a:hover,
    a.selected
      background-color: rgba(#fff, 0.4)

    p
      padding: 0
      overflow: hidden
      margin: 10px 20px 10px 20px

  // Basic ul.menu
  // links don't have > arrow icon or extra left padding.
  .menu.basic
    a, span
      background: none !important
      padding: 10px 15px

.widget ul li:last-child
  border-bottom: 0

.widget table
  width: 100%
  margin: 0
  border-collapse: separate
  background: image-url("shadow.png") repeat-x

.widget th,
.widget td
  padding: 10px 15px

.widget th
  width: 1%

.widget th
  background:
    color: #d5d4d6
    image: image-url("widget_th.png")
    repeat: no-repeat

.widget tbody th
  background:
    position: right top

.widget tfoot th
  background:
    position: right bottom

.widget td
  border-top: 1px solid #fff
  border-bottom: 1px solid #ccc

.widget td p
  margin: 0
  padding-top: 10px

.widget tbody tr:first-child td
  border-top: 0

.widget tbody:last-child tr:last-child td
  border-bottom-width: 0

.widget tfoot td
  border-bottom: 0

.widget tfoot + tbody:last-child tr:last-child td
  border-bottom-width: 1px

.widget th img
  display: block
  margin: 0 auto

.widget-notice
  +round_top
  +round_bottom
  +box-shadow(inset #fff 0 1px 0 0)
  +background-image(linear-gradient(#eeedeb, #dddcda))
  background-color: #dddcda
  border: 1px solid #cbc9cf
  padding: 10px 15px
  margin-bottom: 10px

  .exit
    display: block
    float: right

  p
    margin-bottom: 0

#widget-user-settings
  .hd span
    display: block
    padding-left: 21px
    background: image-url("header_icon_gear.png") no-repeat left center

#widget-user-badges
  .hd span
    display: block
    padding-left: 21px
    background: image-url("header_icon_badge.png") no-repeat left center

#widget-reader-help
  .hd span
    display: block
    padding-left: 21px
    background: image-url("icon_help.png") no-repeat left center

#widget-bookmarks
  .hd span
    display: block
    background: image-url("header_icon_bookmark.png") no-repeat left center
    padding-left: 21px

  .ft
    text-align: right


  .tag
    color: #555
    font-style: italic

    a
      color: inherit
      text-decoration: none

    a:hover
      text-decoration: underline

  .tag:after
    content: ','
    margin-left: -2px

  .tag:last-child:after
    content: ''

#widget-notes
  .hd span
    background: image-url("header_icon_note.png") no-repeat left center
    padding-left: 25px

#widget-download
  .bd
    background:
      image: image-url("ad_bible_app.png")
      position: 90% 80%
      repeat: no-repeat

    h3
      margin-bottom: 1.3em
    p
      margin-bottom: 10px

#widget-devotional
  h2
    margin: .5em 0 1em 0
    padding: 0
    font-size: 16px
    font-weight: bold

  p
    margin-bottom: 20px

#widget-plan-controls
  .hd
    .settings
      display: block
      width: 15px
      height: 15px
      opacity: .5
      background:
        image: image-url("icon_settings.png")
      float: right
      margin-top: 4px

      span
        display: block
        text-indent: 100%
        white-space: nowrap
        overflow: hidden

    .settings:hover
      opacity: .8

  .menu
    li.content_target
      position: relative
    form
      margin: 0
      margin-top: 4px
      padding: 0
      width: 30px
      position: absolute
      right: 10px
      top: 0

  #calendar
    position: relative

    div.icon
      width: 35px
      height: 35px
      position: absolute
      left: 15px
      top: 15px

      a
        display: block
        height: 35px
        width: 35px
        margin: 0
        padding: 0
        background:
          color: transparent
          image: image-url("sprite-subscription-calendar.png")
          position: -73px 0px

        span
          display: block
          text-indent: 100%
          white-space: nowrap
          overflow: hidden

      a:hover
        background:
          color: transparent
          image: image-url("sprite-subscription-calendar.png")
          position: -73px 1px

    div.day
      padding: 15px
      margin-left: 45px
      position: relative

      h4
        margin-bottom: 0

    .day
      a.prev, a.next
        text-indent: 100%
        white-space: nowrap
        overflow: hidden
        padding: 0
        background-image: none
        background-position: none
        position: absolute
        width: 24px
        height: 24px
        top: 20px
        border: 1px solid #d5d5d5
        background: #eee

      a.prev
        +round_top_left
        +round_bottom_left
        border-right: none
        right: 41px
        background:
          image: image-url("sprite-prev-next-arrows.png")
          position: -62px -13px

      a.next
        +round_top_right
        +round_bottom_right
        right: 15px
        background:
          image: image-url("sprite-prev-next-arrows.png")
          position: -11px -13px

      a.disabled
        cursor: default

      a.next:hover, a.prev:hover
        background:
          color: rgba(#fff, 0.4)

      a.disabled:hover
        background:
          color: transparent


// -- Mobile Styles --------------------

html.mobile-client

  .widget ul
    border: 0

  #widget-plan-controls
    .hd
      display: none !important
    .menu
      border-radius: 0px !important

    li.content_target
      form
        margin-top: 10px

    li.content_target a,
    li.content_target.active span
      padding: 15px 20px 15px 15px
      font-size: 15px

  #sidebar
    .widget-button
      padding: 15px
      margin-bottom: 0

  #widget-devotional
    margin: 15px

  .content_target b
    display: block
    margin-bottom: .3em

  .widget-notice
    display: none



// --- Custom widgets ------

#widget-100m-ad
  width: 300px
  height: 270px
  position: relative
  margin-bottom: 10px

  img
    display: block
    position: absolute
    top: 0
    left: 0

  h2
    width: 300px
    position: absolute
    top: 18px
    text-align: center
    color: #FECC0E
    text-transform: uppercase
    letter-spacing: .35em
    font-size: 12px
    font-weight: normal

    em
      letter-spacing: normal
      display: block
      color: #435971
      font:
        size: 40px
        style: normal
        weight: normal
        family: 'Fjalla One', Helvetica, sans-serif
      line-height: 1em
      margin-top: 12px

  .cta-100m
    position: absolute
    top: 200px
    left: 20px
    width: 260px
    text-align: center

    span
      color: #fff
      font-size: 14px
      display: block
      margin-bottom: 6px

  .action_button_green
    background-color: #5d832f
    border-color: #000 !important
    margin-top: 10px
    box-shadow: inset rgba(255, 255, 255, 0.3) 0 2px 0 0, inset rgba(0, 0, 0, 0.15) 0 -2px 0 0