@import compass/css3
@import vars
@import clearfix
@import helper_classes
@import reset
@import global_html
@import text
@import formalize
@import form_elements
@import avatars
@import widgets
@import ui_elements
@import pagination
@import tabs
@import tables
@import dynamic_menus
@import wrapper_container
@import header
@import nav_primary
@import main_reader
@import reader_text
@import user_settings
@import progress_bars
@import split_pane
@import sidebar
@import footer
@import modal_window
@import reference_tokens
@import full_screen
@import parallel_mode
@import embedded_reader
@import audio_player
@import picker_modals
@import bookmarks
@import pages
@import wysiwyg/jquery.wysiwyg
@import webfonts
@import videos
@import subscriptions
@import plans
@import licenses
@import notes
@import search
@import resource_lists
@import users
@import social
@import notifications
@import "retina.scss"

// ------------
.mobile
  display: none !important

@media only screen and (max-width: 768px)

  .mobile
    display: block !important

  // ----------Style adjustments for viewports 768px and under go here

  // -------------Button stuff

  input[type="submit"].action_button_green,
  input[type="submit"].action_button_blue,
  input[type="submit"].action_button_red,
  input[type="submit"].action_button_grey,
  .action_button_blue,
  .action_button_green,
  .action_button_green,
  .action_button_grey
    padding: 10px 0px  !important
    +box-shadow(inset rgba(0,0,0,0.2) 0 -2px 0, inset rgba(255, 255, 255,0.2) 0 2px 0 !important)
    border-radius: 4px
    border: none
    text-shadow: rgba(#000, 0.5) 0 -1px 0
    width: 100%

  input[type="submit"]
    background-color: #81a950
    +background-image(none)
    width: 100%
    padding: 10px 0
    color: #fff
    text-shadow: rgba(0,0,0,0.3) 0 -1px 0
    font-size: 15px
    +box-shadow(inset rgba(0,0,0,0.2) 0 -3px 0, inset rgba(255, 255, 255,0.2) 0 3px 0 !important)
    border: none

  input[type="submit"]:hover
    background-color: #81a950
    +background-image(none)
    color: #fff
    text-shadow: rgba(0,0,0,0.3) 0 -1px 0
    +box-shadow(inset rgba(0,0,0,0.2) 0 -3px 0, inset rgba(255, 255, 255,0.2) 0 3px 0 !important)
    border: none

  // TODO: delete as many as possible, moving only
  // necessarry SASS into better organized folders/files
  @import mobile/global_html
  @import mobile/avatars
  @import mobile/ui_elements
  @import mobile/pagination
  @import mobile/tabs
  @import mobile/dynamic_menus
  @import mobile/wrapper_container
  @import mobile/header
  @import mobile/nav_primary
  @import main_reader
  // override widescreen main_reader styles
  @import mobile/main_reader
  @import mobile/user_settings
  @import mobile/progress_bars
  @import mobile/footer
  @import mobile/modal_window
  // @import mobile/reference_tokens
  @import mobile/embedded_reader
  @import mobile/audio_player
  @import mobile/pages
  @import mobile/donate
  @import mobile/user
  @import mobile/videos
  @import mobile/social
  @import mobile/notifications
