.a_home #current-ui-view {
  padding: 90px 0 0;
  padding-bottom: 0;

  & * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #hero {
    background: image-url("laptop@2x.jpg") no-repeat 95% 10px;
    background-size: 445px;

    @media #{$medium-only} {
      background: image-url("laptop@2x.jpg") no-repeat 95% 10px;
      background-size: 300px;
    }

    @media #{$small-only} {
      background: none;
    }
  }
}

.a_home #current-ui-view {
  #hero_content {
    padding: 0 30px;

    @media #{$small-only} {
      float: none;

      span a {
        display: block;
        margin: 0 0 10px;
      }
    }

    h1 {
      width: 45%;

      @media #{$medium-only} {
        width: 45%;
      }

      @media #{$small-only} {
        width: auto;
      }
    }

    p {
      width: 30%;
      margin: 0 0 15px 0;

      @media #{$medium-only} {
        width: 50%;
      }

      @media #{$small-only} {
        width: auto;
      }
    }

    input {
      height: auto !important;
    }
  }
}

.a_home #current-ui-view {
  .hero_pics {
    background: image-url("bdc_pics@2x.jpg") repeat-x center top;
    background-size: 1750px 221px;
    width: 100%;
    height: 221px;

    @media #{$small-only} {
      background-size: 1000px;
      height: 125px;
    }
  }

  .bottom-cta {
    .large-8 {
      padding: rem-calc(0 26 0 26);
      }

    h1 {
      background-repeat: no-repeat;
      background-position: left top;
      padding: 0 0 0 60px;
      min-height: 48px;

      @media #{$small-only} {
        padding: 0;
        background-size: 0;
      }
    }

    .large-6 p {
      padding: rem-calc(10 5 0 0);
    }

    .counter {
      display: block;

      @media #{$small-only} {
        margin: 10px 0 0;
      }
    }

    #counter {
      font: 100 rem-calc(45) "bebas-neue", "helvetica neue", arial, sans-serif;
      letter-spacing: rem-calc(-1);
      padding: 0;
      color: $gray;
      line-height: rem-calc(45);

      @media #{$medium-only} {
        margin: 10px 0 0;
      }
    }
  }

  .app-icons {
   	margin: 65px 0 20px;

   	@media #{$small-only} {
      margin: 20px 0 20px;
   	}

   	@media #{$medium-only} {
   	 display: inline-block;
   	 margin: 20px 20px 20px 10px;
   	}
  }

  .get-started {
    @media #{$medium-up} {
      .mobile-full {
       width: 400px;
      }
    }

    @media #{$medium-only} {
      .explore-cta {
        a,
        span {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

.a_home #current-ui-view {

  .read-bible {
    background: image-url("read_bible_icon.png") no-repeat center top;
    background-size: 188px;
    padding-top: 220px;
  }

  .study-bible {
    background: image-url("highlight_bible_icon.png") no-repeat center 20px;
    background-size: 188px;
    padding-top: 240px;
  }

  .subscribe-bible {
    background: image-url("subscribe_bible_icon.png") no-repeat center 20px;
    background-size: 188px;
    padding-top: 240px;
  }

  .take-bible {
    background: image-url("take_bible_icon.png") no-repeat center top;
    background-size: 188px;
    padding-top: 220px;
  }

  @media #{$medium-only} {
    .read-bible,
    .study-bible,
    .subscribe-bible,
    .take-bible {
      float: none;
      background: none;
      padding-top: 0;
      margin: 10px 0 0;
    }
  }

  @media #{$small-only} {
    .read-bible,
    .study-bible,
    .subscribe-bible,
    .take-bible {
      float: none;
      background: none;
      padding-top: 0;
      margin: 10px 0 0;
    }
  }
}

/* RTL */
html[dir="rtl"] {
  .a_home #current-ui-view {
    .bottom-cta h1 {
      background-position: right top;
      padding: 0 60px 0 0;
    }
    #hero {
      background-position: 5% 10px;
    }
  }
}

html[lang="my-MM"], html[lang="my"] {
  .carousel-standard .slide-title {
    line-height: 20px;
    padding-bottom: 2px;
  }

  h1 {
    font-size: 1.7em;
  }

  h2.heading {
    letter-spacing: inherit;
  }

  .about_content {
    padding-bottom: 120px
  }

  article.press p {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
  }

  .yv-button {
    line-height: 18px;
  }
}

h1.heading {
  a {
    font-size: 45.71px;
    color: #353535;
    line-height: 54px;
    font-size: 45px;
    margin: 30px 0;
    font-weight: bold;
    display: block;
    text-decoration: none;
  }
}

h2.heading {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  letter-spacing: 3.9px;
  line-height: 16px;
  text-transform: uppercase;
  a {
    color: #000000;
  }
}

p.body-text {
  font-size: 13px;
  color: #000000;
  line-height: 20px;

  &.padded {
    padding:10px 20px;
  }
}

.setting-skip-home {
  font-size: 11px;
  color: #008CBA;
  line-height: 20px;
  font-weight: normal;
}

img.home-bible-icon {
  width: 90px;
  height: 90px;
}

img.heading {
  height: 50px;
  margin: 80px 0 30px;

  @media #{$medium-only} {
    margin: 40px 0 30px;
  }

  @media #{$small-only} {
    margin-top: 30px;
  }
}

a.heading {
  font-size: 13px;
  color: #008CBA;
  line-height: 20px;
}

.votd-row {
  background-image: image-url('/assets/mountain-range.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;

  .inner-row {
    background-image: linear-gradient(-180deg, rgba(248,248,248,0.25), rgba(255,255,255,0.85));
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.82);
    padding: 0;
  }

  .votd-image {
    max-height: 640px;
    max-width: 640px;
    width: 100%;
    border-radius: 5px 0 0 5px;

    @media #{$small-only} {
      border-radius: 5px 5px 0 0;
    }
  }

  .votd-content {
    padding:20px;

    .votd-share-button {
      a {
        font-size: 13px;
      }

      .share-panel {
        position: absolute;
        width: 190px;
        right: 10px;
        top: 10px;

        @media #{$small-only} {
          right: -5px;
        }
      }

      @media #{$small-only} {
        position: absolute;
        right: 20px;
        top: 10px;
      }
    }

    @media #{$medium-only} {
      padding: 0 20px 20px;
    }

    h2.heading {
      margin: 20px 0 30px;

      @media #{$medium-only} {
        margin: 20px 0 20px;
      }
    }

    .votd-icon {
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }

    p {
      -webkit-font-smoothing: subpixel-antialiased;
      font-size: 22px;
      color: #000000;
      line-height: 36px;

      @media #{$medium-only} {
        font-size: 16px;
        line-height: 30px;
      }
    }

    .votd-verse a,
    .votd-ref a
    {
      color: #000000;
    }

    .votd-ref {
      font-size: 11px;
      line-height: 20px;
      padding: 10px 0;
      margin-bottom:10px;
    }

    .votd-link {
      font-size: 13px;
      color: #008CBA;
      line-height: 20px;
      margin-bottom: 20px;

      img.highlight-icon {
        height: 18px;
        width: 18px;
        margin-right: 5px;
      }

      img.subscribe-icon {
        height: 11px;
        width: 16px;
        margin-right: 7px;
      }
    }
  }
}

.featured-plans-row {
  margin-top: 40px;

  .fp-title {
    font-family: $font-family-sans-serif;
    font-size: 18px;
    color: #353535;
    line-height: 21px;
    text-align: left;
    font-weight: bold;
    margin: 10px 0 0 0;
    a {
      text-decoration: none;
      color: #353535;
    }

    @media #{$medium-only} {
      font-size: 14px;
    }
  }

  .fp-details {
    text-align: left;
    .fp-length {
      font-size: 11px;
      color: #979797;
      line-height: 20px;
      text-align: left;
    }

    .fp-link {
      font-size: 11px;
      color: #008CBA;
      line-height: 20px;
      text-align: left;
    }

    div.dot {
      display: inline-block;
      background-color: #aaa;
      width: 3px;
      height: 3px;
      border-radius: 100px;
      margin-bottom: 2px;
      margin-left: 3px;
    }
  }
}

.browse-plans-link {
  font-size: 18px;
  color: #008CBA;
  line-height: 20px;
  margin: 20px 0 30px;
  display:inline-block;
}

.start-now-link {
  margin-top: 30px;
}

.start-now-row {
  padding: 40px 0 60px;
}

.medium-block-grid-1 {
  img {
    width: 100%;
  }
}
