.widget
  %header
    %span= link_to(@video.title, video_path(@video))
  %div.body-rounded
    - thumb = @video.thumbnails.last
    = image_tag(thumb.url, {style:"width:100%;"})

.widget
  %header
    %span Publisher Website
  %ul.widget_menu
    - @publisher.links.each do |link|
      %li= link_to(link.title, link.url, class: "video-pub")
