:ruby
  # Required parameters
  # - collection
  # - original_locale

  plan = list_item
%li.plan
  = link_to(plan_path(plan, locale: original_locale)) do
    %h3
      =plan.name
  %span.length
    = plan.formatted_length
  %span.search_thumbnail
    = image_tag plan.search_thumbnail_image.url if plan.search_thumbnail_image.present?
  %p
    = plan.about
