:ruby
  # Required parameters
  # - collection
  # - original_locale

  plan = list_item
%li.plan
  = image_tag plan.search_thumbnail_image.url, class: 'search_thumbnail' if plan.search_thumbnail_image.present?
  %h3
    = link_to(plan.name, plan_path(plan, locale: original_locale))
  %span.length
    = plan.formatted_length
  %p= plan.about