- if plan.is_a? Subscription
  %form.float_left{method: 'post'}
    %input{type: "hidden", name: "_method", value: "put"}
    %input{type: "hidden", name: "ref", value: reference.ref.osis}
    %input{type: "hidden", name: "completed", value: (!reference.completed?).to_s}
    - if day != plan.current_day
      %input{type: "hidden", name: "day_target", value: day.to_s}
    - if cur_reading_index != 0
      %input{type: "hidden", name: "content_target", value: cur_reading_index}
    %input{type: "checkbox", onChange: "this.form.submit()", id: "#{index}_box",  checked: reference.completed? ? "checked" : nil}
%a{href: (cur_reading_index == index) ? nil : plan_path(plan.to_param, day: day.to_s, content: (index > 0 ? index.to_s : nil)), style: "margin-top: 2px"}= reference.ref.ref_string
