- no_audio_string = reference.is_chapter? ? t('audio.none') : t('audio.chapter only')
%div
  %ul.float_right{style: "list-style: none; margin: 0"}
    %li.float_left{style: "background: none; padding: 0; margin-left: 7px"}
      %a.no_style.button{:href => reference.audio ? '#menu_audio_player' : nil, :title => reference.audio ? t("ref.listen"): no_audio_string, class: @reference.audio ? "dynamic_menu_trigger" : "disabled"}
        %span.icon_listen{class: @reference.audio ? nil : "disabled"}
          =t("ref.listen")
    %li.float_left{style: "background: none; padding: 0; margin-left: 7px"}
      %a.no_style.feaux_dynamic_trigger.button{:href => bible_url(reference), :title => t("ref.view in reader", reference: reference.ref_string)}
        %span.icon_read
          =t("ref.view in reader", reference: reference.ref_string)
  - if reference.is_chapter?
    = render '/shared/menu_audio_player', force_style: audio_div_style