- @title = t("plans.title")
- @sidebar = false

%article
  %h1= t("plans.explore title")
  %p Sorting buttons here
  %h1= t("plans.title")
  %p List of plans here
  / %ul
  /   - @plans.each do |plan|
  /     %li
  /       %h2= link_to plan
  /       %p= plan.about
