#reader_header
  %header
    %ul.float_left
      %li
        %a.dynamic_menu_trigger.drop_down_select{href:"#menu_version", id:"menu_version_trigger", title: t("ref.choose version")}
          %b
            = @presenter.version.human
          %span
            =t("ref.choose version")
  = render :partial 'shared/version_selector/display', {presenter: @presenter, recent_versions: recent_versions}
%article
  .wrap
    .align_center= t('plans.invalid reference', support_url: external_url(:support)).html_safe
