- @title = @subscription.name
- @sidebar = false

%article
  = render partial: "plan_day_header"

  .split_pane{:style => "padding-top:15px"}
    - if @reading.devotional
      = render partial: "pane_devotional"
    - else
      =render partial: "pane_no_devotional"