- @title = @subscription.name
- @sidebar = false
- @header_title = t(@subscription.name)
- @header = true

- content_for :header do
  %a#slideRight.nav_btn{:href => '#nav_primary'}
    View Navigation
  %h1#page_title= link_to t(@subscription.name), plan_path(@subscription, ignore_subscription: true)
  %span.right_btn_slice
  %nav.right_nav
    %a.settings_btn{:href => plan_settings_path(@subscription)}

%article.readingplans
  .split_pane
    - if @reading.devotional
      = render partial: "pane_devotional"
    - else
      =render partial: "pane_no_devotional"
