- @title = @subscription.name
- @sidebar = false
      
%article
  %h1= @subscription.name
  - reading = @subscription.current_reading
  - if reading.devotional
    %hr
    %p= reading.devotional.html_safe
  .split_pane{:style => "padding-top:15px"}
    .split_pane_sidebar
      %dl.categories_menu
        %dt
          Today's Content
        - if reading.references
          - params[:content] ||= 0
          - reading.references.each_with_index do |ref,i|
            %dd{class: params[:content].to_i == i ? "highlighted" : ""}
              %form{method: 'get'}
                %input{type: "checkbox", onChange: "this.form.submit()", id: ref.ref.to_s} 
                  =ref.ref.to_s
                - unless i == 0
                  %input{type: "hidden", name: "content", value: i}
                  
    .split_pane_content
      - if reading.references
        %p= reading.references[params[:content].to_i].ref.to_s
          