- content_for :sidebar do
  .widget-button
    %a.action_button_green{href: current_auth ? new_note_path : sign_up_path(source:"note")}
      %span.icon_plus= t('new note')

  = render_cell :notes_list_widget, :display, notes: Note.all(language_tag: I18n.locale, cache_for: YV::Caching.a_very_short_time), title: t("notes.community notes")

  = render "widgets/download_app"

