:ruby
  # Used in references/show

  # Local Variables
  # reference  (required)

#widget-notes.widget.ajax_notes{"data-ajax" => "#{reference_path(version: reference.version, reference: reference.to_usfm)}/notes"}
  %div.hd
    %span= t("notes.community notes")
  %div.bd
    %p= t('notes.loading community')
