:ruby
  # Used in references/show

  # Local Variables
  # reference  (required)
  # title      (optional)

   title = title || "Notes"

#widget-notes.widget.ajax_notes{"data-ajax" => "#{bible_path(reference)}/notes"}
  %div.hd
    %span= title
  %div.bd
    %p= t('notes.loading community')
