:ruby
  # Used in references/show

  # Local Variables
  # reference  (required)

- #widget-notes.widget.ajax_notes{"data-ajax" => "#{bible_path(reference)}/notes"}
#widget-notes.widget
  %div.hd
    %span= t("notes.community notes")
  %div.bd
    Coming soon ...
