.passage {



	.main-content {
		padding: 0px 35px 0px 35px;

		.title-heading {
			width: 100%;
			display: inline-flex;
			justify-content: center;
			overflow-wrap: break-word;
			word-wrap: break-word;
			white-space: normal;
			padding-right: 5px;
			padding-left: 2px;

			.slick-arrow-right-container, .slick-arrow-left-container {
				opacity: 1;
				position: relative;
				height: 39px;
			}

		}

		.single-verse {
			font-size: 22px;
			text-align: left;
			h2 {
				display: inline-flex;
				margin-bottom: 20px;
				.heading {
					font-weight: bold;
					font-size: 19px;
					margin-right: 10px;
				}
				.name {
					font-size: 14px;
					color: @font-grey;
				}
			}
			.verse-content {
				color: black;
			}
		}

		.buttons {
			display: inline-flex;
			flex-wrap: wrap;
			margin-top: 30px;
			.chapter-button {
				border: @thin-grey-border;
				background-color: white;
				padding-top: 15px;
				padding-bottom: 15px;
				color: @font-grey;
				margin-right: 15px;
			}
		}
		.title {
			font-size: 24px;
			margin: 0 25px 75px 25px;
			text-align: center;
		}
	}





	.verses {
		margin-top: 60px;

		.verse-container {
			padding: 15px;
		}
		.card, a {
			/*height: 100%;*/
			font-size: 14px;
			color: @font-grey;

			.heading {
				font-size: 14px;
			}
		}

		// render the dropshadow and transition on opacity for hardware accelerated
		// transition performance
		.card {
			position: relative;
			-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
			transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		}
		.card::after {
		  content: '';
		  position: absolute;
		  z-index: -1;
		  width: 100%;
		  /*height: 100%;*/
			top: 0;
			left: 0;
		  opacity: 0;
			.yv-drop-shadow;
		  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		}
		.card:hover {
		  -webkit-transform: scale(1.06, 1.06);
		  transform: scale(1.06, 1.06);
		}
		.card:hover::after {
			opacity: 1 !important;
		}
	}


	.related-plans {
		width: 100%;
		margin-top: 25px;
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: @background-grey;

		.heading {
			width: 100%;
			text-align: center;
		}
		li {
			padding: 15px;
		}
	}


	// both verses and plans
	.list {
		display: flex;
		flex-wrap: wrap;
		li {
			display: flex;
			@media @small-only {
				width: 90%;
			}
			@media @medium-only {
				width: 47%;
			}
			@media @large-up {
				width: 32%;
			}
		}
	}

	.note { display: none !important; }

	.verse {
		h2 {
			display: inline-flex;
			align-items: center;
			width: 100%;
			.heading {
				border: @thin-grey-border;
				border-radius: @default-radius;
				padding: 4px 10px 4px 10px;
				min-width: 0;
				margin: 0;
				display: inline;
				margin-right: 10px;
			}
			.name {
				flex-shrink: 10;
				max-width: 60%;
				font-size: 11px;
				color: @font-grey;
			}
		}
		.verse-content {
			display: inline-block !important;
			margin-top: 15px;
		}
	}


}