.main-content {
	background-color: @background-grey;
	padding-top: 75px;
	padding-bottom: 75px;
}

.single-verse {
	font-size: 20px;
}

.chapter-button {
	border: @thin-grey-border;
	background-color: white;
	margin-bottom: 140px;
}