body.a_snapshot {
  background: #f2f2f2;
  h1, h2 {
    color: #000;
    margin: 0 auto;
  }
  h1 {
    font-weight: bold;
    font-size: 28px;
  }
  h2 {
    font-size: 18px;
    width: 70%;
    margin-bottom: 1em;
    font-weight: bold;  }

  .snapshot-wrapper {
    text-align: center;
  }

  .snapshot-top-copy {
    margin: 1.5em 0;
  }

  .snapshot-bottom-copy {
    margin-top: 2.5em;
    padding-bottom: 5em;

    a {
      color: #999;
      padding: 1em;
      line-height: 1em;
      font-weight: bold;
    }

    ul, li {
      list-style: none;
    }

    li {
      margin-bottom: 1em;
    }
  }

  .snapshot-sign-in-up {
    width: 200px;
    margin: 0 auto;
    margin-top: 2em;
  }
}

@media @small-only {
  .snapshot-img-container {
    width: 300px;
    height: 300px;
    padding: 9px;
  }
}

@media @medium-up {
  .snapshot-img-container {
    width: 500px;
    height: 500px;
    padding: 11px;
  }
}

.snapshot-img-container {
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

