- events_link = "/sign-up?redirect=events-admin"
- if current_auth
  - events_link = "https://events.bible.com/"

.MobileDropdown
  .close-dropdown-btn-mobile
    %img{:alt => "", "data-no-retina" => "", :src => image_path("features/events/close.svg"), :style => "width:26px;"}/
  %ul.mobile-menu
    %li
      %a.features-btn{:href => '/features/events'} Features
    %li
      %a{:href => '/features/events-faq'} FAQ
    %li
      %a{:href => '/features/events-resources'} Resources
.wrap
  .header-wrap.fixed-header
    .header
      .mobile-menu-btn.show-mobile
        %img{:alt => "", "data-no-retina" => "", :src => image_path("features/events/menu-icon.svg"), :style => "width:19px;"}/
      %a.logo{:href => "/features/events"}
        %img.logo-white{:alt => "", "data-no-retina" => "", :src => image_path("features/events/yv-logo-white.svg")}/
        %img.logo-black{:alt => "", "data-no-retina" => "", :src => image_path("features/events/yv-logo-gray.svg")}/
      %ul.main-nav
        %li
          %a.features-btn{:href => '/features/events'} Features
        %li
          %a{:href => '/features/events-faq'} FAQ
        %li
          %a{:href => '/features/events-resources'} Resources
        %li.btn2
          %a{:href => "mailto:?subject=This new feature from YouVersion could really help our church!&amp;body=Have you seen YouVersion’s new Events feature yet? I believe it would really help our church engage people more with our services. It lets people add their own notes during a service, then even save the event so they can come back later and study it with the Bible references. I think it could probably save us money on printing costs, too. Here’s YouVersion’s Events website: http://www.bible.com/features/events.", :target => "_blank"} Tell Your Church
        %li.btn2
          %a{:href => events_link} Create an Event
      .clearfix
    / //header
  / //header-wrap
  .sub-content
    #accordion.faq-panel
      .accordion-panel
        .accordion-title
          What is Events?
        .accordion-content
          %p Events is a completely free feature inside the YouVersion Bible App that helps users easily connect with church events they’re attending. Churches are welcome to sign in at <a href="https://events.bible.com">events.bible.com</a> with a free YouVersion account to create their own Events to appear in the Bible App. The free administrative tools for Events make it easy for your church to share key message points, Bible references, artwork, external links, important church news, and more. And, once you save your Event in the system, Bible App users looking for events near them will be able to find yours.
          -#/ <p><a class="find-more" href="#">Find Out More</a></p>
        .accordion-title
          Why would our church want to use Events?
        .accordion-content
          %p Events empowers you to offer services to your attenders that directly support your ministry objectives. The notes, Bible references, and other supporting information that you include in your Events helps your attenders connect more with your message. Events helps your audiences retain your messages for personal reflection, while at the same time equipping them to share the special things happening at your church. Events helps seekers find you, and it saves you money by helping you cut communication printing costs. And Events is completely free.
        .accordion-title
          Why would Bible App users want to use Events?
        .accordion-content
          %p Events helps users discover church events happening near them using the geo-location features of their device. When users attend one of your Events, they’ll be able to easily follow along with your service by viewing the information that you’ve provided. Bible App users can add their own notes to an Event on their device, and even save a copy for future reference, both of which will encourage them to engage more with the Bible.
        .accordion-title
          How can I create a poll?
        .accordion-content
          %p Use a third party tool or service (such as <a href="https://www.surveymonkey.com/">SurveyMonkey®</a>, <a href="http://www.pollsnack.com/">PollSnack</a>, or <a href="http://www.poll-maker.com/">Poll Maker</a>) to create your poll. When you save your poll, the service will provide you with a shareable link for it. In the Events admin tool, drag-and-drop a Web Links Module into your Event where you want your poll to appear, and include the poll link there.
        .accordion-title
          Will events that we created on YouVersion Live automatically transition to the new Events platform?
        .accordion-content
          %p Sorry, but no. To create the best Events experience possible — both for you and for your attenders — we had to build Events from the ground up. Consequently, data from Live is not transferable to Events.
        .accordion-title
          What if our attenders don’t update their Bible App? Will they be able to see the new Events we create?
        .accordion-content
          %p Because Events is an all-new app feature, users must update their Bible App to get it. (Fortunately, many Bible App users already have their devices set to auto-update.) When a user taps on the Live tab, a single Live event displays a message recommending that they update so that they can take advantage of Events. Until your regular attenders become accustomed to Events, we suggest that you explain briefly during your announcement time how your church is using it. Help your audience understand how it benefits them, and let them know how they can get it.
        .accordion-title
          Live has always been free. Will Events cost anything?
        .accordion-content
          %p No. The Bible App has always been free, and it always will be. Although Events is an all-new service, it’s an integral part of the Bible App. At YouVersion, we consider it our honor and privilege to be able to help you fulfill your ministry objectives.
        .accordion-title
          Does Events require a special Administrator account to use?
        .accordion-content
          %p While technically you can use your personal YouVersion account to create Events, we recommend instead that you maintain a separate account for your organization, one set aside specifically for administrative purposes. This approach serves two purposes: (1) it lets you keep your personal Bible App use separate from your ministry tasks, and (2) it allows you to empower others to manage Events for your ministry, such as other staff members or trusted volunteers. (If your ministry already has a YouVersion account designated for administrative tasks — such as for the older YouVersion Live — you’ll be able to use that same account to sign in to the new Events administrative site.)
  / //sub-content
  %ul.footer-social-icons
    %li
      %a{:href => "https://www.facebook.com/sharer/sharer.php?u=http://www.bible.com/features/events", :target => "_blank"}
        %span.icon.facebook
        Share
    %li
      %a{:href => "https://twitter.com/intent/tweet?text= Have+you+seen+Events+in+%40YouVersion%E2%80%99s+Bible+App%3F+Message+outlines%2C+announcements%2C+links+to+online+giving%2C+%26+more%21+http%3A%2F%2Fbible.com%2Ffeatures%2Fevents", :target => "_blank"}
        %span.icon.twitter
        Tweet
    %li
      %a{:href => "mailto:?subject=This new feature from YouVersion could really help our church!&amp;body=Have you seen YouVersion’s new Events feature yet? I believe it would really help our church engage people more with our services. It lets people add their own notes during a service, then even save the event so they can come back later and study it with the Bible references. I think it could probably save us money on printing costs, too. Here’s YouVersion’s Events website: http://www.bible.com/features/events.", :target => "_blank"}
        %span.icon.email
        Email
/ //wrap
:javascript
  jQuery(function($){
  	
  	if($('.accordion-title').length) {
  		$('.accordion-title').click(function(){	
  		  var sibs = $(this).next('.accordion-content');
  		  $(".accordion-content").not(sibs).slideUp(300);	
  		  sibs.slideToggle(300)		;
  		  $(this).parent('.accordion-panel').siblings('.accordion-panel').removeClass('active');		
  
  		  $(this).parent('.accordion-panel').toggleClass('active');
  		  $('.accordion-title').not(this).removeClass('active');	
  		  $(this).toggleClass('active');	
  		});
  	  }
  
  });
%script{:src => "/assets/features/events/classie.js", :type => "text/javascript"}
:javascript
  var cbpAnimatedHeader=(function(){var b=document.documentElement,g=document.querySelector(".header-wrap"),e=false,a=200;function f(){window.addEventListener("scroll",function(h){if(!e){e=true;setTimeout(d,50)}},false)}function d(){var h=c();if(h>=a){classie.add(g,"smaller")}else{classie.remove(g,"smaller")}e=false}function c(){return window.pageYOffset||b.scrollTop}f()})();