.moment-actions
  %span.moment-actions-share
    <a href="#" title="Share this with friends or family">Share</a>

  %span.moment-actions-like
    <a href="#" title="Like this">Like</a>

  %span.moment-actions-comment
    = link_to "Comment", moment.to_path, title: "See all comments"

  = render partial: "moments/owner_actions", locals: {moment: moment}
