.moment-actions
  %span.moment-actions-share
    <a href="#" title="Share this with friends or family">Share</a>

  %span.moment-actions-like
    <a href="#" title="Like this">Like</a>

  %span.moment-actions-comment
    <a href="#" title="Leave a comment about this">Comment</a>

  %span.moment-actions-time
    = api_dt_time_ago(moment.created_dt)