:ruby
  # Locals Parameters
  # moments - an array of Moments  (currently Bookmark, Highlight, Note.  Mixed types allowed)
  # comments_displayed - boolean, true or false (whether or not to display comments when rendering html)

- unless moments.blank?
  - moments.each do |moment|
    = render partial: moment.moment_partial_path, locals: {moment: moment, comments_displayed: comments_displayed}