:ruby
  # Locals Parameters
  # moment - a single Moment to display  (Bookmark, Highlight, Note)

= form_tag(comments_url, method: "post") do
  = hidden_field_tag "comment[moment_id]", moment.id

  %span.moment-comments-input
    %span.moment-comments-input-avatar
      = image_tag current_user.user_avatar_url["px_24x24"]

    - # Do not remove the comment-field class as this is specific to javascript
    - # functionality.  See main.js and comments_form.js class.
    = text_area_tag "comment[content]", nil, class: "moment-comments-textarea comment-field", "data-moment-id" => moment.id

    - if detail_view
      %input{:type=>"submit", :style=>"margin-top:8px;float:right"}
