.moment
  .moment-top
    .moment-vod
      = image_tag "social-cap-vod.png", class: "moment-img"
      %h4.moment-vod-title
        Verse of the day
      %p.moment-vod-verse
        “I am the vine; you are the branches. If you remain in me and I in you, you will bear much fruit; apart from me you can do nothing.

      <a href="#" title="Go to this verse in the reader" class="moment-vod-links">John 1:5</a>
      %ul.moment-vod-list
        %li
          NIV
        %li.moment-vod-list-on
          NKJVAS