.moment
  -# !the content of the moment
  .moment-top
    .moment-sys
      = image_tag "social-cap-bm.png", class: "moment-img"
      %p.moment-sys-text
        This is a generic moment

  -# !share controls, dates, and comments
  .moment-btm
    = render partial: "moments/actions_bar", locals: {moment: moment}