-# 
-# Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment.tpl.html'}
  .moment.moment-vod
    .moment-top
      .moment-top-avatar
        %img.avatar{"ng-src" => "{{data.object.avatar}}"}
      .moment-divider{"ng-bind-html" => "data.object.title", "ng-if" => "data.object.title && !data.object.moment_title"}
      .moment-divider{"ng-bind-html" => "data.object.moment_title", "ng-if" => "data.object.moment_title"}
      .moment-ago{"am-time-ago" => "data.object.created_dt"} {{data.object.time_ago}}
    .moment-content
      %div{"ng-if" => "data.kind == 'votd'", "moment-votd" => ""}
      %div{"ng-if" => "data.kind == 'plan_subscription'", "moment-plan-start" => ""}
      %div{"ng-if" => "data.kind == 'plan_completion'", "moment-plan-complete" => ""}
      %div{"ng-if" => "data.kind == 'plan_segment_completion'", "moment-plan-segment-complete" => ""}
      %div{"ng-if" => "data.kind == 'highlight'", "moment-highlight" => ""}
      %div{"ng-if" => "data.kind == 'bookmark'", "moment-bookmark" => ""}
      %div{"ng-if" => "data.kind == 'friendship'", "moment-friendship" => ""}
      %div{"ng-if" => "data.kind == 'image'", "moment-image" => ""}
      %div{"ng-if" => "data.kind == 'note'", "moment-note" => ""}
    .moment-bottom
      .moment-actions
        %a.moment-actions-like{:href => "#", "ng-click" => "like()", "ng-if" => "data.object.likes.enabled", "ng-class" => "{ active: data.object.likes.is_liked}", "ng-disabled" => "!socialEnabled"} Like
        %a.moment-actions-more{:href => "#"} More
      .moment-likes{"ng-if" => "data.object.likes.enabled && data.object.likes.count && socialEnabled"}
        .moment-likes-count
          %a{:href => "#"} {{data.object.likes.count}} likes
        .moment-likes-avatars
          %a{:href => "#", "ng-repeat" => "like in data.object.likes.all"}
            %img{:alt => "", "ng-src" => "{{like.user.avatar}}"}
      .moment-comments{"ng-if" => "data.object.comments.enabled && socialEnabled"}
        %ul.moment-comments-list
          %li.moment-comments-list-comment{"ng-repeat" => "comment in data.object.comments.all"}
            .moment-comments-list-avatar
              %a{"ng-href" => "{{comment.user.path}}"}
                %img{:alt => "", "ng-src" => "{{comment.user.avatar}}"}
            %p.moment-comments-list-text
              %a{"ng-href" => "{{comment.user.path}}"} {{comment.user.name}}
              {{comment.content}}
            %span.moment-comment-dt{:title => "{{comment.created_dt}}"}
              {{comment.time_ago}}
        .moment-comments-self-box
          .moment-comments-self-avatar
            %img{:alt => "", :src => current_user.user_avatar_url["px_48x48"]}
          .moment-comments-self-input
            %form
              %textarea{:placeholder => "Comment...", "ng-model"=>"newComment.content", "ng-keypress" => "comment($event, newComment.content);"}

-#
-# Bookmark Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-bookmark.tpl.html'}
  %p.binding{"ng-bind-html" => "verseContent"}

-#
-# Highlight Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-highlight.tpl.html'}
  %p.binding{"ng-bind-html" => "verseContent"}

-#
-# VOTD Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-votd.tpl.html'}
  %p.binding{"ng-bind-html" => "verseContent"}

-#
-# Friendship Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-friendship.tpl.html'}
  %img.friend-image{"ng-src" => "{{data.object.friend_avatar}}"}
  
-#
-# Image Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-image.tpl.html'}
  %img{"ng-src" => "{{data.object.body_image}}"}

-#
-# Note Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-note.tpl.html'}
  %p.moment-no-note-text {{data.object.content}}

-#
-# Plan Complete Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-plan-complete.tpl.html'}
  %img{"ng-src" => "{{data.object.body_images[2].url}}"}

-#
-# Plan Start Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-plan-start.tpl.html'}
  %img{"ng-src" => "{{data.object.body_images[2].url}}"}

-#
-# Plan Segment Complete Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-plan-segment-complete.tpl.html'}
  .row
    .columns.small-2
      %img.plan-icon{"ng-src" => "{{data.object.body_images[2].url}}"}
    .columns.small-10
      %md-progress-linear{"md-mode" => "determinate", :value => "{{data.object.percent_complete}}"}
      %span.moment-plan-progress
        Day {{data.object.segment}} of {{data.object.total_segments}}