-# 
-# Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment.tpl.html'}
  .moment.moment-vod
    .moment-top
      .moment-top-avatar
        %img.avatar{"ng-src" => "{{data.object.avatar}}"}
      .moment-divider{"ng-bind-html" => "data.object.title", "ng-if" => "data.object.title && !data.object.moment_title"}
      .moment-divider{"ng-bind-html" => "data.object.moment_title", "ng-if" => "data.object.moment_title"}
      .moment-ago{"am-time-ago" => "data.object.created_dt"} {{data.object.created_dt}}
    .moment-content
      %div{"ng-if" => "data.kind == 'votd'", "moment-votd" => ""}
      %div{"ng-if" => "data.kind == 'plan_subscription.v1'", "moment-plan-start" => ""}
      %div{"ng-if" => "data.kind == 'plan_completion.v1'", "moment-plan-complete" => ""}
      %div{"ng-if" => "data.kind == 'plan_segment_completion.v1'", "moment-plan-segment-complete" => ""}
      %div{"ng-if" => "data.kind == 'highlight'", "moment-highlight" => ""}
      %div{"ng-if" => "data.kind == 'bookmark'", "moment-bookmark" => ""}
      %div{"ng-if" => "data.kind == 'friendship'", "moment-friendship" => ""}
      %div{"ng-if" => "data.kind == 'image'", "moment-image" => ""}
      %div{"ng-if" => "data.kind == 'note'", "moment-note" => ""}
      -# %p.binding Whoever disregards discipline comes to poverty and shame, but whoever heeds correction is honored.
    .moment-bottom
      .moment-actions
        %a.moment-actions-like{:href => "#", "ng-click" => "like()", "ng-if" => "data.object.likes.enabled", "ng-class" => "{ active: data.object.likes.is_liked}"} Like
        %a.moment-actions-more{:href => "#"} More
      .moment-likes{"ng-if" => "data.object.likes.enabled && data.object.likes.count"}
        .moment-likes-count
          %a{:href => "#"} {{data.object.likes.count}} likes
        .moment-likes-avatars
          %a{:href => "#", "ng-repeat" => "like in data.object.likes.all"}
            %img{:alt => "", "ng-src" => "{{like.user.avatar}}"}
      .moment-comments{"ng-if" => "data.object.comments.enabled"}
        %ul.moment-comments-list
          %li.moment-comments-list-comment{"ng-repeat" => "comment in data.object.comments.all"}
            .moment-comments-list-avatar
              %a{"ng-href" => "{{comment.user.path}}"}
                %img{:alt => "", "ng-src" => "{{comment.user.avatar}}"}
            %p.moment-comments-list-text
              %a{"ng-href" => "{{comment.user.path}}"} {{comment.user.name}}
              {{comment.content}}
            %span.moment-comment-dt{:title => "{{comment.created_dt}}"}
              {{comment.time_ago}}
        .moment-comments-self-box
          .moment-comments-self-avatar
            %img{:alt => "", :src => current_user.user_avatar_url["px_48x48"]}
          .moment-comments-self-input
            %form
              %textarea{:placeholder => "Comment...", "ng-model"=>"newComment.content", "ng-keypress" => "comment($event, newComment.content);"}

-#
-# Bookmark Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-bookmark.tpl.html'}
  %p.binding{"ng-bind-html" => "verseContent"}

-#
-# Highlight Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-highlight.tpl.html'}
  %p.binding{"ng-bind-html" => "verseContent"}

-#
-# VOTD Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-votd.tpl.html'}
  %p.binding{"ng-bind-html" => "verseContent"}

-#
-# Friendship Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-friendship.tpl.html'}
  %img.friend-image{"ng-src" => "{{data.object.friend_avatar}}"}
  
-#
-# Image Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-image.tpl.html'}
  %img.versie{"ng-src" => "{{data.object.body_image}}"}

-#
-# Note Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-note.tpl.html'}
  %p.moment-no-note-text {{data.object.content}}

-#
-# Plan Complete Moment
-#
%script{'type' => 'text/ng-template', 'id' => '/moment-plan-complete.tpl.html'}

-#
  %md-card
    %md-card-content
      %img.avatar{"ng-src" => "{{data.object.avatar}}"}
      %h2.md-title{"ng-bind-html" => "data.object.title", "ng-if" => "data.object.title && !data.object.moment_title"}
      %h2.md-title{"ng-bind-html" => "data.object.moment_title", "ng-if" => "!data.object.title && data.object.moment_title"}
      %p.subheader{"am-time-ago" => "data.object.created_dt"}

    %img.md-card-image{:alt => "Washed Out", "ng-src" => "{{imagePath}}", "ng-if" => "imagePath"}
    .md-actions{:layout => "row", "layout-align" => "end center"}
      %md-button Action 1
      %md-button Action 2


-#
  .card
    %span{"ng-class" => "momentIcon()"}
    %img.avatar{"ng-src" => "http://{{data.extras.user.avatar.renditions[1].url}}"}
      %h2.header{:translate => "{{data.base.title.l_str}}", "translate-values" => "data.base.title.l_args"}
      %p.subheader{"am-time-ago" => "data.created_dt"}
      %div{"ng-if" => "single"}
        %div{"ng-if" => "data.kind_id == 'plan_subscription.v1'", "plan-start-mobile" => ""}
        %div{"ng-if" => "data.kind_id == 'plan_completion.v1'", "plan-complete-mobile" => ""}
        %div{"ng-if" => "data.kind_id == 'plan_segment_completion.v1'", "plan-segment-complete-mobile" => ""}
        %div{"highlight-mobile" => "", "ng-if" => "data.kind_id == 'highlight.v1'"}
        %div{"bookmark-mobile" => "", "ng-if" => "data.kind_id == 'bookmark.v1'"}
        %div{"friendship-mobile" => "", "ng-if" => "data.kind_id == 'friendship.v2'"}
        %div{"image-mobile" => "", "ng-if" => "data.kind_id == 'image.v2'"}
        %div{"ng-if" => "data.kind_id == 'note.v1'", "note-mobile" => ""}
        %div{"ng-show" => "showComments"}
          .list
            .item.item-input-inset
              %label.item-input-wrapper
                %input{"ng-model" => "commentContent", :type => "text"}
              %button.button.icon.ion-android-send.button-small{"ng-click" => "comment(data,commentContent)"}
        .item.item-divider{"ng-if" => "data.liking.total || data.commenting.total"}
          %span.subdued{"ng-if" => "data.liking.total"} {{data.liking.total}} {{data.liking.total > 1 ? 'likes' : 'like'}}
          %span.subdued{"ng-if" => "data.commenting.total"}
            {{data.commenting.total}} {{data.commenting.total > 1 ? 'comments' : 'comment'}}
            %br/
            %br/
          .list{"ng-if" => "data.commenting.total"}
            %comment-mobile{:data => "comment", "ng-repeat" => "comment in data.commenting.comments"}
      .tabs
        %a{:href => "#", "ng-click" => "like(data)"}
          %i.fa.fa-heart{"ng-class" => "{assertive:data.iLike}"}
        %a{:href => "#", "ng-click" => "showComments = !showComments"}
          %i.fa.fa-comment
        %a{:href => "#"}
          %i.fa.fa-ellipsis-h