- if moment.user_id == current_auth.user_id

  .moment-content-actions
    %a.moment-content-actions-edit{title: "Edit this {type}", href: "#"}
      Edit this {type}
    %a.moment-content-actions-delete{title: "Delete this {type}", href: "#"}
      Delete this {type}