.moment
  -# !the content of the moment
  .moment-top
    .moment-sys
      = image_tag "social-cap-sys.png", class: "moment-img"
      %p.moment-sys-text
        = moment.title.html_safe if moment.title

  -# !share controls, dates, and comments
  .moment-btm
    .moment-actions
      %span.moment-actions-share
        <a href="#" title="Share this with friends or family">Share</a>

      %span.moment-actions-like
        <a href="#" title="Like this">Like</a>

      %span.moment-actions-time
        = moment.created_dt