- @sidebar = false
- content_for :stylesheets do
  = stylesheet_link_tag "lib/slick.css"
- content_for :javascripts do
  = javascript_include_tag "lib/slick.min.js"

#spinner
.social-feed-wrap{"data-str-load-more" => t("moments.action.load more")}
  :javascript
    $(document).ready(function(){
      var feed = new Moments.Feed()
    });
