- @sidebar = false

.related-filter-header
  = link_to("Return to #{@reference.human}",reference_path(version: params[:v], reference: params[:usfm].upcase), class:"action_button_blue return-to-reader")
  %ul
    %li
      %strong Showing related moments

.social-feed-wrap.related{"data-str-load-more" => t("moments.action.load more")}
  :javascript
    $(document).ready(function(){
      var feed = new Moments.RelatedFeed({usfm: "#{params[:usfm]}", version: "#{params[:v]}" })
    });