- @sidebar = false

.related-filter-header
  = link_to("Return to #{@reference.human}",reference_path(version: params[:v], reference: params[:usfm].upcase), class:"action_button_blue return-to-reader")
  %ul
    %li
      %strong Showing related moments
    - #%li 
    - #  %a{:class => "active", :href =>"#"}Mine

.social-feed-wrap.related
  .social-feed
    = render partial: "moments/cards", locals: {moments: @moments, comments_displayed: true}

- if @moments.next_page
  = render partial: "shared/moments_load_more", locals: {resource: "moments"}