- @title = @highlight.moment_title

- content_for :sidebar do
  = render partial: "/comments/sidebar_form", locals: {moment: @highlight}
  
%article.social-detail
  = render partial: "moments/highlight", locals: {moment: @highlight}