.bible-reader {
	margin-top: 15px;
	.note {
		display: inherit;
		position: relative;

		.body {
			display: inline-block;
			position: absolute;
			padding: 5px 10px 5px 10px;
			font-size: 14px;
			border: solid 1px #ddd;
			border-radius: 5px;
			background-color: #eee;
			transform: scale(1, 0.85);
    	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
			color: #777;
			opacity: 0;
			left: 5px;
			top: 17px;
			width: 200px;
			line-height: 22px;
			text-indent: 0px;
			-webkit-transition: transform 0.5s cubic-bezier(0.42,1,.16,.93), opacity 0.5s cubic-bezier(0.42,1,.16,.93);
			-moz-transition: 		transform 0.5s cubic-bezier(0.42,1,.16,.93), opacity 0.5s cubic-bezier(0.42,1,.16,.93);
			-ms-transition: 		transform 0.5s cubic-bezier(0.42,1,.16,.93), opacity 0.5s cubic-bezier(0.42,1,.16,.93);
			transition: 				transform 0.5s cubic-bezier(0.42,1,.16,.93), opacity 0.5s cubic-bezier(0.42,1,.16,.93);
		}

		.label {
			display: none;
		}

		&.show {
			.body {
				transform: scale(1, 1);
				opacity: 1;
			}
		}
	}

	.version-copyright {
		font-size: 14px;
		line-height: 1.6;
    color: #777;
    margin-top: 1.42857rem;
	}

	.verse {
		-webkit-transition: background-color 0.75s cubic-bezier(0.42,1,.16,.93);
		-moz-transition: 		background-color 0.75s cubic-bezier(0.42,1,.16,.93);
		-ms-transition: 		background-color 0.75s cubic-bezier(0.42,1,.16,.93);
		transition: 				background-color 0.75s cubic-bezier(0.42,1,.16,.93);
	}
}


.reader-content-error {
	.content {
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: 20px;
	}
	.buttons {
		width: 100%;
		display: inline-flex;
		justify-content: center;
		div {
			border: @thin-grey-border;
			padding: 10px 15px 10px 15px;
			background-color: white;
			margin: 10px;
		}
	}
}

.reader-arrows:hover {
	cursor: pointer;
}

.reader-arrows {
	.reader-arrow {
		margin: auto;
	}
	.next-arrow, .prev-arrow {
		background-color: white;
		z-index: 10;
		position: fixed;
		top: 50%;
		width: 50px;
		height: 50px;
		padding-bottom: 2px;
		border-radius: 30px;
		border: @thin-grey-border;

		box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.23);
	}

	.next-arrow {
		left: 80%;
		padding-left: 2px;
	}
	.prev-arrow {
		right: 80%;
		padding-right: 2px;
	}
}