- content_for :sidebar do
  .widget.sign_up
    %aside.sign_up
      %p
        %b= t("no account")
        - redirect = params[:redirect] || (request.referer ? URI(request.referer).path : nil)
        %span.float_right{style: "margin-left: 10px; margin-top: 3px"}= link_to t("sign up"), "/licenses/register"

  .widget.account_benefits
    %header
      %span
        =t("registration.benefits title")
    %ul.widget_menu
      %li
        %p= t("registration.benefits blurb")