:ruby
  # Used for primary / mobile navs

  is_home_url       = current_page?(moments_path)
  is_bible_url      = controller.controller_name == "references" && controller.action_name == "show"
  is_videos_url     = controller_name == "videos"
  is_bookmarks_url  = controller_name == "bookmarks"
  is_plans_url      = controller_name == "plans" || controller_name == "subscriptions"
  is_highlights_url = controller_name == "highlights" || action_name == "highlights"
  # refactor all of these (pull logic to set nav from controllers, etc)
  is_notes_url      = controller_name == "notes" || action_name == "notes"

  # quick method to return a class of "highlighted"/" " depending on whether the passed test evaluates to true/false
  highlight = Proc.new {|test| test ? "highlighted" : ""}

  plan_href = logged_in? ? subscriptions_path(user_id: current_auth.username) : plans_path

  live_href = "http://#{([:de, :es, :fr, :ko, :nl, :no, :pt, :ru, :zh_CN, :zh_TW].include?(I18n.locale) ? I18n.locale : :www).to_s.downcase.gsub("_", "-")}.a.youversion.com/live"

#nav_primary{role: "navigation"}
  %nav
    %ul
      - if current_auth
        %li#nav_primary_home{class: highlight.call(is_home_url) }
          %a.icon{href: moments_path, "data-title" => t("home")}

      %li#nav_primary_bible{class: highlight.call(is_bible_url) }
        %a.icon{href: bible_localized_path, "data-title" => t("bible")}

      %li#nav_primary_plans{class: highlight.call(is_plans_url)}
        %a.icon{href: plan_href, "data-title" => t("plans.title")  }

      - if Video.available_locales.include? I18n.locale
        %li#nav_primary_videos{class: highlight.call(is_videos_url)}
          %a.icon{href: videos_path, "data-title" => t("videos.title")}

      %li#nav_primary_live
        %a.icon{href: live_href, "data-title" => t("live")}

      %li#nav_primary_mobile
        %a.icon{href: app_page_path, "data-title" => t("mobile")}

      / - if current_auth
      /   %li#nav_primary_bookmarks{class: highlight.call(is_bookmarks_url)}
      /     - bookmark_href = logged_in? ? bookmarks_user_path(current_auth.username) : sign_up_path(source: "bookmark")
      /     %a.icon{href: bookmark_href, "data-title" => t('bookmarks.title') }

      /   %li#nav_primary_notes{class: highlight.call(is_notes_url)}
      /     - notes_href = logged_in? ? notes_user_path(current_auth.username) : notes_path
      /     %a.icon{href: notes_href, "data-title" => t("notes title")}

      /   %li#nav_primary_highlights{class: highlight.call(is_highlights_url)}
      /     - highlights_href = logged_in? ? highlights_user_path(current_auth.username) : notes_path
      /     %a.icon{href: highlights_href, "data-title" => t("highlights.title")}